Repository E3SM-Project/E3SM, pull requests merged in 2018-09, with the labels that each got.

#2479 Increases length of land field names
  components/clm/bld/namelist_files/namelist_definition_clm4_5.xml
Labels: Land, bug fix PR

#2521 fix to race condition as in #2515
  components/homme/src/share/global_norms_mod.F90
Labels: BFB, HOMME, minor

#2533 Update check_input_data to latest cime
  cime/config/e3sm/machines/config_machines.xml
  cime/scripts/Tools/check_input_data
  cime/scripts/lib/CIME/case/check_input_data.py
Labels: BFB, CIME, Scripts, bug fix PR

#2497 Decrease cost of assign_chunks
  components/cam/src/physics/cam/phys_grid.F90
Labels: Atmosphere, enhancement

#2520 Corrects the C14_SEEDC output to land history files
  components/clm/src/biogeochem/CNCarbonStateType.F90
Labels: Land, bug fix PR

#2545 Bugfix for the IEFLX output
  components/cam/src/physics/cam/check_energy.F90
Labels: Atmosphere, bug fix PR, non-BFB

#2552 Some machine updates for cascade at PNNL
  cime/config/e3sm/machines/config_batch.xml
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Machine Files

#2509 Replace low-res (half-degree) MOSART file
  components/mosart/bld/namelist_files/namelist_defaults_mosart.xml
Labels: Coupled Model, NML, River, non-BFB

#2557 Update CIME to ESMCI cime5.7.3
  cime/ChangeLog
  cime/config/cesm/config_grids.xml
  cime/config/cesm/machines/config_batch.xml
  cime/config/cesm/machines/config_compilers.xml
  cime/config/cesm/machines/config_machines.xml
  cime/config/config_tests.xml
  cime/config/e3sm/config_grids.xml
  cime/config/e3sm/tests.py
  cime/scripts/Tools/Makefile
  cime/scripts/Tools/cimeteststatus
  cime/scripts/Tools/cs.status
  cime/scripts/create_test
  cime/scripts/data_assimilation/da_no_data_mod.sh
  cime/scripts/lib/CIME/SystemTests/dae.py
  cime/scripts/lib/CIME/SystemTests/mvk.py
  cime/scripts/lib/CIME/SystemTests/system_tests_common.py
  cime/scripts/lib/CIME/XML/component.py
  cime/scripts/lib/CIME/XML/env_mach_pes.py
  cime/scripts/lib/CIME/XML/machines.py
  cime/scripts/lib/CIME/case/case.py
  cime/scripts/lib/CIME/compare_test_results.py
  cime/scripts/lib/CIME/cs_status.py
  cime/scripts/lib/CIME/cs_status_creator.py
  cime/scripts/lib/CIME/hist_utils.py
  cime/scripts/lib/CIME/test_scheduler.py
  cime/scripts/lib/CIME/test_status.py
  cime/scripts/lib/CIME/tests/test_cs_status.py
  cime/scripts/lib/cs.status.template
  cime/scripts/lib/get_tests.py
  cime/scripts/lib/six_additions.py
  cime/scripts/tests/scripts_regression_tests.py
  cime/src/build_scripts/buildlib.csm_share
  cime/src/components/data_comps/desp/desp_comp_mod.F90
  cime/src/components/data_comps/desp/mct/esp_comp_mct.F90
  cime/src/components/data_comps/docn/cime_config/config_component.xml
  cime/src/components/data_comps/dwav/mct/wav_comp_mct.F90
  cime/src/drivers/mct/cime_config/config_component.xml
  cime/src/drivers/mct/cime_config/namelist_definition_drv.xml
  cime/src/drivers/mct/cime_config/testdefs/testlist_drv.xml
  cime/src/drivers/mct/main/cime_comp_mod.F90
  cime/src/drivers/mct/main/cime_driver.F90
  cime/src/drivers/mct/main/component_mod.F90
  cime/src/drivers/mct/main/component_type_mod.F90
  cime/src/drivers/mct/main/seq_rest_mod.F90
  cime/src/drivers/mct/shr/CMakeLists.txt
  cime/src/drivers/mct/shr/seq_cdata_mod.F90
  cime/src/drivers/mct/shr/seq_comm_mct.F90
  cime/src/drivers/mct/shr/seq_infodata_mod.F90
  cime/src/drivers/mct/shr/seq_pauseresume_mod.F90
  cime/src/share/esmf_wrf_timemgr/ESMF_Stubs.F90
  cime/src/share/util/mct_mod.F90
  cime/tools/mapping/gen_domain_files/src/gen_domain.F90
Labels: BFB, CIME

#2560 Update config files for LC resources - For maint-1.0 branch
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Machine Files
