Repository E3SM-Project/E3SM, pull requests merged in 2018-11, with the labels that each got.

#2593 Updates timestep for the EC60to30 mesh
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
Labels: CC, NML, Ocean, non-BFB

#2610 fix bugs for C14 and C14 configurations
  components/clm/src/biogeochem/CNCarbonFluxType.F90
  components/clm/src/biogeochem/CNCarbonStateType.F90
Labels: BFB, Land, bug fix PR

#2612 Updates the ECA compset definition for CBGC runs
  components/clm/bld/CLMBuildNamelist.pm
  components/clm/bld/namelist_files/namelist_defaults_clm4_5.xml
Labels: For maint-1.1, Land, NML, non-BFB

#2621 Turn budgets on by default for all fully-active compsets
  cime/src/drivers/mct/cime_config/config_component_e3sm.xml
Labels: BFB, For maint-1.1, NML, Scripts

#2624 update CCSM_CO2_PPMV for new BGC compset names
  cime/src/drivers/mct/cime_config/config_component_e3sm.xml
Labels: BFB, CIME, For maint-1.1, NML, compset

#2626 Fix for cime's configure tool
  cime/tools/configure
Labels: BFB, CIME, Scripts, bug fix PR

#2625 add CO3 field to monthly averages ocean stream
  components/mpas-ocean/cime_config/buildnml
Labels: BFB, For maint-1.1, Ocean, enhancement

#2623 Increases length of land field names
  components/clm/bld/namelist_files/namelist_definition_clm4_5.xml
Labels: BFB, For maint-1.1, Land

#2630 Updatess Cascade machine (PNNL) files for maint1.0
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, For maint-1.0, Machine Files

#2631 Modifies Cascade machine (PNNL) files for maint1.1
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, For maint-1.1, Machine Files

#2619 Add optional stream for co2 timeseries with latitude bands to datm.
  cime/src/components/data_comps/datm/cime_config/namelist_definition_datm.xml
Labels: Atmosphere, BFB, CIME

#2486 Output component MPI task to compute node mappings
  components/cam/src/cpl/atm_comp_mct.F90
  components/cam/src/utils/spmd_utils.F90
  components/clm/src/cpl/lnd_comp_mct.F90
  components/clm/src/utils/spmdMod.F90
  components/mosart/src/cpl/rof_comp_mct.F90
  components/mpas-albany-landice/driver/glc_comp_mct.F
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-seaice/driver/ice_comp_mct.F
Labels: Atmosphere, Land, Land Ice, Ocean, River, Sea Ice, enhancement
