Repository E3SM-Project/E3SM, pull requests merged in 2018-06, with the labels that each got.

#2376 Add a threaded 32-ppn pelayout for Theta
  cime/config/e3sm/allactive/config_pesall.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Machine Files, Theta

#2371 Summit: IBM and PGI compiler fixes
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, Summit, bug fix PR

#2381 Remove the oic2 machine
  cime/config/e3sm/machines/config_batch.xml
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
  cime/config/e3sm/machines/config_pio.xml
Labels: Machine Files

#2358 Add necessary diagnostic output variables for CBGC experiment
  components/clm/src/biogeochem/CNNitrogenFluxType.F90
  components/clm/src/biogeochem/PhosphorusFluxType.F90
Labels: BFB, Land

#2359 Fix phosphatase profile calculation
  components/clm/src/biogeochem/PDynamicsMod.F90
Labels: Land, bug fix PR

#2388 Update GNU compiler on Theta
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, Theta

#2394 Update netcdf modules on Titan
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, Titan

#2401 Fix edison build/run for maint-1.0
  cime/config/e3sm/machines/config_machines.xml
  cime/scripts/lib/CIME/utils.py
Labels: BFB, Edison, bug fix PR

#2402 Add performance archiving support for OceanClimate_2
  cime/config/e3sm/machines/config_machines.xml
Labels: CIME, Machine Files, Theta
