Repository E3SM-Project/E3SM, pull requests merged in 2018-10, with the labels that each got.

#2528 Order of operation changes to HOMME
  components/homme/src/preqx/share/prim_advance_mod.F90
  components/homme/src/share/cube_mod.F90
  components/homme/src/share/derivative_mod_base.F90
  components/homme/src/share/prim_si_mod.F90
  components/homme/src/share/vertremap_base.F90
Labels: HOMME, non-BFB

#2544 Fix snow compaction bug that was resulting in sporatic unphysical snow depths
  components/clm/src/biogeophys/SnowHydrologyMod.F90
Labels: Coupled Model, Land, bug fix PR, non-BFB

#2567 Fix test_status overall status for certain state layout
  cime/scripts/lib/CIME/test_status.py
Labels: BFB, CIME, Scripts, bug fix PR

#2569 Minor improvement to jenkins_generic_job robustness
  cime/scripts/Tools/jenkins_generic_job
Labels: BFB, CIME, Scripts, enhancement

#2563 Updates EOS's Intel compiler version to 18
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Machine Files

#2561 Add TSC and PGN non-BFB tests
  cime/config/config_tests.xml
  cime/config/e3sm/machines/config_machines.xml
  cime/scripts/lib/CIME/SystemTests/pgn.py
  cime/scripts/lib/CIME/SystemTests/tsc.py
  cime/scripts/lib/CIME/hist_utils.py
  components/cam/src/physics/cam/module_perturb.F90
  components/cam/src/physics/cam/phys_grid.F90
  components/cam/src/physics/rrtmg/radiation.F90
Labels: BFB, enhancement

#2541 Update modules on edison after maintenance
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Edison

#2573 CIME: small upgrade to FindNetCDF.cmake
  cime/src/externals/pio2/cmake/FindNetCDF.cmake
Labels: CIME, PIO

#2582 Adds a test suite for two nbfb tests
  cime/config/e3sm/tests.py
Labels: Atmosphere, BFB

#2577 Removes execute permission from land F90 files
  components/clm/src/biogeochem/CNAllocationMod.F90
  components/clm/src/biogeochem/CNCropHarvestPoolsMod.F90
  components/clm/src/biogeochem/CNEcosystemDynMod.F90
  components/clm/src/biogeochem/CNPhenologyMod.F90
  components/clm/src/biogeochem/CNRootDynMod.F90
  components/clm/src/biogeochem/PhosphorusFluxType.F90
  components/clm/src/biogeochem/PhosphorusStateType.F90
  components/clm/src/biogeophys/TemperatureType.F90
Labels: BFB, Land

#2574 Update domain masks, mapping and init files for ne240
  cime/config/e3sm/config_grids.xml
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
Labels: Atmosphere, BFB, enhancement

#2597 Removes python from Cori machine files
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Cori, Machine Files, bug fix PR

#2556 Add model-specific logging capability
  cime/scripts/lib/CIME/case/case_run.py
  cime/scripts/lib/CIME/utils.py
Labels: BFB, CIME, Scripts, enhancement
