Repository E3SM-Project/E3SM, pull requests merged in 2019-01, with the labels that each got.

#2676 Fix buildnml bug in CICE for Python3
  components/cice/cime_config/buildnml
Labels: CIME, Sea Ice, bug fix PR

#2683 Allow overload on 'melvin-type' machines
  components/homme/cmake/machineFiles/melvin.cmake
Labels: BFB, HOMME, bug fix PR

#2685 Restore how omega is output to history file for EUL-SCM
  components/cam/src/physics/cam/cam_diagnostics.F90
Labels: BFB, bug fix PR

#2636 Removes domain generation scripts under the land model
  components/clm/tools/shared/gen_domain/INSTALL
  components/clm/tools/shared/gen_domain/README
  components/clm/tools/shared/gen_domain/gen_domain.janus.run
  components/clm/tools/shared/gen_domain/src/Filepath
  components/clm/tools/shared/gen_domain/src/Makefile
  components/clm/tools/shared/gen_domain/src/gen_domain.F90
Labels: BFB, Land

#2690 Large scale vertical velocity bug fix in Eulerian SCM
  components/cam/src/dynamics/eul/eul_single_column_mod.F90
  components/cam/src/physics/cam/cam_diagnostics.F90
Labels: bug fix PR

#2703 Improve bless_test_results robustness
  cime/scripts/lib/CIME/bless_test_results.py
Labels: BFB, CIME, Scripts, enhancement

#2678 Extends supported years in mksurfdata
  components/clm/bld/namelist_files/namelist_definition_clm4_5.xml
Labels: BFB, Land

#2700 Add kind parameter to centroids in mesh_mod
  components/homme/src/share/mesh_mod.F90
Labels: BFB, HOMME

#2718 Fix seaice initial conditions for oRRS30to10v3wLI grid
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
Labels: NML, Scripts, Sea Ice, bug fix PR
