Repository E3SM-Project/E3SM, pull requests merged in 2019-07, with the labels that each got.

#2998 Update history script infrastructure to allow writing .h0. files on other time frequencies than monthly
  components/clm/src/main/controlMod.F90
  components/clm/src/main/histFileMod.F90
Labels: BFB, Land, enhancement

#2975 Add new scheme SNICAR_AD for snow shortwave radiative properties
  components/clm/bld/namelist_files/namelist_definition_clm4_5.xml
  components/clm/bld/test_build_namelist/t/input/namelist_definition_clm4_5_test.xml
  components/clm/src/biogeophys/SnowSnicarMod.F90
  components/clm/src/biogeophys/SurfaceAlbedoMod.F90
  components/clm/src/main/clm_varctl.F90
  components/clm/src/main/controlMod.F90
Labels: BFB, Land

#3037 Enable archiving of performance data for new NERSC allocations
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, Machine Files

#3055 tweak so HOMME test case only builds needed executables
  cime/scripts/lib/CIME/SystemTests/homme.py
  components/homme/cmake/HommeMacros.cmake
  components/homme/test_execs/CMakeLists.txt
Labels: HOMME, Testing

#3052 Remove P96 from pg2 test
  cime/config/e3sm/allactive/config_pesall.xml
  cime/config/e3sm/tests.py
Labels: Atmosphere, Testing

#3046 simple dp3d limiter
  components/homme/src/theta-l/prim_advance_mod.F90
Labels: HOMME

#3073 Update CIME to ESMCI cime5.8.6
  cime/ChangeLog
  cime/config/cesm/config_grids.xml
  cime/config/cesm/config_grids_common.xml
  cime/config/cesm/config_grids_mct.xml
  cime/config/cesm/config_grids_nuopc.xml
  cime/config/cesm/machines/config_machines.xml
  cime/config/e3sm/allactive/config_pesall.xml
  cime/scripts/lib/CIME/XML/namelist_definition.py
  cime/scripts/lib/CIME/namelist.py
  cime/src/drivers/mct/main/cime_comp_mod.F90
Labels: BFB, CIME

#3075 Make create_dirs more robust when multiple threads are running
  cime/scripts/lib/CIME/case/preview_namelists.py
Labels: BFB, CIME, bug fix PR

#3065 bugfix in NH heating term
  components/homme/src/theta-l/prim_advance_mod.F90
Labels: HOMME

#3077 Add transient test to production for maint1.0
  cime/config/e3sm/tests.py
Labels: Coupled Model, Testing, maint-1.0

#3080 Tar old test results
  cime/scripts/lib/jenkins_generic_job.py
Labels: BFB, CIME, Scripts, enhancement

#3076 add gnu-5.3.0 to anvil-intel environment
  cime/config/e3sm/machines/config_machines.xml
Labels: Anvil, BFB, HOMME, Machine Files

#3084 Update default compy layouts to reflect slower MPAS-O on maint-1.0
  cime/config/e3sm/allactive/config_pesall.xml
Labels: BFB, Compy, Coupled Model, maint-1.0

#3087 Disable compiler checks that happen upon cmake launch
  cime/scripts/lib/CIME/build.py
Labels: BFB, CIME, Scripts

#3068 Fix pnetcdf issue on constance
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, maint-1.0

#3003 Modifications to preserve the vertical shape of CO2 tracers
  components/cam/src/physics/cam/clubb_intr.F90
  components/cam/src/physics/cam/co2_cycle.F90
  components/cam/src/physics/cam/gw_drag.F90
  components/cam/src/physics/cam/physics_types.F90
  components/cam/src/physics/cam/vertical_diffusion.F90
Labels: Atmosphere, BFB, bug fix PR

#3093 Update Livermore Computing machine file entries.
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Machine Files

#3091 Add default S, M, and L pecounts for oEC60to30v3 G-cases on compy
  cime/config/e3sm/allactive/config_pesall.xml
Labels: BFB, Compy, Scripts
