Repository E3SM-Project/E3SM, pull requests merged in 2019-02, with the labels that each got.

#2681 Adds new land initial conditions at ne30np4
  components/clm/bld/namelist_files/namelist_defaults_clm4_5.xml
Labels: Land, non-BFB

#2696 modify behavior of t_startstop_valsf
  cime/src/share/timing/gptl.c
  cime/src/share/timing/private.h
Labels: CIME, Utils

#2688 Minor fixes to WaterBudgetMod
  components/clm/src/biogeophys/WaterBudgetMod.F90
Labels: BFB, Land, bug fix PR

#2694 create_test: Add new single-exe option
  cime/scripts/create_test
  cime/scripts/lib/CIME/build.py
  cime/scripts/lib/CIME/test_scheduler.py
Labels: BFB, CIME, Scripts, enhancement

#2738 Add performance archiving support for cli133 at OLCF
  cime/config/e3sm/machines/config_machines.xml
Labels: CIME, Machine Files, Titan

#2723 Add the NETCDF_PATH env for Summit
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, Summit

#2746 added the imkg252a method as tstep_type = 8
  components/homme/src/theta-l/prim_advance_mod.F90
Labels: HOMME, enhancement

#2737 add diagnostic flux based on C4MIP tier 1 requirement
  components/clm/src/biogeochem/CNCarbonFluxType.F90
  components/clm/src/biogeochem/CNNitrogenFluxType.F90
  components/clm/src/biogeochem/PhosphorusFluxType.F90
Labels: For maint-1.1, Land

#2755 bless_test_results: when multiple sets of tests match test-id, use newest
  cime/scripts/lib/CIME/bless_test_results.py
Labels: BFB, CIME, Scripts, enhancement

#2749 Add oceanice extra coverage tests including PEM and ERS low-res tests
  cime/config/e3sm/tests.py
Labels: BFB, Ocean, Sea Ice, Testing

#2757 Fix build for mksurfdata_map tool
  components/clm/tools/clm4_5/mksurfdata_map/src/Makefile.common
Labels: BFB, Land

#2656 Update project paths on Theta
  cime/config/e3sm/machines/config_batch.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Machine Files, Theta

#2682 For cori-knl only, add intel19 compiler and remove gnu7
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, Machine Files
