Repository E3SM-Project/E3SM, pull requests merged in 2019-09, with the labels that each got.

#3154 bug fix for SCM time index
  components/cam/src/control/scamMod.F90
Labels: Atmosphere, bug fix PR

#3175 Add new history variables at selected levels
  components/cam/src/physics/cam/cam_diagnostics.F90
Labels: Atmosphere, BFB

#3165 Fix DYN_OMEGA output
  components/cam/src/dynamics/se/stepon.F90
Labels: Atmosphere, BFB

#3177 Change high-frequency output to daily, remove duplicate field from stream
  components/mpas-ocean/cime_config/buildnml
Labels: BFB, Ocean, Scripts, maint-1.0

#3179 Add further specified levels for T and Q output
  components/cam/src/physics/cam/cam_diagnostics.F90
Labels: Atmosphere, BFB

#3153 Add explicit types to literals in COARE ocean surface flux scheme
  cime/src/share/util/shr_flux_mod.F90
Labels: BFB, CIME, FCC, bug fix PR

#3184 Fixes issue #3183
  components/homme/src/share/parallel_mod.F90
Labels: HOMME, Summit, bug fix PR

#3186 Fix some build errors for IBM compiler
  components/cam/src/control/scamMod.F90
  components/cam/src/physics/clubb/advance_clubb_core_module.F90
  components/cam/src/physics/clubb/advance_xp2_xpyp_module.F90
  components/cam/src/physics/clubb/stats_clubb_utilities.F90
  components/cam/src/physics/cosp/actsim/lidar_simulator.F90
  components/homme/src/share/gllfvremap_mod.F90
Labels: Summit, bug fix PR

#3168 Adds intel mpi specific options for pgi compiler on Compy
  cime/config/e3sm/machines/config_compilers.xml
Labels: Compy, Machine Files

#3198 Revert Compy's Intel compiler from 19.0.3(intelmpi) to 18.0.0(mvapich2)
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Compy, Machine Files

#3199 Update compset definition to match changed DICE options
  components/mpas-ocean/cime_config/config_compsets.xml
Labels: BFB, Ocean, bug fix PR, compset

#3205 Fix no_batch determination in case_submit
  cime/scripts/lib/CIME/case/case_submit.py
Labels: BFB, CIME, Scripts, bug fix PR

#3201 Update CIME to ESMCI cime5.8.9
  cime/ChangeLog
  cime/config/cesm/config_archive.xml
  cime/config/cesm/config_grids_common.xml
  cime/config/cesm/machines/Depends.nag
  cime/config/cesm/machines/config_machines.xml
  cime/scripts/Tools/archive_metadata
  cime/scripts/Tools/preview_run
  cime/scripts/lib/CIME/XML/env_batch.py
  cime/scripts/lib/CIME/XML/machines.py
  cime/scripts/lib/CIME/XML/stream.py
  cime/scripts/lib/CIME/case/case.py
  cime/scripts/lib/CIME/case/case_setup.py
  cime/scripts/lib/CIME/case/case_submit.py
  cime/scripts/lib/CIME/nmlgen.py
  cime/scripts/lib/CIME/utils.py
  cime/scripts/tests/scripts_regression_tests.py
  cime/src/build_scripts/buildlib.pio
  cime/src/components/data_comps/datm/cime_config/buildnml
  cime/src/components/data_comps/dice/cime_config/buildnml
  cime/src/components/data_comps/dlnd/cime_config/buildnml
  cime/src/components/data_comps/docn/cime_config/buildnml
  cime/src/components/data_comps/docn/cime_config/config_component.xml
  cime/src/components/data_comps/docn/cime_config/namelist_definition_docn.xml
  cime/src/components/data_comps/docn/mct/docn_comp_mod.F90
  cime/src/components/data_comps/docn/mct/docn_shr_mod.F90
  cime/src/components/data_comps/drof/cime_config/buildnml
  cime/src/components/data_comps/dwav/cime_config/buildnml
  cime/src/drivers/mct/cime_config/buildnml
  cime/src/drivers/mct/cime_config/config_component_cesm.xml
  cime/src/drivers/mct/cime_config/namelist_definition_drv.xml
  cime/src/drivers/mct/cime_config/testdefs/testlist_drv.xml
  cime/src/drivers/mct/main/cime_comp_mod.F90
  cime/src/drivers/mct/main/seq_flux_mct.F90
  cime/src/drivers/mct/shr/seq_infodata_mod.F90
  cime/src/share/streams/shr_tInterp_mod.F90
  cime/src/share/util/shr_orb_mod.F90
  cime/src/share/util/shr_scam_mod.F90
Labels: BFB, CIME

#3147 Remove the module craype-hugepages2M for Cori.
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, Machine Files, maint-1.0

#3210 Makes Intel 19.0.5 as a default compiler on Compy
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Compy, Machine Files
