Repository E3SM-Project/E3SM, pull requests merged in 2019-04, with the labels that each got.

#2824 Fix nonbfb behavior in homme with map2 wrt number of ranks
  components/homme/src/share/interpolate_mod.F90
Labels: HOMME, bug fix PR, non-BFB

#2816 Remove support for clm4_0 from mkmapdata
  components/clm/tools/shared/mkmapdata/mkmapdata.sh
Labels: Land

#2837 Change the module commands that load pe_archive to be pe_archive/append
  cime/config/e3sm/machines/config_machines.xml
Labels: Edison, For maint-1.0

#2831 Homme cmake subdir
  components/homme/CMakeLists.txt
  components/homme/cmake/HommeMacros.cmake
  components/homme/cmake/clean-cmake-files.cmake
  components/homme/src/pese/CMakeLists.txt
  components/homme/src/preqx/CMakeLists.txt
  components/homme/src/preqx_acc/CMakeLists.txt
  components/homme/src/preqx_kokkos/CMakeLists.txt
  components/homme/src/prim/CMakeLists.txt
  components/homme/src/sweqx/CMakeLists.txt
  components/homme/src/swim/CMakeLists.txt
  components/homme/src/theta-l/CMakeLists.txt
  components/homme/src/theta/CMakeLists.txt
Labels: HOMME, enhancement

#2724 Change the IBM Fortran and C wrappers on Summit
  cime/config/e3sm/machines/config_compilers.xml
Labels: Machine Files, Summit

#2840 Suppress pio logs on non-component-root processes
  cime/src/share/util/shr_pio_mod.F90
Labels: BFB, CIME, PIO, bug fix PR

#2849 Improve robustness of wget
  cime/scripts/lib/CIME/Servers/wget.py
Labels: BFB, CIME, Scripts, enhancement

#2850 Anvil module updates
  cime/config/e3sm/machines/config_machines.xml
Labels: Anvil, Machine Files

#2853 Build PIO1 with pnetcdf on Anvil
  cime/config/e3sm/machines/config_machines.xml
  cime/config/e3sm/machines/config_pio.xml
  components/homme/cmake/machineFiles/anvil.cmake
Labels: Anvil, Machine Files

#2861 Modifies test to use new AQUAP compset
  cime/config/e3sm/tests.py
Labels: BFB, Testing

#2865 Update Intel module key on Anvil
  cime/config/e3sm/allactive/config_pesall.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Anvil, Machine Files

#2867 Fix name of user_nl_mpascice
  components/mpas-seaice/cime_config/user_nl_mpassi
Labels: BFB, CIME, Sea Ice

#2722 Fix the hr_col summary bug
  components/clm/src/biogeochem/CNCarbonFluxType.F90
Labels: Land, bug fix PR

#2856 Upgrading Summit modules
  cime/config/e3sm/machines/config_machines.xml
Labels: CIME, Machine Files, Summit

#2864 Minor build fixes
  cime/config/e3sm/machines/config_compilers.xml
  cime/scripts/Tools/Makefile
Labels: BFB, CIME

#2835 Resolving random compilation failure due to missing cosp module
  components/cam/src/physics/cosp/Makefile.cospinline.in
Labels: Atmosphere, BFB, bug fix PR

#2881 Bugfix for naming mismatch in HOMME-ARKode interface
  components/homme/src/arkode/theta-l/arkode_mod.F90
  components/homme/src/theta-l/prim_advance_mod.F90
Labels: BFB, HOMME, bug fix PR

#2885 Fixing restart for theta-l target
  components/cam/src/dynamics/se/restart_dynamics.F90
Labels: BFB, HOMME

#2846 Update Anvil performance archiving support for switch to SLURM
  cime/config/e3sm/machines/syslog.anvil
  cime/scripts/lib/CIME/provenance.py
Labels: Anvil, CIME

#2863 Adds missing isnan use statement in VegetationDataType.F90
  components/clm/src/data_types/VegetationDataType.F90
Labels: BFB, Land
