Repository E3SM-Project/E3SM, pull requests merged in 2019-10, with the labels that each got.

#3197 Fixes ELM build for PGI on Compy
  components/clm/src/main/clmfates_paraminterfaceMod.F90
Labels: BFB

#3219 Update threading on Compy
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Compy, Machine Files

#3231 compare_test_results: Make testid globbing match bless_test_results
  cime/scripts/lib/CIME/compare_test_results.py
Labels: BFB, CIME

#3206 Fix build errors for xlf on summit
  cime/config/e3sm/machines/config_machines.xml
  components/cam/src/physics/cam/physpkg.F90
  components/mosart/src/inundation/MOSARTinund_Core_MOD.F90
  components/mosart/src/wrm/WRM_subw_IO_mod.F90
Labels: Summit

#3192 Enable newer PIO2 interfaces for MPAS
  cime/config/e3sm/machines/config_compilers.xml
Labels: BFB, CIME, Machine Files, SCORPIO

#3222 Fixed the name for mpaso stream configuration file in the comment
  components/mpas-ocean/cime_config/user_nl_mpaso
Labels: Ocean

#3237 Modifies simulation length for ERP test from 5 to 7 time steps
  cime/config/e3sm/tests.py
Labels: BFB, Testing

#3245 Fix the constant CO2 concentration value for BGC%BC compsets
  cime/src/drivers/mct/cime_config/config_component_e3sm.xml
Labels: BFB, BGC, maint-1.1

#3240 Fixes ELM for dry deposition
  components/clm/src/main/clm_instMod.F90
Labels: BFB, Land

#3261 Update CIME to ESMCI cime5.8.13
  cime/ChangeLog
  cime/config/cesm/config_files.xml
  cime/config/cesm/config_grids.xml
  cime/config/cesm/machines/config_machines.xml
  cime/config/cesm/machines/config_workflow.xml
  cime/config/e3sm/machines/config_workflow.xml
  cime/config/xml_schemas/config_workflow.xsd
  cime/scripts/Tools/Makefile
  cime/scripts/Tools/case.submit
  cime/scripts/create_newcase
  cime/scripts/lib/CIME/Servers/wget.py
  cime/scripts/lib/CIME/XML/env_batch.py
  cime/scripts/lib/CIME/XML/workflow.py
  cime/scripts/lib/CIME/buildlib.py
  cime/scripts/lib/CIME/case/case.py
  cime/scripts/lib/CIME/case/case_submit.py
  cime/scripts/lib/CIME/test_scheduler.py
  cime/scripts/lib/CIME/utils.py
  cime/scripts/lib/e3sm_cime_mgmt.py
  cime/scripts/query_config
  cime/src/components/data_comps/docn/cime_config/buildnml
  cime/src/components/data_comps/docn/cime_config/config_component.xml
  cime/src/components/data_comps/docn/cime_config/namelist_definition_docn.xml
  cime/src/components/data_comps/docn/mct/docn_comp_mod.F90
  cime/src/components/data_comps/docn/mct/docn_shr_mod.F90
  cime/src/drivers/mct/cime_config/config_component.xml
  cime/src/drivers/mct/cime_config/namelist_definition_drv.xml
  cime/src/drivers/mct/main/seq_flux_mct.F90
  cime/src/share/util/shr_flux_mod.F90
  cime/src/share/util/shr_scam_mod.F90
Labels: BFB, CIME, NML
