Repository E3SM-Project/E3SM, pull requests merged in 2019-08, with the labels that each got.

#3104 Update maint-1.0 module versions for Cori after July/19 maint upgrade
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, Machine Files, maint-1.0

#3092 Update CIME to ESMCI cime5.8.7
  cime/ChangeLog
  cime/config/cesm/config_files.xml
  cime/config/cesm/config_grids.xml
  cime/config/cesm/config_grids_common.xml
  cime/config/cesm/config_grids_mct.xml
  cime/config/cesm/machines/config_batch.xml
  cime/config/cesm/machines/config_compilers.xml
  cime/config/cesm/machines/config_machines.xml
  cime/config/cesm/machines/config_workflow.xml
  cime/config/cesm/machines/cylc_suite.rc.template
  cime/config/config_headers.xml
  cime/config/e3sm/config_files.xml
  cime/config/e3sm/machines/config_batch.xml
  cime/config/e3sm/machines/config_workflow.xml
  cime/config/xml_schemas/config_batch.xsd
  cime/config/xml_schemas/config_workflow.xsd
  cime/scripts/Tools/archive_metadata
  cime/scripts/Tools/generate_cylc_workflow.py
  cime/scripts/Tools/mkDepends
  cime/scripts/Tools/preview_run
  cime/scripts/create_clone
  cime/scripts/create_newcase
  cime/scripts/lib/CIME/Servers/wget.py
  cime/scripts/lib/CIME/XML/batch.py
  cime/scripts/lib/CIME/XML/env_base.py
  cime/scripts/lib/CIME/XML/env_batch.py
  cime/scripts/lib/CIME/XML/env_mach_specific.py
  cime/scripts/lib/CIME/XML/env_workflow.py
  cime/scripts/lib/CIME/XML/generic_xml.py
  cime/scripts/lib/CIME/XML/workflow.py
  cime/scripts/lib/CIME/aprun.py
  cime/scripts/lib/CIME/case/case.py
  cime/scripts/lib/CIME/case/case_clone.py
  cime/scripts/lib/CIME/case/case_run.py
  cime/scripts/lib/CIME/case/case_setup.py
  cime/scripts/lib/CIME/case/case_st_archive.py
  cime/scripts/lib/CIME/case/case_submit.py
  cime/scripts/lib/CIME/get_timing.py
  cime/scripts/tests/scripts_regression_tests.py
  cime/src/build_scripts/buildlib.csm_share
  cime/src/components/data_comps/datm/cime_config/namelist_definition_datm.xml
  cime/src/components/data_comps/dice/nuopc/dice_comp_mod.F90
  cime/src/components/data_comps/dlnd/nuopc/dlnd_comp_mod.F90
  cime/src/drivers/mct/cime_config/config_component.xml
  cime/src/drivers/mct/cime_config/config_component_cesm.xml
  cime/src/share/util/shr_file_mod.F90
Labels: BFB, CIME, NML

#3009 Adding restart tests for theta
  cime/config/e3sm/tests.py
Labels: Atmosphere, BFB, HOMME, new baselines needed

#3103 Minor fix to ELM for IBM compiler
  components/clm/src/external_models/emi/src/emi_data_definition/EMI_DataMod.F90
Labels: Land, bug fix PR

#3066 Fixed syntax error in dp_coupling
  components/cam/src/dynamics/se/dp_coupling.F90
Labels: Atmosphere, BFB

#3108 Fix typo in production test
  cime/config/e3sm/tests.py
Labels: Testing, maint-1.0

#3109 Replaces CLUBB with new version of CLUBB (V2): For re-merging
  components/cam/src/physics/cam/clubb_intr.F90
Labels: Atmosphere, non-BFB

#3106 Specify recursive doubling for MPI_Allreduce on Compy
  cime/config/e3sm/machines/config_machines.xml
Labels: Compy, Machine Files, bug fix PR

#3097 Updated module versions for Cori (KNL and haswell) after Cori maint of July 2019
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, Machine Files

#3115 Summit machine file: Update MPI module
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, Summit

#3112 Add hi-res W-cycle pecount on Compy
  cime/config/e3sm/allactive/config_pesall.xml
Labels: BFB, Compy, Coupled Model, HighRes, Machine Files

#3120 bless_test_results: hot fix to handle empty bless logs
  cime/scripts/lib/CIME/hist_utils.py
Labels: BFB, CIME, Scripts, bug fix PR

#3050 Update gravity wave drag mods to ingest improved tuning for QBO via nml
  components/cam/bld/namelist_files/namelist_definition.xml
  components/cam/src/physics/cam/gw_convect.F90
  components/cam/src/physics/cam/gw_drag.F90
Labels: Atmosphere, BFB

#3059 Fix bug in setting gases above model top for RRTMGP
  components/cam/src/physics/rrtmgp/radiation.F90
Labels: Atmosphere, non-BFB

#3132 Fix batch submission command for summit
  cime/scripts/lib/CIME/XML/env_batch.py
Labels: CIME, Scripts, bug fix PR

#3139 preview_run: Fix case where mpirun cmd uses env vars
  cime/scripts/Tools/preview_run
Labels: BFB, CIME, Scripts, bug fix PR

#3129 Remove the default-loaded module `craype-hugepages2M` which interferes with GNU on Cori
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, Machine Files

#3113 Fix ne30pg2 domain files
  cime/config/e3sm/config_grids.xml
Labels: Atmosphere

#3128 Fix compiler error when fv_nphys=0
  components/cam/src/dynamics/se/dyn_grid.F90
Labels: HOMME

#3031 Adding Land Use Translator code
  components/clm/tools/clm4_5/land_use_translator/Makefile
  components/clm/tools/clm4_5/land_use_translator/full_updateannuallanduse.c
Labels: BFB, Land

#3143 Update config_machines.xml to add default test suite
  cime/config/e3sm/machines/config_machines.xml
Labels: CIME, Machine Files

#3111 Fixes bug in crop Planting Date
  components/clm/src/biogeochem/CNPhenologyBeTRMod.F90
  components/clm/src/biogeochem/PhenologyMod.F90
Labels: Land, bug fix PR

#3136 Fix DTESTM compset definition and add to automated testing
  cime/config/e3sm/tests.py
  components/mpas-seaice/cime_config/config_compsets.xml
Labels: BFB, Scripts, Sea Ice, Testing, bug fix PR, compset

#3063 Change dust emission size distribution and shortwave absorption props
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
  components/cam/bld/namelist_files/use_cases/1850_cam5_CMIP6.xml
  components/cam/bld/namelist_files/use_cases/1850_cam5_CMIP6_bgc.xml
  components/cam/bld/namelist_files/use_cases/1850_cam5_av1c-04p2.xml
  components/cam/bld/namelist_files/use_cases/1850_cam5_av1c-h01a.xml
  components/cam/bld/namelist_files/use_cases/1950_cam5_CMIP6-HR.xml
  components/cam/bld/namelist_files/use_cases/1950_cam5_CMIP6-LR.xml
  components/cam/bld/namelist_files/use_cases/1950_cam5_CMIP6-LRtunedHR.xml
  components/cam/bld/namelist_files/use_cases/2000_cam5_av1c-04p2.xml
  components/cam/bld/namelist_files/use_cases/2000_cam5_av1c-04p2_bgc.xml
  components/cam/bld/namelist_files/use_cases/2000_cam5_av1c-h01a.xml
  components/cam/bld/namelist_files/use_cases/20TR_cam5_CMIP6.xml
  components/cam/bld/namelist_files/use_cases/20TR_cam5_CMIP6_bgc.xml
  components/cam/bld/namelist_files/use_cases/20TR_cam5_av1c-04p2.xml
  components/cam/bld/namelist_files/use_cases/20TR_cam5_av1c-h01a.xml
  components/cam/bld/namelist_files/use_cases/aquaplanet_EAMv1.xml
  components/cam/src/chemistry/modal_aero/dust_model.F90
Labels: Atmosphere, CC, NML

#3131 Eliminate dependence of CICE message tags on global number of blocks
  components/cice/src/mpi/ice_gather_scatter.F90
Labels: Atmosphere, BFB, Sea Ice, bug fix PR

#3157 CAM fix for scorpio
  components/cam/src/control/ncdio_atm.F90
Labels: Atmosphere, BFB, PIO, bug fix PR

#3144 Update queue policy on Theta for maint-1.0
  cime/config/e3sm/machines/config_batch.xml
Labels: BFB, Machine Files, Theta, maint-1.0

#3145 Update queue policy on Theta
  cime/config/e3sm/machines/config_batch.xml
Labels: BFB, Machine Files, Theta

#3164 Updates to climate reproducibility nbfb testing for CDASH
  cime/scripts/climate_reproducibility/README.md
  cime/scripts/lib/CIME/SystemTests/mvk.py
  cime/scripts/lib/CIME/SystemTests/pgn.py
  cime/scripts/lib/CIME/SystemTests/tsc.py
Labels: BFB, CIME, Testing

#3161 Add ne4-grid pelayout on compy
  cime/config/e3sm/allactive/config_pesall.xml
Labels: Compy, Machine Files

#3167 Host climate reproducibility tests at machine specific locations
  cime/config/e3sm/machines/config_machines.xml
  cime/config/xml_schemas/config_machines.xsd
  cime/scripts/lib/CIME/SystemTests/mvk.py
  cime/scripts/lib/CIME/SystemTests/pgn.py
  cime/scripts/lib/CIME/SystemTests/tsc.py
  cime/scripts/lib/CIME/utils.py
Labels: BFB, CIME, Testing

#3149 Adds AODALL to compute total aerosol (incl. nighttime) optical depth
  components/cam/src/physics/cam/modal_aer_opt.F90
Labels: Atmosphere, BFB

#3148 Update CMIP6, scam cases to use netcdf3
  cime/config/e3sm/testmods_dirs/allactive/v1cmip6/shell_commands
  components/cam/bld/namelist_files/use_cases/1850_cam5_CMIP6.xml
  components/cam/bld/namelist_files/use_cases/1850_cam5_CMIP6_bgc.xml
  components/cam/bld/namelist_files/use_cases/20TR_cam5_CMIP6.xml
  components/cam/bld/namelist_files/use_cases/20TR_cam5_CMIP6_bgc.xml
  components/cam/bld/namelist_files/use_cases/SSP585_cam5_CMIP6.xml
  components/cam/bld/namelist_files/use_cases/scam_arm97.xml
  components/cam/bld/namelist_files/use_cases/scam_generic.xml
Labels: compset, maint-1.0
