Repository E3SM-Project/E3SM, pull requests merged in 2019-03, with the labels that each got.

#2751 Add SSS restoring files for E3SM-ARRM to buildnml
  cime/config/e3sm/config_grids.xml
  components/mpas-ocean/cime_config/buildnml
Labels: BFB, Ocean, Scripts

#2741 Updates multiple land initial conditions
  components/clm/bld/namelist_files/namelist_defaults_clm4_5.xml
  components/clm/bld/namelist_files/use_cases/1950_CMIP6LR_control.xml
Labels: Land, non-BFB

#2736 Fix bug in create_chunks
  components/cam/src/physics/cam/phys_grid.F90
Labels: Atmosphere, bug fix PR

#2633 Fix gen_domain tool to work in the absence of masks
  cime/tools/mapping/gen_domain_files/README
  cime/tools/mapping/gen_domain_files/src/gen_domain.F90
Labels: CIME, Coupler, Utils, enhancement

#2786 Bug fix for optical thickness calculation in COSP-MODIS in maint-1.0
  components/cam/src/physics/cosp/cosp_modis_simulator.F90
Labels: Atmosphere, BFB, For maint-1.0, bug fix PR

#2783 Add cbgc land diagnostic variables
  components/clm/src/biogeochem/CNCarbonFluxType.F90
  components/clm/src/biogeochem/CNNitrogenFluxType.F90
  components/clm/src/biogeochem/PhosphorusFluxType.F90
Labels: For maint-1.1, Land

#2790 Update modules in CADES machine file
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files

#2770 Bug fix for optical thickness calculation in COSP-MODIS
  components/cam/src/physics/cosp/cosp_modis_simulator.F90
Labels: Atmosphere, BFB, bug fix PR

#2771 CAM fixes for PIO2
  components/cam/src/chemistry/mozart/mo_drydep.F90
  components/cam/src/control/ncdio_atm.F90
  components/cam/src/utils/cam_dom/ocn_comp.F90
  components/cam/src/utils/cam_dom/sst_data.F90
  components/cam/src/utils/cam_pio_utils.F90
  components/homme/cmake/machineFiles/anlworkstation.cmake
Labels: Atmosphere, BFB, PIO, bug fix PR

#2773 CICE fixes for PIO2
  components/cice/src/drivers/cpl/ice_restart.F90
Labels: BFB, PIO, Sea Ice, bug fix PR

#2804 Support multiqueueing for sandiatoss3
  cime/config/e3sm/machines/config_batch.xml
  cime/config/xml_schemas/config_batch.xsd
Labels: BFB, CIME, Machine Files

#2772 CLM & Mosart fixes for PIO2
  cime/config/e3sm/machines/config_pio.xml
  components/clm/src/main/ncdio_pio.F90.in
  components/mosart/src/riverroute/RtmIO.F90
Labels: BFB, Land, PIO, River, bug fix PR

#2811 CIME changes for PIO2
  cime/config/e3sm/machines/config_machines.xml
  cime/scripts/Tools/Makefile
  components/homme/cmake/machineFiles/anlworkstation.cmake
Labels: BFB, CIME, PIO

#2821 Turn on eddy stats for oEC60to30v3 and oEC60to30v3wLI grids by default
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
Labels: BFB, For maint-1.2, NML, Ocean

#2814 Fixes reading of CH4 inundation parameter
  components/clm/src/biogeochem/CH4Mod.F90
Labels: Land

#2822 Add a new kokkos build-only test to e3sm_developer.
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/tests.py
  cime/scripts/lib/CIME/test_scheduler.py
  cime/src/build_scripts/buildlib.kokkos
Labels: BFB, CIME, Scripts, enhancement

#2720 Manually reverts gustiness changes from PRs #1035 and #1624
  cime/src/drivers/mct/cime_config/namelist_definition_drv.xml
  cime/src/drivers/mct/main/seq_flux_mct.F90
  cime/src/drivers/mct/shr/seq_infodata_mod.F90
  cime/src/share/util/shr_flux_mod.F90
Labels: Atmosphere, BFB, NML

#2828 Use consistent casing (all-caps) for build_threaded value
  cime/config/e3sm/machines/Depends.cetus
  cime/config/e3sm/machines/Depends.mira
  cime/config/e3sm/machines/Depends.summit.ibm
  cime/config/e3sm/machines/Depends.summitdev.ibm
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/userdefined_laptop_template/config_compilers.xml
  cime/config/xml_schemas/config_compilers_v2.xsd
  cime/doc/source/users_guide/cime-config.rst
  cime/doc/source/users_guide/unit_testing.rst
  cime/scripts/fortran_unit_testing/run_tests.py
  cime/scripts/lib/CIME/BuildTools/valuesetting.py
  cime/scripts/lib/CIME/build.py
  cime/scripts/tests/scripts_regression_tests.py
  cime/tools/mapping/gen_mapping_files/runoff_to_ocn/src/Makefile
Labels: CIME, Machine Files, Scripts, bug fix PR
