Repository E3SM-Project/E3SM, pull requests merged in 2019-11, with the labels that each got.

#3280 Correct the marine BGC settings for future BGC compsets
  components/mpas-ocean/cime_config/config_component.xml
Labels: BFB, compset, maint-1.1

#3279 fix output bugs in maint-1.1
  components/clm/src/biogeochem/CNNitrogenFluxType.F90
  components/clm/src/biogeochem/PhosphorusFluxType.F90
Labels: BFB, BGC

#3242 EAM: Fixes high-order physgrid when num MPI ranks > num elements
  components/homme/src/share/gllfvremap_mod.F90
Labels: Atmosphere, BFB, bug fix PR

#3294 Correct ocn_co2_type setting for bcrd case
  components/mpas-ocean/bld/build-namelist
Labels: BFB, BGC, Ocean, bug fix PR, maint-1.1

#3298 update anvil queues for time limits depending on size
  cime/config/e3sm/machines/config_batch.xml
Labels: Anvil, BFB, Machine Files

#3300 Set SCM to run with netcdf
  cime/scripts/lib/CIME/test_scheduler.py
Labels: BFB, CIME

#3295 Update sandiatoss3 pe-layouts for failing tri-grid tests
  cime/config/e3sm/allactive/config_pesall.xml
Labels: BFB, Testing

#3307 Update Theta module after PM
  cime/config/e3sm/allactive/config_pesall.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Machine Files, Theta

#3265 This commit fixes C14 related bugs
  components/clm/src/data_types/GridcellDataType.F90
  components/clm/src/main/clm_instMod.F90
Labels: Land, bug fix PR

#3309 Fix py3 issue with floating point data in env_batch
  cime/scripts/lib/CIME/XML/env_batch.py
Labels: BFB, CIME, bug fix PR

#3291 Makes short queue on Compy the default for small jobs
  cime/config/e3sm/machines/config_batch.xml
Labels: BFB, Compy, Machine Files

#3311 rename anvil-centos7 back to anvil
  cime/config/e3sm/allactive/config_pesall.xml
  cime/config/e3sm/machines/config_batch.xml
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
  components/homme/cmake/machineFiles/anvil-centos7.cmake
  components/homme/cmake/machineFiles/anvil.cmake
Labels: Anvil, BFB, Machine Files

#3314 create_test: fix baseline_root for non-default compiler
  cime/scripts/lib/CIME/test_scheduler.py
Labels: BFB, CIME, bug fix PR

#3319 Fix create_test bug when determining BASELINE_ROOT
  cime/scripts/lib/CIME/XML/machines.py
  cime/scripts/lib/CIME/test_scheduler.py
Labels: BFB, CIME, bug fix PR

#3325 Fix Depends.ibm.cmake
  cime/config/e3sm/machines/Depends.ibm.cmake
Labels: BFB, CIME, Machine Files, bug fix PR

#3326 Add missing files from jeds repo
  cime/src/CMake/CorrectWindowsPaths.cmake
  cime/src/CMake/FindPackageMultipass.cmake
  cime/src/CMake/ResolveCompilerPaths.cmake
Labels: BFB, CIME, bug fix PR

#3321 Change dtime calculation for python3
  components/cam/cime_config/buildnml
Labels: Atmosphere, bug fix PR

#3312 ne120 CMIP6 Historical Transient Compset (A_WCYCL20TRS_CMIP6_HR)
  cime/config/e3sm/allactive/config_compsets.xml
  components/cam/bld/namelist_files/use_cases/20TR_cam5_CMIP6-HR.xml
  components/cam/cime_config/config_component.xml
  components/clm/bld/namelist_files/use_cases/20thC_CMIP6HR_transient.xml
  components/clm/cime_config/config_component.xml
Labels: HighRes, compset, maint-1.0

#3327 Add snicar and snow files to mpas-seaice streams file
  components/mpas-seaice/cime_config/buildnml
Labels: BFB, Scripts, Sea Ice

#3277 Convert the format of the following two files from dos to unix: Veget…
  components/clm/src/data_types/VegetationDataType.F90
  components/clm/src/data_types/VegetationType.F90
Labels: BFB, Land
