Repository E3SM-Project/E3SM, pull requests merged in 2019-05, with the labels that each got.

#2901 Missed a spot in wget that needed no-check-cert
  cime/scripts/lib/CIME/Servers/wget.py
Labels: BFB, CIME, Scripts, bug fix PR

#2902 Sync wget from master
  cime/scripts/lib/CIME/Servers/wget.py
Labels: BFB, CIME, bug fix PR

#2859 Fixes the definition type in EMI
  components/clm/src/external_models/emi/src/emi_data_types/EMI_DataDimensionMod.F90
Labels: Land

#2801 added new imex methods that Mark hopefully likes
  components/homme/src/theta-l/prim_advance_mod.F90
Labels: HOMME

#2907 switch to analytic formula for hypervis dp_ref
  components/homme/src/theta-l/prim_advance_mod.F90
Labels: HOMME

#2893 Updates land initial conditions for ne0np4
  components/clm/bld/namelist_files/namelist_defaults_clm4_5.xml
Labels: Land, bug fix PR

#2905 SSP5_8.5 future compset for watercycle (maint-1.0)
  cime/config/e3sm/allactive/config_compsets.xml
  cime/src/drivers/mct/cime_config/config_component_e3sm.xml
  components/cam/bld/namelist_files/use_cases/SSP585_cam5_CMIP6.xml
  components/cam/cime_config/config_component.xml
  components/clm/bld/namelist_files/namelist_definition_clm4_5.xml
  components/clm/bld/namelist_files/use_cases/2015-2100_SSP585_transient.xml
  components/clm/cime_config/config_component.xml
Labels: Critical, For maint-1.0, compset

#2888 Trim cam's perl configure script
  components/cam/bld/configure
Labels: Atmosphere, BFB, Scripts

#2878 Fix the calculation to give the best cflag value for cori-knl
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, Machine Files

#2913 For Cori, add pe_archive module command to allow use of the older version of mpich (7.6.2)
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, For maint-1.0

#2929 Update config_machines.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, CIME, Machine Files

#2930 Fix machine file entry for C++ compiler on melvin.
  components/homme/cmake/machineFiles/melvin.cmake
Labels: BFB, HOMME, Machine Files

#2927 Fix allocations errors in RRTMGP for DEBUG mode
  components/cam/src/physics/rrtmgp/cam_optics.F90
  components/cam/src/physics/rrtmgp/radiation.F90
Labels: Atmosphere, BFB, bug fix PR

#2937 bless_test_results: Be able to handle build-only tests
  cime/scripts/lib/CIME/hist_utils.py
Labels: BFB, CIME, Scripts, bug fix PR

#2938 Update CIME to ESMCI cime5.8.2-3
  cime/config/xml_schemas/config_machines.xsd
  cime/config/xml_schemas/env_mach_specific.xsd
  cime/doc/source/users_guide/machine.rst
  cime/scripts/Tools/Makefile
  cime/scripts/fortran_unit_testing/run_tests.py
  cime/scripts/lib/CIME/SystemTests/erp.py
  cime/scripts/lib/CIME/SystemTests/system_tests_common.py
  cime/scripts/lib/CIME/XML/env_mach_specific.py
  cime/scripts/lib/CIME/case/case.py
  cime/scripts/lib/CIME/case/case_submit.py
  cime/scripts/lib/e3sm_cime_mgmt.py
Labels: BFB, CIME

#2949 Fix bug in PET timestamp
  cime/scripts/lib/CIME/XML/generic_xml.py
  cime/scripts/lib/CIME/case/case.py
  cime/scripts/lib/CIME/case/check_lockedfiles.py
Labels: BFB, CIME, Scripts, bug fix PR

#2950 Fix bug in generating baselines
  cime/scripts/lib/CIME/hist_utils.py
Labels: BFB, CIME, Scripts, bug fix PR

#2948 Fix the setting of ocn_c2_glcshelf based on value of land_ice_flux_mode
  components/mpas-ocean/driver/ocn_comp_mct.F
Labels: BFB, Ocean, bug fix PR

#2942 Adding an FC test with theta SL
  cime/config/e3sm/tests.py
  components/cam/cime_config/testdefs/testmods_dirs/cam/thetasl/shell_commands
  components/cam/cime_config/testdefs/testmods_dirs/cam/thetasl/user_nl_cam
Labels: BFB, HOMME, Testing

#2957 Adds cmake 3.11.4 module to Compy's machine files
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Compy, Machine Files

#2943 Add support for performance archiving on Compy
  cime/config/e3sm/machines/config_machines.xml
  cime/config/e3sm/machines/syslog.compy
  cime/config/e3sm/machines/syslog.edison
  cime/scripts/lib/CIME/provenance.py
Labels: CIME, Compy, Machine Files

#2960 Fix cmake building of atm on anlworkstation
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, CIME, Machine Files, bug fix PR
