Repository E3SM-Project/E3SM, pull requests merged in 2020-08, with the labels that each got.

#3734 Add NCPL_BASE_PERIOD set to year as an option for determining config_dt
  components/mpas-seaice/cime_config/buildnml
Labels: BFB, Coupled Model, Scripts, Sea Ice

#3666 Updated ARKODE-HOMME interface to use SUNDIALS 5.*
  components/homme/CMakeLists.txt
  components/homme/cmake/HommeMacros.cmake
  components/homme/src/arkode/arkode_tables.F90
  components/homme/src/arkode/column_linsol.c
  components/homme/src/arkode/column_linsol.h
  components/homme/src/arkode/homme_sunlinsol.F90
  components/homme/src/arkode/nvector_external.c
  components/homme/src/arkode/nvector_external.h
  components/homme/src/arkode/theta-l/arkode_interface.F90
  components/homme/src/arkode/theta-l/arkode_mod.F90
  components/homme/src/arkode/theta-l/homme_nvector.F90
  components/homme/src/theta-l/CMakeLists.txt
  components/homme/src/theta-l/prim_advance_mod.F90
Labels: HOMME

#3754 Allow MOSART to read/write in unstructured grid format
  cime_config/tests.py
  components/mosart/cime_config/testdefs/testmods_dirs/mosart/unstructure/shell_commands
  components/mosart/cime_config/testdefs/testmods_dirs/mosart/unstructure/user_nl_mosart
  components/mosart/src/riverroute/RtmHistFile.F90
  components/mosart/src/riverroute/RtmMod.F90
  components/mosart/src/riverroute/RtmVar.F90
Labels: BFB, River, enhancement

#3713 Add a new machine for the singularity container
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files

#3751 Fix RRTMGP aerosol optical depth
  components/cam/src/physics/crm/rrtmgp/radiation.F90
  components/cam/src/physics/rrtmg/radconstants.F90
  components/cam/src/physics/rrtmgp/cam_optics.F90
  components/cam/src/physics/rrtmgp/radconstants.F90
  components/cam/src/physics/rrtmgp/radiation.F90
Labels: Atmosphere, MMF, non-BFB

#3760 Add JRA1p4 cryo compsets
  cime_config/config_grids.xml
  components/mpas-ocean/cime_config/config_compsets.xml
Labels: BFB, CIME, Ocean, Sea Ice, compset, enhancement

#3727 add ne45pg2 grid support
  cime_config/allactive/config_pesall.xml
  cime_config/config_grids.xml
  cime_config/tests.py
  components/cam/bld/config_files/horiz_grid.xml
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
Labels: Atmosphere, CIME

#3732 Add MMF aquaplanet compsets
  components/cam/bld/namelist_files/use_cases/aquaplanet_MMF-1mom.xml
  components/cam/cime_config/config_component.xml
  components/cam/cime_config/config_compsets.xml
Labels: Atmosphere, MMF

#3770 Fix ARKODE-HOMME interface bugs v2
  components/homme/src/arkode/theta-l/arkode_interface.F90
Labels: BFB, HOMME

#3678 Add gpu tests
  cime_config/machines/Depends.ibmgpu.cmake
  cime_config/machines/Depends.pgigpu
  cime_config/machines/Depends.pgigpu.cmake
  cime_config/machines/Depends.summit.cmake
  cime_config/machines/Depends.summit.pgiacc
  cime_config/machines/Depends.summit.pgiacc.cmake
  cime_config/machines/Depends.summit.pgigpu
  cime_config/machines/Depends.summitdev.pgiacc
  cime_config/machines/Depends.summitdev.pgiacc.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
  cime_config/tests.py
  components/cam/cime_config/testdefs/testmods_dirs/cam/crm_gpu/shell_commands
  components/cam/cime_config/testdefs/testmods_dirs/cam/crm_gpu/user_nl_cam
Labels: BFB

#3775 Add cuda modulepath on blues
  cime_config/machines/config_machines.xml
Labels: BFB, Blues, Machine Files

#3753 remove sub-optimal IMEX methods
  components/homme/src/theta-l/prim_advance_mod.F90
  components/homme/test/reg_test/namelists/thetanh-TC-nudiv.nl
  components/homme/test/reg_test/namelists/thetanh-TC-nutop.nl
  components/homme/test/reg_test/namelists/thetanh-TC.nl
  components/homme/test/reg_test/namelists/thetanh-c-TC.nl
  components/homme/test/reg_test/namelists/thetanhwet-TC.nl
Labels: HOMME

#3736 Update modules on Theta
  cime_config/machines/config_machines.xml
Labels: Machine Files, Ready to merge, Theta, non-BFB

#3710 removing sqs command for cori which was introduced by PR #3679
  cime/config/e3sm/machines/syslog.cori-haswell
  cime/config/e3sm/machines/syslog.cori-knl
Labels: Cori, Machine Files

#3780 Reorder Blues config
  cime_config/machines/config_machines.xml
Labels: BFB, Blues, Machine Files

#3777 Fix reproducibility in modpes runs on haswells
  cime_config/machines/config_machines.xml
  components/cam/src/chemistry/modal_aero/aero_model.F90
Labels: Cori, non-BFB

#3762 Make sure land surface data is set for r0125 grid
  components/clm/bld/namelist_files/namelist_defaults_clm4_5.xml
Labels: BFB, Land, bug fix PR

#3738 Simplify MMF aerosol optics
  components/cam/src/chemistry/bulk_aero/aero_model.F90
  components/cam/src/chemistry/modal_aero/aero_model.F90
  components/cam/src/chemistry/utils/modal_aero_wateruptake.F90
  components/cam/src/physics/cam/physpkg.F90
  components/cam/src/physics/crm/crm_physics.F90
  components/cam/src/physics/crm/modal_aero_wateruptake.F90
  components/cam/src/physics/crm/physpkg.F90
  components/cam/src/physics/crm/rrtmg/radiation.F90
  components/cam/src/physics/crm/rrtmgp/radiation.F90
  components/cam/src/physics/crm/sam/crm_module.F90
Labels: Atmosphere, MMF

#3792 add rrtmgp_enable_limiter_warnings namelist flag
  components/cam/bld/build-namelist
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
  components/cam/bld/namelist_files/namelist_definition.xml
  components/cam/src/physics/crm/rrtmgp/radiation.F90
  components/cam/src/physics/rrtmgp/radiation.F90
  components/cam/src/physics/rrtmgp/radiation_utils.F90
Labels: Atmosphere, aquaplanet

#3799 Add activeTracerHorMixTendency to the timeSeriesStatsMonthlyOutput stream
  components/mpas-ocean/cime_config/buildnml
Labels: BFB, Ocean, Scripts

#3787 For Cori machines building with GNU compilers, append -O2 to flags for non-debug builds
  cime_config/machines/config_compilers.xml
Labels: Cori, Machine Files
