Repository E3SM-Project/E3SM, pull requests merged in 2020-01, with the labels that each got.

#3373 Explicitly remove the darshan module for Cori
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, Machine Files

#3381 jenkins_generic_job: Add timers for archiving
  cime/scripts/lib/jenkins_generic_job.py
Labels: BFB, CIME, enhancement

#3384 Ignore buildlib_cmakec files
  .gitignore
Labels: BFB

#3387 get_cime_env: new tool for conveniently loading CIME env
  cime/scripts/Tools/get_case_env
Labels: BFB, CIME, Scripts

#3388 Fix Depends.ibm.cmake
  cime/config/e3sm/machines/Depends.ibm.cmake
Labels: BFB, CIME, bug fix PR

#3397 Update tests.py to separate HOMME and HOMMEBFB into a new suite
  cime/config/e3sm/tests.py
Labels: BFB, CIME

#3404 Start using new NERSC project directory named CFS
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
  components/homme/cmake/machineFiles/cori-knl.cmake
Labels: Machine Files

#3411 Fix vertical remap algorithm 10 in homme, PPM with linextrap boundaries.
  components/homme/src/share/vertremap_base.F90
Labels: HOMME, non-BFB

#3372 Disable Gravity Wave Latitude Taper for SE dycore
  components/cam/src/physics/cam/gw_drag.F90
Labels: Atmosphere

#3414 ne30pg2_r05_oECv3 resolution configuration for v2 AMIP simulations.
  cime/config/e3sm/config_grids.xml
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
Labels: Atmosphere

#3393 Minor fix to HOMME for IBM compiler on Summit
  components/homme/src/share/sl_advection.F90
Labels: HOMME, Summit, bug fix PR
