Repository E3SM-Project/E3SM, pull requests merged in 2020-02, with the labels that each got.

#3324 Init qrl_idx to 0.0 in first step
  components/cam/src/physics/cam/clubb_intr.F90
Labels: Atmosphere, BFB, bug fix PR

#3416 Add more options for atm inithist
  components/cam/bld/namelist_files/namelist_definition.xml
  components/cam/src/control/cam_history.F90
Labels: Atmosphere, BFB

#3419 Add archive module on maint-1.0 for Theta
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Machine Files, Theta, maint-1.0

#3436 Protect against divide-by-zero error in system tests
  cime/scripts/lib/CIME/SystemTests/system_tests_common.py
Labels: CIME, Scripts, bug fix PR

#3429 Upgrade the software stack for anlworkstation
  cime/config/e3sm/machines/config_machines.xml
  components/homme/cmake/machineFiles/anlworkstation.cmake
Labels: BFB, HOMME, Machine Files, SCORPIO

#3437 cam: fix bug in bld/configure
  components/cam/bld/config_files/definition.xml
  components/cam/bld/configure
  components/cam/cime_config/buildnml
  components/cmake/build_model.cmake
  components/cmake/common_setup.cmake
Labels: Atmosphere, bug fix PR

#3171 Updates land initial condition for 20th Century CMIP6 compset
  components/clm/bld/namelist_files/use_cases/20thC_CMIP6_transient.xml
Labels: BFB, Land

#3445 Fix mpi serial link in cmake
  components/cmake/build_model.cmake
Labels: BFB, CIME, bug fix PR

#3432 Update ibm compiler settings on Summit
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
  components/cam/cime_config/testdefs/testmods_dirs/cam/rrtmgp/shell_commands
  components/homme/src/share/sl_advection.F90
Labels: BFB, Machine Files, Summit

#3433 Define hybrid BGC cases and create bgc production test suite
  cime/config/e3sm/allactive/config_compsets.xml
  cime/config/e3sm/allactive/config_pesall.xml
  cime/config/e3sm/testmods_dirs/allactive/v1bgc/shell_commands
  cime/config/e3sm/testmods_dirs/allactive/v1bgc/user_nl_cam
  cime/config/e3sm/testmods_dirs/allactive/v1bgc/user_nl_clm
  cime/config/e3sm/testmods_dirs/allactive/v1bgc/user_nl_mpaso
  cime/config/e3sm/testmods_dirs/allactive/v1bgc_1850/shell_commands
  cime/config/e3sm/testmods_dirs/allactive/v1bgc_1850/user_nl_cam
  cime/config/e3sm/testmods_dirs/allactive/v1bgc_1850/user_nl_clm
  cime/config/e3sm/testmods_dirs/allactive/v1bgc_1850/user_nl_mpaso
  cime/config/e3sm/testmods_dirs/allactive/v1bgceca/shell_commands
  cime/config/e3sm/testmods_dirs/allactive/v1bgceca/user_nl_cam
  cime/config/e3sm/testmods_dirs/allactive/v1bgceca/user_nl_clm
  cime/config/e3sm/testmods_dirs/allactive/v1bgceca/user_nl_mosart
  cime/config/e3sm/testmods_dirs/allactive/v1bgceca/user_nl_mpaso
  cime/config/e3sm/testmods_dirs/allactive/v1bgceca_1850/shell_commands
  cime/config/e3sm/testmods_dirs/allactive/v1bgceca_1850/user_nl_cam
  cime/config/e3sm/testmods_dirs/allactive/v1bgceca_1850/user_nl_clm
  cime/config/e3sm/testmods_dirs/allactive/v1bgceca_1850/user_nl_mosart
  cime/config/e3sm/testmods_dirs/allactive/v1bgceca_1850/user_nl_mpaso
  cime/config/e3sm/tests.py
Labels: BGC, Coupled Model, compset, maint-1.1, non-BFB

#3451 Make ninst argument type explicitly int
  cime/scripts/create_newcase
Labels: BFB, CIME, Scripts

#3442 Add r0125_r0125_oRRS15to5 grid
  cime/config/e3sm/config_grids.xml
Labels: BFB, Land

#3382 Updates PGI compiler to version 19.10
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Compy, Machine Files

#3439 Disable calls to shr_taskmap_write when INFO_TASKMAP_COMP is zero
  components/clm/src/cpl/lnd_comp_mct.F90
  components/mosart/src/cpl/rof_comp_mct.F90
  components/mpas-albany-landice/driver/glc_comp_mct.F
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-seaice/driver/ice_comp_mct.F
Labels: BFB, Land, Land Ice, Ocean, River, Sea Ice, performance

#3448 Adds output of topography in land history file
  components/clm/src/main/histFileMod.F90
Labels: Land, bug fix PR, non-BFB
