Repository E3SM-Project/E3SM, pull requests merged in 2020-04, with the labels that each got.

#3527 For NERSC machines, edit directory names to reflect the repo name change from "acme" to "e3sm"
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, maint-1.0

#3529 create_test: print important resource usage info at start
  cime/scripts/lib/CIME/test_scheduler.py
Labels: BFB, CIME, Scripts, enhancement

#3497 Provide clear messages about dycore and physgrid.
  cime/config/e3sm/allactive/config_pesall.xml
  components/homme/src/share/gllfvremap_mod.F90
  components/homme/src/share/namelist_mod.F90
Labels: Atmosphere, BFB, CIME, HOMME

#3535 CIME: make buildlib return a cmake string for cmake build
  cime/scripts/lib/CIME/build.py
Labels: BFB, CIME, enhancement

#3426 Fixing ERS_D.ne4_ne4.FC5AV1C-L.anvil_*.cam-thetahy_ftype2
  components/homme/src/theta-l/element_ops.F90
  components/homme/test/vcoord/scream-128i.ascii
  components/homme/test/vcoord/scream-128m.ascii
Labels: Atmosphere, BFB, HOMME, compset

#3540 template.case.run.sh: improve robustness
  cime/config/e3sm/machines/template.case.run.sh
Labels: BFB, CIME, Scripts, enhancement

#3434 Fixing CFL-related crash in long ne4 F compset runs
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
Labels: Atmosphere, HOMME, Testing, non-BFB

#3551 Fix PIO xml case setup
  cime/scripts/lib/CIME/XML/pio.py
  cime/scripts/lib/CIME/case/case.py
Labels: BFB, CIME, bug fix PR

#3553 Update config_machines.xml to replace gscratch with nscratch for sandiatoss3
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Machine Files

#3555 Disable smart walltime estimates on maint
  cime/scripts/lib/CIME/provenance.py
Labels: BFB, CIME

#3556 Update machine files for LANL IC machines badger and grizzly
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, maint-1.2

#3460 Fix issues with adding atm fields to rof coupling
  cime/src/drivers/mct/main/prep_rof_mod.F90
  cime/src/drivers/mct/shr/seq_flds_mod.F90
Labels: CIME, Coupler, River

#3558 archive_base: cprnc.out files should never be treated as hist files
  cime/scripts/lib/CIME/XML/archive_base.py
Labels: CIME, Scripts, bug fix PR

#3559 Add script support for ne30_oARRM60to10
  cime/config/e3sm/config_grids.xml
  cime/src/drivers/mct/cime_config/config_component_e3sm.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/cime_config/buildnml
Labels: BFB, CIME, Scripts, maint-1.2
