Repository E3SM-Project/E3SM, pull requests merged in 2020-03, with the labels that each got.

#3360 Change all ocean output files to single precision
  components/mpas-ocean/cime_config/buildnml
Labels: BFB, Ocean, performance

#3476 On Cori, change the PROJECT (or repo) from "acme" to "e3sm".
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori

#3463 In Mosart ensure that entire user string is written out to the output file
  components/mosart/src/riverroute/RtmIO.F90
Labels: BFB, River, bug fix PR

#3454 Fixes initialization bug in CLUBBv2 interface
  components/cam/src/physics/cam/clubb_intr.F90
Labels: Atmosphere, BFB, bug fix PR

#3424 Added modex machine config files
  cime/config/e3sm/machines/config_batch.xml
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files

#3480 Disable database integrity check
  cime/scripts/lib/CIME/XML/generic_xml.py
Labels: BFB, CIME

#3478 Rename references to NLDAS to avoid confusion with NLDAS2
  cime/src/components/data_comps/datm/cime_config/config_component.xml
  cime/src/components/data_comps/datm/cime_config/namelist_definition_datm.xml
  components/clm/cime_config/config_compsets.xml
Labels: BFB, CIME, compset

#3473 For NERSC, change the PROJECT (repo name) from "acme" to "e3sm".
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, Machine Files

#3459 Adding configs for some PG2 compsets
  cime/config/e3sm/allactive/config_pesall.xml
  cime/config/e3sm/config_grids.xml
  components/cam/bld/config_files/horiz_grid.xml
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
  components/clm/bld/CLMBuildNamelist.pm
  components/clm/bld/namelist_files/use_cases/1850_CMIP6_control.xml
  components/clm/bld/namelist_files/use_cases/20thC_CMIP6_transient.xml
Labels: Coupled Model, compset

#3466 Upgrade KernelVariables team-idx calculation
  components/homme/CMakeLists.txt
  components/homme/cmake/machineFiles/waterman.cmake
  components/homme/src/share/cxx/ElementsDerivedState.cpp
  components/homme/src/share/cxx/EulerStepFunctorImpl.hpp
  components/homme/src/share/cxx/Hommexx_Session.cpp
  components/homme/src/share/cxx/Hommexx_config.h.in
  components/homme/src/share/cxx/KernelVariables.hpp
  components/homme/src/share/cxx/PpmRemap.hpp
  components/homme/src/share/cxx/RemapFunctor.hpp
  components/homme/src/share/cxx/SphereOperators.hpp
  components/homme/src/share/cxx/kokkos_utils.hpp
  components/homme/src/theta-l_kokkos/cxx/CaarFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/Diagnostics.cpp
  components/homme/src/theta-l_kokkos/cxx/Diagnostics.hpp
  components/homme/src/theta-l_kokkos/cxx/DirkFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/ElementsState.cpp
  components/homme/src/theta-l_kokkos/cxx/ElementsState.hpp
  components/homme/src/theta-l_kokkos/cxx/ForcingFunctor.hpp
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.cpp
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.hpp
Labels: HOMME

#3441 Update two-way irrigation scheme to fit tri-grid configuration
  cime/src/drivers/mct/shr/seq_flds_mod.F90
  components/clm/bld/namelist_files/namelist_defaults_clm4_5.xml
  components/clm/bld/namelist_files/namelist_definition_clm4_5.xml
  components/clm/bld/test_build_namelist/t/input/namelist_definition_clm4_5_test.xml
  components/clm/src/biogeophys/BalanceCheckMod.F90
  components/clm/src/biogeophys/CanopyFluxesMod.F90
  components/clm/src/biogeophys/CanopyHydrologyMod.F90
  components/clm/src/cpl/clm_cpl_indices.F90
  components/clm/src/cpl/lnd_import_export.F90
  components/clm/src/main/atm2lndType.F90
  components/clm/src/main/clm_varctl.F90
  components/clm/src/main/controlMod.F90
  components/clm/src/main/surfrdMod.F90
  components/mosart/src/cpl/rof_comp_esmf.F90
  components/mosart/src/cpl/rof_comp_mct.F90
  components/mosart/src/cpl/rof_cpl_indices.F90
  components/mosart/src/inundation/MOSARTinund_Core_MOD.F90
  components/mosart/src/riverroute/MOSART_physics_mod.F90
  components/mosart/src/riverroute/RtmMod.F90
  components/mosart/src/riverroute/RunoffMod.F90
  components/mosart/src/wrm/WRM_subw_IO_mod.F90
Labels: BFB, Land, River, enhancement

#3418 Sarich/add gen domain test
  cime/scripts/lib/CIME/BuildTools/configure.py
  cime/scripts/tests/scripts_regression_tests.py
  cime/tools/mapping/gen_domain_files/src/gen_domain.F90
  cime/tools/mapping/gen_domain_files/test_gen_domain.sh
Labels: BFB, CIME, Scripts, Testing, enhancement

#3494 Update cori machine files for maint-1.2
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
  components/homme/cmake/machineFiles/cori-knl.cmake
Labels: BFB, Machine Files, bug fix PR, maint-1.2

#3496 Fix summit pnetcdf linking
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
  cime/scripts/lib/CIME/BuildTools/makemacroswriter.py
Labels: BFB, CIME, Machine Files, bug fix PR

#3488 Upgrading PnetCDF lib on anvil
  cime/config/e3sm/machines/config_machines.xml
Labels: Anvil, CIME, Machine Files, SCORPIO

#3389 LULCC + CROP
  cime/config/e3sm/tests.py
  components/clm/bld/CLMBuildNamelist.pm
  components/clm/cime_config/testdefs/testmods_dirs/clm/lulcc_sville/shell_commands
  components/clm/cime_config/testdefs/testmods_dirs/clm/lulcc_sville/user_nl_clm
  components/clm/src/biogeochem/CarbonStateUpdate1Mod.F90
  components/clm/src/biogeochem/CropHarvestPoolsMod.F90
  components/clm/src/biogeochem/EcosystemBalanceCheckMod.F90
  components/clm/src/biogeochem/ErosionMod.F90
  components/clm/src/biogeochem/NitrogenStateUpdate1Mod.F90
  components/clm/src/biogeochem/PhosphorusStateUpdate1Mod.F90
  components/clm/src/biogeochem/WoodProductsMod.F90
  components/clm/src/biogeophys/SedFluxType.F90
  components/clm/src/biogeophys/SedYieldMod.F90
  components/clm/src/data_types/ColumnDataType.F90
  components/clm/src/data_types/GridcellDataType.F90
  components/clm/src/data_types/VegetationDataType.F90
  components/clm/src/dyn_subgrid/dynConsBiogeochemMod.F90
  components/clm/src/dyn_subgrid/dynPatchStateUpdaterMod.F90
  components/clm/src/dyn_subgrid/dynSubgridAdjustmentsMod.F90
  components/clm/src/dyn_subgrid/dynSubgridDriverMod.F90
  components/clm/src/dyn_subgrid/dyncropFileMod.F90
  components/clm/src/main/clm_driver.F90
Labels: BGC, CIME, Land

#3257 Fix inconsistency in c12 maintenance respiration calculation
  components/clm/src/data_types/VegetationDataType.F90
Labels: Land, bug fix PR, non-BFB

#3500 Fix the incorrect merge
  components/clm/src/data_types/VegetationDataType.F90
Labels: BFB, Land, bug fix PR

#3502 Update maint-1.2 version of machine files for anvil
  cime/config/e3sm/machines/config_batch.xml
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
  cime/config/e3sm/machines/syslog.anvil
Labels: Anvil, CIME, Machine Files, maint-1.2

#3455 Refactor RRTMGP cloud optics to remove dependence on state/pbuf
  components/cam/cime_config/testdefs/testmods_dirs/cam/oldoptics/user_nl_cam
  components/cam/cime_config/testdefs/testmods_dirs/cam/rrtmgp_oldcldoptics/shell_commands
  components/cam/cime_config/testdefs/testmods_dirs/cam/rrtmgp_oldcldoptics/user_nl_cam
  components/cam/src/physics/rrtmgp/cam_optics.F90
  components/cam/src/physics/rrtmgp/cloud_rad_props.F90
  components/cam/src/physics/rrtmgp/ebert_curry.F90
  components/cam/src/physics/rrtmgp/radiation.F90
  components/cam/src/physics/rrtmgp/radiation_state.F90
  components/cam/src/physics/rrtmgp/radiation_utils.F90
  components/cam/src/physics/rrtmgp/slingo.F90
Labels: Atmosphere, BFB

#3510 Submodule operations must now be recursive
  cime/scripts/Tools/cime_bisect
  run_e3sm.template.csh
Labels: BFB, CIME, Scripts

#3508 Change member in cosp_optical_inputs type to be allocatable
  components/cam/src/physics/cam/cospsimulator_intr.F90
  components/cam/src/physics/cosp2/Cosp.cmake
  components/cam/src/physics/cosp2/local/cosp.F90
Labels: Atmosphere, bug fix PR

#3514 jenkins_generic_job: allow for machines to not do test archiving
  cime/config/e3sm/machines/config_machines.xml
  cime/scripts/lib/jenkins_generic_job.py
  cime/src/drivers/mct/cime_config/config_component_e3sm.xml
Labels: BFB, CIME, Compy, Machine Files, Scripts, enhancement

#3516 For NERSC machines, change directory names that reference "acme" to "e3sm"
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Cori, Machine Files

#3520 jenkins_generic_job: fix usecase when MAX_GB is unset
  cime/scripts/lib/jenkins_generic_job.py
Labels: BFB, CIME

#3517 Update machine files to match new directory names at NERSC
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Cori, Machine Files, maint-1.2

#3501 Added r0125_r0125_oRRS18to6v3 grid
  cime/config/e3sm/config_grids.xml
Labels: Land, minor

#3505 Bug fix for COSP2 MODIS simulator
  components/cam/src/physics/cam/cospsimulator_intr.F90
  components/cam/src/physics/cosp2/optics/cosp_optics.F90
Labels: Atmosphere, bug fix PR

#3486 Set spectral bounds based on RRTMGP inputdata
  components/cam/src/physics/rrtmgp/radconstants.F90
  components/cam/src/physics/rrtmgp/radiation.F90
Labels: Atmosphere, BFB

#3511 Some fixes in CMake build
  cime/config/e3sm/machines/config_compilers.xml
  components/CMakeLists.txt
  components/cmake/common_setup.cmake
Labels: BFB, CIME

#3524 Update cori baseline dir on maint branch
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, Machine Files, bug fix PR

#3512 Update Cades machine file for switch to Slurm
  cime/config/e3sm/machines/config_batch.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: CIME, Machine Files
