Repository E3SM-Project/E3SM, pull requests merged in 2020-12, with the labels that each got.

#3969 Bug fix to account for snow backscattering in COSPv1.4
  components/cam/src/physics/cosp/actsim/lidar_simulator.F90
Labels: Atmosphere, BFB, bug fix PR

#3974 Add omp master to a section of code in init that would otherwise have race condition
  components/homme/src/theta-l/share/model_init_mod.F90
Labels: Atmosphere, bug fix PR

#3979 Fixes a performance bug that is already on E3SM master.
  components/homme/src/share/bndry_mod_base.F90
Labels: HOMME, maint-1.0

#3968 Bug fix to account for snow backscattering in COSPv2
  components/eam/src/physics/cosp2/optics/cosp_optics.F90
Labels: Atmosphere, BFB, bug fix PR

#3926 Initialize radiation outputs to fillvalue
  components/eam/src/physics/crm/rrtmgp/radiation.F90
  components/eam/src/physics/rrtmg/radiation.F90
  components/eam/src/physics/rrtmgp/radiation.F90
Labels: Atmosphere, BFB, bug fix PR

#3983 Bug fix in sea ice coupling to freezing temperature
  components/mpas-seaice/driver/ice_comp_mct.F
Labels: Coupled Model, Sea Ice, non-BFB

#3943 Make SCM compatible with theta-l dycore (+ bug fixes)
  components/eam/bld/namelist_files/use_cases/scam_arm97.xml
  components/eam/bld/namelist_files/use_cases/scam_generic.xml
  components/eam/src/control/cam_comp.F90
  components/eam/src/control/forecast.F90
  components/eam/src/dynamics/se/inidat.F90
  components/eam/src/dynamics/se/se_single_column_mod.F90
  components/homme/src/share/prim_driver_base.F90
Labels: Atmosphere, bug fix PR, enhancement

#3984 Switch on high-frequency coupling in sea ice at 10 iterations
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
Labels: Coupled Model, Sea Ice, non-BFB

#3967 account name on bebop cluster has been renamed 'e3sm'
  cime_config/machines/config_machines.xml
Labels: BFB, Bebop, Machine Files

#4002 Update module loads on Theta
  cime_config/machines/config_machines.xml
Labels: BFB, Machine Files, Theta

#3985 Support for ne30np4pg2 in ELM
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_defaults_clm4_5.xml
Labels: BFB, Land

#3996 Add Chrysalis pelayouts for e3sm_prod WC case
  cime_config/allactive/config_pesall.xml
  components/homme/cmake/machineFiles/cetus.cmake
  components/homme/cmake/machineFiles/chrysalis-bfb.cmake
  components/homme/cmake/machineFiles/chrysalis.cmake
  components/homme/cmake/machineFiles/mira.cmake
Labels: BFB, Chrysalis, Machine Files

#3783 Updates hgrid for 0.125x0.125
  components/elm/bld/namelist_files/namelist_defaults_clm4_5.xml
  components/elm/bld/namelist_files/namelist_definition_clm4_5.xml
Labels: Land

#4005 Add intelmpi modules on Chrysalis
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
Labels: BFB, Chrysalis, Machine Files

#4000 Update ocean/seaice defaults for wc
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
Labels: Coupled Model, NML, Ocean, Sea Ice, non-BFB

#3963 Eliminate call-by-reference argument error in call to proc_heap_adjust
  components/eam/src/physics/cam/phys_grid.F90
Labels: Atmosphere, bug fix PR
