Repository E3SM-Project/E3SM, pull requests merged in 2020-07, with the labels that each got.

#3580 Add MMF-RCE compset
  cime/config/e3sm/tests.py
  components/cam/cime_config/config_component.xml
  components/cam/cime_config/config_compsets.xml
  components/cam/src/physics/crm/rrtmgp/radiation.F90
Labels: Atmosphere, MMF

#3672 CIME fix for setting maximum I/O requests automatically
  cime/src/drivers/mct/cime_config/config_component.xml
  cime/src/drivers/nuopc/cime_config/config_component.xml
  cime/src/share/util/shr_pio_mod.F90
Labels: BFB, CIME, Fixed in ESMCI, SCORPIO

#3671 Implement runtime calculation of pcols in EAM
  components/cam/bld/build-namelist
  components/cam/bld/config_files/definition.xml
  components/cam/bld/configure
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
  components/cam/bld/namelist_files/namelist_definition.xml
  components/cam/cime_config/config_component.xml
  components/cam/src/control/cam_comp.F90
  components/cam/src/control/cam_restart.F90
  components/cam/src/control/runtime_opts.F90
  components/cam/src/dynamics/eul/dyn_comp.F90
  components/cam/src/dynamics/eul/inital.F90
  components/cam/src/dynamics/eul/restart_dynamics.F90
  components/cam/src/dynamics/fv/dyn_comp.F90
  components/cam/src/dynamics/fv/inital.F90
  components/cam/src/dynamics/fv/restart_dynamics.F90
  components/cam/src/dynamics/se/dyn_comp.F90
  components/cam/src/dynamics/se/inital.F90
  components/cam/src/dynamics/se/restart_dynamics.F90
  components/cam/src/dynamics/sld/inital.F90
  components/cam/src/dynamics/sld/restart_dynamics.F90
  components/cam/src/physics/cam/phys_grid.F90
  components/cam/src/physics/cam/ppgrid.F90
Labels: Atmosphere, BFB, NML, enhancement

#3685 Remove unused testlist XML files and prefer mappy to melvin in some places
  cime/scripts/Tools/jenkins_generic_job
  cime/scripts/tests/scripts_regression_tests.py
  components/cam/cime_config/testdefs/testlist_cam.xml
  components/cice/cime_config/testdefs/testlist_cice.xml
  components/clm/cime_config/testdefs/ExpectedTestFails.xml
  components/clm/cime_config/testdefs/testlist_clm.xml
Labels: BFB, CIME

#3676 JLSE update modules and fix netcdf
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, CIME, Machine Files

#3606 Add low-res tri-grid configurations for testing
  cime_config/config_grids.xml
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
  components/mpas-seaice/cime_config/buildnml
Labels: BFB, CIME, Coupled Model, Scripts, Testing

#3690 Disable test archiving on mappy
  cime_config/machines/config_machines.xml
Labels: BFB, CIME, Machine Files

#3668 Reimplement CLMMOSARTTEST support in datm
  cime/src/components/data_comps_mct/datm/cime_config/config_component.xml
  cime/src/components/data_comps_mct/datm/cime_config/namelist_definition_datm.xml
Labels: CIME, bug fix PR

#3698 Replace 'sqs -f' call with 'scontrol show jobid' on NERSC systems
  cime/scripts/lib/CIME/provenance.py
  cime_config/machines/syslog.cori-haswell
  cime_config/machines/syslog.cori-knl
Labels: BFB, CIME, Cori, Machine Files, bug fix PR

#3704 Fix the sqs command on Cori in maint-1.0 which affects job provenance
  cime/config/e3sm/machines/syslog.cori-haswell
  cime/config/e3sm/machines/syslog.cori-knl
  cime/scripts/lib/CIME/provenance.py
Labels: Cori, Machine Files, maint-1.0

#3707 Merge PR #3569 to maint-1.0 for nudging bug fixes
  components/cam/bld/namelist_files/namelist_definition.xml
  components/cam/src/physics/cam/nudging.F90
  components/cam/src/physics/cam/physpkg.F90
Labels: Atmosphere, BFB, bug fix PR

#3693 standalone HOMME cmake updates for gcc10 and latest CIME
  components/homme/CMakeLists.txt
  components/homme/cmake/SetCompilerFlags.cmake
  components/homme/cmake/machineFiles/mappy.cmake
  components/homme/test/unit_tests/CMakeLists.txt
Labels: HOMME standalone

#3715 Remove SMS.f09_g16_a.MALI from integration
  cime_config/tests.py
Labels: Land Ice, Testing

#3714 Update URL to the clubb site in release notes
  components/cam/src/physics/clubb/advance_clubb_core_module.F90
Labels: Atmosphere, BFB

#3568 Additional physgrid support files
  cime_config/allactive/config_pesall.xml
  cime_config/config_grids.xml
  components/cam/bld/config_files/horiz_grid.xml
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
Labels: CIME

#3677 Update MMF tests
  cime_config/tests.py
  components/cam/cime_config/config_component.xml
  components/cam/cime_config/config_compsets.xml
Labels: CIME, MMF

#3592 Clean printstate in homme
  components/homme/src/theta-l/prim_state_mod.F90
Labels: HOMME

#3718 Change source of h2osno and frac_sno in SNICAR_AD_RT
  components/clm/src/biogeophys/SnowSnicarMod.F90
Labels: BFB, Land

#3724 Make coupling_period calculation dependent on NCPL_BASE_PERIOD
  components/mosart/bld/build-namelist
Labels: BFB, Coupled Model, River, Scripts

#3689 Improve load balancing when assigning chunks
  components/cam/src/physics/cam/phys_grid.F90
  components/cam/src/physics/cam/physpkg.F90
Labels: Atmosphere, BFB, enhancement

#3742 Initialize phys_proc_cost
  components/cam/src/physics/cam/phys_grid.F90
Labels: Atmosphere, bug fix PR

#3726 Adds a new land test
  cime_config/tests.py
  components/clm/cime_config/testdefs/testmods_dirs/clm/qian_1948/shell_commands
Labels: BFB, Land, Testing

#3705 cmake: add much-improved support for removing flags and deoptimizing files
  cime_config/machines/config_compilers.xml
  components/cmake/build_model.cmake
  components/cmake/cmake_util.cmake
  components/cmake/common_setup.cmake
Labels: BFB, CMake build system, Machine Files

#3733 Make dtime calculation dependent on value of NCPL_BASE_PERIOD
  components/cam/cime_config/buildnml
Labels: Atmosphere, BFB, Coupled Model, Scripts

#3675 Enable CRM friction
  components/cam/bld/namelist_files/namelist_defaults_cam.xml
  components/cam/bld/namelist_files/use_cases/2000_cam5_av1c-04p2-MMF-1mom.xml
  components/cam/bld/namelist_files/use_cases/2000_cam5_av1c-04p2-MMF-2mom.xml
  components/cam/src/physics/crm/sam/params.F90
Labels: MMF, non-BFB

#3725 Make dtime calculation dependent on value of NCPL_BASE_PERIOD
  components/clm/bld/CLMBuildNamelist.pm
  components/clm/cime_config/buildnml
Labels: BFB, Coupled Model, Land, Scripts

#3748 Modify PGI compiler flags to eliminate non-reproducibility on Compy
  cime_config/machines/Depends.compy.pgi
  cime_config/machines/Depends.compy.pgi.cmake
  cime_config/machines/config_compilers.xml
Labels: Compy, Machine Files

#3749 Adding compset for JRA55 v1.4 through 2018.
  components/mpas-ocean/cime_config/config_compsets.xml
Labels: BFB, Ocean, compset, enhancement

#3712 JLSE library updates
  cime_config/allactive/config_pesall.xml
  cime_config/machines/config_batch.xml
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
  components/cam/src/chemistry/modal_aero/aero_model.F90
  components/cam/src/chemistry/mozart/mo_drydep.F90
  components/cam/src/physics/cam/micro_mg2_0.F90
Labels: BFB, Machine Files
