Repository E3SM-Project/E3SM, pull requests merged in 2021-05, with the labels that each got.

#4217 MOSART-inundation restart fix and other minor bug fixes
  components/elm/src/biogeophys/WaterBudgetMod.F90
  components/elm/src/main/controlMod.F90
  components/mosart/src/inundation/MOSARTinund_Core_MOD.F90
  components/mosart/src/riverroute/MOSART_physics_mod.F90
  components/mosart/src/riverroute/RtmMod.F90
  components/mosart/src/riverroute/RtmRestFile.F90
  components/mosart/src/riverroute/RunoffMod.F90
  components/mosart/src/wrm/WRM_modules.F90
  components/mosart/src/wrm/WRM_subw_IO_mod.F90
  components/mosart/src/wrm/WRM_type_mod.F90
Labels: River, non-BFB

#4268 Remove coupled sea surface height filtering for all E3SM configurations
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/driver/ocn_comp_mct.F
Labels: NML, Ocean, non-BFB

#4274 Fix temporary Singularity repository error
  .circleci/setup.sh
Labels: Testing

#4267 Upgrading OpenMPI on Chrysalis
  cime_config/machines/config_machines.xml
Labels: BFB, CIME, Chrysalis, Machine Files, bug fix PR

#4213 add code to compute NH pressure at interfaces
  components/homme/src/theta-l/share/element_ops.F90
  components/homme/src/theta-l/share/eos.F90
Labels: HOMME

#4220 Adjust PE layouts for RRMv2 configuration on chrysalis (use 64x1)
  cime_config/allactive/config_pesall.xml
Labels: Chrysalis, Machine Files, RRM

#4257 Added proper initialization for vr_suffix in col_cf_init
  components/elm/src/data_types/ColumnDataType.F90
Labels: BFB, Land, bug fix PR

#4266 Fix to allow continued support for microp_scheme != MG2
  components/eam/bld/build-namelist
Labels: Atmosphere, BFB, NML, bug fix PR

#4281 Pack nodes to fewest network switches on Chrysalis
  cime_config/machines/config_batch.xml
Labels: BFB, Chrysalis, Machine Files, performance

#4197 Make mksurfdata.pl to point the correct reference namelist file and update the namelist_defaults.xml for surface data generation package
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/queryDefaultNamelist.pl
  components/elm/tools/clm4_5/mksurfdata_map/mksurfdata.pl
Labels: Land, bug fix PR

#4279 Updates FATES test to use one thread
  components/elm/cime_config/testdefs/testmods_dirs/elm/fates/shell_commands
Labels: BFB, Land

#4074 Add support for ne30pg2_oRRS18to6v3 fully-coupled configurations
  cime_config/config_grids.xml
Labels: BFB, Coupled Model, HighRes, Scripts

#4271 Change TFREEZE_SALTWATER_OPTION default to mushy
  driver-mct/cime_config/config_component_e3sm.xml
Labels: CIME, Coupler, NML, bug fix PR, non-BFB

#4259 Add -fimf_use_svml flag to Intel Theta builds
  cime_config/machines/config_compilers.xml
Labels: Machine Files, Ready to merge, Theta, non-BFB

#4296 Add CASE_HASH env setting to driver-mct config
  driver-mct/cime_config/config_component.xml
Labels: BFB, CIME

#4300 Move USE_CBOOL macro from testmods to IBM compiler EAM CPPDEFS
  cime_config/machines/config_compilers.xml
  cime_config/tests.py
  components/eam/cime_config/testdefs/testmods_dirs/eam/cbool/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/crmout/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/rrtmgp/shell_commands
  components/mpas-ocean/src/shared/mpas_ocn_vmix_cvmix.F
Labels: BFB, IBM, MMF, Machine Files, Ocean, Summit

#4295 Mass and heat conserving frazil coupling
  components/mpas-seaice/driver/ice_comp_mct.F
  components/mpas-seaice/src/Registry.xml
  components/mpas-seaice/src/column/ice_therm_itd.F90
Labels: Coupled Model, Coupler, Ocean, Sea Ice, non-BFB

#4304 Add 1e-15 to fEdge to avoid divide by zero at equator
  components/mpas-ocean/src/shared/mpas_ocn_gm.F
Labels: Ocean, bug fix PR, non-BFB

#4297 Update ocn/ice/rof scripts and drivers to fix branch runs
  components/mosart/cime_config/buildnml
  components/mpas-albany-landice/bld/build-namelist
  components/mpas-albany-landice/cime_config/buildnml
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-seaice/bld/build-namelist
  components/mpas-seaice/cime_config/buildnml
  components/mpas-seaice/driver/ice_comp_mct.F
Labels: BFB, Ocean, River, Scripts, Sea Ice, bug fix PR

#4302 Move MPAS standalone make from mpas-framework to mpas-CORE directories
  components/mpas-albany-landice/Makefile
  components/mpas-albany-landice/src/build_options.mk
  components/mpas-framework/Makefile
  components/mpas-framework/src/Makefile
  components/mpas-framework/src/driver/Makefile
  components/mpas-ocean/Makefile
  components/mpas-ocean/src/Makefile
  components/mpas-ocean/src/analysis_members/mpas_ocn_TEMPLATE.F
  components/mpas-ocean/src/build_options.mk
  components/mpas-ocean/src/mode_init/mpas_ocn_init_TEMPLATE.F
  components/mpas-ocean/src/shared/mpas_ocn_tidal_forcing.F
  components/mpas-seaice/Makefile
  components/mpas-seaice/src/build_options.mk
Labels: BFB, Land Ice, Ocean, Sea Ice, mpas

#3962 Add NL tests
  cime_config/testmods_dirs/allactive/preqxdycore/shell_commands
  cime_config/testmods_dirs/allactive/thetadycore/shell_commands
  cime_config/tests.py
  components/eam/cime_config/testdefs/testmods_dirs/eam/preqxdycore/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/thetadycore/shell_commands
Labels: Testing

#4284 Support for SCM functionality for multiple columns
  components/data_comps/docn/src/docn_comp_mod.F90
  components/data_comps/docn/src/ocn_comp_mct.F90
  driver-mct/cime_config/config_component.xml
  driver-mct/cime_config/namelist_definition_drv.xml
  driver-mct/main/cime_comp_mod.F90
  driver-mct/shr/seq_infodata_mod.F90
  share/streams/shr_dmodel_mod.F90
  share/streams/shr_strdata_mod.F90
  share/util/shr_scam_mod.F90
Labels: Atmosphere, BFB, CIME

#4307 Ocean Initialization Reorganization
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/mode_analysis/mpas_ocn_analysis_mode.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_forward_mode.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
  components/mpas-ocean/src/shared/mpas_ocn_init_routines.F
  components/mpas-ocean/src/shared/mpas_ocn_mesh.F
  components/mpas-ocean/src/shared/mpas_ocn_vmix_cvmix.F
Labels: BFB, Ocean

#4313 After switching to hyper-threading on chrysalis, adjust srun flags
  cime_config/machines/config_machines.xml
Labels: BFB, Chrysalis, Machine Files, Ready to merge, enhancement, performance

#4312 Update OpenMPI modules for Chrysalis on maint-1.0
  cime/config/e3sm/machines/config_machines.xml
Labels: Chrysalis, Machine Files, maint-1.0, non-BFB

#4314 Fix diagnostic outputs for ozone columns
  components/eam/src/chemistry/mozart/chemistry.F90
  components/eam/src/chemistry/mozart/mo_chm_diags.F90
  components/eam/src/chemistry/mozart/mo_gas_phase_chemdr.F90
Labels: Atmosphere, BFB, bug fix PR

#4303 Ocean GPU Loop index bugfix
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_hadv_coriolis.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_hmix_del4.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_pressure_grad.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_vadv.F
Labels: BFB, Ocean, performance

#4309 Make OpenMPI default MPI library on Chrysalis
  cime_config/machines/config_machines.xml
Labels: Chrysalis, Machine Files, non-BFB

#4294 Change crm_rad type to allocatable
  components/eam/src/physics/crm/crm_physics.F90
  components/eam/src/physics/crm/crm_rad_module.F90
Labels: Atmosphere, MMF
