Repository E3SM-Project/E3SM, pull requests merged in 2021-12, with the labels that each got.

#4622 Work around a Cuda issue.
  components/homme/src/share/compose/cedr_bfb_tree_allreduce.cpp
  components/homme/src/share/compose/compose_cedr.cpp
  components/homme/src/share/compose/compose_cedr_qlt.cpp
  components/homme/src/share/compose/compose_cedr_qlt.hpp
  components/homme/src/share/compose/compose_homme.hpp
  components/homme/src/share/compose/compose_slmm.cpp
  components/homme/src/share/compose/compose_slmm_departure_point.cpp
  components/homme/src/share/compose/compose_slmm_departure_point.hpp
  components/homme/src/share/compose/compose_slmm_islmpi.cpp
  components/homme/src/share/compose/compose_slmm_islmpi_adp.cpp
  components/homme/src/share/compose/compose_slmm_islmpi_pack.cpp
  components/homme/src/share/compose/compose_slmm_islmpi_q.cpp
  components/homme/src/share/compose/compose_test.hpp
  components/homme/src/share/compose_mod.F90
  components/homme/src/share/cxx/ComposeTransportImpl.hpp
  components/homme/src/share/cxx/ComposeTransportImplGeneral.cpp
  components/homme/src/share/cxx/ComposeTransportImplTrajectory.cpp
  components/homme/src/share/cxx/GllFvRemapImpl.cpp
  components/homme/test_execs/thetal_kokkos_ut/compose_ut.cpp
Labels: HOMME, SCREAM

#4641 Corrected coupling of ice biogeochemistry for MARBL
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-ocean/src/shared/mpas_ocn_time_average_coupled.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_ecosys.F
  components/mpas-ocean/src/tracer_groups/Registry_MacroMolecules.xml
  components/mpas-ocean/src/tracer_groups/Registry_ecosys.xml
  components/mpas-seaice/bld/build-namelist
  components/mpas-seaice/bld/build-namelist-section
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/bld/namelist_files/namelist_definition_mpassi.xml
  components/mpas-seaice/driver/ice_comp_mct.F
  components/mpas-seaice/src/Registry.xml
  components/mpas-seaice/src/column/ice_algae.F90
  components/mpas-seaice/src/column/ice_colpkg.F90
  components/mpas-seaice/src/column/ice_zbgc_shared.F90
  components/mpas-seaice/src/shared/mpas_seaice_column.F
  components/mpas-seaice/testing_and_setup/configurations/aerosol_shortwave_physics/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/prescribed_ice/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/snicar_shortwave/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/snow_tracer_physics/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/standard_bgc/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/standard_physics/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/standard_physics_single_cell/namelist.seaice
  components/mpas-seaice/testing_and_setup/testcases/advection/namelist.seaice.advection
  components/mpas-seaice/testing_and_setup/testcases/error_analysis/namelist.seaice.strain
  components/mpas-seaice/testing_and_setup/testcases/ridging_1D/namelist.seaice.ridging_1D
  components/mpas-seaice/testing_and_setup/testcases/ridging_island/namelist.seaice.ridging_island
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain/namelist.seaice.strain
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain_stress_divergence/namelist.seaice.strain_stress_divergence
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/stress_divergence/namelist.seaice.stress_divergence
  components/mpas-seaice/testing_and_setup/testcases/square/1D_velocity_hex/namelist.seaice.square
  components/mpas-seaice/testing_and_setup/testcases/square/1D_velocity_quad/namelist.seaice.square
  components/mpas-seaice/testing_and_setup/testcases/square/operators_strain/namelist.seaice.strain
  components/mpas-seaice/testing_and_setup/testcases/square/operators_strain_stress_divergence/namelist.seaice.strain_stress_divergence
  components/mpas-seaice/testing_and_setup/testcases/square/operators_stress_divergence/namelist.seaice.stress_divergence
  components/mpas-seaice/testing_and_setup/testcases/square/square_hex_sb/namelist.seaice.square
  components/mpas-seaice/testing_and_setup/testcases/square/square_quadhex/namelist.seaice.square
Labels: mpas-ocean, mpas-seaice, bug fix PR, NML, non-BFB, Coupled Model, BGC

#4636 Homme: Fix GLL <-> FV remap input/output for ftype=0
  cime_config/tests.py
  components/eam/cime_config/testdefs/testmods_dirs/eam/thetahy_sl_pg2/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/thetahy_sl_pg2_ftype0/user_nl_eam
  components/eam/src/dynamics/se/dp_coupling.F90
  components/homme/src/share/cxx/GllFvRemap.cpp
  components/homme/src/share/cxx/GllFvRemap.hpp
  components/homme/src/share/cxx/GllFvRemapImpl.cpp
  components/homme/src/share/cxx/GllFvRemapImpl.hpp
  components/homme/src/share/gllfvremap_mod.F90
  components/homme/src/share/gllfvremap_util_mod.F90
  components/homme/src/test_src/dcmip16_wrapper.F90
  components/homme/test_execs/thetal_kokkos_ut/gllfvremap_interface.F90
  components/homme/test_execs/thetal_kokkos_ut/gllfvremap_ut.cpp
Labels: Atmosphere, bug fix PR, HOMME, HOMME standalone

#4676 Add test for new ELM and MOSART features
  cime_config/tests.py
  components/elm/cime_config/testdefs/testmods_dirs/elm/V2_ELM_MOSART_features/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/V2_ELM_MOSART_features/user_nl_elm
  components/elm/cime_config/testdefs/testmods_dirs/elm/V2_ELM_MOSART_features/user_nl_mosart
Labels: Land, BFB, River

#4680 GPU port of ocean vmix routines
  components/mpas-ocean/src/shared/mpas_ocn_vmix.F
Labels: mpas-ocean, BFB, performance

#4681 Minor fixes to Hommexx, for building theta-l_kokkos in non-standalone mode
  components/homme/cmake/Kokkos.cmake
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
Labels: HOMME

#4661 Fixes the reading of lat from an unstructured input file in MOSART
  components/mosart/src/riverroute/RtmMod.F90
Labels: bug fix PR, non-BFB, River

#4678 Fixes a bug in O3 dry dep stomatal resistances
  components/elm/src/biogeochem/DryDepVelocity.F90
Labels: Land, bug fix PR, BFB

#4688 Correction to resolve restart bfb error.
  components/elm/src/biogeophys/PhotosynthesisMod.F90
Labels: Land, bug fix PR, BFB

#4691 Updated seaice spherical test cases for current MPAS mesh spec
  components/mpas-seaice/src/shared/mpas_seaice_velocity_solver_pwl.F
  components/mpas-seaice/testing_and_setup/testcases/advection/clean_grids.py
  components/mpas-seaice/testing_and_setup/testcases/advection/create_ics.py
  components/mpas-seaice/testing_and_setup/testcases/advection/get_testcase_data.py
  components/mpas-seaice/testing_and_setup/testcases/advection/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/spherical_operators_hist.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/spherical_operators_map.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/spherical_operators_scaling.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain/clean_grids.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain/create_ic.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain/get_testcase_data.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain/strain_hist.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain/strain_map.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain_stress_divergence/create_ic.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain_stress_divergence/get_testcase_data.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain_stress_divergence/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain_stress_divergence/strain_stress_divergence_hist.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain_stress_divergence/strain_stress_divergence_map.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/stress_divergence/create_ic.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/stress_divergence/examine_mesh.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/stress_divergence/get_testcase_data.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/stress_divergence/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/stress_divergence/streams.seaice.stress_divergence
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/stress_divergence/stress_divergence_hist.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/stress_divergence/stress_divergence_map.py
Labels: mpas-seaice, bug fix PR, BFB

#4699 Corrects coupling of ocean surface DON with sea ice DON.
  components/mpas-seaice/driver/ice_comp_mct.F
Labels: mpas-seaice, bug fix PR, Coupled Model, BGC

#4696 Update PE layouts on cori-knl for ne120pg2 F compsets
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, Cori

#4665 Adding mpi-serial lib support for ANL GCE nodes
  cime_config/machines/config_machines.xml
Labels: enhancement, Machine Files, BFB

#4706 Downgrade NetCDF lib from 4.8.1 to 4.8.0 for ANL GCE nodes
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#4702 Removed Cf from sea ice constants
  components/mpas-seaice/src/column/constants/cice/ice_constants_colpkg.F90
  components/mpas-seaice/src/column/ice_colpkg.F90
Labels: mpas-seaice, bug fix PR, BFB

#4710 Update module environment for Perlmutter
  cime_config/machines/config_machines.xml
Labels: Machine Files, Perlmutter

#4705 After recent PR, correct PE layout for "S" size of ne102pg2 F cases using CICE
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, Cori

#4668 Updates PNNL- Sooty's machine files to use PIO2 and other module changes
  cime_config/machines/config_machines.xml
  cime_config/machines/config_pio.xml
Labels: Machine Files

#4713 New algorithm for determining tropopause and additional diagnostic output
  components/eam/src/physics/cam/cam_diagnostics.F90
  components/eam/src/physics/cam/tropopause.F90
Labels: Atmosphere, BFB

#4712 update some srun settings for HOMME tests
  components/homme/cmake/machineFiles/anvil-bfb.cmake
  components/homme/cmake/machineFiles/anvil.cmake
  components/homme/cmake/machineFiles/chrysalis-bfb.cmake
  components/homme/cmake/machineFiles/chrysalis.cmake
  components/homme/cmake/machineFiles/compy.cmake
  components/homme/cmake/machineFiles/cori-haswell.cmake
  components/homme/cmake/machineFiles/cori-knl.cmake
  components/homme/test/reg_test/run_tests/testing-utils.sh
  components/homme/test/unit_tests/CMakeLists.txt
Labels: HOMME standalone

#4714 Use lmod modules for mappy
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#4716 Update LANL scratch3 to scratch4
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#4655 Use F2010-CICE for extra coverage tests for ena and twp rrm
  cime_config/tests.py
Labels: BFB

#4682 add ttype9 to hommexx
  components/homme/src/preqx_kokkos/cxx/HyperviscosityFunctorImpl.hpp
  components/homme/src/preqx_kokkos/cxx/cxx_f90_interface_preqx.cpp
  components/homme/src/preqx_kokkos/cxx/prim_advance_exp.cpp
  components/homme/src/preqx_kokkos/preqx_f2c_mod.F90
  components/homme/src/preqx_kokkos/prim_driver_mod.F90
  components/homme/src/share/cxx/ComposeTransportImplTrajectory.cpp
  components/homme/src/share/cxx/Elements.cpp
  components/homme/src/share/cxx/Elements.hpp
  components/homme/src/share/cxx/ElementsGeometry.cpp
  components/homme/src/share/cxx/ElementsGeometry.hpp
  components/homme/src/share/cxx/HommexxEnums.hpp
  components/homme/src/share/cxx/PhysicalConstants.hpp
  components/homme/src/share/cxx/SimulationParams.hpp
  components/homme/src/share/cxx/SphereOperators.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/cxx/prim_advance_exp.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/src/theta-l_kokkos/theta_f2c_mod.F90
  components/homme/test/reg_test/namelists/theta-fdc12-test21.nl
  components/homme/test/reg_test/namelists/theta-fdc12-test22.nl
  components/homme/test/reg_test/namelists/theta-fdc12-test3.nl
  components/homme/test/reg_test/namelists/thetahs1.nl
  components/homme/test/reg_test/namelists/thetahs3.nl
  components/homme/test/reg_test/run_tests/test-list.cmake
  components/homme/test/reg_test/run_tests/theta-fdc12-test21-kokkos.cmake
  components/homme/test/reg_test/run_tests/theta-fdc12-test21.cmake
  components/homme/test/reg_test/run_tests/theta-fdc12-test22-kokkos.cmake
  components/homme/test/reg_test/run_tests/theta-fdc12-test22.cmake
  components/homme/test/reg_test/run_tests/theta-fdc12-test3-kokkos.cmake
  components/homme/test/reg_test/run_tests/theta-fdc12-test3.cmake
  components/homme/test_execs/preqx_kokkos_ut/random_init_ut.cpp
  components/homme/test_execs/preqx_kokkos_ut/remap_preqx_ut.cpp
  components/homme/test_execs/share_kokkos_ut/sphere_op_ml.cpp
  components/homme/test_execs/share_kokkos_ut/sphere_op_sl.cpp
  components/homme/test_execs/thetal_kokkos_ut/caar_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/compose_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/dirk_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/forcing_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/gllfvremap_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/hv_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/remap_theta_ut.cpp
Labels: HOMME
