Repository E3SM-Project/E3SM, pull requests merged in 2021-11, with the labels that each got.

#4478 Fixes xactive lnd dry deposition simulation
  components/elm/src/biogeochem/DryDepVelocity.F90
  components/elm/src/main/lnd2atmMod.F90
Labels: Land, bug fix PR, non-BFB

#4646 Remove unused variables in MPAS-Ocean
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/analysis_members/mpas_ocn_global_stats.F
  components/mpas-ocean/src/analysis_members/mpas_ocn_lagrangian_particle_tracking_interpolations.F
  components/mpas-ocean/src/analysis_members/mpas_ocn_particle_list.F
  components/mpas-ocean/src/analysis_members/mpas_ocn_pointwise_stats.F
  components/mpas-ocean/src/shared/mpas_ocn_constants.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
  components/mpas-ocean/src/shared/mpas_ocn_effective_density_in_land_ice.F
  components/mpas-ocean/src/shared/mpas_ocn_equation_of_state.F
  components/mpas-ocean/src/shared/mpas_ocn_gm.F
  components/mpas-ocean/src/shared/mpas_ocn_init_routines.F
  components/mpas-ocean/src/shared/mpas_ocn_mesh.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_bulk_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_land_ice_fluxes.F
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
  components/mpas-ocean/src/shared/mpas_ocn_thick_ale.F
  components/mpas-ocean/src/shared/mpas_ocn_thick_hadv.F
  components/mpas-ocean/src/shared/mpas_ocn_thick_surface_flux.F
  components/mpas-ocean/src/shared/mpas_ocn_tidal_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_time_varying_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_CFC.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_DMS.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_MacroMolecules.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_TTD.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_advection_mono.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_advection_shared.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_ecosys.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_hmix_del2.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_hmix_del4.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_hmix_redi.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_short_wave_absorption_jerlov.F
  components/mpas-ocean/src/shared/mpas_ocn_transport_tests.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_pressure_grad.F
  components/mpas-ocean/src/shared/mpas_ocn_vmix.F
  components/mpas-ocean/src/shared/mpas_ocn_vmix_cvmix.F
Labels: mpas-ocean, BFB

#4618 Fix div-by-zero bugs
  components/elm/src/biogeophys/CanopyHydrologyMod.F90
  components/mosart/src/riverroute/RtmMod.F90
Labels: Land, BFB, River, PotentialBug

#4557 Adds lake water storage to prevent negative runoff
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/src/biogeophys/LakeHydrologyMod.F90
  components/elm/src/biogeophys/WaterStateType.F90
  components/elm/src/cpl/elm_cpl_indices.F90
  components/elm/src/cpl/lnd_import_export.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/main/controlMod.F90
  components/elm/src/main/elm_varctl.F90
  components/elm/src/main/lnd2atmMod.F90
  components/elm/src/main/lnd2atmType.F90
  driver-mct/main/seq_diag_mct.F90
  driver-mct/shr/seq_flds_mod.F90
Labels: Land, NML, CIME

#4574 Fix parameter dimension size error for plant hydraulics
  components/elm/src/biogeophys/PhotosynthesisMod.F90
Labels: Land, bug fix PR, BFB

#4653 Fixed seaice output stream bug
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/src/analysis_members/Registry_seaice_geographical_vectors.xml
  components/mpas-seaice/src/analysis_members/Registry_seaice_ridging_diagnostics.xml
  components/mpas-seaice/src/analysis_members/Registry_seaice_temperatures.xml
  components/mpas-seaice/testing_and_setup/configurations/aerosol_shortwave_physics/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/prescribed_ice/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/snicar_shortwave/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/snow_tracer_physics/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/standard_bgc/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/standard_physics/namelist.seaice
  components/mpas-seaice/testing_and_setup/configurations/standard_physics_single_cell/namelist.seaice
  components/mpas-seaice/testing_and_setup/testcases/advection/namelist.seaice.advection
  components/mpas-seaice/testing_and_setup/testcases/error_analysis/namelist.seaice.strain
  components/mpas-seaice/testing_and_setup/testcases/ridging_1D/namelist.seaice.ridging_1D
  components/mpas-seaice/testing_and_setup/testcases/ridging_island/namelist.seaice.ridging_island
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain/namelist.seaice.strain
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain_stress_divergence/namelist.seaice.strain_stress_divergence
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/stress_divergence/namelist.seaice.stress_divergence
  components/mpas-seaice/testing_and_setup/testcases/square/1D_velocity_hex/namelist.seaice.square
  components/mpas-seaice/testing_and_setup/testcases/square/1D_velocity_quad/namelist.seaice.square
  components/mpas-seaice/testing_and_setup/testcases/square/operators_strain/namelist.seaice.strain
  components/mpas-seaice/testing_and_setup/testcases/square/operators_strain_stress_divergence/namelist.seaice.strain_stress_divergence
  components/mpas-seaice/testing_and_setup/testcases/square/operators_stress_divergence/namelist.seaice.stress_divergence
  components/mpas-seaice/testing_and_setup/testcases/square/square_hex_sb/namelist.seaice.square
  components/mpas-seaice/testing_and_setup/testcases/square/square_quadhex/namelist.seaice.square
Labels: bug, mpas-seaice, BFB, NML

#4573 add nu_top to theta xx
  components/eam/cime_config/testdefs/testmods_dirs/eam/thetahy_ftype0/user_nl_eam
  components/eam/cime_config/testdefs/testmods_dirs/eam/thetahy_pg2/user_nl_eam
  components/eam/cime_config/testdefs/testmods_dirs/eam/thetahy_sl/user_nl_eam
  components/eam/cime_config/testdefs/testmods_dirs/eam/thetanh_ftype0/user_nl_eam
  components/eam/cime_config/testdefs/testmods_dirs/eam/thetanh_ftype1/user_nl_eam
  components/eam/cime_config/testdefs/testmods_dirs/eam/thetanh_ftype2/user_nl_eam
  components/eam/cime_config/testdefs/testmods_dirs/eam/thetanh_ftype4/user_nl_eam
  components/homme/cmake/machineFiles/weaver.cmake
  components/homme/src/share/cxx/SimulationParams.hpp
  components/homme/src/theta-l/share/model_init_mod.F90
  components/homme/src/theta-l/share/prim_advance_mod.F90
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.cpp
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/cxx/prim_advance_exp.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/src/theta-l_kokkos/theta_f2c_mod.F90
  components/homme/test/reg_test/run_tests/test-list.cmake
  components/homme/test/reg_test/run_tests/theta-f1-tt10-hvs3-hvst0-r3-qz1-nutopoff-kokkos.cmake
  components/homme/test/reg_test/run_tests/theta-f1-tt10-hvs3-hvst0-r3-qz1-nutopoff.cmake
  components/homme/test/reg_test/run_tests/theta-f1-tt10-hvs3-hvst5-r3-qz1-nutopon-kokkos.cmake
  components/homme/test/reg_test/run_tests/theta-f1-tt10-hvs3-hvst5-r3-qz1-nutopon.cmake
  components/homme/test_execs/thetal_kokkos_ut/hv_interface.F90
  components/homme/test_execs/thetal_kokkos_ut/hv_ut.cpp
Labels: HOMME

#4635 add O3 tendency calculations parallel to O3LNZ in Linoz v3
  components/eam/chem_proc/inputs/pp_chemUCI_linozv3_mam4_resus_mom_soag_tag.in
  components/eam/src/chemistry/mozart/lin_strat_chem.F90
  components/eam/src/chemistry/mozart/mo_gas_phase_chemdr.F90
Labels: Atmosphere

#4656 Updates carbon budget in ELM
  components/elm/src/biogeochem/CNPBudgetMod.F90
  components/elm/src/biogeochem/EcosystemBalanceCheckMod.F90
  components/elm/src/data_types/GridcellDataType.F90
Labels: Land, BGC

#4442 Soil nutrient concentration bugfix
  components/elm/src/biogeochem/AllocationMod.F90
  components/elm/src/biogeophys/PhotosynthesisMod.F90
  components/elm/src/data_types/CNStateType.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/data_types/VegetationPropertiesType.F90
  components/elm/src/main/elm_instMod.F90
  components/elm/src/main/pftvarcon.F90
Labels: Land, bug fix PR

#4662 Update high-res F-compset PE-layout on Theta
  cime_config/allactive/config_pesall.xml
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  cime_config/testmods_dirs/allactive/v1cmip6/shell_commands
  components/eam/cime_config/config_pes.xml
  components/eam/cime_config/testdefs/testmods_dirs/eam/cosplite/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/cosplite_nhtfrq5/shell_commands
  components/mpas-albany-landice/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
  driver-mct/cime_config/config_pes.xml
  driver-moab/cime_config/config_pes.xml
Labels: Machine Files, BFB, Theta, HighRes

#4613 Mosart dam bug fix
  components/mosart/src/wrm/WRM_modules.F90
Labels: bug fix PR, BFB, River

#4657 Time step size definition in si_init
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
Labels: mpas-ocean, BFB

#4658 Change NTASKS_ to NTASKS_PER_INST_ for mpaso and mali
  components/mpas-albany-landice/cime_config/buildnml
  components/mpas-ocean/cime_config/buildnml
Labels: mpas-ocean, mpas-albany-landice, Scripts, BFB

#4663 Initial port to Perlmutter at NERSC
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/gnu_perlmutter.cmake
  cime_config/machines/cmake_macros/gnugpu_perlmutter.cmake
  cime_config/machines/cmake_macros/nvidia.cmake
  cime_config/machines/cmake_macros/nvidia_perlmutter.cmake
  cime_config/machines/cmake_macros/nvidiagpu.cmake
  cime_config/machines/cmake_macros/nvidiagpu_perlmutter.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
  components/homme/cmake/machineFiles/perlmutter-gnu.cmake
  components/homme/cmake/machineFiles/perlmutter-nocuda-gnu.cmake
  components/homme/cmake/machineFiles/perlmutter-nocuda-nvidia.cmake
  components/homme/cmake/machineFiles/perlmutter-nvidia.cmake
  components/homme/utils/csm_share/shr_spfn_mod.F90
  share/util/shr_infnan_mod.F90.in
Labels: Machine Files, Perlmutter

#4607 bug-fix, moved condition during pftvarcon to be true with fates as well.
  components/elm/src/main/pftvarcon.F90
Labels: Land, bug fix PR

#4533 Hommexx: fixes to ForcingFunctor, and improved its unit tests
  components/homme/CMakeLists.txt
  components/homme/cmake/HommeMacros.cmake
  components/homme/src/share/compose/compose_hommexx.cpp
  components/homme/src/share/control_mod.F90
  components/homme/src/share/cxx/ComposeTransportImplGeneral.cpp
  components/homme/src/share/cxx/Tracers.cpp
  components/homme/src/share/cxx/Tracers.hpp
  components/homme/src/share/cxx/prim_driver.cpp
  components/homme/src/share/cxx/prim_step.cpp
  components/homme/src/share/cxx/utilities/SyncUtils.hpp
  components/homme/src/share/prim_driver_base.F90
  components/homme/src/test_mod.F90
  components/homme/src/test_src/held_suarez_mod.F90
  components/homme/src/theta-l_kokkos/cxx/CaarFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/ElementsForcing.cpp
  components/homme/src/theta-l_kokkos/cxx/ElementsForcing.hpp
  components/homme/src/theta-l_kokkos/cxx/ElementsState.cpp
  components/homme/src/theta-l_kokkos/cxx/ForcingFunctor.hpp
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.cpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/test/reg_test/namelists/thetahs1.nl
  components/homme/test/reg_test/namelists/thetahs2.nl
  components/homme/test/reg_test/namelists/thetahs3.nl
  components/homme/test/reg_test/run_tests/test-list.cmake
  components/homme/test/reg_test/run_tests/testing-utils.sh
  components/homme/test/reg_test/run_tests/theta-fhs1-kokkos.cmake
  components/homme/test/reg_test/run_tests/theta-fhs1.cmake
  components/homme/test/reg_test/run_tests/theta-fhs2-kokkos.cmake
  components/homme/test/reg_test/run_tests/theta-fhs2.cmake
  components/homme/test/reg_test/run_tests/theta-fhs3-kokkos.cmake
  components/homme/test/reg_test/run_tests/theta-fhs3.cmake
  components/homme/test_execs/thetal_kokkos_ut/compose_interface.F90
  components/homme/test_execs/thetal_kokkos_ut/compose_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/forcing_interface.F90
  components/homme/test_execs/thetal_kokkos_ut/forcing_ut.cpp
Labels: HOMME standalone

#4643 add -ffpe-summary=none to stand-alone MPAS Makefile for gnu
  components/mpas-framework/Makefile
Labels: BFB, mpas-framework

#4673 Change ERP_Ld3.ne4_oQU240.F2010 test to ERP_Ln18.ne4_oQU240.F2010
  cime_config/tests.py
Labels: bug fix PR, BFB, Testing

#4672 For gnu compiler version 9 and above, adjust compiler flag for one mpas source
  cime_config/machines/Depends.gnu.cmake
Labels: mpas-seaice, Machine Files, bug fix PR, GNU

#4651 Progress on make macro linting tool
  cime_config/machines/cmake_macros/cray_theta.cmake
  cime_config/machines/cmake_macros/gnu_ascent.cmake
  cime_config/machines/cmake_macros/gnu_badger.cmake
  cime_config/machines/cmake_macros/gnu_cades.cmake
  cime_config/machines/cmake_macros/gnu_cori-haswell.cmake
  cime_config/machines/cmake_macros/gnu_cori-knl.cmake
  cime_config/machines/cmake_macros/gnu_eddi.cmake
  cime_config/machines/cmake_macros/gnu_gcp.cmake
  cime_config/machines/cmake_macros/gnu_grizzly.cmake
  cime_config/machines/cmake_macros/gnu_jlse.cmake
  cime_config/machines/cmake_macros/gnu_modex.cmake
  cime_config/machines/cmake_macros/gnu_summit.cmake
  cime_config/machines/cmake_macros/gnugpu_ascent.cmake
  cime_config/machines/cmake_macros/gnugpu_summit.cmake
  cime_config/machines/cmake_macros/ibmgpu.cmake
  cime_config/machines/cmake_macros/ibmgpu_ascent.cmake
  cime_config/machines/cmake_macros/ibmgpu_summit.cmake
  cime_config/machines/cmake_macros/intel.cmake
  cime_config/machines/cmake_macros/intel_Linux.cmake
  cime_config/machines/cmake_macros/intel_anvil.cmake
  cime_config/machines/cmake_macros/intel_badger.cmake
  cime_config/machines/cmake_macros/intel_bebop.cmake
  cime_config/machines/cmake_macros/intel_cascade.cmake
  cime_config/machines/cmake_macros/intel_chrysalis.cmake
  cime_config/machines/cmake_macros/intel_compy.cmake
  cime_config/machines/cmake_macros/intel_constance.cmake
  cime_config/machines/cmake_macros/intel_cori-haswell.cmake
  cime_config/machines/cmake_macros/intel_cori-knl.cmake
  cime_config/machines/cmake_macros/intel_ghost.cmake
  cime_config/machines/cmake_macros/intel_grizzly.cmake
  cime_config/machines/cmake_macros/intel_itasca.cmake
  cime_config/machines/cmake_macros/intel_mappy.cmake
  cime_config/machines/cmake_macros/intel_melvin.cmake
  cime_config/machines/cmake_macros/intel_quartz.cmake
  cime_config/machines/cmake_macros/intel_sandiatoss3.cmake
  cime_config/machines/cmake_macros/intel_sooty.cmake
  cime_config/machines/cmake_macros/intel_stampede2.cmake
  cime_config/machines/cmake_macros/intel_syrah.cmake
  cime_config/machines/cmake_macros/intel_theta.cmake
  cime_config/machines/cmake_macros/nag.cmake
  cime_config/machines/cmake_macros/nag_constance.cmake
  cime_config/machines/cmake_macros/pgi.cmake
  cime_config/machines/cmake_macros/pgi_ascent.cmake
  cime_config/machines/cmake_macros/pgi_compy.cmake
  cime_config/machines/cmake_macros/pgi_constance.cmake
  cime_config/machines/cmake_macros/pgi_summit.cmake
  cime_config/machines/cmake_macros/pgigpu.cmake
  cime_config/machines/cmake_macros/pgigpu_ascent.cmake
  cime_config/machines/cmake_macros/pgigpu_blues.cmake
  cime_config/machines/cmake_macros/pgigpu_summit.cmake
  cime_config/machines/cmake_macros/pgigpu_swing.cmake
  cime_config/machines/config_compilers.xml
  cime_config/machines/scripts/README
  cime_config/machines/scripts/evaluator
Labels: Machine Files, Scripts

#4664 refactor ESMT calculation of PGF
  components/eam/src/physics/crm/samxx/scalar_momentum.cpp
  components/eam/src/physics/crm/samxx/scalar_momentum.h
Labels: Atmosphere, MMF
