Repository E3SM-Project/E3SM, pull requests merged in 2021-04, with the labels that each got.

#4183 Correct melt potential in ocean coupling file for MPAS-Ocean
  components/mpas-ocean/driver/ocn_comp_mct.F
Labels: Coupled Model, Coupler, Ocean, Sea Ice, non-BFB

#4164 Add ne4pg2_r2_QU480 bigrid and trigrid configurations
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_definition.xml
Labels: BFB, Scripts, Testing

#4170 Update the spunup initial conditions files for RRS18to6v3
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/cime_config/buildnml
Labels: Coupled Model, Ocean, Scripts, Sea Ice, bug fix PR, non-BFB

#4182 Fix units attribute of 4 cosp dimension variables
  components/eam/src/physics/cam/cospsimulator_intr.F90
Labels: Atmosphere

#4136 Remove old CAMRT package and support
  components/eam/bld/build-namelist
  components/eam/bld/config_files/definition.xml
  components/eam/bld/configure
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/bld/namelist_files/use_cases/waccm_refb1.xml
  components/eam/src/control/cam_restart.F90
  components/eam/src/control/filenames.F90
  components/eam/src/control/runtime_opts.F90
  components/eam/src/control/startup_initialconds.F90
  components/eam/src/physics/cam/cloud_diagnostics.F90
  components/eam/src/physics/cam/radae.F90
  components/eam/src/physics/cam/restart_physics.F90
  components/eam/src/physics/camrt/cloud_rad_props.F90
  components/eam/src/physics/camrt/rad_solar_var.F90
  components/eam/src/physics/camrt/radconstants.F90
  components/eam/src/physics/camrt/radiation.F90
  components/eam/src/physics/camrt/radlw.F90
  components/eam/src/physics/camrt/radsw.F90
  components/eam/src/physics/crm/cloud_diagnostics.F90
  components/eam/src/physics/crm/rrtmg/radiation.F90
  components/eam/src/physics/crm/rrtmgp/radiation.F90
  components/eam/src/physics/rrtmg/radconstants.F90
  components/eam/src/physics/rrtmg/radiation.F90
  components/eam/src/physics/rrtmgp/radconstants.F90
  components/eam/src/physics/rrtmgp/radiation.F90
  components/eam/src/physics/waccm/radheat.F90
Labels: Atmosphere, BFB

#4177 add support for ne30pg2, WCAtl12to45E2r4 configuration
  cime_config/allactive/config_pesall.xml
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
Labels: BFB, Coupled Model, Scripts

#3975 Fix energy leak from GW, fix number 2
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/src/physics/cam/check_energy.F90
  components/eam/src/physics/cam/clubb_intr.F90
  components/eam/src/physics/cam/gw_common.F90
  components/eam/src/physics/cam/gw_drag.F90
  components/eam/src/physics/cam/phys_control.F90
  components/eam/src/physics/cam/physics_types.F90
Labels: Atmosphere, non-BFB

#4173 Replace mpirun script on Summit with cime configure options
  cime_config/machines/config_batch.xml
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
Labels: BFB, Machine Files, Summit, enhancement

#4204 Adding support for the SOwISC12to60E2r4 ocn/ice grid.
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
Labels: BFB, Ocean, Scripts, Sea Ice

#4205 Adding 'CRYO1850' compset
  cime_config/allactive/config_compsets.xml
Labels: BFB, Coupled Model, Scripts, compset

#4201 Homme: Rework an init routine that was causing a segfault on Chrysalis.
  components/homme/src/share/bndry_mod_base.F90
  components/homme/src/share/edge_mod_base.F90
Labels: BFB, HOMME, bug fix PR

#4128 buildnamelist for branch run: use elm instead of clm2
  components/elm/cime_config/buildnml
Labels: Land

#4187 Add CircleCI test to maint-1.0
  .circleci/checkout.sh
  .circleci/config.yml
  .circleci/run.sh
  .circleci/setup.sh
Labels: Testing, maint-1.0

#4202 Adds a print message if a fatal error occurs inside CLUBB core codes
  components/eam/src/physics/cam/clubb_intr.F90
Labels: Atmosphere, BFB

#4196 Enable ieflx_opt=3 for water temperature heat flux from ocean
  components/eam/src/control/camsrfexch.F90
  components/eam/src/cpl/atm_import_export.F90
  components/eam/src/cpl/cam_cpl_indices.F90
  components/eam/src/physics/cam/check_energy.F90
Labels: Atmosphere, BFB, Coupled Model, Critical

#4211 Homme: Fix a missing return value.
  components/homme/src/share/compose/compose_cedr.cpp
Labels: HOMME standalone, bug fix PR

#4194 threading/zeroing fix in PhosphorusBiochemMin_balance
  components/elm/src/biogeochem/PhosphorusDynamicsMod.F90
Labels: Land, bug fix PR

#4203 Fixes a bug in rad diags calculations due to prescribed volcanic emissions
  components/eam/src/physics/cam/aer_rad_props.F90
Labels: Atmosphere, BFB, bug fix PR

#4153 remove elm's use_nitrif_denitrif
  cime_config/machines/config_machines.xml
  components/elm/bld/ELMBuildNamelist.pm
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/cime_config/config_component.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/NoVSNoNI/user_nl_elm
  components/elm/src/biogeochem/AllocationMod.F90
  components/elm/src/biogeochem/CH4Mod.F90
  components/elm/src/biogeochem/CNAllocationBetrMod.F90
  components/elm/src/biogeochem/CNNStateUpdate1BeTRMod.F90
  components/elm/src/biogeochem/CNNStateUpdate3BeTRMod.F90
  components/elm/src/biogeochem/CNNitrogenFluxType.F90
  components/elm/src/biogeochem/CNNitrogenStateType.F90
  components/elm/src/biogeochem/EcosystemBalanceCheckMod.F90
  components/elm/src/biogeochem/NitrogenDynamicsMod.F90
  components/elm/src/biogeochem/NitrogenStateUpdate1Mod.F90
  components/elm/src/biogeochem/NitrogenStateUpdate3Mod.F90
  components/elm/src/biogeochem/PhenologyMod.F90
  components/elm/src/biogeochem/PhosphorusFluxType.F90
  components/elm/src/biogeochem/PhosphorusStateType.F90
  components/elm/src/biogeochem/PhosphorusStateUpdate1Mod.F90
  components/elm/src/biogeochem/PhosphorusStateUpdate3Mod.F90
  components/elm/src/biogeochem/PrecisionControlMod.F90
  components/elm/src/biogeochem/SoilLittDecompMod.F90
  components/elm/src/data_types/CNStateType.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/dyn_subgrid/dynSubgridAdjustmentsMod.F90
  components/elm/src/external_models/emi/src/elm_stub/utils/clm_varctl.F90
  components/elm/src/main/controlMod.F90
  components/elm/src/main/elm_varctl.F90
  components/elm/src/main/elmfates_interfaceMod.F90
  components/elm/src/main/readParamsMod.F90
  components/elm/tools/clm4_5/OLMT/pointCLM.py
  components/elm/tools/clm4_5/OLMT/runcase.py
Labels: Land, non-BFB

#4222 Add new h2o temperature field to timeSeriesStatsMonthlyOutput
  components/mpas-ocean/cime_config/buildnml
Labels: BFB, Ocean, Scripts

#4210 Add script support for ECwISC30to60E2r1 ocn/ice grid
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
Labels: BFB, Ocean, Scripts, Sea Ice

#4069 Adding the diffusion wave routing method to MOSART
  components/mosart/src/inundation/MOSARTinund_Core_MOD.F90
  components/mosart/src/riverroute/MOSART_physics_mod.F90
  components/mosart/src/riverroute/RtmMod.F90
  components/mosart/src/riverroute/RunoffMod.F90
Labels: BFB, River

#4224 Reduce default output when run in prescribed/prognostic mode
  components/mpas-seaice/bld/build-namelist
  components/mpas-seaice/bld/build-namelist-section
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
Labels: BFB, Scripts, Sea Ice

#4228 Fixes a bug in rad diags calculations due to prescribed volcanic emissions (maint-1.0)
  components/cam/src/physics/cam/aer_rad_props.F90
Labels: Atmosphere, BFB, bug fix PR, maint-1.0

#4231 Remove check for threading when marine BGC is active
  components/mpas-ocean/cime_config/buildnml
Labels: BFB, Ocean, Scripts, bug fix PR

#4248 For Cori, add module load perl5-extras to allow for finding perl module XML::LibXML
  cime/config/e3sm/machines/config_machines.xml
Labels: BFB, Machine Files, maint-1.0

#4242 Change passing of heat associated with frazil between ocean and ice
  components/mpas-ocean/driver/mpaso_cpl_indices.F
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-seaice/driver/ice_comp_mct.F
  components/mpas-seaice/driver/mpassi_cpl_indices.F
  driver-mct/main/seq_diag_mct.F90
  driver-mct/shr/seq_flds_mod.F90
Labels: Coupler, Ocean, Sea Ice, non-BFB

#4252 For Cori, add perl5-extras module to allow cases to find the LibXML perl module
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, Machine Files

#4243 Add "module load perl5-extras" which sets PERL5LIB environment variable on Cori machines
  cime_config/machines/config_machines.xml
Labels: Cori, Machine Files

#4254 hot fix for MMF
  components/eam/src/physics/crm/camsrfexch.F90
Labels: Atmosphere, MMF, bug fix PR

#4169 Add SMT threading on Chrysalis
  cime_config/machines/config_machines.xml
Labels: BFB, Chrysalis, Machine Files, Ready to merge

#4256 Fix driver-mct coupler log files accounting
  driver-mct/main/seq_diag_mct.F90
Labels: BFB, Coupled Model, Coupler

#4260 Update defaults in MPAS-Ocean streams and namelist for v2
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
Labels: NML, Ocean, non-BFB

#4261 Change defaults for ieflx_opt and do_budgets
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/elm/bld/ELMBuildNamelist.pm
  components/elm/bld/namelist_files/namelist_defaults.xml
Labels: Atmosphere, enhancement

#4161 Fix SCORPIO link errors with Intel MPI on Cori
  cime_config/machines/config_compilers.xml
Labels: BFB, Cori, Machine Files, SCORPIO
