Repository E3SM-Project/E3SM, pull requests merged in 2021-07, with the labels that each got.

#4357 Add mixed layer eddy test cases to MPAS-Ocean init mode
  components/mpas-ocean/src/mode_init/Makefile
  components/mpas-ocean/src/mode_init/Registry.xml
  components/mpas-ocean/src/mode_init/Registry_mixed_layer_eddy.xml
  components/mpas-ocean/src/mode_init/mpas_ocn_init_mixed_layer_eddy.F
  components/mpas-ocean/src/mode_init/mpas_ocn_init_mode.F
Labels: BFB, Ocean

#4380 Update sandia HPC PROJECT, AKA WCID
  cime_config/machines/config_machines.xml
Labels: Machine Files

#4349 Add -axCORE-AVX2 and -O3 flags for Intel compiler on Chrysalis
  cime_config/machines/config_compilers.xml
Labels: BFB, Chrysalis, Machine Files, performance

#4378 Update Intel compiler and MPI modules on Anvil
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
  components/stub_comps/siac/cime_config/buildnml
Labels: Anvil, Machine Files, non-BFB

#4385 Update atm namelist default and compsets for v2 WCYCL
  cime_config/allactive/config_compsets.xml
  cime_config/testmods_dirs/allactive/wcprod/shell_commands
  cime_config/testmods_dirs/allactive/wcprod/user_nl_eam
  cime_config/testmods_dirs/allactive/wcprod/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprod/user_nl_mosart
  cime_config/testmods_dirs/allactive/wcprod/user_nl_mpaso
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/use_cases/1850_eam_CMIP6-1pctCO2.xml
  components/eam/cime_config/config_component.xml
  components/elm/bld/namelist_files/namelist_defaults.xml
  driver-mct/cime_config/config_component_e3sm.xml
Labels: Atmosphere, NML, non-BFB

#4362 Adding libstdc++ to libs
  components/mpas-framework/Makefile
Labels: BFB, mpas-framework

#4393 Update prod and integration tests with v2 wc
  cime_config/testmods_dirs/allactive/wcprodrrm/user_nl_eam
  cime_config/tests.py
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod/user_nl_eam
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod/user_nl_elm
Labels: Coupled Model, Testing

#4348 Changes sign of iceberg latent heat flux.
  components/mpas-seaice/src/shared/mpas_seaice_forcing.F
Labels: bug fix PR, mpas-ocean, mpas-seaice, non-BFB

#4369 Fixes MPAS-Ocean RK4 restart error
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
Labels: BFB, bug fix PR, mpas-ocean

#4404 Cori needs the MCT host setting
  cime_config/machines/config_compilers.xml
Labels: BFB, Cori, Machine Files

#4278 Adding support for variable soil thickness to CTC
  cime_config/tests.py
  components/elm/cime_config/testdefs/testmods_dirs/elm/vstrd/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/vstrd/user_nl_elm
  components/elm/src/biogeochem/NitrogenDynamicsMod.F90
  components/elm/src/biogeochem/PhosphorusDynamicsMod.F90
  components/elm/src/biogeochem/RootDynamicsMod.F90
  components/elm/src/biogeochem/VerticalProfileMod.F90
  components/elm/src/biogeophys/RootBiophysMod.F90
  components/elm/src/biogeophys/SoilHydrologyMod.F90
  components/elm/src/biogeophys/SoilStateType.F90
  components/elm/src/biogeophys/SoilWaterMovementMod.F90
  components/elm/src/main/controlMod.F90
Labels: BFB, Land

#4382 Fix several bugs in sea ice standalone test case
  components/mpas-seaice/testing_and_setup/testcases/square/operators_strain/create_ics.py
  components/mpas-seaice/testing_and_setup/testcases/square/operators_strain/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/square/operators_strain_stress_divergence/create_ics.py
  components/mpas-seaice/testing_and_setup/testcases/square/operators_strain_stress_divergence/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/square/operators_stress_divergence/create_ics.py
  components/mpas-seaice/testing_and_setup/testcases/square/operators_stress_divergence/run_model.py
Labels: BFB, mpas-seaice

#4401 Fix incorrectly named iceberg term in totalFreshWaterTemperatureFlux
  components/mpas-ocean/src/shared/mpas_ocn_surface_bulk_forcing.F
Labels: mpas-ocean, non-BFB

#4405 Update Sandiatoss3 gcc compiler
  cime_config/machines/config_machines.xml
Labels: BFB, Machine Files

#4388 Fix desp buildnml
  components/data_comps/desp/cime_config/buildnml
Labels: data-models

#4395 Fix standalone MPAS builds under OSX
  components/mpas-framework/Makefile
Labels: BFB, mpas-framework

#4361 Homme: Work around or fix an issue re: threading in standalone Homme.
  components/homme/src/share/compose/compose_cedr.cpp
Labels: HOMME standalone, bug fix PR

#4416 Fix Homme standalone build after Kokkos update.
  components/homme/CMakeLists.txt
  components/homme/cmake/SetCompilerFlags.cmake
Labels: HOMME standalone

#4387 Add min level indices to global stats
  components/mpas-ocean/src/analysis_members/mpas_ocn_global_stats.F
Labels: BFB, mpas-ocean

#4409 Only send ocean CO2 flux to cpl if atm is expecting it
  components/mpas-ocean/driver/ocn_comp_mct.F
Labels: BFB, BGC, Coupled Model, bug fix PR, mpas-ocean

#4408 For Cori, change the default layout for any case using only 1 node to use full node
  cime_config/allactive/config_pesall.xml
Labels: Cori, Machine Files

#4410 Fix OpenMP thread pinning with SMT on Summit
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: BFB, Machine Files, Summit

#4422 Update v2 default nml parameters for northamericarrm
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  driver-mct/cime_config/config_component_e3sm.xml
Labels: Atmosphere, BFB, NML, RRM

#4417 Ensure sync is called before freedecomp
  components/cice/src/drivers/cpl/ice_history_write.F90
Labels: BFB, SCORPIO, bug fix PR, maint-1.0

#4383 Remove old MMF "SP" compsets
  components/eam/cime_config/config_component.xml
  components/eam/cime_config/config_compsets.xml
  driver-mct/cime_config/config_component_e3sm.xml
Labels: Atmosphere, BFB, MMF

#4414 Improvements to sea ice standalone test cases
  components/mpas-seaice/testing_and_setup/testcases/.gitignore
  components/mpas-seaice/testing_and_setup/testcases/advection/advection_equatorial.py
  components/mpas-seaice/testing_and_setup/testcases/advection/advection_error_convergence.py
  components/mpas-seaice/testing_and_setup/testcases/advection/advection_map.py
  components/mpas-seaice/testing_and_setup/testcases/advection/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/error_analysis/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/ridging_island/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/spherical_operators_hist.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/spherical_operators_map.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/spherical_operators_scaling.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/strain_stress_divergence/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/stress_divergence/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/spherical_operators/stress_divergence/stress_divergence_map.py
  components/mpas-seaice/testing_and_setup/testcases/square/operators_strain/create_ics.py
  components/mpas-seaice/testing_and_setup/testcases/square/operators_strain/derivative_scaling.py
  components/mpas-seaice/testing_and_setup/testcases/square/operators_stress_divergence/create_ics.py
  components/mpas-seaice/testing_and_setup/testcases/square/operators_stress_divergence/stress_divergence_scaling.py
  components/mpas-seaice/testing_and_setup/testcases/square/square_quadhex/create_ics.py
  components/mpas-seaice/testing_and_setup/testcases/square/square_quadhex/principal_stresses.py
  components/mpas-seaice/testing_and_setup/testcases/square/square_quadhex/run_model.py
  components/mpas-seaice/testing_and_setup/testcases/square/square_quadhex/square_hex_maps.py
  components/mpas-seaice/testing_and_setup/testcases/square/square_quadhex/square_quad_maps.py
Labels: BFB, mpas-seaice

#4427 ELM updates for IBM compiler builds on Summit
  components/elm/src/biogeochem/CNPBudgetMod.F90
  components/elm/src/main/timeinfoMod.F90
Labels: BFB, IBM, Land, Summit, bug fix PR

#4342 Add SGS for ESMT scalars in SAM++
  components/eam/src/physics/crm/samxx/sgs.cpp
Labels: Atmosphere, BFB, MMF

#4403 Add OpenMPI modules on Anvil
  cime_config/machines/config_machines.xml
Labels: Anvil, BFB, Machine Files
