Repository E3SM-Project/E3SM, pull requests merged in 2021-06, with the labels that each got.

#4324 Fix frazil mass leak
  components/mpas-seaice/driver/ice_comp_mct.F
Labels: Coupled Model, Sea Ice, non-BFB

#4301 Update MMF derived types
  cime_config/machines/Depends.ibmgpu.cmake
  cime_config/machines/Depends.pgigpu.cmake
  components/cmake/build_model.cmake
  components/eam/src/physics/crm/crm_ecpp_output_module.F90
  components/eam/src/physics/crm/crm_input_module.F90
  components/eam/src/physics/crm/crm_output_module.F90
  components/eam/src/physics/crm/crm_physics.F90
  components/eam/src/physics/crm/crm_state_module.F90
  components/eam/src/physics/crm/ecppvars.F90
  components/eam/src/physics/crm/physpkg.F90
  components/eam/src/physics/crm/sam/crm_ecpp_output_module.F90
  components/eam/src/physics/crm/sam/crm_module.F90
  components/eam/src/physics/crm/samomp/crm_ecpp_output_module.F90
  components/eam/src/physics/crm/samomp/crm_module.F90
  components/eam/src/physics/crm/samomp/ecppvars.F90
  components/eam/src/physics/crm/samxx/crm_ecpp_output_module.F90
Labels: Atmosphere, MMF

#4327 Remove limit on shr_frz_freezetemp and replace it with an abort
  share/util/shr_frz_mod.F90.in
Labels: Coupler, Sea Ice

#4328 Fix a bug in computing bottom drag coefficient
  components/mpas-ocean/src/shared/mpas_ocn_vmix.F
Labels: BFB, Ocean, bug fix PR

#4329 Update MMF tests
  cime_config/tests.py
  components/eam/cime_config/testdefs/testmods_dirs/eam/mmf_crmout/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/mmf_crmout/user_nl_eam
  components/eam/cime_config/testdefs/testmods_dirs/eam/mmf_use_ESMT/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/mmf_use_VT/shell_commands
Labels: Atmosphere, MMF

#4229 Add options to affect surface stress and gustiness calculations.
  cime_config/tests.py
  components/cice/src/drivers/cice4/CICE_RunMod.F90
  components/cice/src/drivers/cpl/CICE_RunMod.F90
  components/cice/src/drivers/cpl/ice_cpl_indices.F90
  components/cice/src/drivers/cpl/ice_import_export.F90
  components/cice/src/source/ice_atmo.F90
  components/cice/src/source/ice_flux.F90
  components/cice/src/source/ice_ocean.F90
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/cime_config/buildnml
  components/eam/cime_config/testdefs/testmods_dirs/eam/gust_export/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/implicit_stress/shell_commands
  components/eam/src/control/camsrfexch.F90
  components/eam/src/cpl/atm_import_export.F90
  components/eam/src/cpl/cam_cpl_indices.F90
  components/eam/src/physics/cam/cam_diagnostics.F90
  components/eam/src/physics/cam/clubb_intr.F90
  components/eam/src/physics/cam/phys_control.F90
  components/eam/src/physics/clubb/advance_clubb_core_module.F90
  components/eam/src/physics/clubb/advance_windm_edsclrm_module.F90
  components/eam/src/physics/clubb/advance_xm_wpxp_module.F90
  components/eam/src/physics/clubb/clip_explicit.F90
  components/eam/src/physics/clubb/clubb_api_module.F90
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/cime_config/buildnml
  components/elm/src/biogeophys/BareGroundFluxesMod.F90
  components/elm/src/biogeophys/CanopyFluxesMod.F90
  components/elm/src/biogeophys/FrictionVelocityMod.F90
  components/elm/src/biogeophys/LakeFluxesMod.F90
  components/elm/src/biogeophys/UrbanFluxesMod.F90
  components/elm/src/cpl/elm_cpl_indices.F90
  components/elm/src/cpl/lnd_import_export.F90
  components/elm/src/data_types/TopounitDataType.F90
  components/elm/src/main/controlMod.F90
  driver-mct/cime_config/config_component_e3sm.xml
  driver-mct/cime_config/namelist_definition_drv.xml
  driver-mct/main/seq_flux_mct.F90
  driver-mct/shr/seq_flds_mod.F90
  share/util/shr_flux_mod.F90
Labels: Atmosphere, BFB, Coupled Model, Coupler, Land, Ocean, Sea Ice, enhancement

#4340 Hotfix: proxy update for sandia machines
  cime_config/machines/config_machines.xml
Labels: BFB, Machine Files

#4337 Fix extrasnowlayers test, using corrected compset and updated name
  cime_config/tests.py
Labels: Testing, new baselines needed

#4339 Update JLSE machine config
  cime_config/machines/Depends.oneapi-ifx.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
Labels: BFB, Machine Files

#4345 Fix restart and area bug in MPAS-SI Conservation Analysis Member (renamed)
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
  components/mpas-seaice/src/analysis_members/mpas_seaice_conservation_check.F
Labels: BFB, Coupled Model, NML, Sea Ice, bug fix PR

#4346 Port ocean diagnostics to GPU w/ OpenACC
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
  components/mpas-ocean/src/shared/Makefile
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
  components/mpas-ocean/src/shared/mpas_ocn_equation_of_state_jm.F
  components/mpas-ocean/src/shared/mpas_ocn_gm.F
  components/mpas-ocean/src/shared/mpas_ocn_mesh.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_land_ice_fluxes.F
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
Labels: BFB, Ocean, performance

#4333 Split tphysbc for MMF to allow OMP threading
  components/eam/src/physics/crm/crm_physics.F90
  components/eam/src/physics/crm/physpkg.F90
Labels: Atmosphere, BFB, MMF

#4355 Updates basin definitions for MOC calculation
  components/mpas-ocean/cime_config/buildnml
Labels: BFB, Ocean, mpas

#3986 Global carbon budget in ELM
  components/elm/src/.DS_Store
  components/elm/src/biogeochem/CNPBudgetMod.F90
  components/elm/src/biogeochem/EcosystemBalanceCheckMod.F90
  components/elm/src/biogeophys/WaterBudgetMod.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/data_types/GridcellDataType.F90
  components/elm/src/main/elm_driver.F90
  components/elm/src/main/restFileMod.F90
Labels: BFB, BGC, Land

#4334 Update pgigpu tests on Blues
  cime_config/machines/Depends.ibmgpu.cmake
  cime_config/machines/Depends.pgigpu.cmake
  cime_config/tests.py
Labels: BFB, Blues, IBM, Machine Files, PGI, Testing
