Repository E3SM-Project/E3SM, pull requests merged in 2021-01, with the labels that each got.

#3890 Update mksurfdata defaults for 0.5x0.5 res and fix a small bug
  components/elm/bld/namelist_files/namelist_defaults_clm4_5.xml
  components/elm/tools/clm4_5/mksurfdata_map/src/mksurfdat.F90
Labels: Land

#3853 ELM-Erosion bug fixing
  components/elm/src/biogeophys/SedYieldMod.F90
Labels: BFB, Land

#4016 Change default location for SAVE_TIMING_DIR on Chrysalis
  cime_config/machines/config_machines.xml
Labels: BFB, Chrysalis, Machine Files

#4019 Remove I_MPI_ADJUST_ALLREDUCE=1 on Chrysalis
  cime_config/machines/config_machines.xml
Labels: BFB, Chrysalis, Machine Files

#4014 Add Chrysalis machine config files to maint-1.0
  cime/config/e3sm/allactive/config_pesall.xml
  cime/config/e3sm/machines/config_batch.xml
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
  cime/config/e3sm/machines/syslog.chrysalis
  cime/scripts/lib/CIME/provenance.py
  cime/scripts/lib/CIME/utils.py
  cime/src/drivers/mct/cime_config/config_pes.xml
  cime/src/share/timing/GPTLget_memusage.c
Labels: BFB, Chrysalis, Do not merge, Machine Files, in progress

#3903 bug fix for nitrogen fixation calculation for ECA
  components/elm/src/biogeochem/NitrogenDynamicsMod.F90
  components/elm/src/biogeochem/PhenologyFluxLimitMod.F90
Labels: Land, bug fix PR

#3778 For Theta, update module versions after OS upgrade (on maint-1.0)
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, Theta, maint-1.0

#4020 Fixes the sim_year A_WCYCL1950S_CMIP6_HR compset
  components/clm/bld/namelist_files/namelist_defaults_clm4_5.xml
Labels: bug fix PR, maint-1.0

#3949 Fix hommexx+eam build
  components/eam/bld/configure
  components/homme/cmake/machineFiles/sandiatoss3-bfb.cmake
  components/homme/src/share/cxx/Config.hpp
  components/homme/src/share/cxx/Hommexx_Session.cpp
  components/homme/src/share/cxx/Hommexx_config.h.in
  components/homme/src/share/cxx/KernelVariables.hpp
  components/homme/src/share/cxx/kokkos_utils.hpp
Labels: Atmosphere, HOMME, new baselines needed

#3981 Several accumulated changes for Cori that are part of maint-1.0 and master
  cime/config/e3sm/machines/config_machines.xml
  cime/config/e3sm/machines/syslog.cori-haswell
  cime/config/e3sm/machines/syslog.cori-knl
  cime/scripts/lib/CIME/provenance.py
Labels: Cori, Machine Files, maint-1.2

#3980 Updates for Cori to use maint-1.1
  cime/config/e3sm/machines/config_machines.xml
  cime/config/e3sm/machines/syslog.cori-haswell
  cime/config/e3sm/machines/syslog.cori-knl
  cime/scripts/lib/CIME/provenance.py
Labels: Cori, Machine Files, maint-1.1

#4036 Fix enax and twpx with theta-l
  components/eam/bld/namelist_files/namelist_defaults_cam.xml
Labels: Atmosphere

#4027 Single Column Model (SCM) time level index bug fix
  components/homme/src/share/prim_driver_base.F90
Labels: Atmosphere, BFB, bug fix PR

#3978 Init an array (momaod) to zero
  components/eam/src/physics/cam/modal_aer_opt.F90
Labels: Atmosphere

#3991 Initialize mixing ratio when reading restarts
  components/eam/src/control/cam_history.F90
Labels: Atmosphere, BFB, bug fix PR

#3994 Add Circle CI test
  .circleci/checkout.sh
  .circleci/config.yml
  .circleci/run.sh
  .circleci/setup.sh
Labels: Testing

#3867 GNU compiler change after Tulip OS upgrade
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
Labels: BFB, Machine Files

#4008 Set default atmos parameters for v2 in existing compsets
  components/eam/bld/namelist_files/use_cases/1850_cam5_CMIP6.xml
  components/eam/bld/namelist_files/use_cases/2010S_cam5_CMIP6.xml
  components/eam/bld/namelist_files/use_cases/20TR_cam5_CMIP6.xml
Labels: Atmosphere, compset

#4032 EAM: Improve definitions and checks related to time stepping
  components/eam/bld/namelist_files/namelist_definition.xml
  components/homme/src/share/compose/compose_cedr.cpp
  components/homme/src/share/control_mod.F90
Labels: Atmosphere, BFB, Documentation, HOMME, kokkos

#4042 Fixes a NBFB issue when clubb_use_sgv and zmconv_tp_fac are used
  components/eam/src/physics/cam/zm_conv.F90
Labels: Atmosphere, bug fix PR, non-BFB

#4007 Add new compsets and atm use_case files for v2
  cime_config/allactive/config_compsets.xml
  components/eam/bld/build-namelist
  components/eam/bld/config_files/definition.xml
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/bld/namelist_files/use_cases/1850_cam5_av1c-01.xml
  components/eam/bld/namelist_files/use_cases/1850_cam5_av1c-02.xml
  components/eam/bld/namelist_files/use_cases/1850_cam5_av1c-03.xml
  components/eam/bld/namelist_files/use_cases/1850_cam5_av1c-04.xml
  components/eam/bld/namelist_files/use_cases/1850_cam5_av1c-04p.xml
  components/eam/bld/namelist_files/use_cases/1850_cam5_av1c-h01a.xml
  components/eam/bld/namelist_files/use_cases/1850_cam5_av1c-h01b.xml
  components/eam/bld/namelist_files/use_cases/1850_cam5_av1c-h01c.xml
  components/eam/bld/namelist_files/use_cases/1850_eam_CMIP6.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1c-00.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1c-01.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1c-02.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1c-03.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1c-04.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1c-04p.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1c-h01b.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1c-h01c.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1c.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1f-00.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1f-01.xml
  components/eam/bld/namelist_files/use_cases/2000_cam5_av1f.xml
  components/eam/bld/namelist_files/use_cases/2010_eam_CMIP6.xml
  components/eam/bld/namelist_files/use_cases/20TR_cam5_av1c-03.xml
  components/eam/bld/namelist_files/use_cases/20TR_cam5_av1c-04.xml
  components/eam/bld/namelist_files/use_cases/20TR_cam5_av1c-04p.xml
  components/eam/bld/namelist_files/use_cases/20TR_cam5_av1c-h01a.xml
  components/eam/bld/namelist_files/use_cases/20TR_cam5_av1c-h01b.xml
  components/eam/bld/namelist_files/use_cases/20TR_cam5_av1c-h01c.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6.xml
  components/eam/cime_config/config_component.xml
  components/eam/cime_config/config_compsets.xml
  components/elm/cime_config/config_component.xml
Labels: Atmosphere, compset

#4043 Add gnu modules for intel-mpi on Chrysalis
  cime_config/machines/config_machines.xml
Labels: BFB, Chrysalis, Machine Files

#4044 Update HOMME cmake files on Chrysalis
  components/homme/cmake/machineFiles/chrysalis-bfb.cmake
  components/homme/cmake/machineFiles/chrysalis.cmake
Labels: BFB, Chrysalis, HOMME, Machine Files

#4047 Fix uninitialized pblt600 and replace a remaining FC5AV1C-04P2 test
  cime_config/tests.py
  components/eam/src/physics/cam/zm_conv.F90
Labels: Atmosphere, BFB, Testing

#4050 Add procs-per-node option to intel-mpi mpirun on Chrysalis
  cime_config/machines/config_machines.xml
Labels: BFB, Chrysalis, Machine Files

#3877 Remove UNICON
  components/eam/bld/config_files/definition.xml
  components/eam/bld/configure
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/cime_config/config_component.xml
  components/eam/src/chemistry/modal_aero/aero_model.F90
  components/eam/src/control/runtime_opts.F90
  components/eam/src/dynamics/eul/inidat.F90
  components/eam/src/dynamics/fv/inidat.F90
  components/eam/src/dynamics/se/inidat.F90
  components/eam/src/dynamics/sld/inidat.F90
  components/eam/src/physics/cam/cldwat2m_macro.F90
  components/eam/src/physics/cam/convect_deep.F90
  components/eam/src/physics/cam/convect_shallow.F90
  components/eam/src/physics/cam/macrop_driver.F90
  components/eam/src/physics/cam/micro_mg1_0.F90
  components/eam/src/physics/cam/micro_mg_cam.F90
  components/eam/src/physics/cam/phys_control.F90
  components/eam/src/physics/cam/physpkg.F90
  components/eam/src/physics/cam/restart_physics.F90
  components/eam/src/physics/cam/unicon.F90
  components/eam/src/physics/cam/unicon_cam.F90
  components/eam/src/physics/cam/unicon_utils.F90
  components/eam/src/physics/cam/vertical_diffusion.F90
  components/eam/src/physics/cam/zm_conv.F90
  components/eam/src/physics/cam/zm_conv_intr.F90
  components/eam/src/physics/crm/physpkg.F90
  components/eam/src/physics/crm/vertical_diffusion.F90
Labels: Atmosphere, BFB

#4052 Update mappy to gcc-8.1.0 to match summit
  cime_config/machines/config_machines.xml
Labels: Machine Files, non-BFB

#4053 Run intel-mpi with slurm srun on Chrysalis
  cime_config/machines/config_machines.xml
  components/homme/cmake/machineFiles/chrysalis-bfb.cmake
  components/homme/cmake/machineFiles/chrysalis.cmake
Labels: BFB, Chrysalis, Machine Files

#4055 Update Chrysalis on maint-1.0
  cime/config/e3sm/machines/config_machines.xml
  components/homme/src/share/metagraph_mod.F90
Labels: BFB, Chrysalis, Machine Files, maint-1.0

#4060 Update mappy serial env
  cime_config/machines/config_machines.xml
Labels: BFB, Machine Files
