Repository E3SM-Project/E3SM, pull requests merged in 2022-04, with the labels that each got.

#4851 Update default anvil layouts for S and M sizes of ne30pg2_EC30to60E2r2
  cime_config/allactive/config_pesall.xml
Labels: Scripts, BFB, Anvil

#4854 MPAS standalone: Add gnu >=10 support on Cori
  components/mpas-framework/Makefile
Labels: BFB, mpas-framework

#4758 Add pan-arctic atmosphere RRM grid
  cime_config/config_grids.xml
  components/eam/bld/config_files/horiz_grid.xml
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
Labels: enhancement, Atmosphere, BFB

#4852 Update pelayouts for EAM tri-grid tests
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, BFB, Anvil, Testing

#4835 Add choice of computed or constant ocean GM gravity wave speed (AMOC PR 1/6)
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_gm.F
  components/mpas-ocean/src/shared/mpas_ocn_test.F
Labels: mpas-ocean, BFB, NML

#4872 Specify EAM in compset to avoid PE layout matching issue on cori
  cime_config/allactive/config_pesall.xml
Labels: bug fix PR, BFB, Ready to merge

#4740 Fix EAM Chem PP built with IBM compiler
  components/eam/bld/perl5lib/Build/ChemPreprocess.pm
  components/eam/chem_proc/src/cam_chempp/jcl.f
  components/eam/chem_proc/src/cam_chempp/mozpp.main.f
  components/eam/chem_proc/src/cam_chempp/mozpp.subs.f
  components/eam/chem_proc/src/cam_chempp/radj_code.f
  components/eam/chem_proc/src/cam_chempp/rmod_code.f
Labels: BFB, Summit, Chemistry Pre-Processor, IBM

#4781 Add the OLCF AF miller machine
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/gnu_miller.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
  components/elm/bld/namelist_files/namelist_defaults.xml
  driver-mct/cime_config/config_component.xml
  driver-moab/cime_config/config_component.xml
Labels: Machine Files

#4802 Adds print statement to add a print out of BFBFLAG
  driver-mct/main/cime_comp_mod.F90
  driver-mct/main/seq_hist_mod.F90
  driver-mct/main/seq_io_mod.F90
Labels: Coupler, BFB

#4831 using YAKL_SCOPE to replace auto for local variables
  components/eam/src/physics/crm/samxx/accelerate_crm.cpp
  components/eam/src/physics/crm/samxx/adams.cpp
  components/eam/src/physics/crm/samxx/advect2_mom_xy.cpp
  components/eam/src/physics/crm/samxx/advect2_mom_z.cpp
  components/eam/src/physics/crm/samxx/advect_all_scalars.cpp
  components/eam/src/physics/crm/samxx/advect_scalar.cpp
  components/eam/src/physics/crm/samxx/advect_scalar2D.cpp
  components/eam/src/physics/crm/samxx/advect_scalar3D.cpp
  components/eam/src/physics/crm/samxx/bound_duvdt.cpp
  components/eam/src/physics/crm/samxx/bound_exchange.cpp
  components/eam/src/physics/crm/samxx/buoyancy.cpp
  components/eam/src/physics/crm/samxx/cloud.cpp
  components/eam/src/physics/crm/samxx/coriolis.cpp
  components/eam/src/physics/crm/samxx/crm_variance_transport.cpp
  components/eam/src/physics/crm/samxx/crmsurface.cpp
  components/eam/src/physics/crm/samxx/damping.cpp
  components/eam/src/physics/crm/samxx/diagnose.cpp
  components/eam/src/physics/crm/samxx/diffuse_mom2D.cpp
  components/eam/src/physics/crm/samxx/diffuse_mom3D.cpp
  components/eam/src/physics/crm/samxx/diffuse_scalar.cpp
  components/eam/src/physics/crm/samxx/diffuse_scalar2D.cpp
  components/eam/src/physics/crm/samxx/diffuse_scalar3D.cpp
  components/eam/src/physics/crm/samxx/forcing.cpp
  components/eam/src/physics/crm/samxx/ice_fall.cpp
  components/eam/src/physics/crm/samxx/kurant.cpp
  components/eam/src/physics/crm/samxx/microphysics.cpp
  components/eam/src/physics/crm/samxx/periodic.cpp
  components/eam/src/physics/crm/samxx/post_icycle.cpp
  components/eam/src/physics/crm/samxx/post_timeloop.cpp
  components/eam/src/physics/crm/samxx/pre_timeloop.cpp
  components/eam/src/physics/crm/samxx/precip_init.cpp
  components/eam/src/physics/crm/samxx/precip_proc.cpp
  components/eam/src/physics/crm/samxx/press_grad.cpp
  components/eam/src/physics/crm/samxx/press_rhs.cpp
  components/eam/src/physics/crm/samxx/pressure.cpp
  components/eam/src/physics/crm/samxx/scalar_momentum.cpp
  components/eam/src/physics/crm/samxx/sgs.cpp
  components/eam/src/physics/crm/samxx/shear_prod2D.cpp
  components/eam/src/physics/crm/samxx/shear_prod3D.cpp
  components/eam/src/physics/crm/samxx/timeloop.cpp
  components/eam/src/physics/crm/samxx/tke_full.cpp
  components/eam/src/physics/crm/samxx/uvw.cpp
  components/eam/src/physics/crm/samxx/vars.cpp
  components/eam/src/physics/crm/samxx/zero.cpp
Labels: Atmosphere, BFB, MMF

#4844 Add and update SSP370 and SSP585
  cime_config/allactive/config_compsets.xml
  components/eam/bld/namelist_files/use_cases/SSP370_eam_CMIP6.xml
  components/eam/bld/namelist_files/use_cases/SSP585_eam_CMIP6.xml
  components/eam/cime_config/config_component.xml
  components/elm/bld/namelist_files/use_cases/2015-2100_SSP370_transient.xml
  components/elm/cime_config/config_component.xml
  driver-mct/cime_config/config_component_e3sm.xml
Labels: Atmosphere, compset, BFB

#4880 Add and update SSP370 and SSP585 to maint-2.0
  cime_config/allactive/config_compsets.xml
  components/eam/bld/namelist_files/use_cases/SSP370_eam_CMIP6.xml
  components/eam/bld/namelist_files/use_cases/SSP585_eam_CMIP6.xml
  components/eam/cime_config/config_component.xml
  components/elm/bld/namelist_files/use_cases/2015-2100_SSP370_transient.xml
  components/elm/cime_config/config_component.xml
  driver-mct/cime_config/config_component_e3sm.xml
Labels: Atmosphere, compset, BFB

#4881 Revert changes to elm namelist_defaults for ne30pg2 and simyr1850
  components/elm/bld/namelist_files/namelist_defaults.xml
Labels: Land, BFB

#4862 Fix the lnd to atm direct fluxes for trigrid configurations
  driver-mct/main/prep_atm_mod.F90
  driver-mct/main/seq_diag_mct.F90
  driver-mct/shr/seq_flds_mod.F90
Labels: bug fix PR, Coupler, non-BFB, Ready to merge

#4866 fixes OpenACC bugs introduced by recent layerThickEdge changes
  components/mpas-ocean/src/mode_analysis/mpas_ocn_analysis_mode.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_init_routines.F
  components/mpas-ocean/src/shared/mpas_ocn_thick_hadv.F
Labels: mpas-ocean, bug fix PR, BFB, Ready to merge

#4879 Update OpenMP-offload tests
  cime_config/machines/config_machines.xml
  cime_config/tests.py
Labels: Machine Files, BFB, Testing

#4886 Add default BGC pelayout on Anvil
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, BFB, Anvil, Testing, BGC

#4868 limit Visbeck eddy length to dcEdge (AMOC PR 4/6)
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
  components/mpas-ocean/src/shared/mpas_ocn_gm.F
Labels: mpas-ocean, BFB, Ready to merge

#4863 Update PGI runs and pelayouts
  cime_config/allactive/config_pesall.xml
  cime_config/machines/Depends.pgi.cmake
  cime_config/machines/Depends.pgigpu.cmake
  cime_config/machines/cmake_macros/pgi.cmake
  cime_config/machines/cmake_macros/pgi_ascent.cmake
  cime_config/machines/cmake_macros/pgi_compy.cmake
  cime_config/machines/cmake_macros/pgi_summit.cmake
  cime_config/machines/cmake_macros/pgigpu.cmake
  cime_config/machines/cmake_macros/pgigpu_ascent.cmake
  cime_config/machines/cmake_macros/pgigpu_blues.cmake
  cime_config/machines/cmake_macros/pgigpu_summit.cmake
  cime_config/machines/cmake_macros/pgigpu_swing.cmake
  cime_config/machines/config_machines.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/solar_rad/shell_commands
Labels: Machine Files, BFB, PGI

#4884 add a conditional to call ELMFatesTimesteps()
  components/elm/src/main/elm_initializeMod.F90
Labels: Land, bug fix PR

#4846 Fix MMF 2-mom compset
  components/eam/src/physics/crm/crmclouds_camaerosols.F90
  components/eam/src/physics/crm/sam/crm_module.F90
Labels: Atmosphere, BFB, MMF

#4893 Use MPASSI and update SSTICE data for F20TR_chemUCI-Linozv2/3
  components/data_comps/docn/cime_config/config_component.xml
  components/eam/cime_config/config_compsets.xml
Labels: compset, BFB, Atmospheric chemistry

#4890 Update Chrysalis to OpenMPI-4.1.3
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Chrysalis

#4861 Avoiding SC assumption when indexing the MeanMonthFlow array
  components/mosart/src/wrm/WRM_modules.F90
Labels: bug fix PR, BFB, River, Ready to merge

#4896 Update Chrysalis to OpenMPI-4.1.3 on maint-2.0
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Chrysalis, maint-2.0

#4873 Update modules for ANL GCE nodes
  cime_config/machines/cmake_macros/gnu_anlgce-ub18.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#4889 HOMME: prevent full rebuild due to sha change in standalone mode
  components/homme/CMakeLists.txt
  components/homme/cmake/homme_git_sha.h.in
  components/homme/src/preqx/config.h.cmake.in
  components/homme/src/share/cxx/Hommexx_config.h.in
  components/homme/src/share/namelist_mod.F90
  components/homme/src/theta-l/config.h.cmake.in
  components/homme/src/tool/config.h.cmake.in
Labels: enhancement, HOMME standalone

#4909 Reduce parallel build jobs on Chrysalis down to 4
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Chrysalis

#4915 Enable performance archiving for all projects on Summit
  cime_config/machines/config_machines.xml
Labels: Machine Files, Summit

#4917 Summit performance archive: set location to cli115 for all
  cime_config/machines/config_machines.xml
Labels: Machine Files, Summit

#4885 Initial implementation of BGC carbon budget in the coupler
  driver-mct/cime_config/namelist_definition_drv.xml
  driver-mct/main/cime_comp_mod.F90
  driver-mct/main/seq_diagBGC_mct.F90
  driver-mct/main/seq_diag_mct.F90
  driver-mct/main/seq_rest_mod.F90
  driver-mct/shr/seq_infodata_mod.F90
  share/util/shr_const_mod.F90
Labels: Coupler, BFB, NML, BGC, Ready to merge
