Repository E3SM-Project/E3SM, pull requests merged in 2022-11, with the labels that each got.

#5251 Fix precision for writing field attributes
  components/mpas-framework/src/framework/mpas_io_streams.F
Labels: bug fix PR, BFB, mpas-framework

#5264 Minor change for scream
  components/homme/src/theta-l/share/element_ops.F90
Labels: SCREAM

#5262 Refactor E3SM build system handling of KOKKOS_OPTIONS
  cime_config/config_files.xml
  cime_config/machines/cmake_macros/cray_theta.cmake
  cime_config/machines/cmake_macros/gnu_snl-white.cmake
  cime_config/machines/cmake_macros/ibm_ascent.cmake
  cime_config/machines/cmake_macros/ibm_summit.cmake
  cime_config/machines/cmake_macros/ibmgpu.cmake
  cime_config/machines/cmake_macros/nvidia_alvarez.cmake
  cime_config/machines/cmake_macros/nvidia_chicoma-cpu.cmake
  cime_config/machines/cmake_macros/nvidia_pm-cpu.cmake
  cime_config/machines/cmake_macros/nvidia_pm-gpu.cmake
  cime_config/machines/cmake_macros/pgi_ascent.cmake
  cime_config/machines/cmake_macros/pgi_summit.cmake
  cime_config/machines/cmake_macros/pgigpu_ascent.cmake
  cime_config/machines/cmake_macros/pgigpu_summit.cmake
  cime_config/machines/cmake_macros/universal.cmake
  share/build/buildlib.kokkos
Labels: BFB, kokkos

#5263 Fix EAM config options for CMIP6 family
  cime_config/tests.py
  components/eam/cime_config/config_component.xml
Labels: bug fix PR, BFB

#5267 Added wcprod tests in maint-2.0 for WCYCL1850-1pctCO2 and -4xCO2
  cime_config/tests.py
Labels: BFB

#5248 Add new land IC files for arcticx4v1 RRM mesh
  components/elm/bld/namelist_files/namelist_defaults.xml
Labels: Land, BFB, RRM, inputdata

#5270 Update mpas-seaice graph partition files used with oARRM60to10 mesh
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-seaice, BFB

#5246 Bugfixes for ocean inactive top cells feature
  components/mpas-ocean/src/mode_init/mpas_ocn_init_vertical_grids.F
  components/mpas-ocean/src/shared/Makefile
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_bulk_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_hmix_redi.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_surface_restoring.F
Labels: mpas-ocean, bug fix PR, BFB

#5271 Add PE layouts for cryo configurations on chrysalis
  cime_config/allactive/config_pesall.xml
  components/mpas-ocean/cime_config/config_pes.xml
Labels: Machine Files, BFB, Chrysalis

#5283 Aarondonahue/20221108 llnl machine files
  cime_config/machines/cmake_macros/intel_quartz.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#5265 For perlmutter machines, update module versions
  cime_config/machines/config_machines.xml
Labels: Machine Files, pm-gpu, pm-cpu, nvidia compiler

#5291 For pm-cpu and pm-gpu, add environment variable MPICH_COLL_SYNC=MPI_Bcast
  cime_config/machines/config_machines.xml
Labels: Machine Files, pm-gpu, pm-cpu

#5266 Add Narwhal, Warhawk, Onyx machines
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/intel_narwhal.cmake
  cime_config/machines/cmake_macros/intel_onyx.cmake
  cime_config/machines/cmake_macros/intel_warhawk.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  cime_config/machines/config_pio.xml
  components/mpas-ocean/cime_config/config_pes.xml
Labels: Machine Files, BFB

#5211 Fixed column abort bug
  components/mpas-seaice/src/shared/mpas_seaice_column.F
Labels: mpas-seaice, bug fix PR, BFB

#5301 add explicit bounds to fix FP invalid
  components/eam/src/physics/cam/aer_rad_props.F90
Labels: Atmosphere, BFB, Radiation

#5272 Remove Switch from mpas component build-namelist
  components/mpas-ocean/bld/build-namelist
  components/mpas-seaice/bld/build-namelist
Labels: mpas-ocean, mpas-seaice, Scripts

#5307 Update cryo grids used in testing
  cime_config/tests.py
Labels: mpas-ocean, Scripts, BFB, Testing, new baselines needed

#5279 [Standalone MPAS-Ocean] Add tracers to dam break initialization
  components/mpas-ocean/src/mode_init/mpas_ocn_init_dam_break.F
Labels: mpas-ocean, BFB

#5308 Add perlmutter machines to list that perform syslog commands for saving provenance
  cime_config/customize/provenance.py
  cime_config/machines/syslog.alvarez
  cime_config/machines/syslog.pm-cpu
  cime_config/machines/syslog.pm-gpu
Labels: Machine Files, provenance, pm-gpu, pm-cpu

#5313 Add ability to use pm-cpu/pm-gpu with maint-2.0
  cime_config/allactive/config_pesall.xml
  cime_config/machines/Depends.gnu.cmake
  cime_config/machines/Depends.pm-cpu.nvidia.cmake
  cime_config/machines/Depends.pm-gpu.nvidia.cmake
  cime_config/machines/Depends.pm-gpu.nvidiagpu.cmake
  cime_config/machines/cmake_macros/amdclang_alvarez.cmake
  cime_config/machines/cmake_macros/amdclang_pm-cpu.cmake
  cime_config/machines/cmake_macros/gnu_alvarez.cmake
  cime_config/machines/cmake_macros/gnu_pm-cpu.cmake
  cime_config/machines/cmake_macros/gnu_pm-gpu.cmake
  cime_config/machines/cmake_macros/gnugpu_pm-gpu.cmake
  cime_config/machines/cmake_macros/nvidia_alvarez.cmake
  cime_config/machines/cmake_macros/nvidia_pm-cpu.cmake
  cime_config/machines/cmake_macros/nvidia_pm-gpu.cmake
  cime_config/machines/cmake_macros/nvidiagpu_pm-gpu.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  cime_config/machines/syslog.alvarez
  cime_config/machines/syslog.pm-cpu
  cime_config/machines/syslog.pm-gpu
  components/eam/cime_config/config_pes.xml
  components/elm/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
  components/mpas-seaice/cime_config/config_pes.xml
Labels: Machine Files, pm-gpu, maint-2.0, pm-cpu

#5304 Add support for JRA55 v1.5 forcing
  components/data_comps/datm/cime_config/config_component.xml
  components/data_comps/datm/cime_config/namelist_definition_datm.xml
  components/data_comps/datm/src/datm_comp_mod.F90
  components/data_comps/datm/src/datm_shr_mod.F90
  components/data_comps/drof/cime_config/config_component.xml
  components/data_comps/drof/cime_config/namelist_definition_drof.xml
  components/mpas-ocean/cime_config/config_compsets.xml
Labels: compset, BFB, data-models

#5315 Change tref_lapse_rate to double precision
  components/homme/src/theta-l/share/element_ops.F90
Labels: non-BFB

#5117 Support for single process single cell standalone test cases
  components/mpas-seaice/bld/build-namelist
  components/mpas-seaice/bld/build-namelist-section
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/bld/namelist_files/namelist_definition_mpassi.xml
  components/mpas-seaice/src/Registry.xml
  components/mpas-seaice/src/analysis_members/Registry_seaice_conservation_check.xml
  components/mpas-seaice/src/analysis_members/mpas_seaice_conservation_check.F
  components/mpas-seaice/src/column/ice_atmo.F90
  components/mpas-seaice/src/column/ice_colpkg.F90
  components/mpas-seaice/src/column/ice_mushy_physics.F90
  components/mpas-seaice/src/column/ice_therm_vertical.F90
  components/mpas-seaice/src/shared/mpas_seaice_column.F
  components/mpas-seaice/src/shared/mpas_seaice_constants.F
  components/mpas-seaice/src/shared/mpas_seaice_forcing.F
  components/mpas-seaice/src/shared/mpas_seaice_initialize.F
Labels: mpas-seaice, bug fix PR, BFB, NML

#5306 Change default ocn settings for Cryo v2 configurations
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
Labels: mpas-ocean, BFB

#5318 Hommexx: Add missing team_barriers to omega computation.
  components/homme/src/theta-l_kokkos/cxx/CaarFunctorImpl.hpp
Labels: SCREAM

#5323 share: Protect bool typedef from stdbool.h inclusion.
  share/timing/private.h
Labels: Utils, SCREAM, Crusher

#5326 On crusher, disable archiving of old test data
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Crusher

#5324 Fix bfb fail in elem_ops_ut_test
  components/homme/src/share/cxx/PhysicalConstants.hpp
  components/homme/src/theta-l_kokkos/cxx/ElementOps.hpp
Labels: bug fix PR, non-BFB

#5310 fix uninitialized values in MMF cosp interface
  components/eam/src/physics/crm/cospsimulator_intr.F90
  components/eam/src/physics/crm/crm_physics.F90
  components/eam/src/physics/crm/rrtmgp/radiation.F90
Labels: Atmosphere, BFB, MMF

#5330 Hommexx: Limit HIP team size in debug builds.
  components/homme/src/share/cxx/ExecSpaceDefs.cpp
Labels: SCREAM, Crusher
