Repository E3SM-Project/E3SM, pull requests merged in 2022-01, with the labels that each got.

#4721 HOMME remove obsolete code
  components/homme/dcmip_tests/runall.sh
  components/homme/src/arkode/theta-l/arkode_interface.F90
  components/homme/src/arkode/theta-l/arkode_mod.F90
  components/homme/src/preqx/derivative_mod.F90
  components/homme/src/preqx_acc/derivative_mod.F90
  components/homme/src/preqx_kokkos/derivative_mod.F90
  components/homme/src/prim_movie_mod.F90
  components/homme/src/share/control_mod.F90
  components/homme/src/share/derivative_mod_base.F90
  components/homme/src/share/global_norms_mod.F90
  components/homme/src/share/namelist_mod.F90
  components/homme/src/share/sl_advection.F90
  components/homme/src/sweqx/derivative_mod.F90
  components/homme/src/theta-l/CMakeLists.txt
  components/homme/src/theta-l/element_state.F90
  components/homme/src/theta-l/share/derivative_mod.F90
  components/homme/src/theta-l/share/eos.F90
  components/homme/src/theta-l/share/imex_mod.F90
  components/homme/src/theta-l/share/prim_advance_mod.F90
  components/homme/src/theta-l/share/viscosity_theta.F90
  components/homme/src/tool/CMakeLists.txt
  components/homme/test/held_suarez0/parseE3.py
  components/homme/test/reg_test/namelists/swtc2.nl
  components/homme/test_execs/share_kokkos_ut/sphere_op_interface.F90
  components/homme/test_execs/thetal_kokkos_ut/caar_interface.F90
  components/homme/test_execs/thetal_kokkos_ut/dirk_interface.F90
Labels: HOMME, HOMME standalone

#4722 HOMME remap code
  components/homme/src/preqx/share/vertremap_mod.F90
  components/homme/src/preqx_kokkos/cxx/cxx_f90_interface_preqx.cpp
  components/homme/src/share/control_mod.F90
  components/homme/src/share/cxx/HommexxEnums.hpp
  components/homme/src/share/cxx/PpmRemap.hpp
  components/homme/src/share/cxx/VerticalRemapManager.cpp
  components/homme/src/share/namelist_mod.F90
  components/homme/src/share/sl_advection.F90
  components/homme/src/share/vertremap_base.F90
  components/homme/src/theta-l/share/vertremap_mod.F90
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/test/reg_test/namelists/thetah-test22.nl
  components/homme/test/reg_test/namelists/thetanh-TC.nl
  components/homme/test/reg_test/namelists/thetanh-test22.nl
  components/homme/test_execs/share_kokkos_ut/ppm_remap_interface.F90
  components/homme/test_execs/share_kokkos_ut/ppm_remap_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/remap_theta_interface.F90
  components/homme/test_execs/thetal_kokkos_ut/remap_theta_ut.cpp
Labels: HOMME, HOMME standalone

#4715 fix calculation of the ML-averaged Brunt-Vaisala frequency
  components/mpas-ocean/src/analysis_members/mpas_ocn_mixed_layer_heat_budget.F
Labels: mpas-ocean, BFB

#4724 remove unused variables
  components/homme/src/share/hybvcoord_mod.F90
Labels: HOMME, HOMME standalone

#4734 Add SMS_D_Ld3.T62_oQU120.CMPASO-IAF to e3sm_integration
  cime_config/tests.py
Labels: Testing

#4728 Extend e3sm_prod testing with throughput and memory checks
  cime_config/machines/config_machines.xml
  cime_config/testmods_dirs/bench/noio/shell_commands
  cime_config/testmods_dirs/bench/noio/user_nl_mpaso
  cime_config/testmods_dirs/bench/noio/user_nl_mpassi
  cime_config/tests.py
Labels: Machine Files, BFB, CIME, Testing, performance, Ready to merge, Chrysalis

#4482 Change bubble test init in standalone homme
  components/homme/src/share/control_mod.F90
  components/homme/src/share/namelist_mod.F90
  components/homme/src/test_src/dry_planar.F90
  components/homme/test/reg_test/namelists/thetanh-moist-bubble.nl
Labels: HOMME standalone

#4733 Make surfaceTemperatureFluxWithoutRunoff private in omp pragma
  components/mpas-ocean/src/shared/mpas_ocn_surface_bulk_forcing.F
Labels: mpas-ocean, bug fix PR, non-BFB

#4717 Make adjust_ps consistent with SCREAM
  components/homme/src/share/prim_driver_base.F90
Labels: Atmosphere, BFB, HOMME, SCREAM

#4723 add simplified sponge layer
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/homme/src/share/control_mod.F90
  components/homme/src/share/namelist_mod.F90
  components/homme/src/theta-l/share/model_init_mod.F90
Labels: Atmosphere, HOMME

#4731 re-enable imex unit tests
  components/homme/src/theta-l/share/imex_mod.F90
  components/homme/src/theta-l/share/model_init_mod.F90
Labels: HOMME

#4703 Adds BGC land-atmosphere 1850 and 20TR compsets
  cime_config/allactive/config_compsets.xml
  cime_config/tests.py
  components/eam/bld/build-namelist
  components/mpas-ocean/bld/build-namelist
  driver-mct/cime_config/config_component_e3sm.xml
Labels: Atmosphere, Land, compset, BFB, BGC

#4686 Update BGC compsets to turn ocn bgc back on, add new ocn bgc init file
  cime_config/allactive/config_compsets.xml
  cime_config/tests.py
  components/elm/cime_config/testdefs/testmods_dirs/elm/bgcexp/user_nl_mpassi
  components/mpas-ocean/cime_config/buildnml
Labels: mpas-ocean, bug fix PR, non-BFB, BGC

#4654 fix component namelist creation bugs when NINST>1
  components/eam/bld/build-namelist
  components/eam/cime_config/buildnml
  components/elm/cime_config/buildnml
  components/mpas-seaice/cime_config/buildnml
Labels: CIME, Testing

#4736 Fix missing dependency in one case of gen_f90_targets
  components/mpas-framework/src/cmake_utils.cmake
Labels: bug fix PR, BFB, mpas-framework

#4747 Fixes a typo in compy's intel cmake file
  cime_config/machines/cmake_macros/intel_compy.cmake
Labels: Compy, CMake build system

#4729 Fix interface locations for 60-layer PHC grid
  components/mpas-ocean/src/mode_init/mpas_ocn_init_vertical_grids.F
Labels: mpas-ocean, bug fix PR, BFB

#4725 Update MALI version and Greenland mesh
  cime_config/machines/cmake_macros/intel_cori-haswell.cmake
  cime_config/machines/cmake_macros/intel_cori-knl.cmake
  components/elm/src/biogeophys/BalanceCheckMod.F90
  components/mpas-albany-landice/bld/build-namelist
  components/mpas-albany-landice/bld/build-namelist-section
  components/mpas-albany-landice/bld/namelist_files/namelist_defaults_mali.xml
  components/mpas-albany-landice/bld/namelist_files/namelist_definition_mali.xml
  components/mpas-albany-landice/cime_config/buildnml
  components/mpas-albany-landice/driver/glc_comp_mct.F
  components/mpas-albany-landice/src/Registry.xml
  components/mpas-albany-landice/src/Registry_subglacial_hydro.xml
  components/mpas-albany-landice/src/mode_forward/Interface_velocity_solver.cpp
  components/mpas-albany-landice/src/mode_forward/mpas_li_advection.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_calving.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_core.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_iceshelf_melt.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_subglacial_hydro.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_time_integration_fe.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_velocity.F
Labels: mpas-albany-landice, NML, non-BFB

#4742 For Perlmutter, remove a line to load environment module that is no longer needed
  cime_config/machines/config_machines.xml
Labels: Machine Files, Perlmutter

#4748 Update PGI compiler runs of E3SM on GPUs
  cime_config/allactive/config_pesall.xml
  cime_config/machines/Depends.pgigpu.cmake
  cime_config/machines/cmake_macros/pgigpu_summit.cmake
  cime_config/machines/cmake_macros/pgigpu_swing.cmake
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
Labels: Machine Files, BFB, PGI

#4689 fixing forcing for eam/scream part 1
  cime_config/tests.py
  components/eam/bld/config_files/definition.xml
  components/eam/bld/configure
  components/eam/cime_config/config_component.xml
  components/eam/cime_config/testdefs/testmods_dirs/eam/hommexx/shell_commands
  components/eam/src/dynamics/se/dyn_comp.F90
  components/eam/src/dynamics/se/stepon.F90
  components/homme/src/preqx_kokkos/cxx/cxx_f90_interface_preqx.cpp
  components/homme/src/preqx_kokkos/preqx_f2c_mod.F90
  components/homme/src/preqx_kokkos/prim_driver_mod.F90
  components/homme/src/share/cxx/HommexxEnums.hpp
  components/homme/src/share/cxx/SimulationParams.hpp
  components/homme/src/share/cxx/prim_driver.cpp
  components/homme/src/share/cxx/prim_step.cpp
  components/homme/src/share/cxx/vector/KokkosKernels_Vector_SIMD.hpp
  components/homme/src/share/physical_constants.F90
  components/homme/src/share/prim_driver_base.F90
  components/homme/src/theta-l_kokkos/cxx/CamForcing.cpp
  components/homme/src/theta-l_kokkos/cxx/ElementsBuffers.cpp
  components/homme/src/theta-l_kokkos/cxx/ElementsBuffers.hpp
  components/homme/src/theta-l_kokkos/cxx/ForcingFunctor.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/src/theta-l_kokkos/theta_f2c_mod.F90
  components/homme/test/reg_test/namelists/thetanh-moist-bubble.nl
Labels: Atmosphere

#4719 add MMF AMIP compset
  cime_config/tests.py
  components/data_comps/docn/cime_config/config_component.xml
  components/eam/bld/namelist_files/use_cases/20TR_MMF-1mom_CMIP6.xml
  components/eam/cime_config/config_component.xml
  components/eam/cime_config/config_compsets.xml
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/cime_config/config_component.xml
  driver-mct/cime_config/config_component_e3sm.xml
Labels: Atmosphere, compset, BFB, MMF

#4024 Enable FATES harvest using fdyndat data passed from ELM to FATES
  components/elm/bld/ELMBuildNamelist.pm
  components/elm/src/dyn_subgrid/dynHarvestMod.F90
  components/elm/src/dyn_subgrid/dynSubgridControlMod.F90
  components/elm/src/dyn_subgrid/dynSubgridDriverMod.F90
  components/elm/src/dyn_subgrid/dynTimeInfoMod.F90
  components/elm/src/dyn_subgrid/dynVarTimeUninterpMod.F90.in
  components/elm/src/main/elm_initializeMod.F90
  components/elm/src/main/elm_instMod.F90
  components/elm/src/main/elmfates_interfaceMod.F90
  components/elm/src/main/pftvarcon.F90
Labels: Land, non-BFB, FATES, postv2.0

#4749 Some minor CMake changes in Homme
  components/homme/CMakeLists.txt
  components/homme/cmake/HommeMacros.cmake
  components/homme/test/unit_tests/CMakeLists.txt
  components/homme/test_execs/preqx_kokkos_ut/CMakeLists.txt
  components/homme/test_execs/thetal_kokkos_ut/CMakeLists.txt
Labels: BFB, HOMME standalone

#4739 Set memleak tolerance at 15% for FATES tests on Cori
  components/elm/cime_config/testdefs/testmods_dirs/elm/fates_eca/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/fates_rd/shell_commands
  driver-mct/cime_config/config_component.xml
Labels: BFB, Cori, FATES, Testing

#4711 Remove duplicate allocates in ELM column and gridcell data types
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/data_types/GridcellDataType.F90
Labels: Land, bug fix PR, BFB, Cori, Theta, Ready to merge

#4761 HOMME: remove one occurrence of the CPP ifndef SCREAM
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
Labels: BFB, HOMME

#4760 remove task spec for MMF test w/ ESMT
  cime_config/tests.py
Labels: Atmosphere, Testing, MMF
