Repository E3SM-Project/E3SM, pull requests merged in 2022-05, with the labels that each got.

#4922 run_e3sm script: Replace default case name and case group placeholders
  run_e3sm.template.sh
Labels: run_e3sm

#4919 Add support for northamericax4v1pg2_EC30to60E2r2 resolution
  cime_config/config_grids.xml
Labels: Scripts, BFB, Coupled Model

#4910 MPAS Standalone: Add OpenMP support to gnu-nersc
  components/mpas-framework/Makefile
Labels: BFB, mpas-framework

#4930 run_e3sm: Replace default case name and case group
  run_e3sm.template.sh
Labels: run_e3sm

#4916 Corrected possible division by zero in ice bgc
  components/mpas-seaice/src/column/ice_brine.F90
Labels: mpas-seaice, BFB, BGC

#4859 Add MPI process stride for tasks exclusively owned by a component
  driver-mct/cime_config/config_component.xml
  driver-mct/cime_config/namelist_definition_drv.xml
  driver-mct/main/cime_comp_mod.F90
  driver-mct/shr/seq_comm_mct.F90
Labels: BFB, NML, performance

#4918 Updates seaice BGC namelist defaults to match Registry defaults.
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/src/analysis_members/Registry_seaice_conservation_check.xml
Labels: mpas-seaice, NML, non-BFB, BGC

#4932 Added fsurdat for simyr2010 on ne120np4
  components/elm/bld/namelist_files/namelist_defaults.xml
Labels: Land, BFB

#4940 Fixes CIME import paths in template files
  cime_config/machines/template.case.run
  cime_config/machines/template.case.run.sh
  cime_config/machines/template.case.test
  cime_config/machines/template.st_archive
Labels: bug fix PR, BFB, CIME

#4898 Change a reproducible sum algorithm in SI solver
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
Labels: mpas-ocean, BFB, Stealth

#4941 Fix restart issue for CO2 diagnostics in EAM
  components/eam/src/physics/cam/physpkg.F90
Labels: Atmosphere, bug fix PR, BFB, BGC

#4929 Differentiate input and input/output streams in MPAS stream manager
  components/mpas-albany-landice/src/mode_forward/mpas_li_core.F
  components/mpas-framework/src/framework/mpas_stream_manager.F
Labels: mpas-albany-landice, minor, BFB, mpas-framework

#4934 Fix coupler BGC carbon budget restarts
  driver-mct/main/cime_comp_mod.F90
Labels: bug fix PR, Coupler, BFB

#4944 Fix diagnostic bugs in ocean BGC
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/src/shared/mpas_ocn_tracer_ecosys.F
  components/mpas-ocean/src/tracer_groups/Registry_ecosys.xml
Labels: mpas-ocean, bug fix PR, BFB, BGC

#4837 Rename MMF Compsets
  cime_config/tests.py
  components/eam/bld/configure
  components/eam/cime_config/config_component.xml
  components/eam/cime_config/config_compsets.xml
  components/eam/cime_config/testdefs/testmods_dirs/eam/mmf_crmout/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/mmf_samacc/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/mmf_samomp/shell_commands
  components/elm/cime_config/config_component.xml
Labels: Atmosphere, compset, Testing, MMF

#4950 Add tri-grid EAM+DOCN BGC PEs on Anvil
  cime_config/allactive/config_pesall.xml
  components/eam/cime_config/config_pes.xml
Labels: Machine Files, BFB, Anvil, BGC

#4753 Reorganize check_energy
  components/eam/src/physics/cam/check_energy.F90
  components/eam/src/physics/cam/constituents.F90
  components/eam/src/physics/cam/physics_types.F90
  components/eam/src/physics/cam/physpkg.F90
  components/eam/src/physics/crm/physpkg.F90
Labels: Atmosphere

#4951 Add new machine for CPU-only nodes of perlmutter (and other perlmutter changes)
  cime_config/allactive/config_pesall.xml
  cime_config/machines/Depends.pm-cpu.gnu.cmake
  cime_config/machines/Depends.pm-cpu.nvidia.cmake
  cime_config/machines/Depends.pm-gpu.gnu.cmake
  cime_config/machines/Depends.pm-gpu.gnugpu.cmake
  cime_config/machines/Depends.pm-gpu.nvidia.cmake
  cime_config/machines/Depends.pm-gpu.nvidiagpu.cmake
  cime_config/machines/cmake_macros/amdclang_pm-cpu.cmake
  cime_config/machines/cmake_macros/gnu_pm-cpu.cmake
  cime_config/machines/cmake_macros/gnu_pm-gpu.cmake
  cime_config/machines/cmake_macros/gnugpu_pm-gpu.cmake
  cime_config/machines/cmake_macros/nvidia.cmake
  cime_config/machines/cmake_macros/nvidia_pm-cpu.cmake
  cime_config/machines/cmake_macros/nvidia_pm-gpu.cmake
  cime_config/machines/cmake_macros/nvidiagpu_pm-gpu.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
  components/homme/utils/csm_share/shr_spfn_mod.F90
Labels: Machine Files, Perlmutter

#4786 Homme, physgrid: Remove reshape use in low-level code.
  components/homme/src/share/gllfvremap_mod.F90
  components/homme/test_execs/thetal_kokkos_ut/gllfvremap_interface.F90
Labels: HOMME, performance

#4907 remove duplicate config variables in ocean
  components/mpas-framework/src/tools/registry/gen_inc.c
  components/mpas-ocean/src/analysis_members/mpas_ocn_high_frequency_output.F
  components/mpas-ocean/src/driver/mpas_ocn_core.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_equation_of_state.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_self_attraction_loading.F
Labels: mpas-ocean, BFB, mpas-framework

#4864 Add horizontal tapering function to mesoscale eddy parameterizations (AMOC PR 2/6)
  cime_config/testmods_dirs/allactive/wcprodrrm/user_nl_mpaso
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-group-list
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
  components/mpas-ocean/src/shared/mpas_ocn_gm.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_hmix_redi.F
Labels: enhancement, mpas-ocean, BFB, NML, Stealth

#4887 Added SSP370/585 tests and updated use_case files
  cime_config/testmods_dirs/allactive/wcprodssp/README
  cime_config/testmods_dirs/allactive/wcprodssp/shell_commands
  cime_config/testmods_dirs/allactive/wcprodssp/user_nl_eam
  cime_config/testmods_dirs/allactive/wcprodssp/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprodssp/user_nl_mosart
  cime_config/tests.py
  components/elm/bld/namelist_files/use_cases/2015-2100_SSP585_transient.xml
Labels: Atmosphere, Land, minor, compset, Coupled Model, inputdata, maint-2.0

#4967 Homme: Rework HOMME_ENABLE_COMPOSE symbol machinery for use in EAMxx.
  components/homme/CMakeLists.txt
  components/homme/src/share/compose_mod.F90
  components/homme/src/share/cxx/ComposeTransportImplTrajectory.cpp
  components/homme/src/theta-l/config.h.cmake.in
  components/homme/src/theta-l_kokkos/config.h.cmake.in
  components/homme/src/tool/config.h.cmake.in
Labels: HOMME, HOMME standalone, CMake build system

#4947 update dtime for high res meshes
  driver-mct/cime_config/config_component_e3sm.xml
Labels: BFB

#4978 CIME fixes on Summit: Additional queues and explicit env vars
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, Summit
