Repository E3SM-Project/E3SM, pull requests merged in 2022-03, with the labels that each got.

#4798 Update modules on Ascent for RHEL8
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/gnu.cmake
  cime_config/machines/cmake_macros/gnu_ascent.cmake
  cime_config/machines/cmake_macros/gnu_summit.cmake
  cime_config/machines/cmake_macros/gnugpu.cmake
  cime_config/machines/cmake_macros/gnugpu_ascent.cmake
  cime_config/machines/cmake_macros/gnugpu_summit.cmake
  cime_config/machines/cmake_macros/ibm.cmake
  cime_config/machines/cmake_macros/ibm_ascent.cmake
  cime_config/machines/cmake_macros/ibm_summit.cmake
  cime_config/machines/cmake_macros/ibmgpu.cmake
  cime_config/machines/cmake_macros/ibmgpu_ascent.cmake
  cime_config/machines/cmake_macros/ibmgpu_summit.cmake
  cime_config/machines/cmake_macros/pgi.cmake
  cime_config/machines/cmake_macros/pgi_ascent.cmake
  cime_config/machines/cmake_macros/pgi_summit.cmake
  cime_config/machines/cmake_macros/pgigpu.cmake
  cime_config/machines/cmake_macros/pgigpu_ascent.cmake
  cime_config/machines/cmake_macros/pgigpu_summit.cmake
  cime_config/machines/config_machines.xml
  components/cmake/cmake_util.cmake
Labels: Machine Files, BFB, Testing

#4818 Update module versions on Perlmutter (including to gnu v10)
  cime_config/machines/config_machines.xml
Labels: Machine Files, Perlmutter

#4776 Reduce ELM test build times with shared executables
  cime_config/machines/config_machines.xml
  cime_config/tests.py
Labels: Land, BFB, River, Testing

#4823 Update OpenMPI on Chrysalis
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Chrysalis

#4807 Add the effects of cropland management and geology to ELM-Erosion
  components/elm/src/biogeophys/SedYieldMod.F90
  components/elm/src/biogeophys/SoilStateType.F90
  components/elm/src/cpl/lnd_import_export.F90
  components/elm/src/main/elm_driver.F90
  components/elm/src/main/pftvarcon.F90
  components/elm/tools/interpinic/src/interpinic.F90
Labels: Land, BFB

#4825 Fix non-standard declarations of 8-byte integers in ESMF in MPAS-Framework
  components/mpas-framework/src/external/esmf_time_f90/ESMF_BaseMod.F90
Labels: BFB, mpas-framework

#4830 Add gnu compiler support on Crusher and AMD.
  cime_config/machines/cmake_macros/amdclang.cmake
  cime_config/machines/cmake_macros/amdclang_crusher.cmake
  cime_config/machines/cmake_macros/crayclang.cmake
  cime_config/machines/cmake_macros/crayclang_crusher.cmake
  cime_config/machines/cmake_macros/gnu_crusher.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  cime_config/machines/config_pio.xml
  share/util/shr_infnan_mod.F90.in
Labels: GNU, Crusher

#4813 Extending OpenACC diagnostics up to time integration
  components/mpas-framework/Makefile
  components/mpas-framework/src/framework/mpas_pool_routines.F
  components/mpas-framework/src/operators/mpas_vector_reconstruction.F
  components/mpas-framework/src/tools/registry/gen_inc.c
  components/mpas-ocean/src/mode_analysis/mpas_ocn_analysis_mode.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
  components/mpas-ocean/src/shared/mpas_ocn_effective_density_in_land_ice.F
  components/mpas-ocean/src/shared/mpas_ocn_equation_of_state.F
  components/mpas-ocean/src/shared/mpas_ocn_equation_of_state_jm.F
  components/mpas-ocean/src/shared/mpas_ocn_equation_of_state_linear.F
  components/mpas-ocean/src/shared/mpas_ocn_equation_of_state_wright.F
  components/mpas-ocean/src/shared/mpas_ocn_init_routines.F
Labels: mpas-ocean, BFB, performance, mpas-framework

#4590 Parameterizations of sub-grid topographic effects on solar radiation in ELM
  cime_config/tests.py
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/solar_rad/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/solar_rad/user_nl_elm
  components/elm/src/biogeophys/SurfaceAlbedoMod.F90
  components/elm/src/biogeophys/SurfaceAlbedoType.F90
  components/elm/src/data_types/GridcellType.F90
  components/elm/src/main/controlMod.F90
  components/elm/src/main/elm_initializeMod.F90
  components/elm/src/main/elm_varctl.F90
  components/elm/src/main/initGridCellsMod.F90
  components/elm/src/main/surfrdMod.F90
  components/elm/src/utils/domainMod.F90
Labels: Land, BFB

#4839 For Cori, update module versions after March 16th maintenance
  cime_config/machines/config_machines.xml
Labels: Machine Files, Cori

#4836 For Perlmutter, with gnu v10, add compiler flag to work-around issue with MMF tests
  cime_config/machines/Depends.perlmutter.gnu.cmake
  cime_config/machines/Depends.perlmutter.gnugpu.cmake
Labels: Machine Files, Perlmutter

#4841 For Cori, update module versions in maint-1.0 after March 16th maintenance.
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Cori, maint-1.0

#4827 Modifies land-atm BGC compsets names and its use case files
  cime_config/allactive/config_compsets.xml
  cime_config/tests.py
  components/eam/bld/namelist_files/use_cases/1850_eam_CMIP6_bgc.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6_bgc.xml
  components/eam/cime_config/config_component.xml
Labels: Atmosphere, Land, compset, BFB, BGC

#4843 For Cori, update modules for maint-2.0 after March 16th maintenance
  cime_config/machines/config_machines.xml
Labels: Machine Files, Cori, maint-2.0

#4847 Update modules for Cori on maint-1.2
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, Cori, maint-1.2

#4785 Turn off Redi diagonal terms for shallow columns
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_tracer_hmix_redi.F
Labels: mpas-ocean, bug fix PR, NML, non-BFB
