Repository E3SM-Project/E3SM, pull requests merged in 2022-08, with the labels that each got.

#5101 Update PGI config in maint-2.0
  cime_config/machines/Depends.pgi.cmake
  cime_config/machines/Depends.pgigpu.cmake
  cime_config/machines/cmake_macros/pgi.cmake
  cime_config/machines/cmake_macros/pgi_ascent.cmake
  cime_config/machines/cmake_macros/pgi_compy.cmake
  cime_config/machines/cmake_macros/pgi_summit.cmake
  cime_config/machines/cmake_macros/pgigpu.cmake
  cime_config/machines/cmake_macros/pgigpu_ascent.cmake
  cime_config/machines/cmake_macros/pgigpu_blues.cmake
  cime_config/machines/cmake_macros/pgigpu_summit.cmake
  cime_config/machines/cmake_macros/pgigpu_swing.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, PGI

#5098 Double ELM-erosion nodes to avoid OOM and OOT errors
  components/eam/cime_config/config_pes.xml
  components/elm/cime_config/config_pes.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/erosion/shell_commands
Labels: Machine Files, Anvil, Summit

#5108 Update PGI flags on Summit and Ascent
  cime_config/machines/cmake_macros/pgi_ascent.cmake
  cime_config/machines/cmake_macros/pgi_summit.cmake
Labels: Machine Files, BFB, Summit, PGI

#5109 Ascent config changes
  cime_config/allactive/config_pesall.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#5065 bug fix for co2 diagnostics in MMF
  components/eam/src/physics/crm/physpkg.F90
Labels: Atmosphere, bug fix PR, BFB, MMF

#5097 Add BGC fields exchanged between ice and ocn to the cpl carbon budget
  components/mpas-seaice/driver/ice_comp_mct.F
  driver-mct/main/cime_comp_mod.F90
  driver-mct/main/seq_diagBGC_mct.F90
Labels: Coupler, BFB, BGC

#5086 Correct performance bug during init where loop setting same arrays too often
  components/elm/src/data_types/VegetationDataType.F90
Labels: FATES

#5027 Make MPAS-Ocean units CF compliant
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/analysis_members/Registry_TEMPLATE.xml
  components/mpas-ocean/src/analysis_members/Registry_conservation_check.xml
  components/mpas-ocean/src/analysis_members/Registry_debug_diagnostics.xml
  components/mpas-ocean/src/analysis_members/Registry_eddy_product_variables.xml
  components/mpas-ocean/src/analysis_members/Registry_eliassen_palm.xml
  components/mpas-ocean/src/analysis_members/Registry_global_stats.xml
  components/mpas-ocean/src/analysis_members/Registry_harmonic_analysis.xml
  components/mpas-ocean/src/analysis_members/Registry_high_frequency_output.xml
  components/mpas-ocean/src/analysis_members/Registry_lagrangian_particle_tracking.xml
  components/mpas-ocean/src/analysis_members/Registry_layer_volume_weighted_averages.xml
  components/mpas-ocean/src/analysis_members/Registry_meridional_heat_transport.xml
  components/mpas-ocean/src/analysis_members/Registry_mixed_layer_depths.xml
  components/mpas-ocean/src/analysis_members/Registry_mixed_layer_heat_budget.xml
  components/mpas-ocean/src/analysis_members/Registry_moc_streamfunction.xml
  components/mpas-ocean/src/analysis_members/Registry_ocean_heat_content.xml
  components/mpas-ocean/src/analysis_members/Registry_okubo_weiss.xml
  components/mpas-ocean/src/analysis_members/Registry_pointwise_stats.xml
  components/mpas-ocean/src/analysis_members/Registry_regional_stats.xml
  components/mpas-ocean/src/analysis_members/Registry_regional_stats_custom.xml
  components/mpas-ocean/src/analysis_members/Registry_regional_stats_daily.xml
  components/mpas-ocean/src/analysis_members/Registry_regional_stats_monthly.xml
  components/mpas-ocean/src/analysis_members/Registry_regional_stats_weekly.xml
  components/mpas-ocean/src/analysis_members/Registry_rpn_calculator.xml
  components/mpas-ocean/src/analysis_members/Registry_sediment_flux_index.xml
  components/mpas-ocean/src/analysis_members/Registry_sediment_transport.xml
  components/mpas-ocean/src/analysis_members/Registry_surface_area_weighted_averages.xml
  components/mpas-ocean/src/analysis_members/Registry_test_compute_interval.xml
  components/mpas-ocean/src/analysis_members/Registry_time_filters.xml
  components/mpas-ocean/src/analysis_members/Registry_time_series_stats.xml
  components/mpas-ocean/src/analysis_members/Registry_time_series_stats_climatology.xml
  components/mpas-ocean/src/analysis_members/Registry_time_series_stats_custom.xml
  components/mpas-ocean/src/analysis_members/Registry_time_series_stats_daily.xml
  components/mpas-ocean/src/analysis_members/Registry_time_series_stats_monthly_max.xml
  components/mpas-ocean/src/analysis_members/Registry_time_series_stats_monthly_mean.xml
  components/mpas-ocean/src/analysis_members/Registry_time_series_stats_monthly_min.xml
  components/mpas-ocean/src/analysis_members/Registry_transect_transport.xml
  components/mpas-ocean/src/analysis_members/Registry_water_mass_census.xml
  components/mpas-ocean/src/analysis_members/Registry_zonal_mean.xml
  components/mpas-ocean/src/tracer_groups/Registry_activeTracers.xml
  components/mpas-ocean/src/tracer_groups/Registry_debugTracers.xml
Labels: mpas-ocean, BFB

#5115 Fix issue in debug mode when ocn-ice field indices are zero
  driver-mct/main/seq_diagBGC_mct.F90
Labels: bug fix PR, BGC

#5113 On cori-knl, add better PE layout for grid l%360x720cru, 16 nodes, 64x2
  components/elm/cime_config/config_pes.xml
Labels: Machine Files, Cori

#5090 Initial implementation on LANL IC machine chicoma-cpu
  cime_config/allactive/config_pesall.xml
  cime_config/machines/Depends.chicoma-cpu.gnu.cmake
  cime_config/machines/Depends.chicoma-cpu.nvidia.cmake
  cime_config/machines/cmake_macros/amdclang_chicoma-cpu.cmake
  cime_config/machines/cmake_macros/gnu_chicoma-cpu.cmake
  cime_config/machines/cmake_macros/nvidia_chicoma-cpu.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  cime_config/machines/config_pio.xml
Labels: Machine Files, BFB

#5125 Change TSC test default to use F2010-CICE
  cime_config/tests.py
Labels: non-BFB, Testing

#5135 For gcp only, use 4 nodes to allow cdash test to complete
  components/elm/cime_config/config_pes.xml
Labels: Machine Files, GCP

#5131 Adjust PE layouts for ne30pg2 that will impact scream tests (esp on pm-gpu)
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, pm-gpu

#5116 Homme: Some minor tweaks related to print to screen
  components/homme/src/share/cxx/SimulationParams.hpp
  components/homme/src/share/kinds.F90
  components/homme/src/share/prim_driver_base.F90
  components/homme/src/share/schedule_mod.F90
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.cpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
Labels: BFB, HOMME

#5128 removed use of Fortran fraction intrinsic from ocn diagnostics
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
Labels: mpas-ocean, bug fix PR, BFB, Cray, Crusher

#5137 For cori-haswell, increase PE layout for grid l%360x720cru to 6 nodes
  components/elm/cime_config/config_pes.xml
Labels: Machine Files, Cori

#5066 Add river-ocean two-way coupling feature
  cime_config/config_grids.xml
  cime_config/tests.py
  components/mosart/cime_config/testdefs/testmods_dirs/mosart/rof_ocn_2way/user_nl_cpl
  components/mosart/cime_config/testdefs/testmods_dirs/mosart/rof_ocn_2way/user_nl_mosart
  components/mosart/src/cpl/rof_comp_mct.F90
  components/mosart/src/cpl/rof_cpl_indices.F90
  components/mosart/src/riverroute/MOSART_physics_mod.F90
  components/mosart/src/riverroute/RtmHistFlds.F90
  components/mosart/src/riverroute/RtmMod.F90
  components/mosart/src/riverroute/RtmVar.F90
  components/mosart/src/riverroute/RunoffMod.F90
  components/mpas-ocean/cime_config/config_compsets.xml
  components/mpas-ocean/driver/mpaso_cpl_indices.F
  components/mpas-ocean/driver/ocn_comp_mct.F
  driver-mct/cime_config/config_component.xml
  driver-mct/cime_config/namelist_definition_drv.xml
  driver-mct/main/cime_comp_mod.F90
  driver-mct/main/prep_rof_mod.F90
  driver-mct/main/seq_rest_mod.F90
  driver-mct/shr/seq_flds_mod.F90
  driver-mct/shr/seq_infodata_mod.F90
Labels: mpas-ocean, Coupler, Stealth, River

#5102 Add new features for SNICAR-AD snow radiative transfer model
  cime_config/tests.py
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/koch_snowflake/user_nl_elm
  components/elm/src/biogeophys/SnowSnicarMod.F90
  components/elm/src/main/controlMod.F90
  components/elm/src/main/elm_varctl.F90
Labels: Land

#5132 Throttle sbatch submission on Crusher
  cime_config/allactive/config_pesall.xml
  cime_config/machines/Depends.alvarez.gnu.cmake
  cime_config/machines/Depends.chicoma-cpu.gnu.cmake
  cime_config/machines/Depends.gnu.cmake
  cime_config/machines/Depends.gnugpu.cmake
  cime_config/machines/Depends.pm-cpu.gnu.cmake
  cime_config/machines/Depends.pm-gpu.gnu.cmake
  cime_config/machines/Depends.pm-gpu.gnugpu.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/fates_eca/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/fates_rd/shell_commands
Labels: Machine Files, BFB, Crusher

#5140 HOMME: Some (cmake) build mods
  components/homme/CMakeLists.txt
  components/homme/cmake/HommeMacros.cmake
  components/homme/src/preqx/CMakeLists.txt
  components/homme/src/preqx_acc/CMakeLists.txt
  components/homme/src/preqx_kokkos/CMakeLists.txt
  components/homme/src/prim/CMakeLists.txt
  components/homme/src/repro_sum_mod.F90
  components/homme/src/share/gllfvremap_util_mod.F90
  components/homme/src/share/prim_driver_base.F90
  components/homme/src/sweqx/CMakeLists.txt
  components/homme/src/swim/CMakeLists.txt
  components/homme/src/theta-l/CMakeLists.txt
  components/homme/src/theta-l/share/prim_advance_mod.F90
  components/homme/src/theta-l_kokkos/CMakeLists.txt
  components/homme/src/tool/CMakeLists.txt
  components/homme/test/unit_tests/CMakeLists.txt
  components/homme/test_execs/preqx_kokkos_ut/CMakeLists.txt
  components/homme/test_execs/share_kokkos_ut/CMakeLists.txt
  components/homme/test_execs/thetal_kokkos_ut/CMakeLists.txt
  components/homme/utils/csm_share/CMakeLists.txt
  components/homme/utils/csm_share/README
  components/homme/utils/csm_share/mct_mod.F90
  components/homme/utils/csm_share/shr_alarm_mod.F90
  components/homme/utils/csm_share/shr_cal_mod.F90
  components/homme/utils/csm_share/shr_const_mod.F90
  components/homme/utils/csm_share/shr_date_mod.F90
  components/homme/utils/csm_share/shr_file_mod
  components/homme/utils/csm_share/shr_file_mod.F90
  components/homme/utils/csm_share/shr_flux_mod.F90
  components/homme/utils/csm_share/shr_inputinfo_mod.F90
  components/homme/utils/csm_share/shr_jlcp.c
  components/homme/utils/csm_share/shr_kind_mod.F90
  components/homme/utils/csm_share/shr_map_mod.F90
  components/homme/utils/csm_share/shr_mpi_mod
  components/homme/utils/csm_share/shr_mpi_mod.F90
  components/homme/utils/csm_share/shr_msg_mod.F90
  components/homme/utils/csm_share/shr_ncio_mod.F90
  components/homme/utils/csm_share/shr_ncread_mod.F90
  components/homme/utils/csm_share/shr_orb_mod.F90
  components/homme/utils/csm_share/shr_spfn_mod.F90
  components/homme/utils/csm_share/shr_stream_mod.F90
  components/homme/utils/csm_share/shr_string_mod.F90
  components/homme/utils/csm_share/shr_sys_mod
  components/homme/utils/csm_share/shr_sys_mod.F90
  components/homme/utils/csm_share/shr_tInterp_mod.F90
  components/homme/utils/csm_share/shr_timer_mod.F90
  components/homme/utils/csm_share/shr_vmath_mod.F90
Labels: BFB, HOMME, HOMME standalone

#5134 Changes needed to support a moving cyclone test case
  components/mpas-seaice/src/Registry.xml
  components/mpas-seaice/src/shared/mpas_seaice_forcing.F
Labels: enhancement, mpas-seaice, bug fix PR, BFB

#5142 correct nCells to nEdges
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
Labels: mpas-ocean, bug fix PR, BFB

#5155 Fix a build error in HOMME for ibm and cray compilers
  components/homme/src/share/schedule_mod.F90
Labels: BFB

#5120 [MPAS-Framework] Add a new `name_in_output` registry attribute to variables
  components/mpas-framework/src/framework/duplicate_field_array.inc
  components/mpas-framework/src/framework/duplicate_field_scalar.inc
  components/mpas-framework/src/framework/mpas_field_types.inc
  components/mpas-framework/src/framework/mpas_io_streams.F
  components/mpas-framework/src/tools/registry/gen_inc.c
  components/mpas-ocean/src/analysis_members/mpas_ocn_time_series_stats.F
  components/mpas-ocean/src/analysis_members/time_series_inc/copy_field.F
  components/mpas-ocean/src/analysis_members/time_series_inc/copy_field_2.inc
  components/mpas-seaice/src/analysis_members/mpas_seaice_time_series_stats.F
  components/mpas-seaice/src/analysis_members/time_series_inc/copy_field.F
  components/mpas-seaice/src/analysis_members/time_series_inc/copy_field_2.inc
Labels: mpas-ocean, mpas-seaice, BFB, mpas-framework

#5156 Adjust PE layouts on nersc machines and gcp for the GPMPAS-JRA test
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, Cori, GCP, pm-cpu

#5094 Add 'lobata' workstation to cime configuration
  cime_config/machines/cmake_macros/gnu_lobata.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#5099 Adds submesoscale parameterization for mpas-ocean
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-group-list
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/analysis_members/Registry_mixed_layer_depths.xml
  components/mpas-ocean/src/analysis_members/Registry_moc_streamfunction.xml
  components/mpas-ocean/src/analysis_members/mpas_ocn_high_frequency_output.F
  components/mpas-ocean/src/analysis_members/mpas_ocn_mixed_layer_depths.F
  components/mpas-ocean/src/analysis_members/mpas_ocn_mixed_layer_heat_budget.F
  components/mpas-ocean/src/analysis_members/mpas_ocn_moc_streamfunction.F
  components/mpas-ocean/src/driver/mpas_ocn_core_interface.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_forward_mode.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
  components/mpas-ocean/src/ocean.cmake
  components/mpas-ocean/src/shared/Makefile
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
  components/mpas-ocean/src/shared/mpas_ocn_eddy_parameterization_helpers.F
  components/mpas-ocean/src/shared/mpas_ocn_gm.F
  components/mpas-ocean/src/shared/mpas_ocn_submesoscale_eddies.F
Labels: mpas-ocean, BFB, NML, Stealth

#5160 Add outputFieldNames to sea-ice pointwiseStats
  components/mpas-seaice/src/analysis_members/mpas_seaice_pointwise_stats.F
Labels: mpas-seaice, bug fix PR, BFB

#4945 modified vertical range for KEvertex calc to avoid NaNs
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
Labels: mpas-ocean, bug fix PR, BFB

#5164 Add more nodes for GMPAS-JRA test on Anvil and Crusher
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, BFB, Anvil, Ready to merge, Crusher
