Repository E3SM-Project/E3SM, pull requests merged in 2022-02, with the labels that each got.

#4762 Add OpenACC, OpenMP and CXX GPU tests
  cime_config/machines/Depends.pgigpu.cmake
  cime_config/machines/config_machines.xml
  cime_config/tests.py
Labels: Machine Files, BFB, Testing

#4771 Change default 1-node layouts for perlmutter to be CPU/GPU aware
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, Perlmutter

#4750 Initialize Coriolis param in its own subroutine
  components/mpas-ocean/src/mode_init/mpas_ocn_init_mode.F
  components/mpas-ocean/src/mode_init/mpas_ocn_init_spherical_utils.F
Labels: mpas-ocean, bug fix PR, BFB

#4769 Add mode specification to conservation check streams
  components/mpas-ocean/src/analysis_members/Registry_conservation_check.xml
Labels: mpas-ocean, BFB

#4756 Add support for the oRRS18to6v3 grid to run with JRA forcing
  cime_config/config_grids.xml
Labels: mpas-ocean, mpas-seaice, Scripts, BFB

#4757 Modified parameters for miscanthus and switchgrass
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/src/biogeochem/PhenologyMod.F90
  components/elm/src/cpl/lnd_import_export.F90
Labels: Land, BFB

#4772 Run low-res ERP test with pio_root=1
  cime_config/allactive/config_pesall.xml
  cime_config/machines/config_machines.xml
  cime_config/tests.py
  components/elm/cime_config/config_pes.xml
Labels: Machine Files, BFB, Blues, Bebop, Testing

#4766 For GCP, adjust default layouts for some common tests
  cime_config/allactive/config_pesall.xml
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, GCP

#4773 For Perlmutter, change NODENAME_REGEX to be "perlmutter"
  cime_config/machines/config_machines.xml
Labels: Machine Files, Perlmutter

#4700 new reproducible global sum module for MPAS components
  components/mpas-framework/Makefile
  components/mpas-framework/src/framework/Makefile
  components/mpas-framework/src/framework/framework.cmake
  components/mpas-framework/src/framework/mpas_global_sum_mod.F
Labels: enhancement, BFB, mpas-framework

#4775 Update JLSE OneAPI module
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#4620 Added single cell test case
  components/mpas-seaice/testing_and_setup/configurations/standard_physics_single_cell/namelist.seaice
  components/mpas-seaice/testing_and_setup/testcases/single_cell/README
  components/mpas-seaice/testing_and_setup/testcases/single_cell/plot_testcase.py
  components/mpas-seaice/testing_and_setup/testcases/single_cell/run_testcase.py
  components/mpas-seaice/testing_and_setup/testing/DATA/get_data.py
Labels: mpas-seaice, BFB

#4778 Change MMF total water used in VT_diagnose
  components/eam/src/physics/crm/samxx/crm_variance_transport.cpp
Labels: Atmosphere, non-BFB, MMF

#4795 Update ocean and sea ice ICs for ARRM60to10 mesh
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-ocean, mpas-seaice, Coupled Model, RRM

#4792 GPU port of thickness tendency with OpenACC
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_frazil_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_bulk_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_land_ice_fluxes.F
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
  components/mpas-ocean/src/shared/mpas_ocn_thick_hadv.F
  components/mpas-ocean/src/shared/mpas_ocn_thick_surface_flux.F
  components/mpas-ocean/src/shared/mpas_ocn_thick_vadv.F
  components/mpas-ocean/src/shared/mpas_ocn_tidal_forcing.F
Labels: mpas-ocean, BFB

#4803 Initializes uninitialized variables in ndrop.F90
  components/eam/src/physics/cam/ndrop.F90
Labels: bug fix PR, BFB

#4794 Organize MMF integration tests into suite
  cime_config/tests.py
Labels: BFB, CIME, Testing, MMF

#4805 Add CMPASO-JRA1p4 compset for testing
  components/mpas-ocean/cime_config/config_compsets.xml
Labels: mpas-ocean, compset, BFB

#4801 Modifies large(L) PE-Layout for RRM WCYCLE grid for Cori-KNL
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, BFB, Cori, RRM

#4814 Update SEMS modules used by sandia machines
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#4810 Update to gnu v9 for cori-haswell and cori-knl
  cime_config/machines/config_machines.xml
Labels: Cori
