Repository E3SM-Project/E3SM, pull requests merged in 2022-09, with the labels that each got.

#5152 [standalone MPAS] Finalize PIO when finalizing MPAS i/o
  components/mpas-framework/src/framework/mpas_framework.F
Labels: BFB, mpas-framework

#5162 [MPAS-Framework] Rename `gregorian_noleap` to just `noleap` calendar
  components/mpas-albany-landice/bld/namelist_files/namelist_defaults_mali.xml
  components/mpas-albany-landice/bld/namelist_files/namelist_definition_mali.xml
  components/mpas-albany-landice/src/Registry.xml
  components/mpas-framework/src/framework/mpas_timekeeping.F
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/src/Registry.xml
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/bld/namelist_files/namelist_definition_mpassi.xml
  components/mpas-seaice/driver/ice_comp_mct.F
  components/mpas-seaice/src/Registry.xml
  components/mpas-seaice/src/shared/mpas_seaice_column.F
Labels: mpas-ocean, mpas-albany-landice, mpas-seaice, BFB, NML, mpas-framework

#5167 Add normalGMBolusVelocity to the gm package
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
Labels: mpas-ocean, BFB

#5165 On GCP, use 4 nodes for r05 grid to allow test to complete
  components/elm/cime_config/config_pes.xml
Labels: Machine Files, GCP

#5174 Increase printbuf size by one
  components/mpas-framework/src/tools/registry/fortprintf.c
Labels: bug fix PR, BFB, mpas-framework

#5130 update google cloud gnu compiler to gcc-11
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, GNU, GCP

#5175 Fix determination of flds_c_oi logical variable
  driver-mct/main/seq_diagBGC_mct.F90
Labels: Coupler, BFB, BGC

#5179 Machine files for PNNL EMSL's Tahoma machine
  cime_config/machines/cmake_macros/intel_tahoma.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#5107 Enable VT+ESMT in MMF by default
  cime_config/tests.py
  components/eam/bld/build-namelist
  components/eam/bld/config_files/definition.xml
  components/eam/bld/configure
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/cime_config/config_component.xml
  components/eam/cime_config/testdefs/testmods_dirs/eam/mmf_use_ESMT/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/mmf_use_VT/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/mmf_use_VT/user_nl_eam
  components/eam/src/physics/cam/phys_control.F90
  components/eam/src/physics/crm/crm_history.F90
  components/eam/src/physics/crm/crm_input_module.F90
  components/eam/src/physics/crm/crm_output_module.F90
  components/eam/src/physics/crm/crm_physics.F90
  components/eam/src/physics/crm/samxx/advect_all_scalars.cpp
  components/eam/src/physics/crm/samxx/cpp_interface_mod.F90
  components/eam/src/physics/crm/samxx/crm.cpp
  components/eam/src/physics/crm/samxx/periodic.cpp
  components/eam/src/physics/crm/samxx/post_timeloop.cpp
  components/eam/src/physics/crm/samxx/pre_timeloop.cpp
  components/eam/src/physics/crm/samxx/scalar_momentum.cpp
  components/eam/src/physics/crm/samxx/sgs.cpp
  components/eam/src/physics/crm/samxx/test/cpp_driver.F90
  components/eam/src/physics/crm/samxx/timeloop.cpp
  components/eam/src/physics/crm/samxx/vars.cpp
  components/eam/src/physics/crm/samxx/vars.h
Labels: Atmosphere, non-BFB, MMF

#5154 [MPAS-Framework] New fill value mask feature
  components/mpas-framework/src/framework/Makefile
  components/mpas-framework/src/framework/duplicate_field_array.inc
  components/mpas-framework/src/framework/mpas_bootstrapping.F
  components/mpas-framework/src/framework/mpas_field_routines.F
  components/mpas-framework/src/framework/mpas_field_types.inc
  components/mpas-framework/src/framework/mpas_io_streams.F
  components/mpas-framework/src/framework/mpas_io_streams_types.inc
  components/mpas-framework/src/framework/mpas_stream_list_types.inc
  components/mpas-framework/src/framework/mpas_stream_manager.F
  components/mpas-framework/src/framework/mpas_stream_manager_types.inc
  components/mpas-framework/src/framework/xml_stream_parser.c
  components/mpas-framework/src/tools/input_gen/streams_gen.c
  components/mpas-framework/src/tools/registry/Registry.xsd
  components/mpas-framework/src/tools/registry/gen_inc.c
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/analysis_members/mpas_ocn_time_series_stats.F
  components/mpas-ocean/src/mode_init/mpas_ocn_init_global_ocean.F
  components/mpas-ocean/src/tracer_groups/Registry_activeTracers.xml
  components/mpas-seaice/src/analysis_members/mpas_seaice_time_series_stats.F
Labels: BFB, mpas-framework

#5151 add carbon to conservation check analysis member
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/src/analysis_members/Registry_conservation_check.xml
  components/mpas-ocean/src/analysis_members/mpas_ocn_conservation_check.F
  components/mpas-ocean/src/shared/mpas_ocn_constants.F
Labels: mpas-ocean, BFB, BGC

#5159 Add PIO_ROOT=1 mod to FIDEAL test
  cime_config/tests.py
Labels: NML, Testing, Crusher, pm-cpu

#5169 Hommexx: Add a missing Kokkos::single to ps update in forcings.
  components/homme/src/share/compose/compose_cedr_sl_run_check.cpp
  components/homme/src/theta-l_kokkos/cxx/ForcingFunctor.hpp
Labels: HOMME, SCREAM

#5181 Add -hfp0 for ELM with cray compiler on Crusher
  cime_config/machines/cmake_macros/crayclang.cmake
  cime_config/machines/cmake_macros/crayclang_crusher.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Cray, Crusher

#5147 Add new COSP output for MODIS simulator
  components/eam/src/physics/cam/cospsimulator_intr.F90
Labels: Atmosphere, BFB

#5186 move ocean namelist transport_tests to testing section
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-group-list
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/src/Registry.xml
Labels: mpas-ocean, BFB, NML

#5203 Fix inconsistent string length in a cosp character array
  components/eam/src/physics/cam/cospsimulator_intr.F90
Labels: bug fix PR, BFB, Anvil

#5199 Fixes units for aerosol water
  components/eam/src/chemistry/utils/modal_aero_wateruptake.F90
Labels: Atmosphere, BFB, eam

#5171 Fixes Redi Surface Taper double counting
  components/mpas-ocean/src/shared/mpas_ocn_gm.F
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_hmix.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_hmix_redi.F
Labels: mpas-ocean, bug fix PR, NCC

#5163 initialize CRM output quantities for check_energy
  components/eam/src/physics/crm/crm_physics.F90
Labels: Atmosphere, bug fix PR, BFB, MMF
