Repository E3SM-Project/E3SM, pull requests merged in 2022-07, with the labels that each got.

#5056 Save timing info in benchmarking tests for provenance
  cime_config/testmods_dirs/bench/gmpas_noio/shell_commands
  cime_config/testmods_dirs/bench/wcycl/hires/shell_commands
  cime_config/testmods_dirs/bench/wcycl/lores/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/bench/noio/shell_commands
Labels: BFB, performance, provenance

#5013 Revive capability to run FIDEAL compset
  cime_config/tests.py
  components/eam/bld/build-namelist
  components/eam/bld/config_files/definition.xml
  components/eam/bld/configure
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/src/control/cam_control_mod.F90
  components/eam/src/dynamics/se/dyn_comp.F90
  components/eam/src/physics/cam/check_energy.F90
  components/eam/src/physics/cam/phys_control.F90
  components/eam/src/physics/cam/physpkg.F90
  components/eam/src/physics/cam/tphysidl.F90
Labels: Atmosphere

#5019 Semi-implicit barotropic mode solver updates
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
Labels: mpas-ocean, BFB, Stealth

#5050 Fix error in mpassi when config_conservation_check is set to true
  components/mpas-seaice/bld/build-namelist
  components/mpas-seaice/src/shared/mpas_seaice_advection_incremental_remap.F
Labels: mpas-seaice, bug fix PR, BFB, NML

#5008 Changes to enforce correct selection of routing methods for MOSART
  components/mosart/src/cpl/rof_cpl_indices.F90
  components/mosart/src/riverroute/MOSART_physics_mod.F90
  components/mosart/src/riverroute/RtmMod.F90
Labels: bug fix PR, BFB, River

#5064 Add machine alvarez (similar to pm-cpu)
  cime_config/allactive/config_pesall.xml
  cime_config/machines/Depends.alvarez.gnu.cmake
  cime_config/machines/cmake_macros/amdclang_alvarez.cmake
  cime_config/machines/cmake_macros/gnu_alvarez.cmake
  cime_config/machines/cmake_macros/nvidia_alvarez.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
  components/elm/cime_config/config_pes.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/fates_eca/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/fates_rd/shell_commands
Labels: Machine Files, pm-cpu

#5071 Add subversion to ascent env
  cime_config/machines/config_machines.xml
Labels: Machine Files

#5070 For pm-cpu, improve PE layouts commonly used for testing
  cime_config/allactive/config_pesall.xml
  components/eam/cime_config/config_pes.xml
  components/elm/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
  components/mpas-seaice/cime_config/config_pes.xml
Labels: Machine Files, pm-cpu

#5074 Update mask/transect files for oRRS30to10v3 and oRRS18to6v3
  components/mpas-ocean/cime_config/buildnml
Labels: mpas-ocean, BFB

#5062 Adds omp critical directives for ice warnings
  components/mpas-seaice/src/column/ice_warnings.F90
Labels: mpas-seaice, bug fix PR, BFB

#5017 Land-river two-way coupling
  cime_config/tests.py
  components/elm/bld/ELMBuildNamelist.pm
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/cime_config/buildnml
  components/elm/cime_config/testdefs/testmods_dirs/elm/lnd_rof_2way/user_nl_cpl
  components/elm/cime_config/testdefs/testmods_dirs/elm/lnd_rof_2way/user_nl_mosart
  components/elm/src/biogeophys/BalanceCheckMod.F90
  components/elm/src/biogeophys/CanopyHydrologyMod.F90
  components/elm/src/biogeophys/HydrologyNoDrainageMod.F90
  components/elm/src/biogeophys/SoilHydrologyMod.F90
  components/elm/src/biogeophys/SoilHydrologyType.F90
  components/elm/src/cpl/elm_cpl_indices.F90
  components/elm/src/cpl/lnd_comp_mct.F90
  components/elm/src/cpl/lnd_import_export.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/main/atm2lndType.F90
  components/elm/src/main/controlMod.F90
  components/elm/src/main/elm_driver.F90
  components/elm/src/main/elm_varctl.F90
  components/elm/src/main/lnd2atmMod.F90
  components/elm/src/main/lnd2atmType.F90
  components/mosart/src/cpl/rof_comp_mct.F90
  components/mosart/src/cpl/rof_cpl_indices.F90
  components/mosart/src/riverroute/MOSART_physics_mod.F90
  components/mosart/src/riverroute/RtmMod.F90
  components/mosart/src/riverroute/RtmVar.F90
  components/mosart/src/riverroute/RunoffMod.F90
  driver-mct/cime_config/namelist_definition_drv.xml
  driver-mct/main/prep_rof_mod.F90
  driver-mct/shr/seq_flds_mod.F90
Labels: Land, Stealth, River

#5067 fix the standalone crm build and add oneapi-ifxgpu to support JLSE gpu build
  cime_config/machines/cmake_macros/oneapi-ifxgpu.cmake
  cime_config/machines/config_machines.xml
  components/eam/src/physics/crm/samxx/test/build/cmakescript.sh
  components/eam/src/physics/crm/samxx/test/cpp2d/CMakeLists.txt
  components/eam/src/physics/crm/samxx/test/cpp3d/CMakeLists.txt
  components/eam/src/physics/crm/samxx/test/cpp_driver.F90
Labels: Atmosphere, BFB, MMF

#5081 For GCP, adjust PE layout for ne30pg2_r05_EC30to60E2r2 to use 8 nodes
  components/eam/cime_config/config_pes.xml
Labels: Machine Files, GCP

#5033 Fixes the water and carbon budget
  components/elm/src/main/elm_initializeMod.F90
Labels: Land, bug fix PR, BFB

#5085 Add a test for ELM-Erosion
  cime_config/tests.py
  components/elm/cime_config/testdefs/testmods_dirs/elm/erosion/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/erosion/user_nl_elm
  components/elm/src/biogeochem/EcosystemBalanceCheckMod.F90
  components/elm/src/biogeochem/EcosystemDynMod.F90
  components/elm/src/biogeophys/SedYieldMod.F90
  components/elm/src/biogeophys/SoilStateType.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/main/elm_driver.F90
  components/elm/src/main/elm_varctl.F90
  components/elm/tools/mksurfdata_map/src/mkSedMod.F90
  components/elm/tools/mksurfdata_map/src/mksurfdat.F90
Labels: Land, bug fix PR, BFB, Testing

#5063 Adds omp critical directives for ice warnings (for maint2.0)
  components/mpas-seaice/src/column/ice_warnings.F90
Labels: mpas-seaice, bug fix PR, BFB, maint-2.0

#5044 homme: fix cprnc path when not using cprnc_dir
  components/homme/CMakeLists.txt
Labels: HOMME

#5084 Hommexx: Expand GllFvRemap API to support additional EAMxx use cases.
  components/homme/src/share/cxx/GllFvRemap.cpp
  components/homme/src/share/cxx/GllFvRemap.hpp
  components/homme/src/share/cxx/GllFvRemapImpl.cpp
  components/homme/src/share/cxx/GllFvRemapImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/test_execs/thetal_kokkos_ut/gllfvremap_ut.cpp
Labels: BFB, SCREAM

#5016 Irrigation fields updated for the topounit-based subgrid structure
  components/elm/src/biogeophys/BalanceCheckMod.F90
  components/elm/src/biogeophys/CanopyFluxesMod.F90
  components/elm/src/biogeophys/CanopyHydrologyMod.F90
  components/elm/src/biogeophys/HydrologyDrainageMod.F90
  components/elm/src/main/elm_initializeMod.F90
  components/elm/src/main/elm_varsur.F90
  components/elm/src/main/surfrdMod.F90
  components/elm/src/utils/domainMod.F90
Labels: Land, BFB

#5058 Prevents leaf and livestem from turning negative immediately after harvest
  components/elm/src/biogeochem/EcosystemDynMod.F90
  components/elm/src/biogeochem/GapMortalityMod.F90
Labels: Land, non-BFB

#5082 Update compiler environment on Crusher from 8.2.0 to 8.3.3
  cime_config/machines/cmake_macros/amdclang_crusher.cmake
  cime_config/machines/cmake_macros/crayclang_crusher.cmake
  cime_config/machines/config_machines.xml
  components/eam/src/physics/cam/phys_grid.F90
Labels: Machine Files, BFB, Cray, GNU, AMD-compiler (amdclang), Crusher

#5093 Update Summit config in E3SMv1
  cime/config/e3sm/machines/config_batch.xml
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, BFB, HighRes, Summit, maint-1.0, performance, Ready to merge
