Repository E3SM-Project/E3SM, pull requests merged in 2023-06, with the labels that each got.

#5611 Update partitions for 4 MPAS-Seaice meshes
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-seaice, NML, non-BFB, inputdata

#5735 Fixes CIME import paths in template files
  cime_config/machines/template.case.run
  cime_config/machines/template.case.run.sh
  cime_config/machines/template.case.test
  cime_config/machines/template.st_archive
Labels: bug fix PR, CIME

#5685 add sunspot aurora test machine
  cime_config/machines/cmake_macros/oneapi-ifx.cmake
  cime_config/machines/cmake_macros/oneapi-ifx_sunspot.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu_jlse.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu_sunspot.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/cmake/build_model.cmake
  driver-mct/cime_config/config_component.xml
  driver-moab/cime_config/config_component.xml
Labels: Machine Files, BFB, Aurora

#5601 Add initial superBFB tests for MPAS-Seaice
  cime_config/tests.py
Labels: mpas-seaice, BFB, Testing

#5744 Revert aqueous chemistry bugfix PR
  components/eam/src/chemistry/mozart/mo_gas_phase_chemdr.F90
Labels: Atmosphere, CC

#5662 Add ocean linearization options
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/mode_analysis/mpas_ocn_analysis_mode.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_init_routines.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_hadv_coriolis.F
Labels: mpas-ocean, BFB, NML

#5599 Turns on debugging for multiple land tests.
  cime_config/tests.py
  components/elm/src/biogeochem/PhenologyMod.F90
Labels: Land, non-BFB

#5619 Fix high-frequency sea ice coupling to use ice v-vel component in atmospheric boundary layer
  components/mpas-seaice/src/column/ice_colpkg.F90
Labels: mpas-seaice, bug fix PR, non-BFB, Coupled Model

#5742 Remove cori cime_config settings
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/gnu_cori-haswell.cmake
  cime_config/machines/cmake_macros/gnu_cori-knl.cmake
  cime_config/machines/cmake_macros/intel_cori-haswell.cmake
  cime_config/machines/cmake_macros/intel_cori-knl.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  cime_config/machines/syslog.cori-haswell
  cime_config/machines/syslog.cori-knl
  cime_config/testmods_dirs/bench/gmpas_noio/shell_commands
Labels: Machine Files, Cori

#5756 Update intel compiler version on pm-cpu for maint-1.0
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, pm-cpu

#5751 Hommexx: Add state hash output capability for diagnosing run-to-run non-BFBness
  components/eam/bld/configure
  components/homme/src/preqx_kokkos/CMakeLists.txt
  components/homme/src/preqx_kokkos/cxx/ElementsState.cpp
  components/homme/src/preqx_kokkos/cxx/ElementsState.hpp
  components/homme/src/share/control_mod.F90
  components/homme/src/share/cxx/ComposeTransportImplGeneral.cpp
  components/homme/src/share/cxx/GllFvRemapImpl.cpp
  components/homme/src/share/cxx/SimulationParams.hpp
  components/homme/src/share/cxx/Tracers.cpp
  components/homme/src/share/cxx/Tracers.hpp
  components/homme/src/share/cxx/mpi/BoundaryExchange.cpp
  components/homme/src/share/cxx/mpi/BoundaryExchange.hpp
  components/homme/src/share/cxx/utilities/Hash.cpp
  components/homme/src/share/cxx/utilities/Hash.hpp
  components/homme/src/share/cxx/utilities/InternalDiagnostics.cpp
  components/homme/src/share/cxx/utilities/InternalDiagnostics.hpp
  components/homme/src/share/namelist_mod.F90
  components/homme/src/theta-l_kokkos/CMakeLists.txt
  components/homme/src/theta-l_kokkos/cxx/CaarFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/ElementsState.cpp
  components/homme/src/theta-l_kokkos/cxx/ElementsState.hpp
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.cpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/src/theta-l_kokkos/theta_f2c_mod.F90
  components/homme/test/reg_test/namelists/thetah-sl-test11conv-r0t1-cdr30-rrm.nl
  components/homme/test_execs/share_kokkos_ut/CMakeLists.txt
  components/homme/test_execs/share_kokkos_ut/infrastructure_ut.cpp
Labels: enhancement, HOMME, EAMxx

#5757 On pm-cpu, Update module version of intel compiler
  cime_config/machines/config_machines.xml
Labels: Machine Files, pm-cpu

#5725 Add a manufactured solution to MPAS-Ocean
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-group-list
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/mode_forward/mpas_ocn_forward_mode.F
  components/mpas-ocean/src/ocean.cmake
  components/mpas-ocean/src/shared/Makefile
  components/mpas-ocean/src/shared/mpas_ocn_manufactured_solution.F
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
Labels: mpas-ocean, BFB, NML

#5752 updated fates_levleaf dimvar type
  components/elm/src/main/histFileMod.F90
Labels: Land, FATES, Feature branch PR

#5765 Remove extraneous character from openacc directive
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
Labels: mpas-ocean, bug fix PR, BFB, OpenACC

#5732 [MPAS standalone] Add `HAVE_ADIOS=false` CPP flag for PIO without ADIOS
  components/mpas-framework/Makefile
  components/mpas-framework/src/CMakeLists.txt
  components/mpas-framework/src/framework/mpas_io.F
Labels: BFB, mpas-framework

#5690 Adds a new ELM domain decomposition algorithm
  cime_config/tests.py
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/simple_decomp/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/simple_decomp/user_nl_elm
  components/elm/src/main/decompInitMod.F90
  components/elm/src/main/elm_initializeMod.F90
Labels: Land, BFB

#5635 Update ocean and sea-ice partitions for 6 E3SM v1 meshes used in testing
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-ocean, mpas-seaice, NML, non-BFB, inputdata

#5734 Fix ocean implicit bottom drag using log law-of-the-wall
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/loglaw_impl_bot_drag/README
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/loglaw_impl_bot_drag/user_nl_mpaso
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_vmix.F
Labels: mpas-ocean, BFB, NML, Stealth

#5775 disable excessive logging in chem
  components/eam/src/chemistry/mozart/lin_strat_chem.F90
  components/eam/src/chemistry/mozart/mo_gas_phase_chemdr.F90
  components/eam/src/chemistry/mozart/mo_lightning.F90
Labels: Atmosphere, BFB, Atmospheric chemistry, Feature branch PR
