Repository E3SM-Project/E3SM, pull requests merged in 2023-03, with the labels that each got.

#5484 EAM: don't use p3 settings if microphs is not p3
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
Labels: BFB, NML, eam

#5471 Fix loop extents to avoid uninitialized array issues
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_eddy_parameterization_helpers.F
Labels: mpas-ocean, BFB

#5480 Add space before bfb_erf macro so as not to confuse preprocessor
  components/eam/src/physics/cam/shoc.F90
Labels: Atmosphere, AMD-compiler (amdclang), nvidia compiler

#5481 Hommexx: Add doubly-periodic capability.
  components/homme/cmake/HommeMacros.cmake
  components/homme/src/preqx_kokkos/cxx/cxx_f90_interface_preqx.cpp
  components/homme/src/preqx_kokkos/preqx_f2c_mod.F90
  components/homme/src/preqx_kokkos/prim_driver_mod.F90
  components/homme/src/share/cxx/ComposeTransportImplTrajectory.cpp
  components/homme/src/share/cxx/Elements.cpp
  components/homme/src/share/cxx/Elements.hpp
  components/homme/src/share/cxx/ElementsGeometry.cpp
  components/homme/src/share/cxx/ElementsGeometry.hpp
  components/homme/src/share/cxx/SimulationParams.hpp
  components/homme/src/share/cxx/SphereOperators.hpp
  components/homme/src/share/cxx/utilities/SyncUtils.hpp
  components/homme/src/test_src/dry_planar.F90
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/cxx/prim_advance_exp.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/src/theta-l_kokkos/theta_f2c_mod.F90
  components/homme/test/reg_test/run_tests/preqx-nhgw-kokkos.cmake
  components/homme/test/reg_test/run_tests/preqx-nhgw-slice-kokkos.cmake
  components/homme/test/reg_test/run_tests/preqx-nhgw-slice.cmake
  components/homme/test/reg_test/run_tests/preqx-nhgw.cmake
  components/homme/test/reg_test/run_tests/test-list.cmake
  components/homme/test/reg_test/run_tests/thetah-nhgw-kokkos.cmake
  components/homme/test/reg_test/run_tests/thetah-nhgw-slice-kokkos.cmake
  components/homme/test/reg_test/run_tests/thetah-sl-test11conv-r0t1-cdr30-rrm-cxx_vs_f90.cmake
  components/homme/test/reg_test/run_tests/thetanh-dry-bubble-kokkos.cmake
  components/homme/test/reg_test/run_tests/thetanh-moist-bubble-kokkos.cmake
  components/homme/test/reg_test/run_tests/thetanh-nhgw-kokkos.cmake
  components/homme/test/reg_test/run_tests/thetanh-nhgw-slice-kokkos.cmake
  components/homme/test/reg_test/run_tests/thetanh-nhgw-slice.cmake
  components/homme/test/reg_test/run_tests/thetanh-nhgw.cmake
  components/homme/test_execs/CMakeLists.txt
  components/homme/test_execs/preqx-nlev10-native-kokkos/CMakeLists.txt
  components/homme/test_execs/preqx_kokkos_ut/random_init_ut.cpp
  components/homme/test_execs/preqx_kokkos_ut/remap_preqx_ut.cpp
  components/homme/test_execs/share_kokkos_ut/sphere_op_ml.cpp
  components/homme/test_execs/share_kokkos_ut/sphere_op_sl.cpp
  components/homme/test_execs/theta-l-nlev10-native-kokkos/CMakeLists.txt
  components/homme/test_execs/theta-l-nlev20-native-kokkos/CMakeLists.txt
  components/homme/test_execs/thetal_kokkos_ut/compose_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/forcing_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/gllfvremap_ut.cpp
Labels: enhancement, HOMME standalone, EAMxx

#5483 Added missing am_thicknesses to mpas-seaice build file
  components/mpas-seaice/bld/build-namelist-group-list
Labels: mpas-seaice, bug fix PR, BFB

#5456 Bug fix to sea ice regional statistics
  components/mpas-seaice/src/analysis_members/mpas_seaice_regional_statistics.F
Labels: mpas-seaice, bug fix PR

#5442 Improvements to Diagnostics computation
  components/homme/src/theta-l_kokkos/cxx/Diagnostics.cpp
  components/homme/src/theta-l_kokkos/cxx/Diagnostics.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/src/theta-l_kokkos/theta_f2c_mod.F90
Labels: BFB, HOMME

#5432 hommexx: make forcingalg int
  components/homme/src/share/cxx/HommexxEnums.hpp
Labels: HOMME

#5494 Support for ADIOS type in drivers
  driver-mct/cime_config/config_component.xml
  driver-moab/cime_config/config_component.xml
  share/util/shr_pio_mod.F90
Labels: BFB, SCORPIO, MCT

#5421 Fixes initialization of snow ice mass tracer
  components/mpas-seaice/src/column/ice_shortwave.F90
  components/mpas-seaice/src/column/ice_snow.F90
  components/mpas-seaice/src/column/ice_therm_vertical.F90
  components/mpas-seaice/src/shared/mpas_seaice_column.F
Labels: mpas-seaice, non-BFB

#5499 Update files for LANL IC machine chicoma-cpu
  cime_config/machines/cmake_macros/intel_chicoma.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#5454 Updates multiple tests to use land initial condition
  cime_config/testmods_dirs/allactive/wcprod_1850/README
  cime_config/testmods_dirs/allactive/wcprod_1850/shell_commands
  cime_config/testmods_dirs/allactive/wcprod_1850/user_nl_eam
  cime_config/testmods_dirs/allactive/wcprod_1850/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprod_1850/user_nl_mosart
  cime_config/testmods_dirs/allactive/wcprod_1850_1pctCO2/README
  cime_config/testmods_dirs/allactive/wcprod_1850_1pctCO2/shell_commands
  cime_config/testmods_dirs/allactive/wcprod_1850_1pctCO2/user_nl_eam
  cime_config/testmods_dirs/allactive/wcprod_1850_1pctCO2/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprod_1850_1pctCO2/user_nl_mosart
  cime_config/testmods_dirs/allactive/wcprod_1850_4xCO2/README
  cime_config/testmods_dirs/allactive/wcprod_1850_4xCO2/shell_commands
  cime_config/testmods_dirs/allactive/wcprod_1850_4xCO2/user_nl_eam
  cime_config/testmods_dirs/allactive/wcprod_1850_4xCO2/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprod_1850_4xCO2/user_nl_mosart
  cime_config/testmods_dirs/allactive/wcprod_1850_r05/README
  cime_config/testmods_dirs/allactive/wcprod_1850_r05/shell_commands
  cime_config/testmods_dirs/allactive/wcprod_1850_r05/user_nl_eam
  cime_config/testmods_dirs/allactive/wcprod_1850_r05/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprod_1850_r05/user_nl_mosart
  cime_config/testmods_dirs/allactive/wcprodrrm_1850/README
  cime_config/testmods_dirs/allactive/wcprodrrm_1850/shell_commands
  cime_config/testmods_dirs/allactive/wcprodrrm_1850/user_nl_eam
  cime_config/testmods_dirs/allactive/wcprodrrm_1850/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprodrrm_1850/user_nl_mosart
  cime_config/testmods_dirs/allactive/wcprodrrm_1850/user_nl_mpaso
  cime_config/tests.py
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod_F2010/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod_F2010/user_nl_eam
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod_F2010/user_nl_elm
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod_F20TR/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod_F20TR/user_nl_eam
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod_F20TR/user_nl_elm
  components/elm/cime_config/testdefs/testmods_dirs/elm/ic_f19_f19_ielm/user_nl_elm
Labels: Land

#5492 Adding ADIOS install paths
  cime_config/config_files.xml
  cime_config/machines/cmake_macros/amdclang_pm-cpu.cmake
  cime_config/machines/cmake_macros/gnu_anlgce-ub18.cmake
  cime_config/machines/cmake_macros/gnu_anlgce.cmake
  cime_config/machines/cmake_macros/gnu_anlworkstation.cmake
  cime_config/machines/cmake_macros/gnu_anvil.cmake
  cime_config/machines/cmake_macros/gnu_bebop.cmake
  cime_config/machines/cmake_macros/gnu_chrysalis.cmake
  cime_config/machines/cmake_macros/gnu_cori-haswell.cmake
  cime_config/machines/cmake_macros/gnu_cori-knl.cmake
  cime_config/machines/cmake_macros/gnu_pm-cpu.cmake
  cime_config/machines/cmake_macros/gnu_pm-gpu.cmake
  cime_config/machines/cmake_macros/gnu_summit.cmake
  cime_config/machines/cmake_macros/gnu_theta.cmake
  cime_config/machines/cmake_macros/gnugpu_pm-gpu.cmake
  cime_config/machines/cmake_macros/gnugpu_summit.cmake
  cime_config/machines/cmake_macros/ibm_summit.cmake
  cime_config/machines/cmake_macros/intel_anvil.cmake
  cime_config/machines/cmake_macros/intel_bebop.cmake
  cime_config/machines/cmake_macros/intel_chrysalis.cmake
  cime_config/machines/cmake_macros/intel_compy.cmake
  cime_config/machines/cmake_macros/intel_cori-haswell.cmake
  cime_config/machines/cmake_macros/intel_cori-knl.cmake
  cime_config/machines/cmake_macros/intel_theta.cmake
  cime_config/machines/cmake_macros/nvidia_pm-cpu.cmake
  cime_config/machines/cmake_macros/nvidia_pm-gpu.cmake
  cime_config/machines/cmake_macros/nvidiagpu_pm-gpu.cmake
  cime_config/machines/cmake_macros/pgi_compy.cmake
  cime_config/machines/cmake_macros/pgi_summit.cmake
  cime_config/machines/cmake_macros/pgigpu_summit.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, SCORPIO

#5386 homme: fix cmake stdout diagnostics
  components/homme/cmake/CxxVsF90.cmake.in
  components/homme/src/theta-l/share/prim_state_mod.F90
Labels: bug fix PR, HOMME

#5254 Modify ocean z-star ALE coordinate for inactive top cells
  components/mpas-ocean/src/shared/mpas_ocn_thick_ale.F
Labels: mpas-ocean, non-BFB

#5523 Simplify by removing interface assignment and copy_par subroutine
  components/homme/src/share/parallel_mod.F90
Labels: BFB, HOMME, nvidia compiler

#5488 New MPAS-SI + WW3 compset (D-compset plus ww3)
  components/mpas-seaice/cime_config/config_compsets.xml
  components/ww3/cime_config/config_compsets.xml
Labels: mpas-seaice, BFB, Wave

#5490 Adding support for ADIOS in MPAS
  components/mpas-framework/src/framework/mpas_io.F
  components/mpas-framework/src/framework/mpas_io_types.inc
  components/mpas-framework/src/framework/mpas_stream_manager.F
  components/mpas-framework/src/framework/xml_stream_parser.c
Labels: BFB, SCORPIO, mpas-framework

#5509 Add CondiDiag1.1 to EAM
  cime_config/tests.py
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/cime_config/testdefs/testmods_dirs/eam/condidiag_dcape/user_nl_eam
  components/eam/cime_config/testdefs/testmods_dirs/eam/condidiag_rhi/user_nl_eam
  components/eam/src/control/cam_comp.F90
  components/eam/src/control/cam_history_support.F90
  components/eam/src/control/cam_restart.F90
  components/eam/src/control/runtime_opts.F90
  components/eam/src/physics/cam/clubb_intr.F90
  components/eam/src/physics/cam/conditional_diag.F90
  components/eam/src/physics/cam/conditional_diag_main.F90
  components/eam/src/physics/cam/conditional_diag_output_utils.F90
  components/eam/src/physics/cam/conditional_diag_restart.F90
  components/eam/src/physics/cam/misc_diagnostics.F90
  components/eam/src/physics/cam/physpkg.F90
  components/eam/src/physics/cam/restart_physics.F90
  components/eam/src/physics/cam/zm_conv.F90
  components/eam/src/physics/cam/zm_conv_intr.F90
Labels: Atmosphere, BFB

#5529 For pm-cpu,pm-gpu,alvarez, update to the default nvidia 22.7 compiler
  cime_config/machines/config_machines.xml
Labels: Machine Files, pm-gpu, pm-cpu, nvidia compiler

#5534 Update comments and coding style in shr_reprosum_mod
  share/util/shr_reprosum_mod.F90
Labels: Utils, BFB

#5541 Update bld files to catch missed mpas-o Registry change
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
Labels: BFB, NML

#5498 Removed confusing warning error messages from forcing
  components/mpas-framework/src/framework/mpas_forcing.F
  components/mpas-framework/src/framework/mpas_pool_routines.F
Labels: BFB, mpas-framework

#5533 For pm-cpu/pm-gpu, update some module versions to current machine defaults
  cime_config/machines/config_machines.xml
Labels: Machine Files, pm-gpu, pm-cpu

#5530 Adding SCORPIO build and post processing scripts
  cime_config/config_files.xml
  cime_config/customize/case_post_run_io.py
  cime_config/machines/config_workflow.xml
  cime_config/machines/template.post_run_io
  share/build/buildlib.spio
Labels: enhancement, Scripts, BFB, SCORPIO

#5549 Fix support for preventing overflow and catastrophic cancellation
  share/util/shr_reprosum_mod.F90
Labels: bug fix PR, Utils, BFB

#5557 Fix output format width for IBM compiler
  components/eam/src/physics/cam/micro_p3_interface.F90
Labels: minor, BFB, IBM, eam

#5496 Implement alternating control of Fortran P3 codes for eam and scream
  cime_config/tests.py
  components/eam/bld/configure
  components/eam/src/physics/p3/eam/micro_p3.F90
  components/eam/src/physics/p3/eam/micro_p3_interface.F90
  components/eam/src/physics/p3/eam/micro_p3_utils.F90
  components/eam/src/physics/p3/scream/micro_p3.F90
  components/eam/src/physics/p3/scream/micro_p3_interface.F90
  components/eam/src/physics/p3/scream/micro_p3_utils.F90
  components/eamxx/src/physics/p3/CMakeLists.txt
Labels: Atmosphere

#5564 Revert z-star PR
  components/mpas-ocean/src/shared/mpas_ocn_thick_ale.F
Labels: mpas-ocean, non-BFB

#5547 Adding ADIOS install paths for Crusher
  cime_config/machines/cmake_macros/amdclang_crusher.cmake
  cime_config/machines/cmake_macros/amdclanggpu_crusher.cmake
  cime_config/machines/cmake_macros/crayclang-scream_crusher-scream-cpu.cmake
  cime_config/machines/cmake_macros/crayclang-scream_crusher-scream-gpu.cmake
  cime_config/machines/cmake_macros/crayclang_crusher.cmake
  cime_config/machines/cmake_macros/crayclanggpu_crusher.cmake
  cime_config/machines/cmake_macros/gnu_crusher.cmake
  cime_config/machines/cmake_macros/gnugpu_crusher.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Crusher

#5553 [MPAS-Ocean standalone] Allow land-ice topo to come from MPAS variables
  components/mpas-ocean/src/mode_init/Registry_global_ocean.xml
  components/mpas-ocean/src/mode_init/mpas_ocn_init_global_ocean.F
Labels: mpas-ocean, BFB

#5527 Removed ice pressure as a daily average output for V3
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-seaice, BFB, Coupled Model

#5561 Add an init-to-zero for kbfs and remove unecessary where statement
  components/eam/src/physics/cam/clubb_intr.F90
Labels: BFB, eam
