Repository E3SM-Project/E3SM, pull requests merged in 2023-02, with the labels that each got.

#5414 Add a new machine gcp12 (google cloud platform)
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/gnu_gcp10.cmake
  cime_config/machines/cmake_macros/gnu_gcp12.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
  components/elm/cime_config/config_pes.xml
  components/mpas-albany-landice/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
  components/mpas-seaice/cime_config/config_pes.xml
Labels: Machine Files, BFB, GCP

#5405 [MPAS-Standalone] Add optional include flag to OpenMP checks
  components/mpas-framework/Makefile
Labels: BFB, mpas-framework

#5426 Homme: Permit createExecLib-based builds to find netcdf.mod.
  components/homme/CMakeLists.txt
  components/homme/cmake/HommeMacros.cmake
Labels: HOMME, RRM, SCREAM

#5390 Update exclusive process strides
  driver-mct/shr/seq_comm_mct.F90
Labels: BFB, performance

#5438 Switch mappy to slurm
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  driver-mct/cime_config/config_component.xml
  driver-moab/cime_config/config_component.xml
Labels: Machine Files, BFB

#5431 Hommexx: Work around a Cuda issue on Perlmutter GPU.
  components/homme/src/share/cxx/mpi/BoundaryExchange.hpp
Labels: HOMME, EAMxx, pm-gpu

#5424 Added ice thicknesses analysis member
  components/mpas-seaice/bld/build-namelist
  components/mpas-seaice/bld/build-namelist-section
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/bld/namelist_files/namelist_definition_mpassi.xml
  components/mpas-seaice/src/analysis_members/Makefile
  components/mpas-seaice/src/analysis_members/Registry_seaice_analysis_members.xml
  components/mpas-seaice/src/analysis_members/Registry_seaice_thicknesses.xml
  components/mpas-seaice/src/analysis_members/mpas_seaice_analysis_driver.F
  components/mpas-seaice/src/analysis_members/mpas_seaice_thicknesses.F
  components/mpas-seaice/src/seaice.cmake
Labels: mpas-seaice, bug fix PR, BFB, NML

#5404 Update raw data for soil erosion to match code changes in fsurdat
  components/elm/bld/namelist_files/namelist_defaults_tools.xml
Labels: Land

#5397 Avoid keyword args for non-opt PIO args in ELM
  components/elm/src/main/initInterp.F90
  components/elm/src/main/ncdio_pio.F90.in
Labels: Land, BFB, SCORPIO

#5396 Avoid keyword args for non-opt PIO args in MOSART
  components/mosart/src/riverroute/RtmIO.F90
  components/mosart/src/riverroute/RtmMod.F90
  components/mosart/src/wrm/WRM_subw_IO_mod.F90
Labels: BFB, River, SCORPIO

#5441 Turn MPAS-Ocean conservation analysis member on by default
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
Labels: mpas-ocean, BFB

#5437 Fix an array allocation bug in the ocean SI solver
  components/mpas-ocean/src/mode_forward/mpas_ocn_forward_mode.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
Labels: mpas-ocean, bug fix PR, BFB, Stealth

#5439 Update weaver.cmake for gcc8/cuda11
  components/homme/cmake/machineFiles/weaver.cmake
Labels: Machine Files

#5462 For pm-cpu, increase MEMLEAK tolerance to 0.2
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, FATES, Testing, pm-cpu

#5470 Add WSL2 machine and gnu compiler
  cime_config/machines/cmake_macros/gnu_WSL2.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#5458 Bugfix for ocean submesoscale feature
  components/mpas-ocean/src/Registry.xml
Labels: mpas-ocean, bug fix PR, BFB

#5461 Bugfix for ocean submesoscale feature
  components/mpas-ocean/src/Registry.xml
Labels: mpas-ocean, bug fix PR, maint-2.1

#5452 Fixes ELM variable that stores grid type
  components/elm/src/utils/domainMod.F90
Labels: Land, bug fix PR, BFB

#5468 For pm-cpu (and alvarez), decrease optimization of nvidia compiler fortran builds
  cime_config/machines/Depends.pm-cpu.nvidia.cmake
  cime_config/machines/cmake_macros/nvidia.cmake
  cime_config/machines/cmake_macros/nvidia_alvarez.cmake
  cime_config/machines/cmake_macros/nvidia_pm-cpu.cmake
Labels: Machine Files, pm-cpu, nvidia compiler

#5472 Fixed bug with sea ice ridging diagnostics
  components/mpas-seaice/src/analysis_members/mpas_seaice_ridging_diagnostics.F
Labels: mpas-seaice, bug fix PR, BFB
