Repository E3SM-Project/E3SM, pull requests merged in 2023-12, with the labels that each got.

#6069 Fix SCORPIO CLASSIC build
  components/cmake/common_setup.cmake
  components/mpas-framework/src/CMakeLists.txt
  components/mpas-framework/src/framework/mpas_io.F
  share/build/buildlib.spio
  share/util/shr_pio_mod.F90
Labels: bug fix PR, BFB, CMake build system

#6094 CPL: Add field exclusions list for nonlinear maps.
  driver-mct/cime_config/namelist_definition_drv.xml
  driver-mct/main/cime_comp_mod.F90
  driver-mct/main/seq_nlmap_mod.F90
  driver-mct/shr/seq_infodata_mod.F90
Labels: Coupler, non-BFB

#6041 Fix split-explicit barotropic velocity accumulator
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
Labels: mpas-ocean, bug fix PR, BFB, NCC

#6079 Add new IcoswISC30E3r5 ocean and sea-ice mesh
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-ocean, mpas-seaice, BFB

#6090 Sea ice data reduction for E3SM V3
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
  components/mpas-seaice/src/Registry.xml
  components/mpas-seaice/src/analysis_members/Registry_seaice_ridging_diagnostics.xml
  components/mpas-seaice/src/analysis_members/mpas_seaice_ridging_diagnostics.F
Labels: mpas-seaice, BFB, NML, Coupled Model

#6095 Reduce ocean output fields
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/src/analysis_members/Registry_eddy_product_variables.xml
Labels: mpas-ocean, BFB, NML

#5981 Add FAN and fertilizer for crops
  cime_config/tests.py
  components/elm/bld/ELMBuildNamelist.pm
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_defaults_fan.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/bld/namelist_files/namelist_definition_drv_flds.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/fan/user_nl_elm
  components/elm/cime_config/testdefs/testmods_dirs/elm/lulcc_sville/user_nl_elm
  components/elm/cime_config/testdefs/testmods_dirs/elm/per_crop/user_nl_elm
  components/elm/src/biogeochem/CNEcosystemDynBetrMod.F90
  components/elm/src/biogeochem/CNNitrogenFluxType.F90
  components/elm/src/biogeochem/CNNitrogenStateType.F90
  components/elm/src/biogeochem/CNPBudgetMod.F90
  components/elm/src/biogeochem/CNPhenologyBeTRMod.F90
  components/elm/src/biogeochem/CropMod.F90
  components/elm/src/biogeochem/CropType.F90
  components/elm/src/biogeochem/EcosystemBalanceCheckMod.F90
  components/elm/src/biogeochem/EcosystemDynMod.F90
  components/elm/src/biogeochem/FanMod.F90
  components/elm/src/biogeochem/FanUpdateMod.F90
  components/elm/src/biogeochem/NitrogenDynamicsMod.F90
  components/elm/src/biogeochem/PhenologyMod.F90
  components/elm/src/biogeochem/PhosphorusDynamicsMod.F90
  components/elm/src/biogeochem/PhosphorusStateUpdate1Mod.F90
  components/elm/src/biogeophys/HydrologyNoDrainageMod.F90
  components/elm/src/biogeophys/WaterStateType.F90
  components/elm/src/cpl/elm_cpl_indices.F90
  components/elm/src/cpl/lnd_import_export.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/data_types/VegetationDataType.F90
  components/elm/src/data_types/VegetationPropertiesType.F90
  components/elm/src/dyn_subgrid/dyncropFileMod.F90
  components/elm/src/main/atm2lndType.F90
  components/elm/src/main/controlMod.F90
  components/elm/src/main/elm_driver.F90
  components/elm/src/main/elm_initializeMod.F90
  components/elm/src/main/elm_varctl.F90
  components/elm/src/main/elm_varsur.F90
  components/elm/src/main/fanStreamMod.F90
  components/elm/src/main/lnd2atmMod.F90
  components/elm/src/main/lnd2atmType.F90
  components/elm/src/main/pftvarcon.F90
  components/elm/src/main/surfrdMod.F90
  components/elm/src/main/surfrdUtilsMod.F90
  components/elm/tools/mksurfdata_map/mksurfdata.pl
  components/elm/tools/mksurfdata_map/src/Makefile.common
  components/elm/tools/mksurfdata_map/src/mkFertMod.F90
  components/elm/tools/mksurfdata_map/src/mkfileMod.F90
  components/elm/tools/mksurfdata_map/src/mkpftMod.F90
  components/elm/tools/mksurfdata_map/src/mksurfdat.F90
  components/elm/tools/mksurfdata_map/src/mkvarctl.F90
  driver-mct/cime_config/namelist_definition_drv_flds.xml
  driver-mct/shr/seq_flds_mod.F90
  driver-mct/shr/shr_fan_mod.F90
Labels: enhancement, Land

#6105 Add/update checks on MPAS-Seaice configuration settings.
  components/mpas-seaice/bld/build-namelist
  components/mpas-seaice/bld/build-namelist-section
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/bld/namelist_files/namelist_definition_mpassi.xml
  components/mpas-seaice/src/Registry.xml
  components/mpas-seaice/src/shared/mpas_seaice_constants.F
  components/mpas-seaice/src/shared/mpas_seaice_icepack.F
  components/mpas-seaice/src/shared/mpas_seaice_initialize.F
Labels: mpas-seaice, BFB, NML, Coupled Model

#6047 Fix split-explicit upwinded advection
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
Labels: mpas-ocean, bug fix PR, BFB

#6099 Remove ECwISC30to60E3r2 ocean and sea ice mesh
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-ocean, mpas-seaice, BFB

#6056 Fix bug in stealth feature log-law drag
  components/mpas-ocean/src/shared/mpas_ocn_vmix.F
Labels: mpas-ocean, bug fix PR, BFB, Stealth

#6103 Update pgi compiler flags
  cime_config/machines/Depends.pgigpu.cmake
  cime_config/machines/cmake_macros/intel_pm-cpu.cmake
  cime_config/machines/cmake_macros/nvidia.cmake
  cime_config/machines/cmake_macros/nvidia_muller.cmake
  cime_config/machines/cmake_macros/nvidiagpu.cmake
  cime_config/machines/cmake_macros/nvidiagpu_muller.cmake
  cime_config/machines/cmake_macros/nvidiagpu_pm-gpu.cmake
  cime_config/machines/cmake_macros/pgi.cmake
  cime_config/machines/cmake_macros/pgigpu.cmake
  components/eam/cime_config/config_pes.xml
  components/eam/src/physics/crm/crm_physics.F90
  components/elm/cime_config/config_pes.xml
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
Labels: Machine Files, BFB, Ready to merge, PGI

#6067 Removes sea surface height gradient filtering as a stealth option in E3SM
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-ocean/src/Registry.xml
Labels: mpas-ocean, BFB, NML, Coupled Model

#6104 Update OneAPI linker flags
  cime_config/machines/Depends.oneapi-ifx.cmake
  cime_config/machines/Depends.oneapi-ifxgpu.cmake
  cime_config/machines/cmake_macros/oneapi-ifx.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu.cmake
  components/cmake/build_model.cmake
Labels: Machine Files, BFB, Aurora

#6121 Add v3.LR PE-layouts on Chrysalis
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, BFB, Coupled Model, Performance, Ready to merge, Chrysalis

#6112 Temporary vertical grid override for RRM cases
  components/eam/cime_config/config_component.xml
Labels: non-BFB, Testing
