Repository E3SM-Project/E3SM, pull requests merged in 2023-05, with the labels that each got.

#5616 Add Polar historical/SSP compsets
  cime_config/allactive/config_compsets.xml
Labels: Scripts, compset, BFB, Coupled Model

#5618 Added missing OpenACC data directives for ocean landIceEdgeFraction
  components/mpas-ocean/src/shared/mpas_ocn_vmix.F
Labels: mpas-ocean, bug fix PR, BFB, OpenACC

#5649 Add the intel compiler to pm-cpu
  cime_config/machines/Depends.pm-cpu.intel.cmake
  cime_config/machines/cmake_macros/intel_pm-cpu.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, pm-cpu

#5606 For gcp12 machine, update PE layouts
  cime_config/allactive/config_pesall.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
  components/elm/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
  components/mpas-seaice/cime_config/config_pes.xml
Labels: Machine Files, GCP

#5659 Fix uninitialized col_delta in mo_gas_phase_chemdr.F90
  components/eam/src/chemistry/mozart/mo_gas_phase_chemdr.F90
Labels: Atmosphere, bug fix PR, BFB, Atmospheric chemistry

#5656 tentative ssp testmod and control for E90 related calculations/output
  cime_config/testmods_dirs/allactive/wcprodssp/user_nl_eam
  components/eam/src/chemistry/mozart/chemistry.F90
  components/eam/src/chemistry/mozart/mo_chm_diags.F90
  components/eam/src/physics/cam/tropopause.F90
Labels: Atmosphere, bug fix PR, Atmospheric chemistry

#5639 Reduce the number of files required for JRA_1p5 D-tests
  cime_config/config_files.xml
  cime_config/tests.py
  components/data_comps/datm/cime_config/config_component.xml
  components/data_comps/datm/cime_config/namelist_definition_datm.xml
  components/mpas-seaice/cime_config/testdefs/testmods_dirs/mpassi/jra_1958/shell_commands
Labels: mpas-seaice, BFB, Testing, new baselines needed

#5590 Add ocean wetting-and-drying ramp feature
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
  components/mpas-ocean/src/shared/mpas_ocn_wetting_drying.F
Labels: mpas-ocean, BFB

#5655 For pm-cpu, change all default PE layouts to use 1 thread (no threading)
  cime_config/allactive/config_pesall.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
  components/elm/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
  components/mpas-seaice/cime_config/config_pes.xml
Labels: Machine Files, non-BFB, pm-cpu

#5625 Implement VBS SOA and couple it with chemUCI
  cime_config/allactive/config_compsets.xml
  components/eam/bld/build-namelist
  components/eam/bld/config_files/definition.xml
  components/eam/bld/configure
  components/eam/bld/namelist_files/master_gas_drydep_list.xml
  components/eam/bld/namelist_files/master_gas_wetdep_list.xml
  components/eam/chem_proc/inputs/pp_chemUCI_linozv3_mam4_resus_mom_vbs.in
  components/eam/src/chemistry/modal_aero/modal_aero_amicphys.F90
  components/eam/src/chemistry/modal_aero/modal_aero_data.F90
  components/eam/src/chemistry/mozart/mo_gas_phase_chemdr.F90
  components/eam/src/chemistry/mozart/mo_neu_wetdep.F90
  components/eam/src/chemistry/mozart/mo_sethet.F90
Labels: Atmosphere, BFB, Stealth, Atmospheric chemistry

#5660 Fix out-of-bounds error by only looking at array when scm_multcols enabled
  components/eam/src/dynamics/se/inidat.F90
Labels: HOMME

#5587 Update data contact
  components/eam/src/control/cam_history.F90
  components/elm/src/main/histFileMod.F90
  components/mosart/src/riverroute/RtmHistFile.F90
  components/mpas-albany-landice/driver/glc_comp_mct.F
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-seaice/driver/ice_comp_mct.F
Labels: BFB, Coupled Model

#5633 removed private arrays in ocn tracer advection
  components/mpas-ocean/src/shared/mpas_ocn_tracer_advection_mono.F
Labels: mpas-ocean, BFB, Performance, Crusher, OpenACC, Frontier

#5682 Update job-id pattern on Ascent
  cime_config/machines/config_batch.xml
Labels: Machine Files, BFB, Summit

#5684 For pm-cpu only, use the regular intel module instead of intel-oneapi
  cime_config/machines/Depends.pm-cpu.intel.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, non-BFB, pm-cpu, intel compiler

#5630 Corrects thin ice/snow treatment of enthalpy and other tracers
  components/mpas-seaice/src/column/ice_therm_vertical.F90
Labels: mpas-seaice, bug fix PR, non-BFB

#5604 refactor of land NP supplementation flags & fates fixation updates
  cime_config/machines/cmake_macros/gnu_eddi.cmake
  cime_config/machines/config_machines.xml
  components/elm/src/biogeochem/AllocationMod.F90
  components/elm/src/biogeochem/EcosystemDynMod.F90
  components/elm/src/biogeochem/NitrogenDynamicsMod.F90
  components/elm/src/biogeochem/VerticalProfileMod.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/main/elmfates_interfaceMod.F90
Labels: Land, non-BFB

#5669 Change SOwISC12to60E2r4 ocn domain file to masked version
  cime_config/config_grids.xml
Labels: mpas-ocean, bug fix PR, BFB

#5650 reduce opt on elm files
  cime_config/machines/Depends.chrysalis.intel.cmake
Labels: Machine Files, BFB, Chrysalis

#5478 ZM enhancements
  cime_config/machines/Depends.anlgce.gnu.cmake
  cime_config/machines/Depends.chrysalis.intel.cmake
  cime_config/machines/Depends.pm-cpu.gnu.cmake
  cime_config/tests.py
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/cime_config/testdefs/testmods_dirs/eam/zm_enhancements/user_nl_eam
  components/eam/src/physics/cam/activate_drop_mam.F90
  components/eam/src/physics/cam/clubb_intr.F90
  components/eam/src/physics/cam/conv_water.F90
  components/eam/src/physics/cam/convect_deep.F90
  components/eam/src/physics/cam/convect_shallow.F90
  components/eam/src/physics/cam/macrop_driver.F90
  components/eam/src/physics/cam/ndrop.F90
  components/eam/src/physics/cam/ndrop_bam.F90
  components/eam/src/physics/cam/nucleate_ice_conv.F90
  components/eam/src/physics/cam/physpkg.F90
  components/eam/src/physics/cam/zm_conv.F90
  components/eam/src/physics/cam/zm_conv_intr.F90
  components/eam/src/physics/cam/zm_microphysics.F90
Labels: Atmosphere, Stealth

#5687 adding o3 surface loss for V2 chemistry configuration
  components/eam/src/chemistry/mozart/lin_strat_chem.F90
Labels: bug fix PR, non-BFB, Atmospheric chemistry

#5696 Add pm-cpu to maint-1.0, including GNU and Intel compilers
  cime/config/e3sm/machines/config_batch.xml
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
  components/homme/cmake/machineFiles/pm-cpu.cmake
Labels: Machine Files, maint-1.0, pm-cpu

#5612 Avoid more keyword args in MOSART
  components/mosart/src/riverroute/RtmMod.F90
Labels: BFB, River, SCORPIO

#5576 Add initial superBFB tests for OCN
  cime_config/testmods_dirs/pemod/omp1/shell_commands
  cime_config/testmods_dirs/pemod/omp2/shell_commands
  cime_config/testmods_dirs/pemod/ompfull/shell_commands
  cime_config/tests.py
Labels: mpas-ocean, BFB, Testing

#5715 Add low nc limit in P3 microphysics
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/src/physics/p3/eam/micro_p3.F90
  components/eam/src/physics/p3/eam/micro_p3_interface.F90
Labels: Atmosphere, BFB

#5686 Cray compilers: Remove obsolete flags
  cime_config/machines/cmake_macros/cray.cmake
  cime_config/machines/cmake_macros/crayclang.cmake
  cime_config/machines/cmake_macros/crayclanggpu.cmake
  cime_config/machines/cmake_macros/crayclanggpu_crusher.cmake
  cime_config/machines/cmake_macros/crayclanggpu_frontier.cmake
Labels: Machine Files, Cray, Crusher, Frontier

#5718 Change explicit solver equation for SO2 and H2SO4
  components/eam/src/chemistry/mozart/mo_exp_sol.F90
  components/eam/src/chemistry/mozart/mo_gas_phase_chemdr.F90
Labels: BFB, Atmospheric chemistry

#5723 Aqueous chemistry bug fix
  components/eam/src/chemistry/mozart/mo_gas_phase_chemdr.F90
Labels: Atmosphere, CC

#5544 Protect SCM array refs with SCM logicals
  components/eam/src/dynamics/se/inidat.F90
Labels: Atmosphere, BFB, GNU, eam

#5683 Fix ncol/pcols mismatch in linv3_strat_chem_solve
  components/eam/src/chemistry/mozart/lin_strat_chem.F90
Labels: BFB, Atmospheric chemistry

#5720 [Standalone MPAS-Ocean] Warn if `debugTracers` enabled with single layer in RK4
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
Labels: mpas-ocean, BFB
