Repository E3SM-Project/E3SM, pull requests merged in 2023-09, with the labels that each got.

#5889 Add parabolic bowl test case
  components/mpas-ocean/src/mode_init/Makefile
  components/mpas-ocean/src/mode_init/Registry.xml
  components/mpas-ocean/src/mode_init/Registry_parabolic_bowl.xml
  components/mpas-ocean/src/mode_init/mpas_ocn_init_mode.F
  components/mpas-ocean/src/mode_init/mpas_ocn_init_parabolic_bowl.F
Labels: BFB, MPAS-Ocean standalone

#5915 Verify array is allocated before accessing size attribute
  components/eam/src/physics/cosp2/local/cosp.F90
Labels: BFB

#5857 Update MALI version
  components/mpas-albany-landice/bld/build-namelist
  components/mpas-albany-landice/bld/build-namelist-section
  components/mpas-albany-landice/bld/namelist_files/albany_input.yaml
  components/mpas-albany-landice/bld/namelist_files/namelist_defaults_mali.xml
  components/mpas-albany-landice/bld/namelist_files/namelist_definition_mali.xml
  components/mpas-albany-landice/src/Registry.xml
  components/mpas-albany-landice/src/analysis_members/Registry_global_stats.xml
  components/mpas-albany-landice/src/analysis_members/Registry_regional_stats.xml
  components/mpas-albany-landice/src/analysis_members/mpas_li_global_stats.F
  components/mpas-albany-landice/src/analysis_members/mpas_li_regional_stats.F
  components/mpas-albany-landice/src/mode_forward/Interface_velocity_solver.cpp
  components/mpas-albany-landice/src/mode_forward/mpas_li_bedtopo.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_calving.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_core.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_core_interface.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_iceshelf_melt.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_time_integration_fe.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_velocity.F
Labels: mpas-albany-landice, NML, non-BFB

#5769 update the machine configs for livermore computing machines
  cime_config/machines/cmake_macros/intel_quartz.cmake
  cime_config/machines/cmake_macros/intel_ruby.cmake
  cime_config/machines/cmake_macros/intel_syrah.cmake
  cime_config/machines/config_machines.xml
  cime_config/machines/config_pio.xml
Labels: Machine Files, BFB

#5862 add select Mass_at_pressure 2D fields for 7 aerosol species
  components/eam/src/chemistry/mozart/mo_chm_diags.F90
  components/eam/src/chemistry/mozart/mo_gas_phase_chemdr.F90
Labels: Atmosphere, BFB, Atmospheric chemistry

#5918 add dms emis scale factor
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/src/chemistry/mozart/chemistry.F90
  components/eam/src/chemistry/mozart/mo_srf_emissions.F90
Labels: Atmosphere, BFB, NML, Atmospheric chemistry

#5860 Implementation of the UCI vertical interpolation and forcing for Linoz
  components/eam/bld/namelist_files/use_cases/1850_eam_CMIP6_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/2010_eam_CMIP6_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_chemUCI-Linoz-mam5.xml
  components/eam/bld/namelist_files/use_cases/scm_arm97_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/scm_generic_chemUCI-Linoz-mam5-vbs.xml
  components/eam/cime_config/config_compsets.xml
  components/eam/src/chemistry/mozart/lin_strat_chem.F90
  components/eam/src/chemistry/mozart/linoz_data.F90
  components/eam/src/chemistry/utils/tracer_data.F90
Labels: Atmosphere, CC, Atmospheric chemistry

#5867 Revert the revert of lightning NOx bug fix and rename chem package
  components/eam/bld/build-namelist
  components/eam/bld/config_files/definition.xml
  components/eam/bld/configure
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/chem_proc/inputs/pp_chemUCI_linozv3_mam4_resus_mom_vbs.in
  components/eam/chem_proc/inputs/pp_chemUCI_linozv3_mam5_vbs.in
  components/eam/cime_config/config_component.xml
  components/eam/src/chemistry/mozart/mo_gas_phase_chemdr.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/chem_mech.doc
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/chem_mech.in
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/chem_mods.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/m_rxt_id.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/m_spc_id.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_adjrxt.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_imp_sol.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_indprd.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_lin_matrix.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_lu_factor.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_lu_solve.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_nln_matrix.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_phtadj.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_prod_loss.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_rxt_rates_conv.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_setrxt.F90
  components/eam/src/chemistry/pp_chemuci_linozv3_mam5_vbs/mo_sim_dat.F90
  components/eam/src/physics/cam/modal_aer_opt.F90
  components/eam/src/physics/cam/nucleate_ice.F90
  components/eam/src/physics/cam/phys_control.F90
Labels: Atmosphere, bug fix PR, NML, CC, Do not merge, Atmospheric chemistry

#5887 Use prescirbed oxidants of corresponding time period for VBS SOA and MAM5
  components/eam/bld/namelist_files/use_cases/1850_eam_CMIP6_chemUCI-Linoz-mam5-vbs-1pctCO2.xml
  components/eam/bld/namelist_files/use_cases/1850_eam_CMIP6_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/2010_eam_CMIP6_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6_chemUCI-Linoz-mam5-vbs.xml
Labels: Atmosphere, NML, CC, Atmospheric chemistry

#5009 Fix surface heat flux conversion and use more accurate theta_l formulation in CLUBB
  components/eam/src/physics/cam/cam_diagnostics.F90
  components/eam/src/physics/cam/clubb_intr.F90
Labels: Atmosphere

#5873 Change TSC test default to use F2010
  cime_config/tests.py
Labels: Atmosphere, mpas-seaice, non-BFB, Testing

#5926 Fix linoz data file for 1pctCO2 use_case
  components/eam/bld/namelist_files/use_cases/1850_eam_CMIP6_chemUCI-Linoz-mam5-vbs-1pctCO2.xml
Labels: bug fix PR, Atmospheric chemistry

#5923 MPAS: Change common lib from OBJECT to STATIC
  components/mpas-framework/src/CMakeLists.txt
  components/mpas-framework/src/build_core.cmake
Labels: BFB, CMake build system, mpas-framework

#5919 Adding support for SCORPIO legacy fortran interface
  share/build/buildlib.spio
Labels: BFB, CIME, SCORPIO

#5811 Change elm restart file for wcprodssp allactive test
  cime_config/testmods_dirs/allactive/wcprodssp/user_nl_elm
Labels: Land, bug fix PR, Testing

#5933 For NERSC machines, built a new cprnc with GNU and updated the cprnc path
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, pm-gpu, pm-cpu

#5934 Cleanup pelayouts for NERSC machines
  cime_config/allactive/config_pesall.xml
  cime_config/machines/config_batch.xml
  components/eam/cime_config/config_pes.xml
  components/elm/cime_config/config_pes.xml
  components/mpas-albany-landice/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
  components/mpas-seaice/cime_config/config_pes.xml
Labels: Machine Files, BFB, pm-cpu

#5942 Add markdown doc structure and gh-pages workflow
  .github/workflows/e3sm-gh-pages.yml
  .gitignore
  components/eam/doc/ChangeLog
  components/eam/doc/ChangeLog_template
  components/eam/doc/ReleaseNotes
  components/eam/docs/dev-guide/index.md
  components/eam/docs/index.md
  components/eam/docs/tech-guide/index.md
  components/eam/docs/user-guide/index.md
  components/eam/mkdocs.yml
  components/elm/docs/dev-guide/index.md
  components/elm/docs/index.md
  components/elm/docs/tech-guide/index.md
  components/elm/docs/user-guide/index.md
  components/elm/mkdocs.yml
  components/mosart/docs/ChangeLog
  components/mosart/docs/dev-guide/index.md
  components/mosart/docs/index.md
  components/mosart/docs/tech-guide/index.md
  components/mosart/docs/user-guide/index.md
  components/mosart/mkdocs.yml
  docs/index.md
  mkdocs.yaml
Labels: Documentation

#5252 Fix floating-point exception in MPASSI incremental remap code
  components/mpas-seaice/src/shared/mpas_seaice_advection_incremental_remap.F
Labels: mpas-seaice, bug fix PR, non-BFB, Do not merge

#5938 Updates to maint-2.1 for pm-cpu which includes adding Intel compiler
  cime_config/allactive/config_pesall.xml
  cime_config/machines/Depends.pm-cpu.intel.cmake
  cime_config/machines/cmake_macros/intel_pm-cpu.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
  components/elm/cime_config/config_pes.xml
  components/mpas-albany-landice/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
  components/mpas-seaice/cime_config/config_pes.xml
Labels: Machine Files, BFB, pm-cpu, maint-2.1, intel compiler

#5939 Update maint-2.0 for pm-cpu (including making Intel default compiler)
  cime_config/allactive/config_pesall.xml
  cime_config/machines/Depends.pm-cpu.nvidia.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
  components/elm/cime_config/config_pes.xml
  components/mpas-albany-landice/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
  components/mpas-seaice/cime_config/config_pes.xml
Labels: Machine Files, BFB, maint-2.0, pm-cpu, intel compiler

#5892 fix for submesoscale parametrization in standalone
  components/mpas-ocean/src/mode_forward/mpas_ocn_forward_mode.F
Labels: mpas-ocean, BFB, MPAS-Ocean standalone

#5801 Initialize arrays and scalars to signaling NaNs for Intel in debug mode
  cime_config/machines/cmake_macros/intel.cmake
  components/eam/src/chemistry/modal_aero/aero_model.F90
  components/eam/src/physics/cam/cam_diagnostics.F90
  components/eam/src/physics/cam/clubb_intr.F90
  components/eam/src/physics/cam/conv_water.F90
  components/eam/src/physics/cam/cospsimulator_intr.F90
  components/eam/src/physics/cam/modal_aer_opt.F90
  components/eam/src/physics/cam/physpkg.F90
  components/eam/src/physics/cam/zm_conv_intr.F90
  components/elm/src/biogeochem/CNPBudgetMod.F90
  components/elm/src/biogeochem/PhenologyMod.F90
  components/elm/src/biogeophys/WaterBudgetMod.F90
  components/homme/src/share/sl_advection.F90
Labels: enhancement, Atmosphere, Land, Machine Files, BFB, Ready to merge, intel compiler

#5948 CMake: Some minor cleanups
  cime_config/machines/cmake_macros/Macros.cmake
  cime_config/machines/cmake_macros/gnu_linux-generic.cmake
  cime_config/machines/cmake_macros/gnu_mac.cmake
  cime_config/machines/cmake_macros/intel_Darwin.cmake
  components/CMakeLists.txt
  components/cmake/common_setup.cmake
  driver-mct/cime_config/buildexe
Labels: BFB, CMake build system

#5950 CMake: Improve handling of Albany and related packages
  cime_config/machines/cmake_macros/gnu9_mappy.cmake
  cime_config/machines/cmake_macros/gnu_anlworkstation.cmake
  cime_config/machines/cmake_macros/gnu_mappy.cmake
  cime_config/machines/cmake_macros/gnu_melvin.cmake
  cime_config/machines/cmake_macros/intel_bebop.cmake
  cime_config/machines/cmake_macros/intel_ghost.cmake
  cime_config/machines/cmake_macros/intel_mappy.cmake
  cime_config/machines/cmake_macros/intel_melvin.cmake
  cime_config/machines/cmake_macros/intel_sandiatoss3.cmake
  cime_config/machines/config_machines.xml
  components/CMakeLists.txt
  components/cmake/common_setup.cmake
  components/cmake/find_dep_packages.cmake
  components/mpas-albany-landice/src/landice.cmake
  share/build/buildlib.kokkos
Labels: BFB, CMake build system

#5910 Accumulate data land-ice mass fluxes
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/mode_forward/mpas_ocn_forward_mode.F
  components/mpas-ocean/src/shared/mpas_ocn_init_routines.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_land_ice_fluxes.F
Labels: mpas-ocean, bug fix PR, BFB

#5959 Cleanup petsc cmake stuff
  components/cmake/build_model.cmake
  components/cmake/common_setup.cmake
  components/cmake/find_dep_packages.cmake
  components/mpas-ocean/src/ocean.cmake
Labels: BFB, CMake build system

#5930 Fix parabolic bowl registry for MPAS-Ocean init mode
  components/mpas-ocean/src/mode_init/Registry_parabolic_bowl.xml
Labels: mpas-ocean, BFB, MPAS-Ocean standalone
