Repository E3SM-Project/E3SM, pull requests merged in 2023-08, with the labels that each got.

#5823 Consolidate v3 compsets with v3alpha02 configuration
  cime_config/machines/config_machines.xml
  components/eam/bld/build-namelist
  components/eam/bld/config_files/definition.xml
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/use_cases/1850_eam_CMIP6_chemUCI-Linoz-mam5-vbs-1pctCO2.xml
  components/eam/bld/namelist_files/use_cases/1850_eam_CMIP6_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/2010_eam_CMIP6_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/scm_arm97_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/scm_generic_chemUCI-Linoz-mam5-vbs.xml
  components/eam/chem_proc/inputs/pp_chemUCI_linozv3_mam4_resus_mom_vbs.in
  components/eam/chem_proc/inputs/pp_chemUCI_linozv3_mam5_vbs.in
  components/eam/cime_config/config_component.xml
  components/eam/cime_config/testdefs/testmods_dirs/eam/chem_pp/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/clubb_only/user_nl_eam
  components/eam/src/chemistry/modal_aero/aero_model.F90
  components/eam/src/physics/cam/phys_control.F90
  driver-mct/cime_config/buildnml
  driver-mct/cime_config/config_component_e3sm.xml
  driver-mct/cime_config/namelist_definition_drv.xml
Labels: Atmosphere, compset, BFB, NML, Feature branch PR

#5842 fixes indexing bug in mpas cvmix interface
  components/mpas-ocean/src/shared/mpas_ocn_vmix_cvmix.F
Labels: mpas-ocean, bug fix PR, BFB

#5717 Add initial superBFB tests for EAM and WCYCL
  cime_config/testmods_dirs/pemod/omp1/shell_commands
  cime_config/testmods_dirs/pemod/omp2/shell_commands
  cime_config/testmods_dirs/pemod/ompfull/shell_commands
  cime_config/tests.py
Labels: Atmosphere, BFB, Coupled Model, Testing, eam

#5845 On pm-cpu, change default compiler to Intel
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, pm-cpu, intel compiler

#5838 bug fix in crm_physics.F90
  components/eam/src/physics/crm/crm_physics.F90
Labels: Atmosphere, non-BFB, MMF

#5879 Update WCYCL PE-layouts on Chrysalis
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, BFB, Coupled Model, Performance, Chrysalis

#5876 Bugfix: rework P3_input_dim and P3_output_dim for hist_coord
  components/eam/src/physics/p3/eam/micro_p3_interface.F90
Labels: Atmosphere, bug fix PR

#5886 Fix array shapes in where assignment statements in micro_p3_interface.F90
  components/eam/src/physics/p3/eam/micro_p3_interface.F90
Labels: Atmosphere, bug fix PR

#5854 EAM/HOMME: Remove -DNC=4 in bld/configure; NC is an unused symbol.
  components/eam/bld/configure
Labels: HOMME, eam

#5872 Add micro_p3 to list of possible ptend names in physpkg
  components/eam/src/physics/cam/physpkg.F90
Labels: Atmosphere, Testing

#5865 Update mapping and domain files for ne30pg2-oRRS18to6v3
  cime_config/config_grids.xml
Labels: BFB, Coupled Model

#5883 Correct the units of active tracer tendencies
  components/mpas-ocean/src/tracer_groups/Registry_activeTracers.xml
Labels: mpas-ocean, Documentation, BFB

#5874 fix openacc data directive on non-existent ssh_sal array
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_self_attraction_loading.F
Labels: mpas-ocean, bug fix PR, BFB, OpenACC

#5900 Remove NERSC inputdata server
  cime_config/config_inputdata.xml
Labels: Machine Files, BFB, pm-gpu, inputdata, pm-cpu
