Repository E3SM-Project/E3SM, pull requests merged in 2023-10, with the labels that each got.

#5966 For alvarez (internal test machine for pm-cpu), update machine file settings
  cime_config/machines/Depends.pm-cpu.alvarez.cmake
  cime_config/machines/cmake_macros/intel_alvarez.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, pm-cpu

#5951 add docs preview within PRs
  .github/workflows/e3sm-gh-pages.yml
Labels: Documentation, BFB

#5975 Fix PIO dep on mpi-serial
  components/cmake/build_model.cmake
  components/cmake/modules/FindPIO.cmake
Labels: bug fix PR, BFB, CMake build system

#5976 Fix nvidia_pm-cpu diffs for some tests
  cime_config/machines/cmake_macros/nvidia_pm-cpu.cmake
  cime_config/machines/scripts/compare-flags
Labels: BFB, CMake build system, pm-cpu

#5993 Fix MKL linking on pm-cpu_intel
  cime_config/machines/config_machines.xml
Labels: BFB, CMake build system

#5965 Implemented a tentative fix for SSP tests
  components/eam/bld/namelist_files/use_cases/SSP370_eam_CMIP6_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/SSP585_eam_CMIP6_chemUCI-Linoz-mam5-vbs.xml
  components/eam/cime_config/config_component.xml
  components/eam/src/chemistry/mozart/lin_strat_chem.F90
  components/eam/src/chemistry/utils/tracer_data.F90
Labels: Atmosphere, Atmospheric chemistry

#5891 Fix the calculations of p3 sedimentation fluxes
  components/eam/src/physics/p3/eam/micro_p3.F90
Labels: Atmosphere, BFB

#5987 Update Anvil config to fix OOM and link errors
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/intel_anvil.cmake
  cime_config/machines/config_machines.xml
  cime_config/testmods_dirs/config_pes_tests.xml
  components/eam/cime_config/config_pes.xml
Labels: Machine Files, BFB, Anvil, Testing

#5995 Fix blas/lapack on ascent/summit
  cime_config/machines/config_machines.xml
Labels: BFB, CMake build system

#5998 pm-cpu/gnu use Generic blas/lapack
  cime_config/machines/config_machines.xml
Labels: CMake build system, pm-cpu

#5808 Add check for invalid fp-ops for GNU in debug mode
  cime_config/machines/cmake_macros/gnu.cmake
  components/eam/src/chemistry/mozart/mo_chm_diags.F90
  components/eam/src/chemistry/mozart/mo_gas_phase_chemdr.F90
Labels: enhancement, Machine Files, non-BFB, GNU

#5881 Update Sunspot's OneAPI compiler to 2023.05.15.007
  cime_config/machines/Depends.oneapi-ifxgpu.cmake
  cime_config/machines/cmake_macros/oneapi-ifort.cmake
  cime_config/machines/cmake_macros/oneapi-ifx_chrysalis.cmake
  cime_config/machines/cmake_macros/oneapi-ifx_jlse.cmake
  cime_config/machines/cmake_macros/oneapi-ifx_sunspot.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu_jlse.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu_sunspot.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Aurora, intel compiler

#5971 For pm-cpu/alvarez, adjust pelayouts to remove performance work-around with CPL_PSTRID after maintenance
  cime_config/allactive/config_pesall.xml
  components/eam/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
Labels: Machine Files, BFB, NML, pm-cpu

#5969 Add CICE-QC testing script
  components/mpas-seaice/testing/cice-qc/README.md
  components/mpas-seaice/testing/cice-qc/job_script.cice-qc.anvil
  components/mpas-seaice/testing/cice-qc/job_script.cice-qc.chrysalis
  components/mpas-seaice/testing/cice-qc/mpas-seaice.t-test.py
Labels: mpas-seaice, BFB, Testing

#5986 Update modules for chicoma-cpu
  cime_config/machines/cmake_macros/intel_chicoma-cpu.cmake
  cime_config/machines/cmake_macros/intel_chicoma.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#5990 Clean up remaining cmake deps and unused items
  cime_config/machines/cmake_macros/gnu_WSL2.cmake
  cime_config/machines/cmake_macros/gnu_cades.cmake
  cime_config/machines/cmake_macros/gnu_docker-scream.cmake
  cime_config/machines/cmake_macros/gnugpu_weaver.cmake
  cime_config/machines/cmake_macros/ibm_ascent.cmake
  cime_config/machines/cmake_macros/intel_ghost.cmake
  cime_config/machines/cmake_macros/intel_itasca.cmake
  cime_config/machines/cmake_macros/intel_quartz.cmake
  cime_config/machines/cmake_macros/intel_ruby.cmake
  cime_config/machines/cmake_macros/intel_sandiatoss3.cmake
  cime_config/machines/cmake_macros/intel_stampede2.cmake
  cime_config/machines/cmake_macros/intel_tahoma.cmake
  cime_config/machines/cmake_macros/nag_cascade.cmake
  cime_config/machines/cmake_macros/userdefined.cmake
  components/cmake/build_model.cmake
  components/cmake/common_setup.cmake
  components/cmake/modules/FindPIO.cmake
  share/build/buildlib.gptl
Labels: BFB, CMake build system

#5988 Cleanup ADIOS2_ROOT for some E3SM machines
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#6005 Fix NDEBUG cppdef
  components/cmake/common_setup.cmake
Labels: bug fix PR, BFB, CMake build system

#5970 Set parameters to wrap up v3alpha03 configuration
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod_F2010/user_nl_elm
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod_F20TR/user_nl_elm
  components/elm/bld/ELMBuildNamelist.pm
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/use_cases/2015-2100_SSP370_transient.xml
  components/elm/bld/namelist_files/use_cases/2015-2100_SSP585_transient.xml
  components/elm/bld/namelist_files/use_cases/20thC_CMIP6_transient.xml
  components/elm/cime_config/config_component.xml
  components/mpas-seaice/src/shared/mpas_seaice_advection_incremental_remap.F
Labels: Atmosphere, mpas-seaice, Land, non-BFB, Coupled Model, inputdata

#5997 PIO: Remove dependence on CIME/Tools/Makefile
  .circleci/run.sh
  cime_config/machines/cmake_macros/crayclang-scream_crusher-scream-gpu.cmake
  cime_config/machines/cmake_macros/nag_cascade.cmake
  cime_config/machines/cmake_macros/pathscale.cmake
  cime_config/machines/config_machines.xml
  components/cmake/modules/FindPIO.cmake
  share/build/buildlib.spio
Labels: BFB, PIO, SCORPIO, CMake build system

#6009 MCT/Mpi-serial: Remove dependence on CIME/Tools/Makefile
  cime_config/config_files.xml
  share/build/buildlib.mct
  share/build/buildlib.mpi-serial
  share/build/buildlib.spio
  share/build/buildlib_util.py
Labels: BFB, CMake build system, MCT

#5927 Add new ECwISC30to60E3r2 ocean and sea-ice mesh
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/cime_config/config_pes.xml
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-ocean, mpas-seaice, BFB

#5945 A quasi-monotone flux limiter for isopycnal diffusion (Redi)
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_tracer_hmix_redi.F
Labels: mpas-ocean, non-BFB, CC

#5946 Fixes MPAS-Ocean Richardson number calculation
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_vmix_cvmix.F
Labels: mpas-ocean, NML, CC

#5947 Improve slope calculation and fix slope limiting for redi mixing
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
  components/mpas-ocean/src/shared/mpas_ocn_gm.F
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_hmix.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_hmix_redi.F
Labels: mpas-ocean, CC

#6025 CSM_share: no cime/Tools/Makefile
  cime_config/machines/Depends.ibm
  cime_config/machines/Depends.intel
  components/cmake/build_model.cmake
  components/cmake/build_mpas_model.cmake
  components/cmake/cmake_util.cmake
  share/CMakeLists.txt
  share/Depends.ibm.cmake
  share/Depends.intel.cmake
  share/build/buildlib.csm_share
Labels: BFB, CMake build system

#6003 Clean up modules on all NERSC machines; update AMD on pm-cpu/alverez
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, AMD-compiler, pm-cpu

#6028 Ascent needs to use static hdf5 libs
  cime_config/machines/config_machines.xml
  components/cmake/modules/FindPIO.cmake
Labels: BFB, CMake build system

#5985 add hdepth scaling factor for convective gravity waves
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/src/physics/cam/gw_convect.F90
  components/eam/src/physics/cam/gw_drag.F90
Labels: Atmosphere, BFB, NML

#6008 Update surfdata with TOP for ne4np4/ne4pg2 simyr1850 and ne30np4_simyr2010
  components/elm/bld/namelist_files/namelist_defaults.xml
Labels: Land, inputdata

#5921 Reduce number of sea ice flux iterations from 10 to 5.
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
Labels: mpas-seaice, NML, non-BFB, Performance

#6013 Homme(xx)/SL: Add SL-transport feature to doubly periodic mode.
  components/homme/CMakeLists.txt
  components/homme/cmake/machineFiles/summit-bfb.cmake
  components/homme/cmake/machineFiles/summit-run.sh
  components/homme/src/preqx/config.h.cmake.in
  components/homme/src/preqx_kokkos/config.h.cmake.in
  components/homme/src/preqx_kokkos/cxx/cxx_f90_interface_preqx.cpp
  components/homme/src/share/compose/cedr_qlt.cpp
  components/homme/src/share/compose/compose.hpp
  components/homme/src/share/compose/compose_cedr_qlt.cpp
  components/homme/src/share/compose/compose_slmm_advecter.cpp
  components/homme/src/share/compose/compose_slmm_advecter.hpp
  components/homme/src/share/compose/compose_slmm_departure_point.cpp
  components/homme/src/share/compose/compose_slmm_islmpi_adp.cpp
  components/homme/src/share/cxx/ComposeTransportImplTrajectory.cpp
  components/homme/src/share/cxx/Hommexx_config.h.in
  components/homme/src/share/cxx/utilities/bfb_mod.F90
  components/homme/src/share/edge_mod_base.F90
  components/homme/src/share/sl_advection.F90
  components/homme/src/theta-l/config.h.cmake.in
  components/homme/src/theta-l/share/element_ops.F90
  components/homme/src/theta-l/share/prim_state_mod.F90
  components/homme/src/theta-l_kokkos/config.h.cmake.in
  components/homme/src/theta-l_kokkos/cxx/ForcingFunctor.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/test/reg_test/namelists/thetanh-moist-bubble-sl.nl
  components/homme/test/reg_test/run_tests/cmake_variables.sh
  components/homme/test/reg_test/run_tests/test-list.cmake
  components/homme/test/reg_test/run_tests/testing-utils.sh
  components/homme/test/reg_test/run_tests/thetanh-moist-bubble-sl-kokkos.cmake
  components/homme/test/reg_test/run_tests/thetanh-moist-bubble-sl.cmake
  components/homme/test/unit_tests/CMakeLists.txt
  components/homme/test_execs/share_kokkos_ut/CMakeLists.txt
Labels: enhancement, HOMME, EAMxx

#5982 Fix MMF heating for convective gravity wave scheme
  components/eam/src/physics/crm/crm_physics.F90
Labels: Atmosphere, non-BFB, MMF
