Repository E3SM-Project/E3SM, pull requests merged in 2023-01, with the labels that each got.

#5368 Update ww3 spectra
  components/ww3/bld/build-namelist
  components/ww3/bld/namelist_files/namelist_defaults_ww3_grid.xml
  components/ww3/cime_config/buildnml
  components/ww3/cime_config/config_component.xml
  components/ww3/cime_config/config_compsets.xml
Labels: BFB, NML, Wave

#5374 For pm-cpu, add PE layouts to allow e3sm_hi_res suite to run
  cime_config/allactive/config_pesall.xml
  components/eam/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
Labels: Machine Files, pm-cpu

#5342 change pbuf variables for CRM state total water to water vapor
  components/eam/src/physics/crm/crm_history.F90
  components/eam/src/physics/crm/crm_physics.F90
  components/eam/src/physics/crm/crm_state_module.F90
  components/eam/src/physics/crm/samxx/cpp_interface_mod.F90
  components/eam/src/physics/crm/samxx/crm.cpp
  components/eam/src/physics/crm/samxx/post_timeloop.cpp
  components/eam/src/physics/crm/samxx/pre_timeloop.cpp
  components/eam/src/physics/crm/samxx/vars.cpp
  components/eam/src/physics/crm/samxx/vars.h
Labels: Atmosphere, non-BFB, MMF

#5359 For pm-cpu, pm-gpu, and alvarez, append "/lib" to link line flag looking for netcdf libs
  cime_config/machines/cmake_macros/gnu_alvarez.cmake
  cime_config/machines/cmake_macros/gnu_pm-cpu.cmake
  cime_config/machines/cmake_macros/gnu_pm-gpu.cmake
Labels: Machine Files, BFB, pm-gpu, pm-cpu

#5316 Add tests for some grid-IC tools
  components/eam/tools/mkatmsrffile/test_mkatmsrffile.sh
  components/eam/tools/topo_tool/cube_to_target/test_cube_to_target.sh
  components/elm/tools/mksurfdata_map/test_mksurfdat.sh
Labels: Atmosphere, Land, BFB, Testing

#5388 Add an AUTHORS file
  AUTHORS
Labels: Documentation

#5389 Update top-level docs for v2.1
  CITATION.cff
  LICENSE
  README.md
  codemeta.json
Labels: Documentation

#5371 Replace pointers to integer scalars to fix OpenACC issues
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
  components/mpas-ocean/src/shared/mpas_ocn_frazil_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_gm.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_bulk_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_land_ice_fluxes.F
  components/mpas-ocean/src/shared/mpas_ocn_time_average_coupled.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_surface_restoring.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_self_attraction_loading.F
  components/mpas-ocean/src/shared/mpas_ocn_vmix.F
Labels: mpas-ocean, bug fix PR, BFB, Cray, OpenACC

#5328 homme: move limiters from caar functor
  components/homme/src/share/control_mod.F90
  components/homme/src/share/cxx/ExecSpaceDefs.hpp
  components/homme/src/share/cxx/SimulationParams.hpp
  components/homme/src/share/namelist_mod.F90
  components/homme/src/theta-l/share/prim_advance_mod.F90
  components/homme/src/theta-l_kokkos/CMakeLists.txt
  components/homme/src/theta-l_kokkos/cxx/CaarFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/DirkFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/LimiterFunctor.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/cxx/prim_advance_exp.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/src/theta-l_kokkos/theta_f2c_mod.F90
  components/homme/test/reg_test/namelists/thetahs2.nl
  components/homme/test_execs/thetal_kokkos_ut/caar_ut.cpp
Labels: HOMME

#5391 Allow to build E3SM against a pre-built kokkos installation
  components/cmake/common_setup.cmake
  share/build/buildlib.kokkos
Labels: enhancement, CMake build system, kokkos

#5372 Add MPAS standalone build target for Frontier/Crusher (cray-cray)
  components/mpas-framework/Makefile
Labels: BFB, mpas-framework, Crusher

#5380 Update baroclinic parts in SI code
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
Labels: mpas-ocean, BFB, Stealth

#5399 Clean up MMF radiation interface and change order of merging GCM/CRM columns
  components/eam/src/physics/crm/rrtmgp/mmf_optics.F90
  components/eam/src/physics/crm/rrtmgp/radiation.F90
Labels: Atmosphere, non-BFB, MMF, Radiation

#5379 Sync reference profiles between F90 and Cxx
  components/homme/src/theta-l/share/element_ops.F90
  components/homme/src/theta-l/share/model_init_mod.F90
  components/homme/src/theta-l_kokkos/cxx/ElementOps.hpp
  components/homme/src/theta-l_kokkos/cxx/ElementsState.cpp
  components/homme/src/theta-l_kokkos/cxx/ElementsState.hpp
  components/homme/test_execs/thetal_kokkos_ut/elem_ops_interface.F90
  components/homme/test_execs/thetal_kokkos_ut/elem_ops_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/hv_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/thetal_test_interface.F90
Labels: BFB

#5387 Allow usage of specialized cores on Crusher
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Crusher

#5395 Hommexx: Rewrite BoundaryExchange impl to support RRM and HV TOM speedup.
  components/homme/src/share/cxx/HommexxEnums.hpp
  components/homme/src/share/cxx/SphereOperators.hpp
  components/homme/src/share/cxx/mpi/BoundaryExchange.cpp
  components/homme/src/share/cxx/mpi/BoundaryExchange.hpp
  components/homme/src/share/cxx/mpi/Connectivity.cpp
  components/homme/src/share/cxx/mpi/Connectivity.hpp
  components/homme/src/share/cxx/mpi/ConnectivityHelpers.hpp
  components/homme/src/share/cxx/mpi/mpi_cxx_f90_interface.cpp
  components/homme/src/share/cxx/prim_cxx_driver_base.F90
  components/homme/src/share/cxx/prim_driver.cpp
  components/homme/src/share/cxx/prim_step.cpp
  components/homme/src/share/cxx/utilities/SyncUtils.hpp
  components/homme/src/share/gllfvremap_mod.F90
  components/homme/src/test_mod.F90
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.cpp
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/cxx/prim_advance_exp.cpp
  components/homme/src/theta-l_kokkos/element_state.F90
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/src/theta-l_kokkos/theta_f2c_mod.F90
  components/homme/test/reg_test/namelists/thetah-sl-test11conv-r0t1-cdr30-rrm.nl
  components/homme/test/reg_test/run_tests/test-list.cmake
  components/homme/test/reg_test/run_tests/thetah-sl-test11conv-r0t1-cdr30-rrm-cxx_vs_f90.cmake
  components/homme/test/reg_test/run_tests/thetah-sl-test11conv-r0t1-cdr30-rrm-kokkos.cmake
  components/homme/test_execs/share_kokkos_ut/geometry_interface.F90
Labels: HOMME, Testing, HOMME standalone, SCREAM

#5398 Avoid keyword args for non-opt PIO args in CICE
  components/cice/src/drivers/cpl/ice_history_write.F90
Labels: BFB, SCORPIO, cice

#5420 Update module versions for NERSC machines after maintenance
  cime_config/machines/config_machines.xml
Labels: Machine Files, pm-gpu, maint-2.0, pm-cpu

#5415 Simplify fortran ASSERTs in one EAM file
  components/eam/src/physics/cam/micro_mg_data.F90
Labels: BFB, GCP, eam

#5407 Update machine files for OLCF AF machine - HPC11
  cime_config/machines/cmake_macros/gnu_miller.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#5410 add linear reference profile for theta
  components/homme/src/theta-l/share/element_ops.F90
  components/homme/test/reg_test/namelists/theta-fdc12-test21.nl
Labels: HOMME, SCREAM
