Repository E3SM-Project/E3SM, pull requests merged in 2024-07, with the labels that each got.

#6481 Switch global ocean in init mode to E3SM shared constants
  components/mpas-ocean/src/mode_init/Makefile
  components/mpas-ocean/src/mode_init/mpas_ocn_init_cell_markers.F
  components/mpas-ocean/src/mode_init/mpas_ocn_init_global_ocean.F
  components/mpas-ocean/src/mode_init/mpas_ocn_init_interpolation.F
  components/mpas-ocean/src/mode_init/mpas_ocn_init_spherical_utils.F
  components/mpas-ocean/src/mode_init/mpas_ocn_init_ssh_and_landIcePressure.F
  components/mpas-ocean/src/mode_init/mpas_ocn_init_vertical_grids.F
  components/mpas-ocean/src/mode_init/shr_const_mod.F
  components/mpas-ocean/src/mode_init/shr_kind_mod.F
Labels: BFB, MPAS-Ocean standalone

#6491 Allow changing SCORPIO config opts at compile/build time
  share/build/buildlib.spio
Labels: Scripts, BFB, SCORPIO, CMake build system

#6495 Update the version of gnu on chrysalis
  cime_config/machines/config_machines.xml
Labels: Machine Files, non-BFB, Chrysalis

#6407 Add four new joint histograms to the MODIS simulator
  components/eam/src/physics/cam/cospsimulator_intr.F90
  components/eam/src/physics/cosp2/Cosp.cmake
  components/eam/src/physics/cosp2/local/cosp.F90
  components/eam/src/physics/cosp2/local/cosp_config.F90
  components/eam/src/physics/cosp2/local/modis_simulator.F90
Labels: Atmosphere, non-BFB

#6439 bug fix in use_extrasnowlayers
  components/elm/src/main/elm_instMod.F90
Labels: Land, BFB

#6417 Add new grid support guide
  components/eam/docs/figures/grid_illustration_ne4np4.png
  components/eam/docs/figures/grid_illustration_ne4pg2.png
  components/eam/docs/tech-guide/atmosphere-grid-overview.md
  components/eam/docs/tech-guide/index.md
  components/eam/mkdocs.yml
  docs/dev-guide/adding-grid-support/adding-grid-support-grid-types.md
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide.md
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/RRM_grid_reference.png
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/add-grid-config.md
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/generate-RRM-grid-file.md
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/generate-atm-initial-condition.md
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/generate-dry-deposition.md
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/generate-lnd-initial-condition.md
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/generate-lnd-input-data.md
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/generate-mapping-files.md
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/generate-topo-file.md
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/generate-uniform-grid-file.md
  docs/dev-guide/adding-grid-support/index.md
  docs/dev-guide/index.md
  docs/index.md
  mkdocs.yaml
  tools/generate_domain_files/docs/index.md
Labels: Documentation

#6444 Add pgrad_correction settings to caar_ut.
  components/homme/cmake/machineFiles/frontier-bfb.cmake
  components/homme/src/share/cxx/ExecSpaceDefs.hpp
  components/homme/test_execs/thetal_kokkos_ut/caar_interface.F90
  components/homme/test_execs/thetal_kokkos_ut/caar_ut.cpp
Labels: HOMME, HOMME standalone

#6503 restore topo smoothing defaults
  components/homme/src/share/viscosity_base.F90
Labels: HOMME standalone

#6438 Fixes the ELM's SPBC compset
  components/elm/cime_config/config_component.xml
Labels: Land, BFB

#6487 For gcp12, update eam ne4 pelayout
  components/eam/cime_config/config_pes.xml
Labels: Machine Files, GCP

#6456 replace global sum with full-precision reproducible sum
  components/mpas-ocean/src/shared/mpas_ocn_tracer_surface_restoring.F
Labels: mpas-ocean, bug fix PR, non-BFB

#6445 Update support for low-resolution Greenland tests
  cime_config/allactive/config_pesall.xml
  cime_config/config_archive.xml
  cime_config/config_files.xml
  cime_config/testmods_dirs/allactive/gis20km/shell_commands
  cime_config/testmods_dirs/allactive/gis20km/user_nl_mali
  cime_config/testmods_dirs/config_pes_tests.xml
  cime_config/tests.py
  components/mpas-albany-landice/cime_config/testdefs/testmods_dirs/mali/gis20km/shell_commands
  components/mpas-albany-landice/cime_config/testdefs/testmods_dirs/mali/gis20km/user_nl_mali
Labels: mpas-albany-landice, BFB, Testing, Chrysalis, pm-cpu

#6483 fix underflow in methane calculation
  components/elm/src/biogeochem/CH4Mod.F90
Labels: Land, bug fix PR

#6482 Data ice fixes for moab driver
  components/data_comps/dice/src/dice_comp_mod.F90
  components/data_comps/dice/src/ice_comp_mct.F90
  driver-moab/main/cplcomp_exchange_mod.F90
  driver-moab/shr/seq_infodata_mod.F90
Labels: Coupler

#6504 Change fully-coupled HR test to WCYCL1850NS
  cime_config/tests.py
Labels: BFB, Testing

#6510 Separate removal of Antarctic river and ice runoff
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/analysis_members/Registry_conservation_check.xml
  components/mpas-ocean/src/shared/mpas_ocn_time_average_coupled.F
Labels: mpas-ocean, NML, non-BFB

#6463 update cube_to_target
  components/eam/tools/topo_tool/cube_to_target/Makefile
  components/eam/tools/topo_tool/cube_to_target/cube_to_target.F90
Labels: Atmosphere, BFB

#6514 Update Albany/Trilinos and fix preinstalled kokkos logic
  cime_config/machines/config_machines.xml
  components/cmake/find_dep_packages.cmake
  components/mpas-albany-landice/bld/namelist_files/albany_input.yaml
  share/build/buildlib.kokkos
Labels: mpas-albany-landice, Machine Files, non-BFB

#6517 For pm-cpu, update GNU compiler to 12.2
  cime_config/machines/Depends.muller-cpu.gnu.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, non-BFB, GNU, pm-cpu

#6519 upgrade e3sm-imgs to 0.0.9 and add singularity2 machine
  .github/workflows/e3sm-gh-ci-cime-tests.yml
  .github/workflows/e3sm-gh-ci-w-cime-tests.yml
  cime_config/machines/config_machines.xml
Labels: BFB, Testing

#6527 Temporarily disable MMF2 integration test
  cime_config/tests.py
Labels: Atmosphere, Testing, MMF

#6528 Updates LC machines
  cime_config/machines/cmake_macros/intel_dane.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files

#6529 Updates LC machines (maint-1.0)
  cime/config/e3sm/machines/config_compilers.xml
  cime/config/e3sm/machines/config_machines.xml
Labels: Machine Files, maint-1.0

#6530 Updates LC machines (maint-2.0)
  cime_config/machines/cmake_macros/intel_dane.cmake
  cime_config/machines/cmake_macros/intel_ruby.cmake
  cime_config/machines/config_compilers.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, maint-2.0

#6531 Updates LC machines (maint-2.1)
  cime_config/machines/cmake_macros/intel_dane.cmake
  cime_config/machines/cmake_macros/intel_ruby.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, maint-2.1

#6526 Adding a testmod for adios testing
  cime_config/testmods_dirs/io/force_adios/shell_commands
Labels: BFB, CIME, Testing, SCORPIO
