Repository E3SM-Project/E3SM, pull requests merged in 2024-04, with the labels that each got.

#6297 fix topo weights in maint2.1 for proper restart
  components/elm/src/main/restFileMod.F90
  components/elm/src/main/subgridRestMod.F90
Labels: Land, BFB, maint-2.1

#6324 Update mappy toolchain to gcc-11.2.0
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#6295 Fix Phosphorus Balance Error in crop model
  components/elm/src/biogeochem/EcosystemBalanceCheckMod.F90
Labels: Land, bug fix PR

#6328 Remove gnu9 1-off
  cime_config/machines/cmake_macros/gnu9.cmake
  cime_config/machines/cmake_macros/gnu9_mappy.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#6321 Add logic to catch issue when partition file assigns 0 cells to a pe
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
Labels: mpas-ocean, bug fix PR

#6311 Add zonal mean module for Transformed Eulerian Mean diagnostics
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/src/control/cam_history.F90
  components/eam/src/control/runtime_opts.F90
  components/eam/src/dynamics/se/inital.F90
  components/eam/src/dynamics/se/restart_dynamics.F90
  components/eam/src/physics/cam/phys_grid_ctem.F90
  components/eam/src/physics/cam/physpkg.F90
  components/eam/src/physics/cam/zonal_mean_mod.F90
  components/eam/src/utils/cam_abortutils.F90
  components/eam/src/utils/cam_grid_support.F90
  components/eam/src/utils/string_utils.F90
Labels: Atmosphere, BFB

#6322 Update modules for intel,openmpi on Chrysalis.
  cime_config/machines/config_machines.xml
Labels: Machine Files, Chrysalis

#6336 update Summit machine config
  cime_config/machines/config_machines.xml
Labels: Machine Files, Summit

#6212 Adds support for 0.25 deg ELM and MOSART grids
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/cime_config/config_compsets.xml
  components/mosart/bld/namelist_files/namelist_defaults_mosart.xml
  components/mosart/cime_config/buildnml
Labels: Land, BFB

#6340 add moab paths for anlgce-ub22 machine
  cime_config/machines/config_machines.xml
Labels: Machine Files

#6298 adjusted use_extrasnowlayers parameters based on Schneider et al., 2021
  components/elm/src/biogeophys/SnowHydrologyMod.F90
  components/elm/src/biogeophys/SnowSnicarMod.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/main/elm_instMod.F90
  components/elm/src/main/elm_varcon.F90
Labels: Land

#6262 define new GMPAS, GPMAS, ECO compsets with JRA
  cime_config/config_grids.xml
  components/mpas-ocean/cime_config/config_compsets.xml
  driver-mct/cime_config/config_component_e3sm.xml
  driver-moab/cime_config/config_component_e3sm.xml
Labels: enhancement, mpas-ocean, compset, BFB, BGC

#6341 add more features to docs
  mkdocs.yaml
Labels: Documentation

#6333 Remove `use mct_mod` to avoid build error with nvidia
  components/data_comps/docn/src/docn_comp_mod.F90
Labels: data-ocean, nvidia compiler

#6346 run F gh/ci only if eam/elm/coupler mods
  .github/workflows/e3sm-gh-ci-cime-tests.yml
Labels: Testing

#6229 Adding cryo fields to coupler budget accounting
  components/mpas-ocean/driver/mpaso_cpl_indices.F
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/analysis_members/Registry_conservation_check.xml
  components/mpas-ocean/src/analysis_members/mpas_ocn_conservation_check.F
  components/mpas-ocean/src/shared/mpas_ocn_time_average_coupled.F
  driver-mct/cime_config/buildnml
  driver-mct/cime_config/config_component_e3sm.xml
  driver-mct/cime_config/namelist_definition_drv.xml
  driver-mct/main/seq_diag_mct.F90
  driver-mct/shr/seq_flds_mod.F90
  driver-moab/cime_config/buildnml
  driver-moab/cime_config/config_component_e3sm.xml
  driver-moab/cime_config/namelist_definition_drv.xml
  driver-moab/main/seq_diag_mct.F90
  driver-moab/shr/seq_flds_mod.F90
Labels: mpas-ocean, Coupler, BFB, NML, Coupled Model

#6342 use a markdown linter on new files
  .github/workflows/e3sm-gh-md-linter.yml
  docs/.markdownlint.json
Labels: enhancement, Documentation

#6207 Add climate reproducibility test for MPAS Ocean
  cime_config/config_files.xml
  cime_config/testmods_dirs/config_pes_tests.xml
  cime_config/tests.py
  components/mpas-ocean/cime_config/SystemTests/mvko.py
  components/mpas-ocean/cime_config/config_tests.xml
Labels: mpas-ocean, Testing

#6344 usage of export list from AV
  driver-mct/main/seq_map_mod.F90
  driver-moab/main/prep_rof_mod.F90
  driver-moab/main/seq_map_mod.F90
Labels: Coupler, BFB

#6348 add WCYCL2010NS compset and introduce gh/ci-w tests
  .github/workflows/e3sm-gh-ci-w-cime-tests.yml
  cime_config/allactive/config_compsets.xml
Labels: enhancement, Testing

#6312 Add new IcosXISC30E3r7 ocean and sea-ice mesh
  cime_config/allactive/config_pesall.xml
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-ocean, mpas-seaice, BFB

#6352 Updates the libraries for GNU-GPU on Frontier
  cime_config/machines/cmake_macros/gnugpu_frontier.cmake
Labels: Machine Files, Frontier

#6300 Add frazil to ice-shelf melt rates
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/analysis_members/Registry_global_stats.xml
  components/mpas-ocean/src/analysis_members/Registry_time_series_stats_monthly_max.xml
  components/mpas-ocean/src/analysis_members/Registry_time_series_stats_monthly_mean.xml
  components/mpas-ocean/src/analysis_members/Registry_time_series_stats_monthly_min.xml
  components/mpas-ocean/src/analysis_members/mpas_ocn_global_stats.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_forward_mode.F
  components/mpas-ocean/src/shared/mpas_ocn_frazil_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_land_ice_fluxes.F
Labels: mpas-ocean, BFB

#6367 Uses the Fortran linker for the Cray compiler on Frontier
  cime_config/machines/cmake_macros/crayclang_frontier.cmake
Labels: Cray, Frontier

#6254 Single Column Model Updates & Fixes for v3
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/bld/namelist_files/use_cases/scam_generic.xml
  components/eam/cime_config/config_component.xml
  components/eam/src/dynamics/se/se_iop_intr_mod.F90
  components/eam/src/dynamics/se/stepon.F90
  components/eam/src/physics/p3/eam/micro_p3.F90
  components/eam/src/physics/p3/eam/micro_p3_interface.F90
  components/eam/src/physics/p3/eam/micro_p3_utils.F90
Labels: Atmosphere, BFB

#6334 Create the `provis_state` subpool at RK4 initialization to avoid memory leak
  components/mpas-framework/src/framework/mpas_pool_routines.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_fblts.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_lts.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_rk4.F
Labels: mpas-ocean, bug fix PR, BFB, MPAS-Ocean standalone

#6364 For nvidia builds on pm-cpu, disable compiler flag to avoid Bus error
  cime_config/machines/Depends.pm-cpu.nvidia.cmake
Labels: Machine Files, pm-cpu, nvidia compiler

#6347 Adds a new tool to replace gen_domain in CIME
  docs/index.md
  mkdocs.yaml
  tools/generate_domain_files/docs/index.md
  tools/generate_domain_files/generate_domain_files_E3SM.py
  tools/generate_domain_files/mkdocs.yml
Labels: inputdata
