Repository E3SM-Project/E3SM, pull requests merged in 2024-08, with the labels that each got.

#6488 Update perf-tests to match v3 configurations
  cime_config/allactive/config_pesall.xml
  cime_config/testmods_dirs/bench/gmpas_noio/user_nl_mpaso
  cime_config/testmods_dirs/bench/wcycl/hires/shell_commands
  cime_config/testmods_dirs/bench/wcycl/lores/user_nl_eam
  cime_config/testmods_dirs/bench/wcycl/lores/user_nl_elm
  cime_config/tests.py
Labels: BFB, Testing, Performance

#6535 [MPAS-Ocean standalone] Fix bottom depth when filling bathymetry holes
  components/mpas-ocean/src/mode_init/mpas_ocn_init_vertical_grids.F
Labels: BFB, MPAS-Ocean standalone

#6539 Update ANL LCRC Improv machine config
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
Labels: Machine Files, BFB

#6440 Add Antarctic Ice Sheet meshes for MALI
  cime_config/allactive/config_compsets.xml
  cime_config/config_grids.xml
  components/mpas-albany-landice/cime_config/buildnml
  driver-mct/cime_config/config_component.xml
  driver-moab/cime_config/config_component.xml
Labels: mpas-albany-landice, BFB

#6550 Updates CIME imports
  cime_config/customize/case_post_run_io.py
Labels: CIME

#6537 Add Omega docs link to index
  docs/index.md
Labels: Documentation

#6523 MOAB api change in projection
  components/mpas-ocean/driver/ocn_comp_mct.F
  driver-moab/main/seq_map_mod.F90
Labels: Coupler, BFB

#6468 Updates mksurfdata for TOP factors
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_defaults_tools.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/tools/mksurfdata_map/mksurfdata.pl
  components/elm/tools/mksurfdata_map/src/Srcfiles
  components/elm/tools/mksurfdata_map/src/mkfileMod.F90
  components/elm/tools/mksurfdata_map/src/mksurfdat.F90
  components/elm/tools/mksurfdata_map/src/mktopradMod.F90
  components/elm/tools/mksurfdata_map/src/mkvarctl.F90
Labels: Land, BFB, inputdata

#6509 Fixes gotm interface for vertical mixing
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
Labels: mpas-ocean, bug fix PR, BFB

#6524 Add a new snow thermal conductivity calculation to ELM
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/src/biogeophys/SoilTemperatureMod.F90
  components/elm/src/main/controlMod.F90
  components/elm/src/main/elm_varctl.F90
Labels: Land, BFB

#5495 Add SCREAMv1 test to e3sm_gpucxx suite
  cime_config/tests.py
  components/eamxx/src/physics/cosp/CMakeLists.txt
Labels: BFB, Testing, EAMxx, COSP

#6552 Add support for PnetCDF for HOMME on Anvil and Chrysalis
  components/homme/cmake/machineFiles/anvil.cmake
  components/homme/cmake/machineFiles/chrysalis.cmake
Labels: BFB, Anvil, HOMME standalone, Chrysalis

#6561 Add support for PnetCDF for HOMME BFB tests on Anvil and Chrysalis
  components/homme/cmake/machineFiles/anvil-bfb.cmake
  components/homme/cmake/machineFiles/chrysalis-bfb.cmake
Labels: BFB, Anvil, HOMME standalone, SCORPIO, Chrysalis

#6549 Update bgc defaults for grazing parameters
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
Labels: mpas-ocean, bug fix PR, NML, BGC

#6508 Add subglacial discharge at grounding line
  cime_config/tests.py
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/cime_config/config_component.xml
  components/mpas-ocean/cime_config/config_compsets.xml
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/analysis_members/Registry_conservation_check.xml
  components/mpas-ocean/src/analysis_members/mpas_ocn_conservation_check.F
  components/mpas-ocean/src/driver/mpas_ocn_core_interface.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
  components/mpas-ocean/src/shared/mpas_ocn_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_bulk_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
  components/mpas-ocean/src/shared/mpas_ocn_thick_surface_flux.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_surface_flux_to_tend.F
  components/mpas-ocean/src/tracer_groups/Registry_CFC.xml
  components/mpas-ocean/src/tracer_groups/Registry_DMS.xml
  components/mpas-ocean/src/tracer_groups/Registry_MacroMolecules.xml
  components/mpas-ocean/src/tracer_groups/Registry_activeTracers.xml
  components/mpas-ocean/src/tracer_groups/Registry_debugTracers.xml
  components/mpas-ocean/src/tracer_groups/Registry_ecosys.xml
  components/mpas-ocean/src/tracer_groups/Registry_idealAge.xml
Labels: mpas-ocean, BFB, NML
