Repository E3SM-Project/E3SM, pull requests merged in 2024-09, with the labels that each got.

#6433 Enable flexible definitions of plant functional types (PFTs)
  cime_config/tests.py
  components/elm/bld/ELMBuildNamelist.pm
  components/elm/cime_config/testdefs/testmods_dirs/elm/usrpft_arctic_I1850CNPRDCTCBC/clm_params_c180524-sub12_updated20240201.nc
  components/elm/cime_config/testdefs/testmods_dirs/elm/usrpft_arctic_I1850CNPRDCTCBC/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/usrpft_arctic_I1850CNPRDCTCBC/user_nl_elm
  components/elm/cime_config/testdefs/testmods_dirs/elm/usrpft_codetest_I1850CNPRDCTCBC/clm_params_c211124vpft.nc
  components/elm/cime_config/testdefs/testmods_dirs/elm/usrpft_codetest_I1850CNPRDCTCBC/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/usrpft_codetest_I1850CNPRDCTCBC/user_nl_elm
  components/elm/cime_config/testdefs/testmods_dirs/elm/usrpft_default_I1850CNPRDCTCBC/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/usrpft_default_I1850CNPRDCTCBC/user_nl_elm
  components/elm/src/biogeochem/AllocationMod.F90
  components/elm/src/biogeochem/CH4Mod.F90
  components/elm/src/biogeochem/CNAllocationBetrMod.F90
  components/elm/src/biogeochem/CNCarbonFluxType.F90
  components/elm/src/biogeochem/CNCarbonStateType.F90
  components/elm/src/biogeochem/CNGapMortalityBeTRMod.F90
  components/elm/src/biogeochem/CNNStateUpdate1BeTRMod.F90
  components/elm/src/biogeochem/CNNStateUpdate2BeTRMod.F90
  components/elm/src/biogeochem/CNNitrogenFluxType.F90
  components/elm/src/biogeochem/CNNitrogenStateType.F90
  components/elm/src/biogeochem/CNPhenologyBeTRMod.F90
  components/elm/src/biogeochem/CarbonStateUpdate1Mod.F90
  components/elm/src/biogeochem/CarbonStateUpdate2Mod.F90
  components/elm/src/biogeochem/ComputeSeedMod.F90
  components/elm/src/biogeochem/CropType.F90
  components/elm/src/biogeochem/DryDepVelocity.F90
  components/elm/src/biogeochem/FireMod.F90
  components/elm/src/biogeochem/GapMortalityMod.F90
  components/elm/src/biogeochem/GrowthRespMod.F90
  components/elm/src/biogeochem/MaintenanceRespMod.F90
  components/elm/src/biogeochem/NitrogenStateUpdate1Mod.F90
  components/elm/src/biogeochem/NitrogenStateUpdate2Mod.F90
  components/elm/src/biogeochem/PhenologyFluxLimitMod.F90
  components/elm/src/biogeochem/PhenologyMod.F90
  components/elm/src/biogeochem/PhosphorusFluxType.F90
  components/elm/src/biogeochem/PhosphorusStateType.F90
  components/elm/src/biogeochem/PhosphorusStateUpdate1Mod.F90
  components/elm/src/biogeochem/PhosphorusStateUpdate2Mod.F90
  components/elm/src/biogeochem/PrecisionControlMod.F90
  components/elm/src/biogeochem/RootDynamicsMod.F90
  components/elm/src/biogeochem/SatellitePhenologyMod.F90
  components/elm/src/biogeochem/VOCEmissionMod.F90
  components/elm/src/biogeochem/VegStructUpdateMod.F90
  components/elm/src/biogeophys/CanopyFluxesMod.F90
  components/elm/src/biogeophys/PhotosynthesisMod.F90
  components/elm/src/biogeophys/PhotosynthesisType.F90
  components/elm/src/biogeophys/SedYieldMod.F90
  components/elm/src/data_types/VegetationDataType.F90
  components/elm/src/data_types/VegetationPropertiesType.F90
  components/elm/src/data_types/VegetationType.F90
  components/elm/src/dyn_subgrid/dynHarvestMod.F90
  components/elm/src/main/elm_initializeMod.F90
  components/elm/src/main/elm_varpar.F90
  components/elm/src/main/filterMod.F90
  components/elm/src/main/pftvarcon.F90
  components/elm/src/main/surfrdMod.F90
  components/elm/src/main/surfrdUtilsMod.F90
Labels: Land, BFB

#6581 For pm-cpu, increase default pelayout to 3 nodes for tests using `l%360x720cru`
  components/elm/cime_config/config_pes.xml
Labels: Machine Files, pm-cpu, nvidia compiler

#6575 [MPAS-Framework] Warn on failure to clobber record in append mode
  components/mpas-framework/src/framework/mpas_stream_manager.F
Labels: bug fix PR, BFB, mpas-framework

#6467 Update TOP solar radiation parameterization
  components/elm/src/main/surfrdMod.F90
Labels: Land, BFB

#6477 Adds LULC for ELM at r025 grid
  components/elm/bld/namelist_files/use_cases/20thC_CMIP6_transient.xml
Labels: Land

#6562 Add alternative data stream control for SO2 species in ext_frc
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/src/chemistry/mozart/chemistry.F90
  components/eam/src/chemistry/mozart/mo_chemini.F90
  components/eam/src/chemistry/mozart/mo_extfrc.F90
  components/eam/src/chemistry/utils/tracer_data.F90
Labels: Atmosphere, compset

#6534 slightly improve v3 run_script template
  run_e3sm.template.sh
Labels: run_e3sm

#6579 Update Frontier machine/compilers following system update
  cime_config/machines/cmake_macros/amdclang_frontier.cmake
  cime_config/machines/cmake_macros/amdclanggpu_frontier.cmake
  cime_config/machines/cmake_macros/crayclang_frontier.cmake
  cime_config/machines/cmake_macros/crayclanggpu_frontier.cmake
  cime_config/machines/cmake_macros/gnu_frontier.cmake
  cime_config/machines/cmake_macros/gnugpu_frontier.cmake
  cime_config/machines/config_machines.xml
Labels: Cray, GNU, AMD-compiler, Frontier

#6559 Activate MALI thermal solver and update configuration to be relevant to both AIS and GIS grids
  cime_config/tests.py
  components/mpas-albany-landice/bld/namelist_files/albany_input.ais20km.yaml
  components/mpas-albany-landice/bld/namelist_files/albany_input.ais_4to20km.yaml
  components/mpas-albany-landice/bld/namelist_files/albany_input.ais_8to30km.yaml
  components/mpas-albany-landice/bld/namelist_files/albany_input.aisgis20km.yaml
  components/mpas-albany-landice/bld/namelist_files/albany_input.gis_1to10km_r01.yaml
  components/mpas-albany-landice/bld/namelist_files/albany_input.gis_1to10km_r02.yaml
  components/mpas-albany-landice/bld/namelist_files/albany_input.gis_20km_r01.yaml
  components/mpas-albany-landice/bld/namelist_files/namelist_defaults_mali.xml
  components/mpas-albany-landice/cime_config/buildnml
Labels: mpas-albany-landice, BFB, NML, Testing

#6588 update all actions to use major pins and minor other fixes
  .github/workflows/e3sm-gh-pages.yml
  .github/workflows/e3sm-gh-tools-mkatmsrffile-test.yml
  .github/workflows/eamxx-gh-pages.yml
  .github/workflows/eamxx_default_files.yml
Labels: Testing, notify-file-gh-action, notify-mkatmsrffile-gh-action

#6560 Add a MOAB and move a river test to e3sm_integration.
  cime_config/tests.py
Labels: Coupler, Testing, MOSART (river)

#6545 Add outfld lines for in-cloud properties output.
  components/eam/src/physics/p3/eam/micro_p3_interface.F90
Labels: Atmosphere, BFB

#6576 clean up debugging code and comments in mpas-seaice
  components/mpas-seaice/src/shared/mpas_seaice_icepack.F
Labels: mpas-seaice, bug fix PR, BFB

#6586 Homme: Fix planar-mode pgN get_latlon routines.
  components/homme/src/share/cxx/utilities/InternalDiagnostics.cpp
  components/homme/src/share/gllfvremap_mod.F90
Labels: HOMME, EAMxx

#6585 For SCM cases, correct how we store the computed area to write in eam history file
  components/eam/src/dynamics/se/dyn_grid.F90
Labels: bug fix PR, GNU, eam, SCM

#6590 Turn on ocean eddy analysis member for RRSwISC6to18E3r5
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
Labels: mpas-ocean, BFB

#6563 Add compsets and support files for v3 single forcing simulations
  cime_config/allactive/config_compsets.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6-GHG_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6-LULC_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6-aer_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6-nat_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6-ozone_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6-volc_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6-xGHG-xaer_chemUCI-Linoz-mam5-vbs.xml
  components/eam/bld/namelist_files/use_cases/20TR_eam_CMIP6-xaer_chemUCI-Linoz-mam5-vbs.xml
  components/eam/cime_config/config_component.xml
  components/eam/cime_config/config_compsets.xml
  components/elm/bld/namelist_files/use_cases/20thC_CMIP6xLULC_transient.xml
  components/elm/cime_config/config_component.xml
  docs/user-guide/index.md
  driver-mct/cime_config/config_component_e3sm.xml
Labels: compset, BFB, Coupled Model

#6580 lessen gh/ci testing burden + add eamxx prod tests
  .github/workflows/e3sm-gh-ci-cime-tests.yml
  .github/workflows/e3sm-gh-ci-w-cime-tests.yml
  cime_config/config_files.xml
  cime_config/machines/config_machines.xml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/user_nl_cpl
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/user_nl_elm
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/scream_output.decadal.1dailyAVG_native.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/scream_output.decadal.1dailyMAX_native.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/scream_output.decadal.1dailyMIN_native.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/scream_output.decadal.1hourlyINST_arm.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/scream_output.decadal.1hourlyINST_native.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/scream_output.decadal.3hourlyAVG_coarse.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/scream_output.decadal.3hourlyINST_coarse.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/scream_output.decadal.6hourlyAVG_coarse.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/scream_output.decadal.6hourlyINST_coarse.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/scream_output.decadal.6hourlyINST_native.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/scream_output.decadal.dailyAVG_coarse.yaml
  components/eamxx/cmake/machine-files/ghci-oci.cmake
Labels: BFB, Testing, GNU, EAMxx

#6602 Adjust PEs for MPAS dev-tests on Anvil
  cime_config/testmods_dirs/config_pes_tests.xml
Labels: Machine Files, NML, Anvil

#6597 Update nitrogen deposition and population density files
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/use_cases/2015-2100_SSP245_transient.xml
  components/elm/bld/namelist_files/use_cases/2015-2100_SSP370_transient.xml
  components/elm/bld/namelist_files/use_cases/2015-2100_SSP585_transient.xml
  components/elm/bld/namelist_files/use_cases/20thC_CMIP6_transient.xml
  components/elm/bld/namelist_files/use_cases/20thC_transient.xml
  driver-mct/cime_config/config_component_e3sm.xml
Labels: Land, compset, NML, non-BFB, Coupled Model, input file

#6606 Enables output of land fraction used in dust mobilization
  cime_config/testmods_dirs/allactive/wcprod/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprod_1850/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprod_1850_1pctCO2/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprod_1850_4xCO2/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprodrrm/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprodrrm_1850/user_nl_elm
  cime_config/testmods_dirs/allactive/wcprodssp/user_nl_elm
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod/user_nl_elm
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod_F2010/user_nl_elm
  components/eam/cime_config/testdefs/testmods_dirs/eam/wcprod_F20TR/user_nl_elm
  components/elm/src/biogeochem/DUSTMod.F90
Labels: Land, BFB

#6603 Updates Compy's intel compiler from 19.0.5 to 20.0.0
  cime_config/machines/config_machines.xml
Labels: Compy, intel compiler

#6609 update ghci container to restore gh/ci
  .github/workflows/e3sm-gh-ci-cime-tests.yml
  .github/workflows/e3sm-gh-ci-w-cime-tests.yml
  cime_config/machines/config_machines.xml
Labels: Testing

#6611 Log SCORPIO buffer size limit for default case
  share/util/shr_pio_mod.F90
Labels: BFB, SCORPIO

#6623 Revert PR #6313 aborting run on negative channel storage
  components/mosart/src/riverroute/MOSART_physics_mod.F90
Labels: MOSART (river)

#6618 Bug fix for N balance error due to spval value for land use simulation
  components/elm/src/data_types/ColumnDataType.F90
Labels: Land, bug fix PR

#6620 Get mappy working again with RHEL9
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#6596 For pm-cpu, upgrade Intel compiler to `2023.2.0` as well as other modules for Intel only
  cime_config/machines/config_machines.xml
Labels: Machine Files, pm-cpu

#6616 Updates for RCEMIP phase 2
  components/data_comps/docn/cime_config/config_component.xml
  components/data_comps/docn/cime_config/namelist_definition_docn.xml
  components/data_comps/docn/src/docn_comp_mod.F90
  components/eam/bld/namelist_files/use_cases/RCEMIP_EAMv1.xml
  components/eam/cime_config/config_compsets.xml
  components/eam/cime_config/usermods_dirs/rcemip/user_nl_cpl
  components/eam/src/physics/cam/cam_diagnostics.F90
  components/eam/src/physics/crm/rrtmgp/radiation.F90
  components/eam/src/physics/rrtmgp/radiation.F90
Labels: Atmosphere, compset, non-BFB, data-models

#6621 harden eamxx/prod testmod
  cime_config/config_archive.xml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/eamxx_output.decadal.1dailyAVG_native.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/eamxx_output.decadal.1dailyMAX_native.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/eamxx_output.decadal.1dailyMIN_native.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/eamxx_output.decadal.1hourlyINST_arm.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/eamxx_output.decadal.1hourlyINST_native.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/eamxx_output.decadal.3hourlyAVG_coarse.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/eamxx_output.decadal.3hourlyINST_coarse.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/eamxx_output.decadal.6hourlyAVG_coarse.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/eamxx_output.decadal.6hourlyINST_coarse.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/eamxx_output.decadal.6hourlyINST_native.yaml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/prod/yaml_outs/eamxx_output.decadal.dailyAVG_coarse.yaml
Labels: Testing, EAMxx

#6594 homme SYCL changes
  components/homme/CMakeLists.txt
  components/homme/cmake/machineFiles/aurora-aot.cmake
  components/homme/cmake/machineFiles/aurora-jit.cmake
  components/homme/cmake/machineFiles/polaris-a100.sh
  components/homme/cmake/machineFiles/spot-aot-AB2.cmake
  components/homme/src/preqx_kokkos/cxx/CamForcing.cpp
  components/homme/src/preqx_kokkos/cxx/cxx_f90_interface_preqx.cpp
  components/homme/src/preqx_kokkos/cxx/prim_advance_exp.cpp
  components/homme/src/prim_main.F90
  components/homme/src/share/cxx/Config.hpp
  components/homme/src/share/cxx/EulerStepFunctorImpl.hpp
  components/homme/src/share/cxx/ExecSpaceDefs.cpp
  components/homme/src/share/cxx/ExecSpaceDefs.hpp
  components/homme/src/share/cxx/GllFvRemap.cpp
  components/homme/src/share/cxx/GllFvRemap.hpp
  components/homme/src/share/cxx/GllFvRemapImpl.cpp
  components/homme/src/share/cxx/HommexxEnums.hpp
  components/homme/src/share/cxx/SimulationParams.hpp
  components/homme/src/share/cxx/utilities/BfbUtils.hpp
  components/homme/src/share/cxx/utilities/scream_tridiag.hpp
  components/homme/src/share/gllfvremap_mod.F90
  components/homme/src/theta-l_kokkos/cxx/CamForcing.cpp
  components/homme/src/theta-l_kokkos/cxx/DirkFunctorImpl.hpp
  components/homme/src/theta-l_kokkos/cxx/ForcingFunctor.hpp
  components/homme/src/theta-l_kokkos/cxx/HyperviscosityFunctorImpl.cpp
  components/homme/src/theta-l_kokkos/cxx/LimiterFunctor.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
  components/homme/src/theta-l_kokkos/theta_f2c_mod.F90
  components/homme/test_execs/CMakeLists.txt
  components/homme/test_execs/share_kokkos_ut/CMakeLists.txt
  components/homme/test_execs/thetal_kokkos_ut/CMakeLists.txt
  components/homme/test_execs/thetal_kokkos_ut/forcing_ut.cpp
  components/homme/test_execs/thetal_kokkos_ut/gllfvremap_ut.cpp
Labels: HOMME, Aurora

#6567 Add DLND to moab coupler
  components/data_comps/dlnd/src/dlnd_comp_mod.F90
  components/data_comps/dlnd/src/lnd_comp_mct.F90
  driver-moab/main/component_mod.F90
  driver-moab/main/prep_lnd_mod.F90
  driver-moab/main/prep_ocn_mod.F90
  driver-moab/main/prep_rof_mod.F90
  driver-moab/main/seq_frac_mct.F90
Labels: Coupler, BFB, data-models

#6627 MALI update to fix issues from earlier PR causing sporadic test failures
  components/mpas-albany-landice/bld/namelist_files/namelist_defaults_mali.xml
  components/mpas-albany-landice/cime_config/buildnml
Labels: mpas-albany-landice, bug fix PR, BFB, NML

#6633 Updates LC machines
  cime_config/machines/cmake_macros/intel_dane.cmake
  cime_config/machines/cmake_macros/intel_ruby.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files

#6614 Interpinic expand netCDF filetypes allowed, forgive missing "month" dimension, update BOZ syntax
  components/elm/tools/interpinic/src/fmain.F90
  components/elm/tools/interpinic/src/interpinic.F90
  components/elm/tools/interpinic/src/shr_infnan_mod.F90
Labels: Land, bug fix PR, BFB

#6625 Updating CRYO compsets to v3 ELM settings
  cime_config/allactive/config_compsets.xml
Labels: Land, compset, NML, non-BFB, Coupled Model

#6645 Hommexx: Temporarily work around some EAMxx-Hommexx incompatibilities.
  components/homme/src/preqx_kokkos/cxx/cxx_f90_interface_preqx.cpp
  components/homme/src/share/cxx/HommexxEnums.hpp
  components/homme/src/share/cxx/SimulationParams.hpp
  components/homme/src/theta-l_kokkos/cxx/cxx_f90_interface_theta.cpp
  components/homme/src/theta-l_kokkos/prim_driver_mod.F90
Labels: HOMME, EAMxx

#6643 Correct ocean conservation check settings
  cime_config/tests.py
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/conservation_check/README
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/conservation_check/user_nl_mpaso
Labels: mpas-ocean, bug fix PR, BFB, NML

#6641 fix sat hist capability and add test
  cime_config/tests.py
  components/eam/cime_config/testdefs/testmods_dirs/eam/sathist_F2010/readme
  components/eam/cime_config/testdefs/testmods_dirs/eam/sathist_F2010/shell_commands
  components/eam/cime_config/testdefs/testmods_dirs/eam/sathist_F2010/user_nl_eam
  components/eam/src/control/sat_hist.F90
Labels: Atmosphere, BFB, SCORPIO, eam
