Repository E3SM-Project/E3SM, pull requests merged in 2024-10, with the labels that each got.

#6651 Make bgc balance_check_tolerance a nml variable and increase the default
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/src/biogeochem/EcosystemBalanceCheckMod.F90
  components/elm/src/main/controlMod.F90
Labels: Land, BFB, NML

#6646 Homme(xx): Flush the log before calling MPI_Abort in Homme's abortmp.
  components/homme/src/share/parallel_mod.F90
Labels: BFB, HOMME

#6658 Update README and other files for v3.0.1
  CITATION.cff
  LICENSE
  README.md
Labels: Documentation

#6615 Add MOAB path for improv machine at LCRC
  cime_config/machines/config_machines.xml
  driver-moab/main/cime_comp_mod.F90
Labels: Machine Files

#6656 Add missing omp private variables for data subglacial runoff
  cime_config/tests.py
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
Labels: mpas-ocean, BFB

#6628 Add support for new JRA forcing through year 2023
  components/data_comps/datm/cime_config/config_component.xml
  components/data_comps/drof/cime_config/config_component.xml
  components/mpas-ocean/cime_config/config_compsets.xml
Labels: mpas-ocean, compset, BFB, data-models

#6607 Add snow-vegetation interactions, NGEE Arctic IM3
  cime_config/tests.py
  components/elm/cime_config/testdefs/testmods_dirs/elm/snowveg_arctic/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/snowveg_arctic/user_nl_elm
  components/elm/src/biogeochem/AllocationMod.F90
  components/elm/src/biogeochem/CNAllocationBetrMod.F90
  components/elm/src/biogeochem/CNGapMortalityBeTRMod.F90
  components/elm/src/biogeochem/CNNStateUpdate1BeTRMod.F90
  components/elm/src/biogeochem/CNPhenologyBeTRMod.F90
  components/elm/src/biogeochem/CarbonStateUpdate1Mod.F90
  components/elm/src/biogeochem/GrowthRespMod.F90
  components/elm/src/biogeochem/MaintenanceRespMod.F90
  components/elm/src/biogeochem/NitrogenStateUpdate1Mod.F90
  components/elm/src/biogeochem/PhenologyFluxLimitMod.F90
  components/elm/src/biogeochem/PhenologyMod.F90
  components/elm/src/biogeochem/PhosphorusStateUpdate1Mod.F90
  components/elm/src/biogeochem/VegStructUpdateMod.F90
  components/elm/src/cpl/lnd_downscale_atm_forcing.F90
  components/elm/src/cpl/lnd_import_export.F90
  components/elm/src/data_types/VegetationPropertiesType.F90
  components/elm/src/main/atm2lndType.F90
  components/elm/src/main/pftvarcon.F90
Labels: Land, BFB

#6671 Fix import of moved method in MVKO test
  components/mpas-ocean/cime_config/SystemTests/mvko.py
Labels: BFB, Testing

#6662 Rename WW3 input files to include 'RTD'
  components/ww3/bld/build-namelist
  components/ww3/cime_config/buildnml
Labels: BFB, Wave

#6631 Add new SOwISC12to30E3r3 ocean and sea-ice mesh
  cime_config/allactive/config_pesall.xml
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-ocean, mpas-seaice, BFB, RRM

#6644 Updates to sea ice bgc registry and history fields
  components/mpas-seaice/bld/namelist_files/namelist_definition_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
  components/mpas-seaice/src/Registry.xml
  components/mpas-seaice/src/shared/mpas_seaice_icepack.F
Labels: mpas-seaice, BFB

#6672 fix variables in data subglacial runoff
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
Labels: mpas-ocean, BFB

#6659 Fix the mpaso-conservation_check testdef
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/conservation_check/shell_commands
Labels: mpas-ocean, BFB, Testing

#6663 Move WW3 Build Location
  components/ww3/cime_config/buildlib_cmake
Labels: BFB, Wave

#6649 Fix initialization of doubles in VerticalProfileMod
  components/elm/src/biogeochem/CH4Mod.F90
  components/elm/src/biogeochem/VerticalProfileMod.F90
Labels: Land, bug fix PR

#6668 Adds NOOPT_FILES concept to mpas cmake system
  components/mpas-framework/src/build_core.cmake
  components/mpas-seaice/src/seaice.cmake
Labels: mpas-seaice, BFB, CMake build system

#6664 add tests to wav_developer test suite
  cime_config/tests.py
Labels: BFB, Wave

#6582 Adds notes about generating surface dataset and initial condition for ELM
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/docs/user-guide/index.md
  components/elm/docs/user-guide/interpinic.md
  components/elm/docs/user-guide/surface_dataset.md
Labels: Land, Documentation

#6676 Update pelayout on pm-cpu for ne4 scream tests
  cime_config/allactive/config_pesall.xml
  components/eamxx/cmake/machine-files/gcp12.cmake
Labels: Machine Files, BFB, EAMxx, GCP, pm-cpu

#6689 load Core/24.07 module and remove version info from util modules
  cime_config/machines/config_machines.xml
Labels: Machine Files, Frontier

#6683 Add ERA5r025 configurations
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/cime_config/config_compsets.xml
Labels: mpas-albany-landice, compset, BFB, data-models

#6687 Use `FI_MR_CACHE_MONITOR=kdreg2` for all nersc machines
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, pm-gpu, pm-cpu

#6497 Fix indexing of layers in high freq. output
  components/mpas-ocean/src/analysis_members/mpas_ocn_high_frequency_output.F
Labels: mpas-ocean, bug fix PR, non-BFB

#6680 Upgrade NetCDF modules on Chrysalis
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Chrysalis

#6485 Enable E3SM shared pi in MPAS-Ocean
  components/mpas-ocean/src/analysis_members/Makefile
  components/mpas-ocean/src/analysis_members/mpas_ocn_conservation_check.F
  components/mpas-ocean/src/analysis_members/mpas_ocn_harmonic_analysis.F
  components/mpas-ocean/src/analysis_members/mpas_ocn_lagrangian_particle_tracking.F
  components/mpas-ocean/src/analysis_members/mpas_ocn_okubo_weiss.F
  components/mpas-ocean/src/analysis_members/mpas_ocn_time_filters.F
  components/mpas-ocean/src/analysis_members/shr_const_mod.F
  components/mpas-ocean/src/analysis_members/shr_kind_mod.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_si.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split.F
  components/mpas-ocean/src/mode_forward/mpas_ocn_time_integration_split_ab2.F
  components/mpas-ocean/src/shared/Makefile
  components/mpas-ocean/src/shared/mpas_ocn_constants.F
  components/mpas-ocean/src/shared/mpas_ocn_gm.F
  components/mpas-ocean/src/shared/mpas_ocn_manufactured_solution.F
  components/mpas-ocean/src/shared/mpas_ocn_mesh.F
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
  components/mpas-ocean/src/shared/mpas_ocn_tidal_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_advection_shared.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_forcing_topographic_wave_drag.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_hmix_leith.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_self_attraction_loading.F
  components/mpas-ocean/src/shared/mpas_ocn_vel_tidal_potential.F
  components/mpas-ocean/src/shared/mpas_ocn_vmix_cvmix.F
Labels: mpas-ocean, non-BFB

#6686 upgrades and fixes to gh workflows
  .github/workflows/e3sm-gh-ci-cime-tests.yml
  .github/workflows/e3sm-gh-ci-w-cime-tests.yml
  .github/workflows/e3sm-gh-md-linter.yml
  .github/workflows/e3sm-gh-pages.yml
  .github/workflows/e3sm-gh-tools-mkatmsrffile-test.yml
  .github/workflows/eamxx-gh-ci-standalone.yml
  .github/workflows/eamxx-gh-pages.yml
  .github/workflows/eamxx_default_files.yml
Labels: Testing

#6566 Add ocean relativeVorticityAtSurface to highFrequencyStats
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/src/analysis_members/Registry_high_frequency_output.xml
  components/mpas-ocean/src/analysis_members/mpas_ocn_high_frequency_output.F
Labels: mpas-ocean, non-BFB

#6709 Add overrun qos for pm-cpu/pm-gpu
  cime_config/machines/config_batch.xml
Labels: Machine Files, BFB, pm-gpu, pm-cpu

#6705 Update chicoma-cpu gnu and nvidia builds
  cime_config/machines/cmake_macros/gnu_chicoma-cpu.cmake
  cime_config/machines/config_machines.xml
  components/mpas-framework/Makefile
Labels: Machine Files, BFB, mpas-framework

#6707 Enable gh/ci on maint-3.0
  .github/workflows/e3sm-gh-ci-cime-tests.yml
  .github/workflows/e3sm-gh-ci-w-cime-tests.yml
  .github/workflows/e3sm-gh-md-linter.yml
  .github/workflows/e3sm-gh-pages.yml
  .github/workflows/e3sm-gh-tools-mkatmsrffile-test.yml
  .github/workflows/eamxx-gh-ci-standalone.yml
  .github/workflows/eamxx-gh-pages.yml
  .github/workflows/eamxx_default_files.yml
Labels: Testing, maint-3.0

#6370 Fix for bad leaf C:N ratios during transient land simulations
  components/elm/src/biogeochem/ComputeSeedMod.F90
Labels: Land, bug fix PR, non-BFB

#6703 For pm-cpu, remove libfabric work-around of setting `FI_CXI_RX_MATCH_MODE=software`
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, pm-cpu

#6694 Add ability for MALI to create separate logs from each processor
  components/mpas-albany-landice/bld/build-namelist
  components/mpas-albany-landice/bld/build-namelist-section
  components/mpas-albany-landice/bld/namelist_files/namelist_defaults_mali.xml
  components/mpas-albany-landice/bld/namelist_files/namelist_definition_mali.xml
  components/mpas-albany-landice/driver/glc_comp_mct.F
  components/mpas-albany-landice/src/Registry.xml
Labels: mpas-albany-landice, BFB, NML

#6720 HOMME, Aurora: Fix MKL flags from Intel MKL or oneMKL
  components/homme/CMakeLists.txt
  components/homme/cmake/HommeMacros.cmake
  components/homme/test/unit_tests/CMakeLists.txt
  components/homme/test_execs/preqx_kokkos_ut/CMakeLists.txt
  components/homme/test_execs/thetal_kokkos_ut/CMakeLists.txt
Labels: HOMME standalone, Aurora
