Repository E3SM-Project/E3SM, pull requests merged in 2024-11, with the labels that each got.

#6728 Modify pe layouts for anvil
  cime_config/testmods_dirs/config_pes_tests.xml
Labels: Anvil, Testing, maint-3.0

#6589 Adds a lower limit to stem allocation to avoid negative states
  components/elm/src/biogeochem/AllocationMod.F90
Labels: Land, bug fix PR, non-BFB

#6731 Update anvil pelayout for v3 RRM
  cime_config/testmods_dirs/config_pes_tests.xml
Labels: Anvil, Testing, maint-3.0

#6712 Add moab coupler developer test suite
  cime_config/tests.py
  components/data_comps/dice/src/ice_comp_mct.F90
  driver-moab/main/prep_ocn_mod.F90
Labels: Coupler, Testing, maint-3.0

#6724 Add e3sm_prod PEs for maint-3.0 on Improv
  cime_config/allactive/config_pesall.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Testing, maint-3.0

#6725 Fix alarm error for MALI adaptive timestepper
  components/mpas-albany-landice/cime_config/testdefs/testmods_dirs/mali/gis20km/user_nl_mali
  components/mpas-albany-landice/driver/glc_comp_mct.F
Labels: mpas-albany-landice, BFB, NML

#6729 Fix total land-ice freshwater flux in data mode
  components/mpas-ocean/src/shared/mpas_ocn_surface_land_ice_fluxes.F
Labels: mpas-ocean, bug fix PR, BFB

#6706 Add ICOS30 wave mesh for E3SMv3.
  cime_config/config_grids.xml
  cime_config/tests.py
  components/mpas-ocean/src/shared/mpas_ocn_vmix_cvmix.F
  components/ww3/bld/namelist_files/namelist_defaults_ww3_grid.xml
  components/ww3/bld/namelist_files/namelist_defaults_ww3_grid_nml.xml
  components/ww3/cime_config/buildnml
Labels: BFB, Wave

#6568 Fixing a bug causing model crash by avoiding negative channel storage
  components/elm/cime_config/testdefs/testmods_dirs/elm/lnd_rof_2way/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/lnd_rof_2way/user_nl_mosart
  components/mosart/src/riverroute/MOSART_physics_mod.F90
Labels: non-BFB, MOSART (river)

#6693 Update conditions for Southern Ocean ice and river runoff removal
  components/data_comps/drof/cime_config/config_component.xml
  components/data_comps/drof/cime_config/namelist_definition_drof.xml
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/cime_config/config_compsets.xml
Labels: mpas-ocean, NML, non-BFB

#6661 add guide for code changes needed to support a new grid
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/add-grid-config.md
Labels: Documentation

#6748 enable eamxx docs + add pyscream docs
  .github/workflows/eamxx-gh-pages.yml
  components/eamxx/docs/developer/index.md
  components/eamxx/docs/developer/kokkos_ekat.md
  components/eamxx/docs/developer/processes.md
  components/eamxx/docs/index.md
  components/eamxx/docs/user/index.md
  components/eamxx/docs/user/pyscream.md
  components/eamxx/mkdocs.yml
Labels: Documentation, EAMxx

#6501 Disable land ice frazil unless ISMF is on
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/src/Registry.xml
Labels: mpas-ocean, NML, non-BFB

#6749 Update gw_convect
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/src/physics/cam/gw_convect.F90
  components/eam/src/physics/cam/gw_drag.F90
Labels: Atmosphere, BFB, NML

#6722 Set diagnositc ice falling flux as zero to avoid ice double counting in COSP.
  components/eam/src/physics/p3/eam/micro_p3.F90
Labels: Atmosphere

#6713 Chemistry output bug fix
  components/eam/src/chemistry/mozart/rate_diags.F90
Labels: Atmosphere, bug fix PR, BFB, Atmospheric chemistry

#6769 EAMxx: speed up valgrind testing to make it doable
  components/eamxx/CMakeLists.txt
  components/eamxx/scripts/scripts-tests
  components/eamxx/scripts/test_factory.py
Labels: Testing, EAMxx

#6754 simplify bi and tri-grid in land for MOAB coupler.
  components/elm/src/cpl/lnd_comp_mct.F90
  components/elm/src/main/surfrdMod.F90
  components/elm/src/utils/domainMod.F90
  components/mpas-ocean/driver/ocn_comp_mct.F
  driver-moab/main/component_mod.F90
  driver-moab/main/cplcomp_exchange_mod.F90
  driver-moab/main/prep_lnd_mod.F90
  driver-moab/main/prep_rof_mod.F90
  driver-moab/shr/seq_comm_mct.F90
Labels: Coupler, BFB, maint-3.0

#6771 Update Frontier machine and compiler configuration to fix issues with crayclanggpu and amdclanggpu
  cime_config/machines/Depends.crayclanggpu.cmake
  cime_config/machines/cmake_macros/crayclanggpu_frontier.cmake
  cime_config/machines/config_machines.xml
Labels: CIME, Frontier

#6726 HOMME: Removed an old kokkos cmd line flag: kokkos-num-devices
  components/homme/src/share/cxx/ExecSpaceDefs.cpp
Labels: BFB, HOMME

#6781 EAMxx: set valgrind supp file in ghci-snl mach file
  components/eamxx/cmake/BuildCprnc.cmake
  components/eamxx/cmake/machine-files/ghci-snl.cmake
Labels: Testing, EAMxx

#6770 EAMxx: refactor vertical remapper to handle different top/bot extrapolations
  components/eamxx/src/share/grid/remap/vertical_remapper.cpp
  components/eamxx/src/share/grid/remap/vertical_remapper.hpp
  components/eamxx/src/share/io/scorpio_output.cpp
  components/eamxx/src/share/tests/vertical_remapper_tests.cpp
Labels: EAMxx

#6696 Add scaling of DIB and DISMF by running mean of removed Antarctic ice runoff
  cime_config/tests.py
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/cime_config/config_component.xml
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/scaled_dib_dismf/README
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/scaled_dib_dismf/user_nl_mpaso
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/scaled_dib_dismf/user_nl_mpassi
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/analysis_members/Registry_global_stats.xml
  components/mpas-ocean/src/analysis_members/mpas_ocn_global_stats.F
  components/mpas-ocean/src/driver/mpas_ocn_core_interface.F
  components/mpas-ocean/src/ocean.cmake
  components/mpas-ocean/src/shared/mpas_ocn_scaled_dismf.F
  components/mpas-ocean/src/shared/mpas_ocn_surface_land_ice_fluxes.F
  components/mpas-seaice/bld/build-namelist
  components/mpas-seaice/bld/build-namelist-section
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/bld/namelist_files/namelist_definition_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
  components/mpas-seaice/driver/ice_comp_mct.F
  components/mpas-seaice/src/Registry.xml
  components/mpas-seaice/src/model_forward/mpas_seaice_core_interface.F
  components/mpas-seaice/src/shared/mpas_seaice_forcing.F
  driver-mct/main/seq_rest_mod.F90
  driver-mct/shr/seq_infodata_mod.F90
  driver-moab/main/seq_rest_mod.F90
  driver-moab/shr/seq_infodata_mod.F90
Labels: mpas-ocean, mpas-seaice, NML, Stealth

#6776 EAMxx: add horizontal contraction utility to Field
  components/eamxx/src/share/field/field_utils.hpp
  components/eamxx/src/share/field/field_utils_impl.hpp
  components/eamxx/src/share/tests/field_utils.cpp
Labels: EAMxx

#6775 Workflows: reorganization after EAMxx merge-in
  .github/dependabot.yml
  .github/workflows/e3sm-gh-ci-cime-tests.yml
  .github/workflows/e3sm-gh-ci-w-cime-tests.yml
  .github/workflows/e3sm-gh-md-linter.yml
  .github/workflows/eamxx-gh-ci-standalone.yml
  .github/workflows/eamxx-gh-pages.yml
  .github/workflows/eamxx_default_files.yml
  components/eamxx/cime_config/tests/eamxx_default_files.py
Labels: Documentation, Testing, EAMxx, CI: workflow change approved
