Repository E3SM-Project/E3SM, pull requests merged in 2025-04, with the labels that each got.

#7196 EAMxx: Fix for Aurora build due to size of kernel launch.
  components/eamxx/src/physics/mam/eamxx_mam_optics_process_interface.cpp
Labels: EAMxx, Aurora

#7178 EAMxx: during init, flush atm log more often
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.cpp
Labels: BFB, EAMxx, code usability

#7163 EAMxx: Update Dev Docs
  components/eamxx/docs/developer/TPLs.md
  components/eamxx/docs/developer/dev_quickstart.md
  components/eamxx/mkdocs.yml
  mkdocs.yaml
Labels: Documentation, BFB, EAMxx

#7190 EAMxx: add field utility to get a mask for a given field
  components/eamxx/src/share/eamxx_types.hpp
  components/eamxx/src/share/field/field_utils.hpp
  components/eamxx/src/share/field/field_utils_impl.hpp
  components/eamxx/src/share/tests/field_utils.cpp
Labels: enhancement, BFB, EAMxx

#7193 EAMxx: miscellanea improvement of Field class
  components/eamxx/src/diagnostics/tests/aerocom_cld_test.cpp
  components/eamxx/src/diagnostics/tests/aodvis_test.cpp
  components/eamxx/src/diagnostics/tests/longwave_cloud_forcing_tests.cpp
  components/eamxx/src/diagnostics/tests/precip_surf_mass_flux_tests.cpp
  components/eamxx/src/diagnostics/tests/relative_humidity_tests.cpp
  components/eamxx/src/diagnostics/tests/sea_level_pressure_test.cpp
  components/eamxx/src/diagnostics/tests/shortwave_cloud_forcing_tests.cpp
  components/eamxx/src/diagnostics/tests/surf_upward_latent_heat_flux_tests.cpp
  components/eamxx/src/diagnostics/tests/vapor_flux_tests.cpp
  components/eamxx/src/share/field/eti/field_eti_deep_copy_double_device.cpp
  components/eamxx/src/share/field/eti/field_eti_deep_copy_double_host.cpp
  components/eamxx/src/share/field/eti/field_eti_deep_copy_float_device.cpp
  components/eamxx/src/share/field/eti/field_eti_deep_copy_float_host.cpp
  components/eamxx/src/share/field/eti/field_eti_deep_copy_int_device.cpp
  components/eamxx/src/share/field/eti/field_eti_deep_copy_int_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_double_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_double_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_fill_double_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_fill_double_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_fill_float_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_fill_float_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_fill_int_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_fill_int_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_float_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_float_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_int_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_impl_int_host.cpp
  components/eamxx/src/share/field/field.hpp
  components/eamxx/src/share/field/field_impl.hpp
  components/eamxx/src/share/field/field_impl_details.hpp
  components/eamxx/src/share/tests/atm_process_tests.cpp
  components/eamxx/src/share/tests/field_tests.cpp
Labels: enhancement, BFB, EAMxx

#7114 EAMxx: change handling of timestamp inside atm proc
  components/eamxx/docs/_presentations_srcs/eamxx-tutorial-2025-part2.md
  components/eamxx/docs/developer/dev_testing/testing_for_development.md
  components/eamxx/src/control/atmosphere_surface_coupling_exporter.cpp
  components/eamxx/src/control/atmosphere_surface_coupling_exporter.hpp
  components/eamxx/src/control/atmosphere_surface_coupling_importer.cpp
  components/eamxx/src/dynamics/homme/eamxx_homme_fv_phys.cpp
  components/eamxx/src/dynamics/homme/eamxx_homme_process_interface.cpp
  components/eamxx/src/dynamics/homme/eamxx_homme_process_interface.hpp
  components/eamxx/src/physics/cosp/eamxx_cosp.cpp
  components/eamxx/src/physics/iop_forcing/eamxx_iop_forcing_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_srf_and_online_emissions_process_interface.cpp
  components/eamxx/src/physics/ml_correction/eamxx_ml_correction_process_interface.cpp
  components/eamxx/src/physics/nudging/eamxx_nudging_process_interface.cpp
  components/eamxx/src/physics/rrtmgp/eamxx_rrtmgp_process_interface.cpp
  components/eamxx/src/physics/spa/eamxx_spa_process_interface.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
  components/eamxx/src/share/atm_process/atmosphere_process_group.cpp
  components/eamxx/src/share/atm_process/atmosphere_process_hash.cpp
  components/eamxx/src/share/io/tests/io_diags.cpp
Labels: bug fix PR, non-BFB, EAMxx

#7174 EAMxx: Add diag_equiv_reflectivity as an output
  components/eamxx/src/physics/p3/disp/p3_main_impl_disp.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl.hpp
  components/eamxx/src/physics/p3/p3_functions.hpp
  components/eamxx/src/physics/p3/tests/infra/p3_test_data.cpp
  components/eamxx/tests/single-process/ml_correction/ml_correction_standalone.cpp
Labels: BFB, EAMxx

#7136 Add a dust emission cap
  cime_config/tests.py
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/cime_config/testdefs/testmods_dirs/eam/dustemissioncap/user_nl_eam
  components/eam/src/chemistry/modal_aero/aero_model.F90
Labels: BFB

#7204 Update MOAB coupler seq_flds mod
  components/mpas-ocean/driver/ocn_comp_mct.F
  driver-moab/main/prep_glc_mod.F90
  driver-moab/main/prep_ocn_mod.F90
  driver-moab/shr/seq_flds_mod.F90
Labels: Coupler, MOAB

#7205 Update node list for anlgce-ub22
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#7102 Add polygonal tundra landunits, with subsidence and variable surface hydrology (NGEE Arctic IM1)
  cime_config/config_grids.xml
  cime_config/tests.py
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/polygonal_tundra/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/polygonal_tundra/user_nl_elm
  components/elm/src/biogeophys/ActiveLayerMod.F90
  components/elm/src/biogeophys/CanopyHydrologyMod.F90
  components/elm/src/biogeophys/CanopyStateType.F90
  components/elm/src/biogeophys/SoilHydrologyMod.F90
  components/elm/src/biogeophys/WaterStateType.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/data_types/ColumnType.F90
  components/elm/src/data_types/LandunitType.F90
  components/elm/src/main/controlMod.F90
  components/elm/src/main/elm_initializeMod.F90
  components/elm/src/main/elm_varctl.F90
  components/elm/src/main/elm_varsur.F90
  components/elm/src/main/histFileMod.F90
  components/elm/src/main/initGridCellsMod.F90
  components/elm/src/main/initSubgridMod.F90
  components/elm/src/main/initVerticalMod.F90
  components/elm/src/main/landunit_varcon.F90
  components/elm/src/main/restFileMod.F90
  components/elm/src/main/subgridMod.F90
  components/elm/src/main/surfrdMod.F90
Labels: Land, BFB, Stealth

#7209 For pm-cpu: set MPICH environment variable to avoid gradual slowdowns of simulations
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, pm-cpu

#7185 CsmShare: use mpi module rather than mpif include
  share/util/shr_mct_mod.F90
  share/util/shr_mpi_mod.F90
  share/util/shr_reprosum_mod.F90
  share/util/shr_taskmap_mod.F90
Labels: BFB, code cleanup

#7216 EAMxx: use env vars to set blas/lapack libs in ghci machines
  components/eamxx/cmake/machine-files/ghci-snl.cmake
Labels: BFB, Testing, EAMxx

#7203 Loads newer python in Compy's machine files
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Compy

#7214 EAMxx: fix postrun script for ERS hash checking
  components/eamxx/scripts/check-hashes-ers
Labels: bug fix PR, BFB, Testing, EAMxx

#7087 Add tracers for freshwater sources to MPAS-Ocean
  cime_config/tests.py
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-group-list
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/freshwater_tracers/README
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/freshwater_tracers/user_nl_mpaso
  components/mpas-ocean/src/shared/mpas_ocn_surface_bulk_forcing.F
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_advection.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_advection_mono.F
  components/mpas-ocean/src/shared/mpas_ocn_tracer_advection_std.F
  components/mpas-ocean/src/tracer_groups/Registry_freshwaterTracers.xml
  components/mpas-ocean/src/tracer_groups/Registry_tracers.xml
Labels: mpas-ocean, BFB, NML, Stealth

#7201 EAMxx: Some EAMxx-specific Aurora cleanups
  components/eamxx/cmake/machine-files/aurora.cmake
  components/homme/src/share/cxx/ComposeTransportImplEnhancedTrajectoryImpl.hpp
Labels: HOMME, EAMxx, Aurora

#7202 Call dss_hvtensor in EAMxx homme interface
  components/eamxx/src/dynamics/homme/interface/homme_driver_mod.F90
  components/homme/src/share/global_norms_mod.F90
  components/homme/src/share/prim_driver_base.F90
  components/homme/src/sweqx/sweq_mod.F90
Labels: bug fix PR, EAMxx

#7220 Revert "EAMxx: allow to decomposing fast-striding dimensions in IO"
  components/eamxx/src/share/io/eamxx_scorpio_interface.cpp
  components/eamxx/src/share/io/eamxx_scorpio_interface.hpp
  components/eamxx/src/share/io/eamxx_scorpio_types.hpp
  components/eamxx/src/share/io/scorpio_input.cpp
  components/eamxx/src/share/io/scorpio_output.cpp
  components/eamxx/src/share/io/scorpio_output.hpp
  components/eamxx/src/share/io/scorpio_scm_input.cpp
  components/eamxx/src/share/io/tests/io_scm_reader.cpp
  components/eamxx/src/share/io/tests/scorpio_interface_tests.cpp
Labels: BFB, EAMxx

#7195 Add new SOwISC12to30E3r4 ocean and sea-ice mesh
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_definition.xml
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/bld/namelist_files/namelist_defaults_mpassi.xml
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-ocean, mpas-seaice, BFB, RRM

#7199 EAMxx: Replacing temporary views with the emaxx buffer.
  components/eamxx/src/physics/mam/eamxx_mam_aci_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_aci_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_constituent_fluxes_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_generic_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_generic_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_optics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_optics_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_srf_and_online_emissions_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_wetscav_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_wetscav_process_interface.hpp
  components/eamxx/src/physics/mam/mam_coupling.hpp
  components/eamxx/src/physics/mam/readfiles/tracer_reader_utils.hpp
Labels: BFB, EAMxx, MAM4xx

#7229 Use different calculation for SYCL and HIP team size in phys-dyn remap
  components/eamxx/src/dynamics/homme/physics_dynamics_remapper.cpp
Labels: bug fix PR, BFB, EAMxx, Aurora

#7235 EAMxx: split field.cpp to fix ICE on chrysalis
  components/eamxx/src/share/CMakeLists.txt
  components/eamxx/src/share/field/field.cpp
  components/eamxx/src/share/field/field_sync.cpp
Labels: Chrysalis, EAMxx

#7248 Establish eamxx/src/physics/gw , gravity wave package
  components/eam/src/physics/cam/gw/gw_common.F90
  components/eam/src/physics/cam/gw/gw_convect.F90
  components/eam/src/physics/cam/gw/gw_diffusion.F90
  components/eam/src/physics/cam/gw/gw_drag.F90
  components/eam/src/physics/cam/gw/gw_front.F90
  components/eam/src/physics/cam/gw/gw_utils.F90
  components/eam/src/physics/cam/vdiff_lu_solver.F90
  components/eamxx/scripts/gen_boiler.py
  components/eamxx/src/physics/CMakeLists.txt
  components/eamxx/src/physics/gw/CMakeLists.txt
  components/eamxx/src/physics/gw/eti/gw_gwd_compute_tendencies_from_stress_divergence.cpp
  components/eamxx/src/physics/gw/gw_functions.hpp
  components/eamxx/src/physics/gw/impl/gw_gwd_compute_tendencies_from_stress_divergence_impl.hpp
  components/eamxx/src/physics/gw/tests/CMakeLists.txt
  components/eamxx/src/physics/gw/tests/gw_gwd_compute_tendencies_from_stress_divergence_tests.cpp
  components/eamxx/src/physics/gw/tests/infra/CMakeLists.txt
  components/eamxx/src/physics/gw/tests/infra/gw_iso_c.f90
  components/eamxx/src/physics/gw/tests/infra/gw_test_data.cpp
  components/eamxx/src/physics/gw/tests/infra/gw_test_data.hpp
  components/eamxx/src/physics/gw/tests/infra/gw_unit_tests_common.hpp
  components/eamxx/src/physics/share/physics_test_data.hpp
Labels: BFB, EAMxx

#7238 Add default setting for abortFlag in check_tracer_conservation
  components/mpas-seaice/src/shared/mpas_seaice_advection_incremental_remap.F
Labels: mpas-seaice, bug fix PR

#7254 Refactor test pattern and update TMS testing
  components/eamxx/scripts/gen_boiler.py
  components/eamxx/src/physics/gw/tests/gw_gwd_compute_tendencies_from_stress_divergence_tests.cpp
  components/eamxx/src/physics/gw/tests/infra/gw_unit_tests_common.hpp
  components/eamxx/src/physics/p3/tests/infra/p3_unit_tests_common.hpp
  components/eamxx/src/physics/share/physics_test_data.hpp
  components/eamxx/src/physics/shoc/tests/infra/shoc_unit_tests_common.hpp
  components/eamxx/src/physics/tms/CMakeLists.txt
  components/eamxx/src/physics/tms/tests/CMakeLists.txt
  components/eamxx/src/physics/tms/tests/compute_tms_tests.cpp
  components/eamxx/src/physics/tms/tests/infra/CMakeLists.txt
  components/eamxx/src/physics/tms/tests/infra/tms_test_data.cpp
  components/eamxx/src/physics/tms/tests/infra/tms_test_data.hpp
  components/eamxx/src/physics/tms/tests/infra/tms_unit_tests_common.hpp
  components/eamxx/src/physics/tms/tms_iso_c.f90
Labels: BFB, EAMxx

#7106 Add ADIOS2 with compression support on Chrysalis
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Chrysalis

#7253 Change cosp submodule remote
  .gitmodules
Labels: BFB, COSP

#7267 Add NERSC internal machines `alvarez-gpu`, `alvarez-cpu`. Remove `alvarez`
  cime_config/allactive/config_pesall.xml
  cime_config/machines/Depends.alvarez-cpu.gnu.cmake
  cime_config/machines/Depends.alvarez-cpu.intel.cmake
  cime_config/machines/Depends.alvarez-cpu.nvidia.cmake
  cime_config/machines/Depends.alvarez-gpu.nvidia.cmake
  cime_config/machines/Depends.alvarez-gpu.nvidiagpu.cmake
  cime_config/machines/cmake_macros/amdclang_alvarez-cpu.cmake
  cime_config/machines/cmake_macros/gnu_alvarez-cpu.cmake
  cime_config/machines/cmake_macros/gnu_alvarez-gpu.cmake
  cime_config/machines/cmake_macros/gnugpu_alvarez-gpu.cmake
  cime_config/machines/cmake_macros/intel_alvarez-cpu.cmake
  cime_config/machines/cmake_macros/nvidia_alvarez-cpu.cmake
  cime_config/machines/cmake_macros/nvidia_alvarez-gpu.cmake
  cime_config/machines/cmake_macros/nvidiagpu_alvarez-gpu.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  cime_config/machines/syslog.alvarez-cpu
  cime_config/machines/syslog.alvarez-gpu
  cime_config/testmods_dirs/config_pes_tests.xml
  components/eam/cime_config/config_pes.xml
  components/eamxx/cmake/machine-files/alvarez-cpu.cmake
  components/eamxx/cmake/machine-files/alvarez-gpu.cmake
  components/elm/cime_config/config_pes.xml
  components/mpas-albany-landice/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
  components/mpas-seaice/cime_config/config_pes.xml
Labels: Machine Files, BFB

#7245 EAMxx: enable a few extra p3 diagnostics
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
  components/eamxx/src/physics/p3/disp/p3_main_impl_disp.cpp
  components/eamxx/src/physics/p3/disp/p3_main_impl_part2_disp.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.cpp
  components/eamxx/src/physics/p3/eamxx_p3_run.cpp
  components/eamxx/src/physics/p3/impl/p3_main_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl_part2.hpp
  components/eamxx/src/physics/p3/p3_functions.hpp
  components/eamxx/src/physics/p3/tests/infra/p3_test_data.cpp
  components/eamxx/src/physics/p3/tests/infra/p3_test_data.hpp
  components/eamxx/src/physics/p3/tests/p3_main_unit_tests.cpp
Labels: BFB, EAMxx

#7251 EAMxx: add aurora and polaris for standalone testing config
  components/eamxx/cmake/machine-files/aurora.cmake
  components/eamxx/scripts/machines_specs.py
Labels: BFB, EAMxx

#7191 EAMxx: Make only MAM4xx-ACI mix droplet number when ACI is active
  components/eamxx/src/physics/mam/eamxx_mam_aci_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_constituent_fluxes_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_generic_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_optics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_srf_and_online_emissions_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_wetscav_process_interface.cpp
Labels: non-BFB, EAMxx, MAM4xx

#7274 Remove unused machines from configuration files (gcp10, stampede)
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/gnu_gcp10.cmake
  cime_config/machines/cmake_macros/intel_stampede2.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
  components/elm/cime_config/config_pes.xml
  components/homme/cmake/machineFiles/stampede.cmake
  components/mpas-albany-landice/cime_config/config_pes.xml
  components/mpas-ocean/cime_config/config_pes.xml
  components/mpas-seaice/cime_config/config_pes.xml
Labels: Machine Files, BFB

#7272 EAMxx: Remove unused var in MAM4xx microphysics init_temp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
Labels: BFB, EAMxx, MAM4xx

#7092 ZM cleanup - consolidate microphysics
  components/eam/src/physics/cam/zm_aero.F90
  components/eam/src/physics/cam/zm_conv.F90
  components/eam/src/physics/cam/zm_conv_intr.F90
  components/eam/src/physics/cam/zm_microphysics.F90
  components/eam/src/physics/cam/zm_microphysics_history.F90
  components/eam/src/physics/cam/zm_microphysics_state.F90
Labels: Atmosphere, non-BFB, ZM

#7295 EAMxx: add wrapper to the cacts python package for unit testing
  components/eamxx/cacts.yaml
  components/eamxx/scripts/eamxx-cacts
Labels: Scripts, BFB, Testing, EAMxx

#7282 Restore WITH_HDF5 option for SCORPIO and use custom FindHDF5 module
  cime_config/machines/config_machines.xml
  components/cmake/modules/FindHDF5.cmake
  components/cmake/modules/FindPIO.cmake
  share/build/buildlib.spio
Labels: Machine Files, BFB, SCORPIO, CMake build system

#7166 Raise a critical error on unknown field type
  components/mpas-framework/src/framework/mpas_io.F
Labels: bug fix PR, BFB, mpas-framework

#7293 Fixes initialization of bgc and aerosol fields
  components/mpas-seaice/src/shared/mpas_seaice_icepack.F
Labels: mpas-seaice, bug fix PR, BFB, BGC
