Repository E3SM-Project/E3SM, pull requests merged in 2025-01, with the labels that each got.

#6632 OCN to GLC thermal forcing coupling
  cime_config/config_grids.xml
  cime_config/tests.py
  components/mpas-albany-landice/bld/namelist_files/namelist_defaults_mali.xml
  components/mpas-albany-landice/cime_config/buildnml
  components/mpas-albany-landice/driver/glc_comp_mct.F
  components/mpas-albany-landice/driver/glc_cpl_indices.F
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/ocn_glc_tf_coupling/README
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/ocn_glc_tf_coupling/shell_commands
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/ocn_glc_tf_coupling/user_nl_mpaso
  components/mpas-ocean/driver/mpaso_cpl_indices.F
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_time_average_coupled.F
  driver-mct/cime_config/buildnml
  driver-mct/cime_config/config_component.xml
  driver-mct/cime_config/config_component_e3sm.xml
  driver-mct/cime_config/namelist_definition_drv.xml
  driver-mct/main/cime_comp_mod.F90
  driver-mct/main/prep_glc_mod.F90
  driver-mct/shr/seq_flds_mod.F90
  driver-mct/shr/seq_infodata_mod.F90
Labels: mpas-ocean, mpas-albany-landice, Coupler, NML, non-BFB, Stealth

#6861 EAMxx: reorganize files related to query-cf-database utility
  components/eam/cime_config/buildnml
  components/eamxx/CMakeLists.txt
  components/eamxx/scripts/README.md
  components/eamxx/scripts/query-cf-database/CMakeLists.txt
  components/eamxx/scripts/query-cf-database/cf-scream-name-table.yaml
  components/eamxx/scripts/query-cf-database/cf-standard-name-table.yaml
  components/eamxx/scripts/query-cf-database/cf-xml-to-yaml
  components/eamxx/scripts/query-cf-database/query-cf-database.cpp
Labels: Scripts, BFB, EAMxx, code cleanup

#6875 EAMxx: create rrtmgp allsky baseline target with CreateUnitTest utility
  components/eamxx/src/physics/rrtmgp/tests/CMakeLists.txt
Labels: bug fix PR, Testing, CMake build system, EAMxx

#6851 number of ghost layers needs to be set for bilinear maps
  driver-moab/main/prep_ocn_mod.F90
Labels: Coupler

#6862 Add del2 and del4 terms to manufactured solution test
  components/mpas-ocean/src/shared/mpas_ocn_manufactured_solution.F
Labels: BFB, Stealth, MPAS-Ocean standalone, correctness

#6877 Fix cases and add tests for moab coupler
  cime_config/tests.py
  driver-moab/cime_config/config_component.xml
  driver-moab/cime_config/config_component_e3sm.xml
  driver-moab/shr/seq_infodata_mod.F90
Labels: Coupler

#6860 Add Initial Condition Handling to EAMxx DAG Generator
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/control/atmosphere_driver.hpp
  components/eamxx/src/share/atm_process/atmosphere_process_dag.cpp
  components/eamxx/src/share/atm_process/atmosphere_process_dag.hpp
Labels: EAMxx

#6708 Fixes bugs in CMix/KPP interface
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/Makefile
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_tendency.F
  components/mpas-ocean/src/shared/mpas_ocn_vmix.F
  components/mpas-ocean/src/shared/mpas_ocn_vmix_cvmix.F
Labels: bug, mpas-ocean, bug fix PR, CC

#6869 Bug fix for changing orodrag tuning parameters via namelist
  components/eam/src/control/runtime_opts.F90
  components/eam/src/physics/cam/clubb_intr.F90
  components/eam/src/physics/cam/gw_drag.F90
  components/eam/src/physics/cam/od_common.F90
  components/eam/src/physics/cam/phys_control.F90
Labels: Atmosphere

#6882 EAMxx: temporarily disable non-deterministic and/or buggy mam test
  components/eamxx/tests/multi-process/dynamics_physics/mam/CMakeLists.txt
  components/eamxx/tests/multi-process/physics_only/CMakeLists.txt
  components/eamxx/tests/single-process/CMakeLists.txt
Labels: Testing, EAMxx

#6890 Fix valgrind error in atm proc DAG creation
  components/eamxx/src/share/atm_process/atmosphere_process_dag.cpp
  components/eamxx/src/share/io/scorpio_output.cpp
Labels: bug fix PR, BFB, EAMxx

#6812 EAMXX: add a DataInterpolation class
  components/eamxx/src/dynamics/homme/interface/homme_context_mod.F90
  components/eamxx/src/physics/mam/readfiles/marine_organics_impl.hpp
  components/eamxx/src/physics/mam/readfiles/tracer_reader_utils.hpp
  components/eamxx/src/physics/mam/srf_emission_impl.hpp
  components/eamxx/src/physics/shoc/tests/shoc_pdf_thl_parameters_tests.cpp
  components/eamxx/src/physics/spa/spa_functions_impl.hpp
  components/eamxx/src/physics/spa/tests/spa_main_test.cpp
  components/eamxx/src/share/CMakeLists.txt
  components/eamxx/src/share/grid/remap/horiz_interp_remapper_base.cpp
  components/eamxx/src/share/grid/remap/refining_remapper_p2p.cpp
  components/eamxx/src/share/grid/remap/vertical_remapper.cpp
  components/eamxx/src/share/grid/remap/vertical_remapper.hpp
  components/eamxx/src/share/io/scorpio_input.cpp
  components/eamxx/src/share/io/scorpio_input.hpp
  components/eamxx/src/share/io/scream_io_control.hpp
  components/eamxx/src/share/tests/CMakeLists.txt
  components/eamxx/src/share/tests/data_interpolation_setup.cpp
  components/eamxx/src/share/tests/data_interpolation_tests.cpp
  components/eamxx/src/share/tests/data_interpolation_tests.hpp
  components/eamxx/src/share/util/eamxx_data_interpolation.cpp
  components/eamxx/src/share/util/eamxx_data_interpolation.hpp
  components/eamxx/src/share/util/scream_time_stamp.cpp
  components/eamxx/src/share/util/scream_time_stamp.hpp
Labels: EAMxx, code usability, code cleanup

#6889 EAMxx: add vert_contraction field utility
  components/eamxx/src/share/field/field_utils.hpp
  components/eamxx/src/share/field/field_utils_impl.hpp
  components/eamxx/src/share/tests/field_utils.cpp
Labels: EAMxx

#6798 Add relaxed slab ocean mode
  components/data_comps/docn/cime_config/config_component.xml
  components/data_comps/docn/cime_config/namelist_definition_docn.xml
  components/data_comps/docn/src/docn_comp_mod.F90
  components/data_comps/docn/src/docn_shr_mod.F90
  components/data_comps/docs/index.md
  components/data_comps/docs/user-guide/data-atmos.md
  components/data_comps/docs/user-guide/data-land.md
  components/data_comps/docs/user-guide/data-ocean.md
  components/data_comps/mkdocs.yml
  components/eam/cime_config/config_compsets.xml
  docs/index.md
  docs/refs/eam.bib
  share/util/shr_scam_mod.F90
Labels: BFB, NML, data-ocean, eam

#6896 EAMxx: fix compilation error on chrysalis
  components/eamxx/src/share/util/eamxx_data_interpolation.cpp
Labels: Chrysalis, EAMxx

#6895 EAMxx: set testing max ranks to 2 on ghci-snl-cuda
  components/eamxx/cmake/machine-files/ghci-snl-cuda.cmake
  components/eamxx/src/share/io/tests/io_se_grid.cpp
Labels: Machine Files, Testing, EAMxx

#6901 Begin to de-scream things (use eamxx instead)
  .github/workflows/eamxx-v1-testing.yml
  cime_config/tests.py
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/L128/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/L72/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/bfbhash/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/dpxx/arm97/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/dpxx/comble/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/dpxx/dycomsrf01/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/internal_diagnostics_level/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/aci/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/aero_microphysics/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/all_mam4xx_procs/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/drydep/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/optics/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/remap_emiss_ne4_ne30/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/srf_online_emiss_constituent_fluxes/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/update_eamxx_num_tracers.sh
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/wetscav/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/README
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/diags/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/hremap_to_ne4/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/phys/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/phys_dyn/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/preset/1/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/preset/2/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/preset/3/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/preset/4/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/preset/5/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/preset/6/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/set_avg/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/output/vremap/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/perf_test/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/rad_frequency_2/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/scream_example_testmod_atmchange/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/scream_example_testmod_cmake/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/sl_nsubstep2/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/small_kernels/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/small_kernels_p3/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/small_kernels_shoc/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/spa_remap/shell_commands
  components/eamxx/scripts/cime-nml-tests
Labels: BFB, EAMxx, CI: workflow change approved

#6873 Add MALI ocean extrapolation and fix to RK scheme
  components/mpas-albany-landice/bld/build-namelist
  components/mpas-albany-landice/bld/build-namelist-section
  components/mpas-albany-landice/bld/namelist_files/namelist_defaults_mali.xml
  components/mpas-albany-landice/bld/namelist_files/namelist_definition_mali.xml
  components/mpas-albany-landice/src/Registry.xml
  components/mpas-albany-landice/src/Registry_subglacial_hydro.xml
  components/mpas-albany-landice/src/landice.cmake
  components/mpas-albany-landice/src/mode_forward/Makefile
  components/mpas-albany-landice/src/mode_forward/mpas_li_advection.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_calving.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_core_interface.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_iceshelf_melt.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_ocean_extrap.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_subglacial_hydro.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_time_integration_fe_rk.F
Labels: mpas-albany-landice

#6897 EAMxx: improve horiz/vert contraction tests
  components/eamxx/src/share/field/field_utils.hpp
  components/eamxx/src/share/tests/field_utils.cpp
Labels: enhancement, Testing, EAMxx

#6908 EAMxx: cleanup remappers API
  components/eamxx/src/dynamics/homme/eamxx_homme_fv_phys.cpp
  components/eamxx/src/dynamics/homme/eamxx_homme_process_interface.cpp
  components/eamxx/src/dynamics/homme/physics_dynamics_remapper.cpp
  components/eamxx/src/dynamics/homme/physics_dynamics_remapper.hpp
  components/eamxx/src/dynamics/homme/tests/dyn_grid_io.cpp
  components/eamxx/src/dynamics/homme/tests/homme_pd_remap_tests.cpp
  components/eamxx/src/physics/mam/readfiles/fractional_land_use_impl.hpp
  components/eamxx/src/physics/mam/readfiles/marine_organics_impl.hpp
  components/eamxx/src/physics/mam/readfiles/soil_erodibility_impl.hpp
  components/eamxx/src/physics/mam/readfiles/tracer_reader_utils.hpp
  components/eamxx/src/physics/mam/srf_emission_impl.hpp
  components/eamxx/src/physics/nudging/eamxx_nudging_process_interface.cpp
  components/eamxx/src/physics/p3/tests/infra/p3_ic_cases.cpp
  components/eamxx/src/physics/spa/spa_functions_impl.hpp
  components/eamxx/src/share/CMakeLists.txt
  components/eamxx/src/share/field/field.cpp
  components/eamxx/src/share/field/field.hpp
  components/eamxx/src/share/field/field_header.cpp
  components/eamxx/src/share/field/field_header.hpp
  components/eamxx/src/share/grid/mesh_free_grids_manager.cpp
  components/eamxx/src/share/grid/remap/abstract_remapper.cpp
  components/eamxx/src/share/grid/remap/abstract_remapper.hpp
  components/eamxx/src/share/grid/remap/coarsening_remapper.cpp
  components/eamxx/src/share/grid/remap/coarsening_remapper.hpp
  components/eamxx/src/share/grid/remap/do_nothing_remapper.hpp
  components/eamxx/src/share/grid/remap/horiz_interp_remapper_base.cpp
  components/eamxx/src/share/grid/remap/horiz_interp_remapper_base.hpp
  components/eamxx/src/share/grid/remap/identity_remapper.cpp
  components/eamxx/src/share/grid/remap/identity_remapper.hpp
  components/eamxx/src/share/grid/remap/inverse_remapper.hpp
  components/eamxx/src/share/grid/remap/refining_remapper_p2p.cpp
  components/eamxx/src/share/grid/remap/refining_remapper_p2p.hpp
  components/eamxx/src/share/grid/remap/refining_remapper_rma.cpp
  components/eamxx/src/share/grid/remap/refining_remapper_rma.hpp
  components/eamxx/src/share/grid/remap/vertical_remapper.cpp
  components/eamxx/src/share/grid/remap/vertical_remapper.hpp
  components/eamxx/src/share/io/scorpio_output.cpp
  components/eamxx/src/share/tests/coarsening_remapper_tests.cpp
  components/eamxx/src/share/tests/field_tests.cpp
  components/eamxx/src/share/tests/refining_remapper_p2p_tests.cpp
  components/eamxx/src/share/tests/refining_remapper_rma_tests.cpp
  components/eamxx/src/share/tests/vertical_remapper_tests.cpp
  components/eamxx/src/share/util/eamxx_data_interpolation.cpp
Labels: BFB, EAMxx, code cleanup

#6903 Fixes layout for surface precip in mam-microphysics interface
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
Labels: bug fix PR, EAMxx, MAM4xx

#6919 EAMxx: enhance vert remap support in DataInterpolation
  components/eamxx/src/share/grid/abstract_grid.cpp
  components/eamxx/src/share/grid/abstract_grid.hpp
  components/eamxx/src/share/io/scream_scorpio_interface.cpp
  components/eamxx/src/share/tests/data_interpolation_setup.cpp
  components/eamxx/src/share/tests/data_interpolation_tests.cpp
  components/eamxx/src/share/tests/data_interpolation_tests.hpp
  components/eamxx/src/share/util/eamxx_data_interpolation.cpp
  components/eamxx/src/share/util/eamxx_data_interpolation.hpp
Labels: enhancement, BFB, EAMxx

#6926 EAMxx: Adds a flag to control vertical mixing of interstitial aerosols during aerosol activation process
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/physics/mam/eamxx_mam_aci_functions.hpp
  components/eamxx/src/physics/mam/eamxx_mam_aci_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_aci_process_interface.hpp
  components/eamxx/src/physics/mam/mam_coupling.hpp
  components/eamxx/tests/single-process/mam/aci/input.yaml
Labels: EAMxx

#6884 Update to new version of AIS 4km mesh
  components/mpas-albany-landice/cime_config/buildnml
Labels: mpas-albany-landice, BFB

#6892 Add ocean divergenceAtSurface to highFrequencyStats
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/src/analysis_members/Registry_high_frequency_output.xml
  components/mpas-ocean/src/analysis_members/mpas_ocn_high_frequency_output.F
Labels: mpas-ocean, BFB

#6932 EAMxx: add new required param to mam4_aci tests input files
  components/eamxx/src/physics/mam/eamxx_mam_aci_process_interface.cpp
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_mam_aci_p3_mam_optics_rrtmgp_mam_drydep/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_cldfrac_mam4_aci_p3/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_cldfrac_mam4_aci_p3_mam4_optics_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_cldfrac_mam4_aci_p3_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_mam4_aci/input.yaml
Labels: bug fix PR, EAMxx

#6868 Fix potential uninitialised variable bug in E3SM buildlib files.
  share/build/buildlib.mct
  share/build/buildlib.mpi-serial
Labels: CIME

#6922 adds new anvil environmental variables
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Anvil

#6927 DOCS: use an earlier version of mkdocs-bibtex
  .github/workflows/e3sm-gh-pages.yml
Labels: Documentation, BFB

#6928 Small upgrades to eamxx docs
  components/eamxx/docs/user/model_input.md
  components/eamxx/docs/user/model_output.md
Labels: Documentation, BFB, EAMxx

#6934 EAMxx: fix bug in SeaLevelPressure diagnostic
  components/eamxx/src/diagnostics/sea_level_pressure.cpp
  components/eamxx/src/diagnostics/sea_level_pressure.hpp
  components/eamxx/src/diagnostics/tests/sea_level_pressure_test.cpp
Labels: bug fix PR, non-BFB, EAMxx

#6933 EAMxx: fixes and minor upgrades to COSP
  components/eamxx/src/physics/cosp/cosp_functions.hpp
  components/eamxx/src/physics/cosp/eamxx_cosp.cpp
  components/eamxx/src/physics/cosp/eamxx_cosp.hpp
  components/eamxx/tests/single-process/cosp/input.yaml
Labels: bug fix PR, non-BFB, EAMxx, code cleanup

#6907 Add support for BGWCYCL20TR compset
  cime_config/allactive/config_compsets.xml
Labels: compset

#6917 Add isotropic surface stress to MPAS-Ocean
  components/mpas-framework/src/operators/mpas_vector_operations.F
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/isotropic_wind_stress/README
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/isotropic_wind_stress/user_nl_mpaso
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_surface_bulk_forcing.F
Labels: mpas-ocean, NML, CC, mpas-framework

#6953 EAMxx: fix typo in namelist defaults
  components/eamxx/cime_config/namelist_defaults_scream.xml
Labels: bug fix PR, BFB, EAMxx

#6914 EAMxx: add IOPRemapper and use it in SPA and IOPDataManager
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/control/atmosphere_driver.hpp
  components/eamxx/src/physics/spa/eamxx_spa_process_interface.cpp
  components/eamxx/src/physics/spa/eamxx_spa_process_interface.hpp
  components/eamxx/src/physics/spa/spa_functions.hpp
  components/eamxx/src/physics/spa/spa_functions_impl.hpp
  components/eamxx/src/physics/spa/tests/spa_one_to_one_remap_test.cpp
  components/eamxx/src/physics/spa/tests/spa_read_data_from_file_test.cpp
  components/eamxx/src/share/CMakeLists.txt
  components/eamxx/src/share/atm_process/IOPDataManager.cpp
  components/eamxx/src/share/atm_process/IOPDataManager.hpp
  components/eamxx/src/share/field/field.cpp
  components/eamxx/src/share/field/field.hpp
  components/eamxx/src/share/field/field_layout.hpp
  components/eamxx/src/share/grid/remap/iop_remapper.cpp
  components/eamxx/src/share/grid/remap/iop_remapper.hpp
  components/eamxx/src/share/grid/remap/vertical_remapper.cpp
  components/eamxx/src/share/grid/remap/vertical_remapper.hpp
  components/eamxx/src/share/io/scorpio_scm_input.cpp
  components/eamxx/src/share/io/tests/io_scm_reader.cpp
  components/eamxx/src/share/tests/CMakeLists.txt
  components/eamxx/src/share/tests/iop_remapper_tests.cpp
  components/eamxx/src/share/util/scream_setup_random_test.hpp
Labels: BFB, EAMxx, code cleanup

#6941 Add domain info to MOAB meshes and make h5m DEBUG file names consistent
  components/eam/src/cpl/atm_comp_mct.F90
  components/elm/src/cpl/lnd_comp_mct.F90
  components/mosart/src/cpl/rof_comp_mct.F90
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-seaice/driver/ice_comp_mct.F
  driver-moab/main/cplcomp_exchange_mod.F90
  driver-moab/shr/seq_flds_mod.F90
Labels: Coupler

#6698 Make L80 default for RRM grids
  cime_config/tests.py
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/cime_config/config_component.xml
Labels: BFB, NML, inputdata, eam

#6955 IG: Delete circleci as we are well covered without it
  .circleci/checkout.sh
  .circleci/config.yml
  .circleci/container.sh
  .circleci/run.sh
  .circleci/setup.sh
Labels: BFB, Testing

#6758 Change SORRMv3 ocean initial condition
  components/mpas-ocean/cime_config/buildnml
Labels: mpas-ocean, BFB

#6718 Add subgrid hillslope hydrology (NGEE Arctic IM2)
  cime_config/tests.py
  components/elm/bld/namelist_files/namelist_definition.xml
  components/elm/cime_config/testdefs/testmods_dirs/elm/topounit_im2/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/topounit_im2/user_nl_elm
  components/elm/src/biogeophys/BalanceCheckMod.F90
  components/elm/src/biogeophys/CanopyHydrologyMod.F90
  components/elm/src/biogeophys/HydrologyDrainageMod.F90
  components/elm/src/biogeophys/SoilHydrologyMod.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/data_types/TopounitDataType.F90
  components/elm/src/data_types/TopounitType.F90
  components/elm/src/main/controlMod.F90
  components/elm/src/main/elm_initializeMod.F90
  components/elm/src/main/elm_varcon.F90
  components/elm/src/main/elm_varctl.F90
  components/elm/src/main/initGridCellsMod.F90
  components/elm/src/main/initSubgridMod.F90
  components/elm/src/main/pftvarcon.F90
  components/elm/src/main/restFileMod.F90
Labels: Land, Stealth

#6954 Fix SCREAM_LIB_ONLY typo in p3 and shoc
  components/eam/src/physics/crm/pam/CMakeLists.txt
  components/eamxx/src/physics/p3/CMakeLists.txt
  components/eamxx/src/physics/shoc/CMakeLists.txt
Labels: BFB, CMake build system, EAMxx

#6950 Fix issue with mpas-seaice for branch and hybrid runs
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-seaice, bug fix PR, BFB

#6850 Major cleanup of zm_conv_intr.F90
  components/eam/src/physics/cam/zm_conv_intr.F90
Labels: Atmosphere, BFB, ZM

#6957 EAMxx: add IO metadata
  components/eamxx/docs/user/index.md
  components/eamxx/docs/user/io_metadata.md
  components/eamxx/mkdocs.yml
  components/eamxx/src/share/util/io_metadata/io_metadata.csv
  components/eamxx/src/share/util/io_metadata/readme
  components/eamxx/src/share/util/scream_utils.hpp
Labels: BFB, EAMxx

#6944 Update oneapi modules on Sunspot and Aurora
  cime_config/machines/cmake_macros/oneapi-ifx.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
Labels: Machine Files, BFB, Ready to merge, Aurora, intel
