Repository E3SM-Project/E3SM, pull requests merged in 2025-02, with the labels that each got.

#6960 EAMxx: add field utility to scale with inverse of input field
  components/eamxx/src/share/field/field.hpp
  components/eamxx/src/share/field/field_impl.hpp
  components/eamxx/src/share/tests/field_tests.cpp
Labels: BFB, EAMxx

#6961 Upgrade ADIOS2 libs with compression support on ANL GCE workstations
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#6959 Upgrade ADIOS2 libs with compression support on Frontier
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Frontier

#6974 Update gcc libs for eamxx on Anvil
  cime_config/machines/config_machines.xml
  cime_config/testmods_dirs/config_pes_tests.xml
  components/eamxx/cmake/machine-files/anvil.cmake
Labels: Machine Files, NML, Anvil, EAMxx

#6905 Correct IcoswISC30E3r5 to gis1to10kmR2 mapping file name.
  cime_config/config_grids.xml
Labels: mpas-albany-landice, Coupler, Coupled Model

#6971 For machine gcp12, load python module to reach minimum python version
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, GCP

#6802 Adds internal ocean frazil ice porosity
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_frazil_forcing.F
Labels: mpas-ocean, NML, Stealth

#6967 ghost layers should be associated with the maps
  driver-moab/main/prep_ocn_mod.F90
Labels: Coupler, BFB

#6983 Restore EKAT nightly testing
  .github/actions/test-all-scream/action.yml
  .github/workflows/eamxx-sa-testing.yml
Labels: BFB, EAMxx, CI: workflow change approved

#6987 Fix buildnml for eamxx+ERS
  components/eamxx/cime_config/eamxx_buildnml.py
Labels: BFB, EAMxx

#6854 remove the exact integration in cube_to_target to avoid negative weights
  components/eam/tools/topo_tool/cube_to_target/remap.F90
Labels: Utils, eam

#6858 Adds fice initialization to conv_water_init
  components/eam/src/physics/cam/conv_water.F90
  components/eam/src/physics/cam/physpkg.F90
  components/eam/src/physics/crm/physpkg.F90
Labels: BFB, MMF, eam

#6968 Update generate_domain_files_E3SM.py
  tools/generate_domain_files/generate_domain_files_E3SM.py
Labels: BFB, inputdata

#6973 ZM cleanup - create zm_micropysics_state module
  components/eam/src/physics/cam/zm_conv.F90
  components/eam/src/physics/cam/zm_conv_intr.F90
  components/eam/src/physics/cam/zm_microphysics.F90
  components/eam/src/physics/cam/zm_microphysics_state.F90
Labels: Atmosphere, BFB, ZM

#6992 Zero frazil in docn
  components/data_comps/docn/src/docn_comp_mod.F90
Labels: Coupler, data-models

#7000 Add configuration for SNL machines
  cime_config/machines/cmake_macros/intel_boca.cmake
  cime_config/machines/cmake_macros/intel_flight.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eamxx/cmake/machine-files/flight.cmake
Labels: Machine Files, BFB

#6976 Bugfix for frazil ice temperature tendency
  components/mpas-ocean/src/shared/mpas_ocn_frazil_forcing.F
Labels: mpas-ocean, bug fix PR, NCC

#7006 Workflows: fix test-all-scream action syntax
  .github/actions/test-all-scream/action.yml
  .github/workflows/eamxx-sa-testing.yml
Labels: EAMxx, CI: workflow change approved, workflows

#6980 Update generate-topo-file.md
  docs/dev-guide/adding-grid-support/adding-grid-support-step-by-step-guide/generate-topo-file.md
Labels: Documentation, BFB

#6969 EAMxx: support the new SCORPIO I/O type ADIOSC
  components/eamxx/src/share/io/scream_scorpio_interface.cpp
  components/eamxx/src/share/io/scream_scorpio_types.cpp
  components/eamxx/src/share/io/scream_scorpio_types.hpp
Labels: BFB, SCORPIO, EAMxx

#6945 Add MALI data mode
  cime_config/tests.py
  components/mpas-albany-landice/bld/build-namelist
  components/mpas-albany-landice/cime_config/buildnml
  components/mpas-albany-landice/cime_config/config_component.xml
  components/mpas-ocean/cime_config/config_compsets.xml
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/ocn_glcshelf/shell_commands
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/ocn_glcshelf/user_nl_mpaso
Labels: mpas-albany-landice, BFB

#6964 ZM cleanup - Remove buoyan() subroutine
  components/eam/src/physics/cam/zm_conv.F90
Labels: Atmosphere, BFB, ZM

#6920 EAMxx: make SPA use DataInterpolation
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/physics/shoc/tests/infra/shoc_ic_cases.cpp
  components/eamxx/src/physics/spa/CMakeLists.txt
  components/eamxx/src/physics/spa/eamxx_spa_process_interface.cpp
  components/eamxx/src/physics/spa/eamxx_spa_process_interface.hpp
  components/eamxx/src/physics/spa/spa_functions.hpp
  components/eamxx/src/physics/spa/spa_functions_impl.hpp
  components/eamxx/src/physics/spa/tests/CMakeLists.txt
  components/eamxx/src/physics/spa/tests/spa_main.yaml
  components/eamxx/src/physics/spa/tests/spa_main_test.cpp
  components/eamxx/src/physics/spa/tests/spa_one_to_one_remap_test.cpp
  components/eamxx/src/physics/spa/tests/spa_read_data_from_file_test.cpp
  components/eamxx/src/share/atm_process/IOPDataManager.cpp
  components/eamxx/src/share/tests/data_interpolation_tests.cpp
  components/eamxx/src/share/util/eamxx_data_interpolation.cpp
  components/eamxx/src/share/util/eamxx_data_interpolation.hpp
  components/eamxx/tests/single-process/shoc/CMakeLists.txt
Labels: non-BFB, EAMxx, code cleanup

#7007 EAMxx: avoid MPI tags in GridImportExport gather/scatter methods
  components/eamxx/src/share/grid/abstract_grid.cpp
  components/eamxx/src/share/grid/abstract_grid.hpp
  components/eamxx/src/share/grid/grid_import_export.cpp
  components/eamxx/src/share/grid/grid_import_export.hpp
  components/eamxx/src/share/grid/remap/horiz_interp_remapper_data.cpp
  components/eamxx/src/share/tests/grid_import_export_tests.cpp
Labels: BFB, EAMxx

#6978 EAMxx:Adds a fully coupled compset with EAMxx
  cime_config/allactive/config_compsets.xml
  cime_config/tests.py
Labels: Coupled Model, EAMxx

#6947 EAMxx: Adds aerosols heterogeneous freezing calculations in P3 microphysics
  components/eamxx/cime_config/namelist_defaults_scream.xml
  components/eamxx/src/physics/p3/CMakeLists.txt
  components/eamxx/src/physics/p3/disp/p3_main_impl_disp.cpp
  components/eamxx/src/physics/p3/disp/p3_main_impl_part2_disp.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.cpp
  components/eamxx/src/physics/p3/eti/p3_ice_classical_nucleation_impl.cpp
  components/eamxx/src/physics/p3/impl/p3_back_to_cell_average_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_conservation_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_ice_classical_nucleation_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_ice_supersat_conservation_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl_part2.hpp
  components/eamxx/src/physics/p3/impl/p3_nc_conservation_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_ni_conservation_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_update_prognostics_impl.hpp
  components/eamxx/src/physics/p3/p3_functions.hpp
  components/eamxx/src/physics/p3/tests/infra/p3_data.cpp
  components/eamxx/src/physics/p3/tests/infra/p3_data.hpp
  components/eamxx/src/physics/p3/tests/infra/p3_ic_cases.cpp
  components/eamxx/src/physics/p3/tests/infra/p3_main_wrap.cpp
  components/eamxx/src/physics/p3/tests/infra/p3_test_data.cpp
  components/eamxx/src/physics/p3/tests/infra/p3_test_data.hpp
  components/eamxx/src/physics/p3/tests/p3_back_to_cell_average_unit_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_ice_supersat_conservation_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_main_unit_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_nc_conservation_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_ni_conservation_tests.cpp
  components/eamxx/src/physics/p3/tests/p3_unit_tests.cpp
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_p3_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_p3_rrtmgp_pg2/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_pg2_dp/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_mam_aci_p3_mam_optics_rrtmgp_mam_drydep/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_p3_mam_optics_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_spa_p3_rrtmgp_mam4_wetscav/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/model_restart/input_baseline.yaml
  components/eamxx/tests/multi-process/dynamics_physics/model_restart/input_initial.yaml
  components/eamxx/tests/multi-process/physics_only/atm_proc_subcycling/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/p3_mam4_wetscav/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_cldfrac_mam4_aci_p3/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_cldfrac_mam4_aci_p3_mam4_optics_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_cldfrac_mam4_aci_p3_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_cldfrac_p3_wetscav/input.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_cld_p3_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_cld_spa_p3_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_p3_nudging/input_nudging.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_p3_nudging/input_nudging_glob_novert.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_p3_nudging/input_source_data.yaml
  components/eamxx/tests/single-process/p3/input.yaml
Labels: EAMxx

#7018 Fix eamxx rrtmgp generate baseline
  components/eamxx/src/physics/rrtmgp/tests/generate_baseline.cpp
Labels: BFB, EAMxx

#7011 Add flight and boca to maint-3
  cime_config/machines/cmake_macros/intel_boca.cmake
  cime_config/machines/cmake_macros/intel_flight.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eamxx/cmake/machine-files/flight.cmake
Labels: Machine Files, BFB, maint-3.0

#6990 Unify the Frontier machine file and rename compiler configurations
  cime_config/allactive/config_pesall.xml
  cime_config/customize/provenance.py
  cime_config/machines/Depends.frontier.craycray-mphipcc.cmake
  cime_config/machines/cmake_macros/crayamd-mphipcc.cmake
  cime_config/machines/cmake_macros/crayamd-mphipcc_frontier.cmake
  cime_config/machines/cmake_macros/crayamd.cmake
  cime_config/machines/cmake_macros/crayamd_frontier.cmake
  cime_config/machines/cmake_macros/crayclang-scream_frontier-scream.cmake
  cime_config/machines/cmake_macros/crayclang_frontier.cmake
  cime_config/machines/cmake_macros/crayclanggpu.cmake
  cime_config/machines/cmake_macros/crayclanggpu_frontier.cmake
  cime_config/machines/cmake_macros/craycray-mphipcc.cmake
  cime_config/machines/cmake_macros/craycray-mphipcc_frontier.cmake
  cime_config/machines/cmake_macros/craycray.cmake
  cime_config/machines/cmake_macros/craycray_frontier.cmake
  cime_config/machines/cmake_macros/craygnu-hipcc.cmake
  cime_config/machines/cmake_macros/craygnu-mphipcc.cmake
  cime_config/machines/cmake_macros/craygnu.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/perf_test/shell_commands
  components/eamxx/cmake/machine-files/frontier.cmake
Labels: Machine Files, Frontier

#7021 Update libfabric module for craycray compiler on frontier.
  cime_config/machines/config_machines.xml
Labels: Machine Files, Frontier

#7026 EAMxx: fix check in SPA for IOP cases
  components/eamxx/src/physics/spa/eamxx_spa_process_interface.cpp
Labels: BFB, EAMxx

#7029 EAMxx: use uniform tag name for num modes in mam4xx
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_wetscav_process_interface.cpp
  components/eamxx/src/physics/mam/mam_coupling.hpp
Labels: bug fix PR, EAMxx

#7030 Workflows: do not prescribe ntasks in MMF2 test in eamxx-v1
  .github/workflows/eamxx-v1-testing.yml
Labels: BFB, EAMxx, CI: workflow change approved, workflows

#6999 Make ne30_r025_IcoswISC30E3r5 configuration functional
  cime_config/config_grids.xml
Labels: enhancement, Coupler, BFB

#7013 Update DIS G-case compset to not need Trilinos/Albany
  components/mpas-ocean/cime_config/config_compsets.xml
Labels: mpas-albany-landice, compset

#7044 Change lmod paths and craygnu software versions for Frontier.
  cime_config/machines/config_machines.xml
Labels: Machine Files, Frontier

#7038 Updates Frontier srun argument to fix #7022
  cime_config/machines/config_machines.xml
Labels: Machine Files, Frontier

#7025 On pm-gpu, update cudatoolkit to 12.4
  cime_config/machines/config_machines.xml
Labels: Machine Files, non-BFB, pm-gpu

#7001 Add stealth test for mpaso frazil_ice_porosity model and related testdef
  cime_config/tests.py
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/frazil_ice_porosity/README
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/frazil_ice_porosity/user_nl_mpaso
Labels: mpas-ocean, BFB, Testing, new baselines needed

#7041 For pm-cpu (and only GNU builds), remove link flag to allow building
  cime_config/machines/cmake_macros/gnu_pm-cpu.cmake
Labels: Machine Files, BFB, GNU, pm-cpu

#7036 EAMxx: Formats all MAM4xx interfaces using Clang
  components/eamxx/src/physics/mam/eamxx_mam_aci_functions.hpp
  components/eamxx/src/physics/mam/eamxx_mam_aci_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_constituent_fluxes_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_optics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_optics_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_wetscav_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_wetscav_process_interface.hpp
  components/eamxx/src/physics/mam/mam_aerosol_optics_read_tables.hpp
  components/eamxx/src/physics/mam/mam_coupling.hpp
  components/eamxx/src/physics/mam/readfiles/find_season_index_utils.hpp
  components/eamxx/src/physics/mam/readfiles/marine_organics_impl.hpp
  components/eamxx/src/physics/mam/readfiles/tracer_reader_utils.hpp
  components/eamxx/src/physics/mam/srf_emission_impl.hpp
Labels: BFB, EAMxx, code cleanup, MAM4xx

#7043 EAMxx: Initial Work on Developer Quick-start Guide
  .gitignore
  components/eamxx/docs/common/installation.md
  components/eamxx/docs/developer/ci_nightly.md
  components/eamxx/docs/developer/cime_testing.md
  components/eamxx/docs/developer/code_structure.md
  components/eamxx/docs/developer/dev_quickstart.md
  components/eamxx/docs/developer/dev_testing/ci_nightly.md
  components/eamxx/docs/developer/dev_testing/full_model_testing.md
  components/eamxx/docs/developer/dev_testing/index.md
  components/eamxx/docs/developer/dev_testing/test_all_eamxx.md
  components/eamxx/docs/developer/dev_testing/testing_for_development.md
  components/eamxx/docs/developer/index.md
  components/eamxx/docs/developer/managers.md
  components/eamxx/docs/developer/processes.md
  components/eamxx/docs/developer/source_tree.md
  components/eamxx/docs/developer/standalone_testing.md
  components/eamxx/docs/developer/style_guide.md
  components/eamxx/docs/index.md
  components/eamxx/docs/refs/general.bib
  components/eamxx/docs/technical/index.md
  components/eamxx/docs/user/cosp.md
  components/eamxx/docs/user/index.md
  components/eamxx/docs/user/model_configuration.md
  components/eamxx/docs/user/model_input.md
  components/eamxx/docs/user/model_output.md
  components/eamxx/docs/user/pyeamxx.md
  components/eamxx/mkdocs.yml
  components/eamxx/scripts/eamxx-params-docs-autogen
Labels: Documentation, BFB, EAMxx

#7012 Hommexx/SL: Fix a threading issue.
  components/homme/src/share/cxx/ComposeTransportImpl.hpp
  components/homme/src/share/cxx/ComposeTransportImplEnhancedTrajectoryTests.cpp
  components/homme/src/share/cxx/ComposeTransportImplTrajectory.cpp
Labels: BFB, HOMME, EAMxx
