Repository E3SM-Project/E3SM, pull requests merged in 2025-05, with the labels that each got.

#7309 EAMxx: remove mpi from vert_contraction impl
  components/eamxx/src/diagnostics/tests/vert_contract_test.cpp
  components/eamxx/src/diagnostics/vert_contract.cpp
  components/eamxx/src/share/field/field_utils.hpp
  components/eamxx/src/share/field/field_utils_impl.hpp
Labels: bug fix PR, BFB, EAMxx

#7321 EAMxx: enhance TimeStamp update method
  components/eamxx/src/share/tests/utils_tests.cpp
  components/eamxx/src/share/util/eamxx_time_stamp.cpp
  components/eamxx/src/share/util/eamxx_time_stamp.hpp
Labels: BFB, EAMxx

#7320 EAMxx: simplify usage of remappers and field manager
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/diagnostics/tests/field_at_pressure_level_tests.cpp
  components/eamxx/src/dynamics/homme/eamxx_homme_fv_phys.cpp
  components/eamxx/src/dynamics/homme/eamxx_homme_process_interface.cpp
  components/eamxx/src/dynamics/homme/tests/dyn_grid_io.cpp
  components/eamxx/src/dynamics/homme/tests/homme_pd_remap_tests.cpp
  components/eamxx/src/physics/mam/readfiles/fractional_land_use_impl.hpp
  components/eamxx/src/physics/mam/readfiles/marine_organics_impl.hpp
  components/eamxx/src/physics/mam/readfiles/soil_erodibility_impl.hpp
  components/eamxx/src/physics/mam/readfiles/tracer_reader_utils.hpp
  components/eamxx/src/physics/mam/srf_emission_impl.hpp
  components/eamxx/src/physics/nudging/eamxx_nudging_process_interface.cpp
  components/eamxx/src/physics/nudging/tests/nudging_tests_helpers.hpp
  components/eamxx/src/python/libpyeamxx/pyatmproc.hpp
  components/eamxx/src/share/atm_process/IOPDataManager.cpp
  components/eamxx/src/share/field/field_manager.cpp
  components/eamxx/src/share/field/field_manager.hpp
  components/eamxx/src/share/grid/remap/abstract_remapper.cpp
  components/eamxx/src/share/grid/remap/abstract_remapper.hpp
  components/eamxx/src/share/grid/remap/coarsening_remapper.cpp
  components/eamxx/src/share/grid/remap/identity_remapper.cpp
  components/eamxx/src/share/grid/remap/identity_remapper.hpp
  components/eamxx/src/share/grid/remap/inverse_remapper.hpp
  components/eamxx/src/share/io/scorpio_output.cpp
  components/eamxx/src/share/io/tests/io_remap_test.cpp
  components/eamxx/src/share/io/tests/io_se_grid.cpp
  components/eamxx/src/share/io/tests/output_restart.cpp
  components/eamxx/src/share/tests/coarsening_remapper_tests.cpp
  components/eamxx/src/share/tests/eamxx_time_interpolation_tests.cpp
  components/eamxx/src/share/tests/field_tests.cpp
  components/eamxx/src/share/tests/iop_remapper_tests.cpp
  components/eamxx/src/share/tests/refining_remapper_p2p_tests.cpp
  components/eamxx/src/share/tests/refining_remapper_rma_tests.cpp
  components/eamxx/src/share/tests/vertical_remapper_tests.cpp
  components/eamxx/src/share/util/eamxx_data_interpolation.cpp
  components/eamxx/src/share/util/eamxx_time_interpolation.cpp
  components/eamxx/tests/single-process/surface_coupling/surface_coupling.cpp
Labels: BFB, EAMxx, code cleanup

#7314 EAMxx: handle fillvalue in AODvis
  components/eamxx/src/diagnostics/aodvis.cpp
  components/eamxx/src/diagnostics/aodvis.hpp
  components/eamxx/src/share/io/scorpio_output.cpp
Labels: BFB, EAMxx

#7105 ZM cleanup - create zm_conv_util module
  components/eam/src/physics/cam/zm_conv.F90
  components/eam/src/physics/cam/zm_conv_util.F90
Labels: Atmosphere, non-BFB, ZM

#7291 Add specified ATM_NCPL for IcoswISC30E3r5 and SOwISC12to30E3r4 grids
  driver-mct/cime_config/config_component_e3sm.xml
Labels: bug fix PR, Coupler, BFB, Coupled Model

#7284 EAMxx: add external forcings / elevated emission fluxes diagnostics
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
Labels: BFB, EAMxx, MAM4xx

#7234 Update Aurora config
  cime_config/allactive/config_pesall.xml
  cime_config/machines/Depends.oneapi-ifx.cmake
  cime_config/machines/Depends.oneapi-ifxgpu.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu_aurora.cmake
  cime_config/machines/config_machines.xml
  components/eamxx/cmake/machine-files/aurora.cmake
  components/elm/cime_config/testdefs/testmods_dirs/elm/lulcc_sville/shell_commands
  components/elm/src/main/initGridCellsMod.F90
Labels: Machine Files, BFB, Aurora

#7334 EAMxx: ensure iop process name matches what's used to register in the atm proc factory
  components/eamxx/src/physics/iop_forcing/eamxx_iop_forcing_process_interface.hpp
Labels: bug fix PR, BFB, EAMxx

#7318 Update files to support the ne120pg2_r025_RRSwISC6to18E3r5 resolution
  cime_config/config_grids.xml
  components/elm/bld/namelist_files/namelist_defaults.xml
Labels: NML, non-BFB, Coupled Model, HighRes

#7233 EAMxx: Fixes variable name for num constituents to be consistent
  components/eamxx/CMakeLists.txt
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_wetscav_process_interface.cpp
Labels: EAMxx, MAM4xx

#7302 Add a clang-format check to GH actions
  .github/workflows/eamxx-gh-clang-format.yml
  components/eamxx/.clang-format
Labels: BFB, EAMxx, CI: workflow change approved

#7343 Eamxx needs to be explicit about rpointers in config_archive
  cime_config/config_archive.xml
Labels: BFB, EAMxx

#7349 EAMX: SYCL compiles MAM for Aurora
  components/eamxx/CMakeLists.txt
Labels: bug fix PR, BFB, EAMxx, Aurora, MAM4xx

#7322 EAMxx: Modify MAM4xx tests to use MAM4xx compset
  .github/workflows/eamxx-v1-testing.yml
  cime_config/tests.py
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/aci/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/aero_microphysics/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/all_mam4xx_procs/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/drydep/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/optics/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/remap_emiss_ne4_ne30/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/set_default_eamxx_options
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/srf_online_emiss_constituent_fluxes/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/update_eamxx_num_tracers.sh
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/mam4xx/wetscav/shell_commands
Labels: non-BFB, EAMxx, CI: workflow change approved, MAM4xx, CI: approved

#7348 Port eamxx standalone to lychee
  components/eamxx/cmake/machine-files/lychee.cmake
  components/eamxx/scripts/machines_specs.py
  components/eamxx/src/physics/shoc/eamxx_shoc_process_interface.cpp
  components/eamxx/src/physics/shoc/eamxx_shoc_process_interface.hpp
Labels: BFB, EAMxx

#7232 ZM cleanup - Create zm_conv_cape module
  components/eam/src/physics/cam/conditional_diag_main.F90
  components/eam/src/physics/cam/misc_diagnostics.F90
  components/eam/src/physics/cam/zm_conv.F90
  components/eam/src/physics/cam/zm_conv_cape.F90
  components/eam/src/physics/cam/zm_conv_types.F90
  components/eam/src/physics/cam/zm_conv_util.F90
Labels: Atmosphere, non-BFB, ZM

#7345 Remove YAKL backend support for eamxx/rrtmgp
  components/eamxx/CMakeLists.txt
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/kokkos_rrtmgp/shell_commands
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/yakl_rrtmgp/shell_commands
  components/eamxx/src/physics/rrtmgp/CMakeLists.txt
  components/eamxx/src/physics/rrtmgp/eamxx_rrtmgp_interface.cpp
  components/eamxx/src/physics/rrtmgp/eamxx_rrtmgp_interface.hpp
  components/eamxx/src/physics/rrtmgp/eamxx_rrtmgp_process_interface.cpp
  components/eamxx/src/physics/rrtmgp/eamxx_rrtmgp_process_interface.hpp
  components/eamxx/src/physics/rrtmgp/rrtmgp_test_utils.cpp
  components/eamxx/src/physics/rrtmgp/rrtmgp_test_utils.hpp
  components/eamxx/src/physics/rrtmgp/rrtmgp_utils.hpp
  components/eamxx/src/physics/rrtmgp/tests/generate_baseline.cpp
  components/eamxx/src/physics/rrtmgp/tests/rrtmgp_tests.cpp
  components/eamxx/src/physics/rrtmgp/tests/rrtmgp_unit_tests.cpp
  components/eamxx/src/physics/shoc/CMakeLists.txt
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_pg2_dp/homme_shoc_cld_spa_p3_rrtmgp_pg2_dp.cpp
  components/eamxx/tests/single-process/rrtmgp/CMakeLists.txt
  components/eamxx/tests/single-process/rrtmgp/rrtmgp_standalone_unit.cpp
  components/homme/CMakeLists.txt
  components/homme/cmake/HommeMacros.cmake
  components/homme/cmake/SetCompilerFlags.cmake
  components/homme/cmake/machineFiles/aurora-aot.cmake
  components/homme/cmake/machineFiles/aurora-jit.cmake
  components/homme/cmake/machineFiles/crusher-gpumpi.cmake
  components/homme/cmake/machineFiles/frontier-bfb.cmake
  components/homme/cmake/machineFiles/perlmutter-gnu.cmake
  components/homme/cmake/machineFiles/polaris-a100.sh
  components/homme/cmake/machineFiles/spot-aot-AB2.cmake
  components/homme/cmake/machineFiles/summit-p9.cmake
  components/homme/test_execs/share_kokkos_ut/CMakeLists.txt
Labels: BFB, HOMME, EAMxx

#7342 Update cube_to_target Makefile for more flexible FC settings
  components/eam/tools/topo_tool/cube_to_target/Makefile
Labels: Atmosphere, BFB, v3.0

#7315 EAMxx: Fixing bug in external forcing
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.hpp
  components/eamxx/src/physics/mam/readfiles/tracer_reader_utils.hpp
Labels: bug fix PR, non-BFB, EAMxx, MAM4xx

#7279 Add support for coupling ne1024pg2 and RRSwISC6to18E3r5
  cime_config/config_grids.xml
Labels: BFB, Coupled Model, HighRes

#7360 EAMxx: Update test to include MPASSI to fix a debug fail
  cime_config/tests.py
Labels: BFB, Testing, EAMxx, MAM4xx

#7351 gw_convect: split gw_beres_src into 4 subroutines
  components/eam/src/physics/cam/gw/gw_convect.F90
  components/eam/src/physics/cam/gw/gw_front.F90
Labels: BFB, eam

#7356 Add a MAM4xx test to e3sm_gpucxx suite
  cime_config/tests.py
Labels: BFB

#7188 EAMxx: Option to run SHOC with no SGS variability (1.5 closure)
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
  components/eamxx/src/physics/shoc/disp/shoc_diag_second_shoc_moments_disp.cpp
  components/eamxx/src/physics/shoc/disp/shoc_diag_third_shoc_moments_disp.cpp
  components/eamxx/src/physics/shoc/disp/shoc_length_disp.cpp
  components/eamxx/src/physics/shoc/disp/shoc_tke_disp.cpp
  components/eamxx/src/physics/shoc/eamxx_shoc_process_interface.cpp
  components/eamxx/src/physics/shoc/impl/shoc_adv_sgs_tke_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_compute_diag_third_shoc_moment_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_compute_shoc_mix_shoc_length_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_diag_second_moments_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_diag_second_shoc_moments_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_diag_third_shoc_moments_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_eddy_diffusivities_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_length_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_main_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_tke_impl.hpp
  components/eamxx/src/physics/shoc/shoc_functions.hpp
  components/eamxx/src/physics/shoc/tests/infra/shoc_test_data.cpp
  components/eamxx/src/physics/shoc/tests/infra/shoc_test_data.hpp
  components/eamxx/src/physics/shoc/tests/shoc_compute_diag_third_tests.cpp
  components/eamxx/src/physics/shoc/tests/shoc_diag_second_moments_tests.cpp
  components/eamxx/src/physics/shoc/tests/shoc_diag_second_shoc_moments_tests.cpp
  components/eamxx/src/physics/shoc/tests/shoc_diag_third_tests.cpp
  components/eamxx/src/physics/shoc/tests/shoc_eddy_diffusivities_tests.cpp
  components/eamxx/src/physics/shoc/tests/shoc_length_tests.cpp
  components/eamxx/src/physics/shoc/tests/shoc_mix_length_tests.cpp
  components/eamxx/src/physics/shoc/tests/shoc_tke_adv_sgs_tke_tests.cpp
  components/eamxx/src/physics/shoc/tests/shoc_tke_tests.cpp
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_p3_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_p3_rrtmgp_pg2/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_128levels/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/homme_shoc_cld_spa_p3_rrtmgp_pg2_dp/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_mam_aci_p3_mam_optics_rrtmgp_mam_drydep/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_p3_mam_optics_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/mam/homme_shoc_cld_spa_p3_rrtmgp_mam4_wetscav/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/model_restart/input_baseline.yaml
  components/eamxx/tests/multi-process/dynamics_physics/model_restart/input_initial.yaml
  components/eamxx/tests/multi-process/dynamics_physics/model_restart/input_restarted.yaml
  components/eamxx/tests/multi-process/physics_only/atm_proc_subcycling/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_cldfrac_mam4_aci_p3/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_cldfrac_mam4_aci_p3_mam4_optics_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_cldfrac_mam4_aci_p3_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_cldfrac_p3_wetscav/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_mam4_aci/input.yaml
  components/eamxx/tests/multi-process/physics_only/mam/shoc_mam4_drydep/input.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_cld_p3_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_cld_spa_p3_rrtmgp/input.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_p3_nudging/input_nudging.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_p3_nudging/input_nudging_glob_novert.yaml
  components/eamxx/tests/multi-process/physics_only/shoc_p3_nudging/input_source_data.yaml
  components/eamxx/tests/single-process/shoc/input.yaml
Labels: BFB, EAMxx

#7336 Adding option to add extra args to the ADIOS to NetCDF conversion tool
  cime_config/customize/case_post_run_io.py
  cime_config/machines/config_machines.xml
Labels: BFB, CIME, SCORPIO

#7358 Fix Anvil maint-3.0 test-PEs
  cime_config/testmods_dirs/config_pes_tests.xml
Labels: Machine Files, BFB, Anvil, Testing

#7357 Clean up Aurora cmake for Omega
  cime_config/machines/cmake_macros/oneapi-ifxgpu_aurora.cmake
Labels: Machine Files, BFB, Aurora

#7292 Fixes to allow FAN to run with dynamic crops
  components/elm/src/biogeochem/FanUpdateMod.F90
  components/elm/src/data_types/ColumnDataType.F90
  components/elm/src/dyn_subgrid/dynSubgridAdjustmentsMod.F90
Labels: bug fix PR, elm

#7210 Add support for coupling of time-averaged liquid and solid (ice) runoff fluxes from glc to ocn
  cime_config/config_grids.xml
  components/mpas-albany-landice/cime_config/buildnml
  components/mpas-albany-landice/driver/glc_comp_mct.F
  components/mpas-albany-landice/src/Registry.xml
  components/mpas-albany-landice/src/landice.cmake
  components/mpas-albany-landice/src/mode_forward/mpas_li_advection.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_core.F
  components/mpas-albany-landice/src/mode_forward/mpas_li_time_integration.F
  components/mpas-albany-landice/src/shared/Makefile
  components/mpas-albany-landice/src/shared/mpas_li_time_average_coupled.F
  driver-mct/main/cime_comp_mod.F90
  driver-mct/main/seq_diag_mct.F90
Labels: mpas-albany-landice, Coupler, non-BFB

#7377 Fixes for Sandia machines
  cime_config/machines/config_machines.xml
Labels: BFB

#7376 EAMXX: Add logic syntax support to buildnml selectors
  components/eamxx/cime_config/eamxx_buildnml.py
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
Labels: BFB, EAMxx

#7350 EAMxx: fix horiz remap bug in case of "sparse" output locations
  components/eamxx/src/diagnostics/precip_surf_mass_flux.cpp
  components/eamxx/src/diagnostics/tests/precip_surf_mass_flux_tests.cpp
  components/eamxx/src/diagnostics/tests/vertical_layer_tests.cpp
  components/eamxx/src/dynamics/homme/interface/dyn_grid_mod.F90
  components/eamxx/src/dynamics/homme/interface/phys_grid_mod.F90
  components/eamxx/src/share/grid/remap/horiz_interp_remapper_data.cpp
  components/eamxx/src/share/grid/remap/horiz_interp_remapper_data.hpp
  components/eamxx/src/share/io/tests/CMakeLists.txt
  components/eamxx/src/share/io/tests/io_horiz_sampling.cpp
  components/eamxx/src/share/io/tests/io_remap_test.cpp
Labels: BFB, EAMxx

#7380 EAMxx: implement cond and evap diags in shoc
  components/eamxx/src/physics/shoc/disp/shoc_assumed_pdf_disp.cpp
  components/eamxx/src/physics/shoc/eamxx_shoc_process_interface.cpp
  components/eamxx/src/physics/shoc/eamxx_shoc_process_interface.hpp
  components/eamxx/src/physics/shoc/impl/shoc_assumed_pdf_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_main_impl.hpp
  components/eamxx/src/physics/shoc/shoc_functions.hpp
  components/eamxx/src/physics/shoc/tests/infra/shoc_test_data.cpp
Labels: BFB, EAMxx

#7215 Add 3d thermal forcing to OCN-GLC coupling
  cime_config/config_grids.xml
  cime_config/tests.py
  components/mpas-albany-landice/bld/build-namelist
  components/mpas-albany-landice/bld/build-namelist-section
  components/mpas-albany-landice/bld/namelist_files/namelist_defaults_mali.xml
  components/mpas-albany-landice/bld/namelist_files/namelist_definition_mali.xml
  components/mpas-albany-landice/cime_config/buildnml
  components/mpas-albany-landice/driver/glc_comp_mct.F
  components/mpas-albany-landice/driver/glc_cpl_indices.F
  components/mpas-albany-landice/src/Registry.xml
  components/mpas-albany-landice/src/shared/mpas_li_time_average_coupled.F
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-ocean/cime_config/config_component.xml
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/ocn_glc_tf_coupling/README
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/ocn_glc_tf_coupling/shell_commands
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/ocn_glc_tf_coupling/user_nl_mpaso
  components/mpas-ocean/driver/mpaso_cpl_indices.F
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/driver/mpas_ocn_core_interface.F
  components/mpas-ocean/src/shared/mpas_ocn_time_average_coupled.F
  driver-mct/cime_config/buildnml
  driver-mct/cime_config/config_component_e3sm.xml
  driver-mct/cime_config/namelist_definition_drv.xml
  driver-mct/main/cime_comp_mod.F90
  driver-mct/shr/CMakeLists.txt
  driver-mct/shr/glc_zocnclass_mod.F90
  driver-mct/shr/seq_flds_mod.F90
  driver-mct/shr/seq_infodata_mod.F90
Labels: mpas-ocean, mpas-albany-landice, Coupler, NML, non-BFB

#7381 EAMxx: Fixed temporal interpolation for external forcings
  components/eamxx/src/physics/mam/readfiles/tracer_reader_utils.hpp
Labels: non-BFB, EAMxx, MAM4xx, CI: approved

#7392 Update README
  README.md
Labels: maint-2.1

#7402 EAMxx: Fix preset MAM4xx optics pre and post condition bounds
  components/eamxx/src/physics/mam/eamxx_mam_optics_process_interface.cpp
Labels: EAMxx, MAM4xx, CI: approved

#7398 Add eamxx release-mode tests for GPU machines
  cime_config/tests.py
Labels: BFB, Testing, EAMxx, Aurora

#7401 add glc_nzoc configuration to moab driver
  driver-moab/cime_config/buildnml
  driver-moab/cime_config/config_component_e3sm.xml
  driver-moab/cime_config/namelist_definition_drv.xml
Labels: Coupler
