Repository E3SM-Project/E3SM, pull requests merged in 2025-10, with the labels that each got.

#7675 Update default PE layouts for Greenland ice sheet configurations on PM-cpu and Chrysalis
  cime_config/allactive/config_pesall.xml
Labels: mpas-albany-landice, Chrysalis, pm-cpu

#7481 EAMxx: assign columns to bins during intialization of zonal average
  components/eamxx/docs/user/diags/field_contraction.md
  components/eamxx/src/diagnostics/tests/zonal_avg_test.cpp
  components/eamxx/src/diagnostics/zonal_avg.cpp
  components/eamxx/src/diagnostics/zonal_avg.hpp
Labels: enhancement, EAMxx, CI: approved

#7750 Port gw_convect_project_winds and add gen-boiler enhancements
  components/eamxx/scripts/gen-boiler/gen-boiler
  components/eamxx/scripts/gen-boiler/gen_boiler.py
  components/eamxx/scripts/gen-boiler/git_utils.py
  components/eamxx/scripts/gen-boiler/run-gb-tests
  components/eamxx/scripts/gen-boiler/utils.py
  components/eamxx/scripts/gen_boiler.py
  components/eamxx/src/physics/gw/CMakeLists.txt
  components/eamxx/src/physics/gw/eti/gw_gw_convect_init.cpp
  components/eamxx/src/physics/gw/gw_functions.hpp
  components/eamxx/src/physics/gw/impl/gw_gw_convect_init_impl.hpp
  components/eamxx/src/physics/gw/impl/gw_gw_convect_project_winds_impl.hpp
  components/eamxx/src/physics/gw/tests/gw_gw_convect_project_winds_tests.cpp
  components/eamxx/src/physics/gw/tests/infra/CMakeLists.txt
  components/eamxx/src/physics/gw/tests/infra/gw_c2f_bridge.f90
  components/eamxx/src/physics/gw/tests/infra/gw_test_data.cpp
  components/eamxx/src/physics/gw/tests/infra/gw_test_data.hpp
  components/eamxx/src/physics/gw/tests/infra/gw_unit_tests_common.hpp
  components/eamxx/src/physics/shoc/tests/infra/shoc_test_data.cpp
  components/eamxx/src/physics/tms/tests/infra/tms_test_data.cpp
  components/eamxx/src/share/util/eamxx_deep_copy.hpp
Labels: BFB, EAMxx

#7740 pm-cpu/pm-gpu: Update module versions
  cime_config/machines/config_machines.xml
Labels: Machine Files, non-BFB, pm-gpu, pm-cpu

#7741 Make CPL_ALBAV default on only for CORE-II forcing
  driver-mct/cime_config/config_component_e3sm.xml
Labels: mpas-ocean, mpas-seaice, Coupler, NML, non-BFB
