Repository E3SM-Project/E3SM, pull requests merged in 2025-06, with the labels that each got.

#7241 radiative feedbacks for Sea ice BGC
  components/mpas-seaice/bld/build-namelist
  components/mpas-seaice/src/model_forward/mpas_seaice_core.F
  components/mpas-seaice/src/shared/mpas_seaice_forcing.F
Labels: mpas-seaice, NML, non-BFB, BGC

#7325 Create python version of HOMME2SCRIP tool
  components/homme/test/tool/python/HOMME2SCRIP.py
Labels: Atmosphere, BFB, HOMME

#7352 Fix a bug in coupling between zm microphys/hetfrz ice nucleation and mam aerosol
  components/eam/src/physics/cam/hetfrz_classnuc_cam.F90
  components/eam/src/physics/cam/nucleate_ice_cam.F90
  components/eam/src/physics/cam/zm_aero.F90
  components/eam/src/physics/cam/zm_microphysics.F90
Labels: Atmosphere, bug fix PR, non-BFB, eam, ZM

#7395 Move MALI TF tests from the ocn/ice stealth suite to landice_developer
  cime_config/tests.py
Labels: BFB, Testing, new baselines needed

#7337 EAMxx: change logic behind rad/cosp supercycling
  components/eamxx/cime_config/eamxx_buildnml.py
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/physics/cosp/eamxx_cosp.hpp
  components/eamxx/src/physics/rrtmgp/eamxx_rrtmgp_process_interface.cpp
  components/eamxx/src/physics/rrtmgp/eamxx_rrtmgp_process_interface.hpp
  components/eamxx/src/physics/rrtmgp/rrtmgp_utils.hpp
  components/eamxx/src/physics/rrtmgp/tests/rrtmgp_unit_tests.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.cpp
  components/eamxx/src/share/atm_process/atmosphere_process_hash.cpp
  components/eamxx/tests/single-process/rrtmgp/rrtmgp_standalone.cpp
Labels: non-BFB, EAMxx

#7391 Updates Chicoma machine files to enable intel compiler
  cime_config/machines/cmake_macros/intel_chicoma-cpu.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB

#7404 migrate map mesh and glc fixes
  components/elm/src/cpl/lnd_comp_mct.F90
  components/mosart/src/cpl/rof_comp_mct.F90
  components/mpas-ocean/driver/ocn_comp_mct.F
  components/mpas-seaice/driver/ice_comp_mct.F
  driver-moab/cime_config/buildnml
  driver-moab/cime_config/namelist_definition_drv.xml
  driver-moab/main/cime_comp_mod.F90
  driver-moab/main/component_mod.F90
  driver-moab/main/component_type_mod.F90
  driver-moab/main/cplcomp_exchange_mod.F90
  driver-moab/main/prep_atm_mod.F90
  driver-moab/main/prep_lnd_mod.F90
  driver-moab/main/prep_ocn_mod.F90
  driver-moab/main/prep_rof_mod.F90
  driver-moab/main/seq_flux_mct.F90
  driver-moab/main/seq_frac_mct.F90
  driver-moab/main/seq_map_mod.F90
  driver-moab/main/seq_rest_mod.F90
  driver-moab/shr/CMakeLists.txt
  driver-moab/shr/glc_zocnclass_mod.F90
  driver-moab/shr/seq_comm_mct.F90
  driver-moab/shr/seq_flds_mod.F90
  driver-moab/shr/seq_infodata_mod.F90
Labels: Coupler, MOAB

#7429 Fix a couple sources of uninitialized memory errors in cam/gw
  components/eam/src/physics/cam/gw/gw_common.F90
  components/eam/src/physics/cam/gw/gw_front.F90
  components/eam/src/physics/cam/vdiff_lu_solver.F90
Labels: bug fix PR, BFB, eam

#7328 Additional canopy air and aerodynamic output variables, ELM
  components/elm/src/biogeophys/BareGroundFluxesMod.F90
  components/elm/src/biogeophys/CanopyFluxesMod.F90
  components/elm/src/biogeophys/FrictionVelocityMod.F90
  components/elm/src/biogeophys/FrictionVelocityType.F90
  components/elm/src/biogeophys/LakeFluxesMod.F90
  components/elm/src/biogeophys/UrbanFluxesMod.F90
  components/elm/src/main/elm_varcon.F90
Labels: ELM

#7399 Load recommended mpich-config modules and env-vars on Aurora
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Aurora

#7441 EAMxx: Fix theta for surface coupling export bug
  components/eamxx/src/control/atmosphere_surface_coupling_exporter.cpp
  components/eamxx/tests/single-process/surface_coupling/surface_coupling.cpp
Labels: bug fix PR, non-BFB, CC, EAMxx, CI: approved

#7450 EAMxx: compute shoc_cond and shoc_evap before ql update
  components/eamxx/src/physics/shoc/impl/shoc_assumed_pdf_impl.hpp
Labels: bug, bug fix PR, BFB, CI: approved

#7438 Update zonal mean diagnostic calculations
  components/eam/src/physics/cam/phys_grid_ctem.F90
  components/eam/src/physics/cam/physpkg.F90
Labels: Atmosphere, BFB
