Repository E3SM-Project/E3SM, pull requests merged in 2025-03, with the labels that each got.

#6997 Updates Intel's MKL version to mkl/2020 on Compy
  cime_config/machines/config_machines.xml
Labels: Machine Files, Compy

#7071 EAMxx: Adds ERS tests for some MAM4xx individual processes and a PE layout for Compy
  cime_config/allactive/config_pesall.xml
  cime_config/tests.py
Labels: Testing, EAMxx, MAM4xx

#7070 Updates Frontier machine file
  cime_config/machines/config_machines.xml
Labels: Machine Files, Frontier

#7079 EAMxx: Adds MAM4xx microphysics CIME tests and a ERS fix for fractional landuse
  cime_config/tests.py
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
Labels: Testing, EAMxx, MAM4xx

#7062 Fix python module conflicts on Chrysalis
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, Testing, Chrysalis

#6982 EAMxx: Update Compy's config file to enable test-all-scream
  components/eamxx/scripts/machines_specs.py
Labels: BFB, Compy, EAMxx

#7067 EAMxx: fix handling of time dim in data interpolation
  components/eamxx/src/physics/mam/readfiles/tracer_reader_utils.hpp
  components/eamxx/src/share/atm_process/IOPDataManager.cpp
  components/eamxx/src/share/io/eamxx_output_manager.cpp
  components/eamxx/src/share/io/eamxx_scorpio_interface.cpp
  components/eamxx/src/share/io/eamxx_scorpio_interface.hpp
  components/eamxx/src/share/io/scorpio_input.cpp
  components/eamxx/src/share/io/scorpio_scm_input.cpp
  components/eamxx/src/share/util/eamxx_data_interpolation.cpp
Labels: bug fix PR, BFB, EAMxx

#7080 For pm-cpu DEBUG builds, avoid invalid FPE exceptions in coupler sources
  cime_config/machines/cmake_macros/gnu_pm-cpu.cmake
  cime_config/machines/cmake_macros/intel_pm-cpu.cmake
  cime_config/machines/cmake_macros/nvidia_pm-cpu.cmake
Labels: Machine Files, BFB, pm-cpu

#7053 EAMxx: minor cleanup of diagnostics classes
  components/eamxx/src/diagnostics/aerocom_cld.cpp
  components/eamxx/src/diagnostics/aerocom_cld.hpp
  components/eamxx/src/diagnostics/aodvis.cpp
  components/eamxx/src/diagnostics/aodvis.hpp
  components/eamxx/src/diagnostics/atm_backtend.cpp
  components/eamxx/src/diagnostics/atm_backtend.hpp
  components/eamxx/src/diagnostics/atm_density.cpp
  components/eamxx/src/diagnostics/atm_density.hpp
  components/eamxx/src/diagnostics/dry_static_energy.cpp
  components/eamxx/src/diagnostics/dry_static_energy.hpp
  components/eamxx/src/diagnostics/exner.cpp
  components/eamxx/src/diagnostics/exner.hpp
  components/eamxx/src/diagnostics/field_at_height.hpp
  components/eamxx/src/diagnostics/field_at_level.hpp
  components/eamxx/src/diagnostics/field_at_pressure_level.cpp
  components/eamxx/src/diagnostics/field_at_pressure_level.hpp
  components/eamxx/src/diagnostics/horiz_avg.hpp
  components/eamxx/src/diagnostics/longwave_cloud_forcing.hpp
  components/eamxx/src/diagnostics/number_path.cpp
  components/eamxx/src/diagnostics/number_path.hpp
  components/eamxx/src/diagnostics/potential_temperature.cpp
  components/eamxx/src/diagnostics/potential_temperature.hpp
  components/eamxx/src/diagnostics/precip_surf_mass_flux.cpp
  components/eamxx/src/diagnostics/precip_surf_mass_flux.hpp
  components/eamxx/src/diagnostics/relative_humidity.cpp
  components/eamxx/src/diagnostics/relative_humidity.hpp
  components/eamxx/src/diagnostics/sea_level_pressure.hpp
  components/eamxx/src/diagnostics/shortwave_cloud_forcing.cpp
  components/eamxx/src/diagnostics/shortwave_cloud_forcing.hpp
  components/eamxx/src/diagnostics/surf_upward_latent_heat_flux.cpp
  components/eamxx/src/diagnostics/surf_upward_latent_heat_flux.hpp
  components/eamxx/src/diagnostics/tests/atm_density_test.cpp
  components/eamxx/src/diagnostics/tests/dry_static_energy_test.cpp
  components/eamxx/src/diagnostics/tests/exner_test.cpp
  components/eamxx/src/diagnostics/tests/potential_temperature_test.cpp
  components/eamxx/src/diagnostics/tests/virtual_temperature_test.cpp
  components/eamxx/src/diagnostics/vapor_flux.cpp
  components/eamxx/src/diagnostics/vapor_flux.hpp
  components/eamxx/src/diagnostics/vertical_layer.hpp
  components/eamxx/src/diagnostics/virtual_temperature.cpp
  components/eamxx/src/diagnostics/virtual_temperature.hpp
  components/eamxx/src/diagnostics/water_path.cpp
  components/eamxx/src/diagnostics/water_path.hpp
  components/eamxx/src/diagnostics/wind_speed.cpp
  components/eamxx/src/diagnostics/wind_speed.hpp
  components/eamxx/src/share/io/scorpio_output.cpp
Labels: BFB, EAMxx

#7081 Workflows: save nc files as artifacts in eamxx v1 workflow
  .github/workflows/eamxx-v1-testing.yml
Labels: BFB, EAMxx, CI: workflow change approved, workflows

#7093 EAMxx: Removes an old unused MAM test
  components/eamxx/tests/multi-process/dynamics_physics/homme_mam4xx_pg2/CMakeLists.txt
  components/eamxx/tests/multi-process/dynamics_physics/homme_mam4xx_pg2/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/homme_mam4xx_pg2/output.yaml
Labels: BFB, Testing, EAMxx

#6966 EAMxx: add ability to use separate cloud fractions in p3
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.hpp
  components/eamxx/src/physics/p3/impl/p3_back_to_cell_average_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_conservation_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl_part2.hpp
  components/eamxx/src/physics/p3/p3_functions.hpp
Labels: BFB, EAMxx

#7009 EAMxx: Set the defaults for flushing output files
  components/eamxx/src/share/io/eamxx_output_manager.cpp
  components/eamxx/src/share/io/tests/output_restart.cpp
Labels: BFB, EAMxx

#7054 EAMxx: abstract MAMGenericInterface and check intervals in MAM4xx fields.
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
  components/eamxx/src/physics/mam/CMakeLists.txt
  components/eamxx/src/physics/mam/eamxx_mam_aci_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_aci_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_constituent_fluxes_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_constituent_fluxes_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_dry_deposition_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_generic_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_generic_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_microphysics_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_optics_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_optics_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_srf_and_online_emissions_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_srf_and_online_emissions_process_interface.hpp
  components/eamxx/src/physics/mam/eamxx_mam_wetscav_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_wetscav_process_interface.hpp
  components/eamxx/src/physics/mam/physical_limits.hpp
  components/eamxx/tests/single-process/mam/aci/input.yaml
  components/eamxx/tests/single-process/mam/aero_microphys/input.yaml
  components/eamxx/tests/single-process/mam/constituent_fluxes/input.yaml
  components/eamxx/tests/single-process/mam/drydep/input.yaml
  components/eamxx/tests/single-process/mam/emissions/input.yaml
  components/eamxx/tests/single-process/mam/optics/input.yaml
  components/eamxx/tests/single-process/mam/wet_scav/input.yaml
Labels: BFB, EAMxx, code usability, code cleanup, MAM4xx

#6995 EAMxx: Lower min sfc pressure in post-condition check
  components/eamxx/src/dynamics/homme/eamxx_homme_process_interface.cpp
Labels: Atmosphere, BFB, EAMxx

#7096 For pm-gpu: Only use new 4-node ne30 pelayout for the new coupled test
  cime_config/allactive/config_pesall.xml
Labels: Machine Files, pm-gpu

#7082 Apply workarounds to fix an issue with a ROCm/6.2.4
  cime_config/machines/cmake_macros/craycray-mphipcc_frontier.cmake
  cime_config/machines/cmake_macros/craygnu-hipcc.cmake
  cime_config/machines/cmake_macros/craygnu-mphipcc.cmake
  components/eamxx/src/mct_coupling/atm_comp_mct.F90
  components/eamxx/src/mct_coupling/eamxx_cxx_f90_interface.cpp
  components/eamxx/src/mct_coupling/eamxx_f2c_mod.F90
  components/eamxx/src/physics/p3/disp/p3_main_impl_part2_disp.cpp
  driver-mct/main/cime_comp_mod.F90
Labels: Machine Files, Frontier

#7048 fix bug for reading elevation profile
  components/mosart/src/riverroute/RtmMod.F90
Labels: bug fix PR, MOSART

#6876 update cube_to_target to calculate orographic shape parameter
  components/eam/tools/topo_tool/cube_to_target/Makefile
  components/eam/tools/topo_tool/cube_to_target/cube_to_target.F90
  components/eam/tools/topo_tool/cube_to_target/orographic_shape_methods.F90
Labels: Atmosphere, BFB

#6981 Unify FM over all grids
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/control/atmosphere_driver.hpp
  components/eamxx/src/control/tests/dummy_atm_proc.hpp
  components/eamxx/src/dynamics/homme/eamxx_homme_process_interface.cpp
  components/eamxx/src/dynamics/homme/tests/dyn_grid_io.cpp
  components/eamxx/src/physics/iop_forcing/eamxx_iop_forcing_process_interface.cpp
  components/eamxx/src/physics/mam/readfiles/tracer_reader_utils.hpp
  components/eamxx/src/physics/ml_correction/eamxx_ml_correction_process_interface.cpp
  components/eamxx/src/physics/nudging/tests/nudging_tests_helpers.hpp
  components/eamxx/src/physics/shoc/eamxx_shoc_process_interface.cpp
  components/eamxx/src/share/atm_process/IOPDataManager.cpp
  components/eamxx/src/share/atm_process/IOPDataManager.hpp
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
  components/eamxx/src/share/field/field.cpp
  components/eamxx/src/share/field/field.hpp
  components/eamxx/src/share/field/field_alloc_prop.cpp
  components/eamxx/src/share/field/field_group_info.hpp
  components/eamxx/src/share/field/field_manager.cpp
  components/eamxx/src/share/field/field_manager.hpp
  components/eamxx/src/share/field/field_request.hpp
  components/eamxx/src/share/grid/abstract_grid.cpp
  components/eamxx/src/share/grid/abstract_grid.hpp
  components/eamxx/src/share/grid/grids_manager.cpp
  components/eamxx/src/share/grid/grids_manager.hpp
  components/eamxx/src/share/grid/remap/abstract_remapper.cpp
  components/eamxx/src/share/io/eamxx_output_manager.cpp
  components/eamxx/src/share/io/eamxx_output_manager.hpp
  components/eamxx/src/share/io/scorpio_input.cpp
  components/eamxx/src/share/io/scorpio_output.cpp
  components/eamxx/src/share/io/scorpio_output.hpp
  components/eamxx/src/share/io/tests/io_basic.cpp
  components/eamxx/src/share/io/tests/io_diags.cpp
  components/eamxx/src/share/io/tests/io_filled.cpp
  components/eamxx/src/share/io/tests/io_monthly.cpp
  components/eamxx/src/share/io/tests/io_packed.cpp
  components/eamxx/src/share/io/tests/io_remap_test.cpp
  components/eamxx/src/share/io/tests/io_se_grid.cpp
  components/eamxx/src/share/io/tests/output_restart.cpp
  components/eamxx/src/share/tests/field_tests.cpp
  components/eamxx/src/share/util/eamxx_data_interpolation.cpp
  components/eamxx/tests/single-process/rrtmgp/rrtmgp_standalone.cpp
  components/eamxx/tests/single-process/rrtmgp/rrtmgp_standalone_unit.cpp
  components/eamxx/tests/single-process/surface_coupling/surface_coupling.cpp
Labels: EAMxx

#7063 EAMxx: simplify branch runs and adding new output streams
  components/eamxx/docs/user/model_configuration.md
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/control/atmosphere_driver.hpp
  components/eamxx/src/mct_coupling/atm_comp_mct.F90
  components/eamxx/src/physics/rrtmgp/rrtmgp_test_utils.hpp
  components/eamxx/src/share/io/eamxx_io_control.hpp
  components/eamxx/src/share/io/eamxx_io_utils.cpp
  components/eamxx/src/share/io/eamxx_io_utils.hpp
  components/eamxx/src/share/io/eamxx_output_manager.cpp
  components/eamxx/src/share/io/scorpio_output.hpp
  components/eamxx/src/share/io/tests/io_utils.cpp
Labels: BFB, EAMxx, code usability

#7099 For pm-gpu: use small kernels as default for shoc/p3
  components/eamxx/cmake/machine-files/muller-gpu.cmake
  components/eamxx/cmake/machine-files/pm-gpu.cmake
Labels: Machine Files, Performance, EAMxx, pm-gpu

#7064 Fix iso_c_binding in Okubo-Weiss analysis member
  components/mpas-ocean/src/analysis_members/mpas_ocn_okubo_weiss.F
Labels: mpas-ocean, bug fix PR, BFB, MPAS-Ocean standalone

#7107 EAMxx: fix bug in FieldAtPressureLevel
  components/eamxx/src/diagnostics/field_at_pressure_level.cpp
Labels: bug fix PR, non-BFB, EAMxx

#7109 Remove leftover add_group() declaration
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
Labels: bug fix PR, BFB, EAMxx

#7101 EAMxx: add 2025 tutorial presentations
  .github/workflows/e3sm-gh-pages.yml
  .gitignore
  components/eamxx/docs/_presentations_srcs/background.png
  components/eamxx/docs/_presentations_srcs/eamxx-tutorial-2025-part1.md
  components/eamxx/docs/_presentations_srcs/eamxx-tutorial-2025-part2.md
  components/eamxx/docs/user/presentations.md
  components/eamxx/mkdocs.yml
Labels: Documentation, BFB, EAMxx

#7097 Minor updates to set SNICAR-AD model as the default
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/src/main/elm_varctl.F90
Labels: Land

#7091 Adds ELM's technotes on shortwave radiation
  components/elm/docs/figures/single_layer_canopy_configuration.png
  components/elm/docs/figures/two_stream_approximation.png
  components/elm/docs/tech-guide/index.md
  components/elm/docs/tech-guide/shortwave_radiation.md
  components/elm/docs/tech-guide/top_solar_parameterization.md
  docs/refs/elm.bib
Labels: Land, Documentation, BFB

#7032 Change order of passing the fates_use_luh2 namelist flag
  components/elm/src/main/elmfates_interfaceMod.F90
Labels: Land, BFB

#7112 EAMxx: Improves the performance of the wetscav process.
  components/eamxx/src/physics/mam/eamxx_mam_wetscav_process_interface.cpp
Labels: BFB, EAMxx, code cleanup, MAM4xx

#7086 Correct HOMME_QUAD_PREC logic
  components/homme/src/share/kinds.F90
Labels: HOMME, nvidia compiler

#7120 EAMxx: functionalize SPA activation of CCN->Nc
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
  components/eamxx/src/physics/p3/impl/p3_main_impl_part1.hpp
  components/eamxx/src/physics/p3/p3_functions.hpp
Labels: BFB, EAMxx

#7131 EAMxx: Adds MAM4xx compsets
  components/eamxx/cime_config/config_component.xml
  components/eamxx/cime_config/config_compsets.xml
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
Labels: compset, EAMxx, MAM4xx

#7135 EAMxx: Fixes ne256 initial condition file for MAM4xx
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
Labels: bug fix PR, BFB, EAMxx, MAM4xx

#6789 EAMxx: Give option for for tracers to be advected only by dynamics
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/control/tests/dummy_atm_proc.hpp
  components/eamxx/src/dynamics/homme/eamxx_homme_fv_phys.cpp
  components/eamxx/src/dynamics/homme/eamxx_homme_process_interface.cpp
  components/eamxx/src/physics/iop_forcing/eamxx_iop_forcing_process_interface.cpp
  components/eamxx/src/physics/mam/eamxx_mam_generic_process_interface.cpp
  components/eamxx/src/physics/ml_correction/eamxx_ml_correction_process_interface.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.cpp
  components/eamxx/src/physics/shoc/eamxx_shoc_process_interface.cpp
  components/eamxx/src/physics/shoc/eamxx_shoc_process_interface.hpp
  components/eamxx/src/physics/shoc/shoc_functions.hpp
  components/eamxx/src/share/atm_process/IOPDataManager.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
  components/eamxx/src/share/atm_process/atmosphere_process_dag.cpp
  components/eamxx/src/share/atm_process/atmosphere_process_group.cpp
  components/eamxx/src/share/atm_process/atmosphere_process_hash.cpp
  components/eamxx/src/share/field/field_group.cpp
  components/eamxx/src/share/field/field_group.hpp
  components/eamxx/src/share/field/field_group_info.hpp
  components/eamxx/src/share/field/field_manager.cpp
  components/eamxx/src/share/field/field_manager.hpp
  components/eamxx/src/share/field/field_request.hpp
  components/eamxx/src/share/tests/field_tests.cpp
Labels: non-BFB, EAMxx

#7143 EAMxxx: Use strided view types for shoc tracers
  components/eamxx/src/physics/shoc/disp/shoc_update_prognostics_implicit_disp.cpp
  components/eamxx/src/physics/shoc/impl/shoc_main_impl.hpp
  components/eamxx/src/physics/shoc/impl/shoc_update_prognostics_implicit_impl.hpp
  components/eamxx/src/physics/shoc/shoc_functions.hpp
Labels: bug fix PR, BFB, EAMxx

#7149 For pm-cpu, add environment variable adjustment to avoid hdf errors with certain netcdf files
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, maint-2.0, pm-cpu

#7145 Enable google analytics on docs
  mkdocs.yaml
Labels: Documentation

#7098 Add new GLC grid: mpas.gis4to40km
  cime_config/config_grids.xml
  cime_config/tests.py
  components/elm/bld/namelist_files/namelist_definition.xml
  components/mpas-albany-landice/bld/namelist_files/albany_input.gis_4to40km.yaml
  components/mpas-albany-landice/cime_config/buildnml
  driver-mct/cime_config/config_component.xml
  driver-moab/cime_config/config_component.xml
Labels: mpas-albany-landice, BFB, new baselines needed

#7116 Enable ADIOS to NetCDF conversion
  cime_config/customize/case_post_run_io.py
  cime_config/machines/config_machines.xml
  cime_config/machines/config_workflow.xml
Labels: BFB, CIME, SCORPIO

#7144 For pm-cpu: adjust LD_LIBRARY_PATH to use Cray system settings after Feb18th NERSC maintenance made CPE changes
  cime_config/machines/cmake_macros/gnu_pm-cpu.cmake
  cime_config/machines/cmake_macros/intel_pm-cpu.cmake
  cime_config/machines/cmake_macros/nvidia_pm-cpu.cmake
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, pm-cpu

#7148 For pm-cpu, adjust environment variable to avoid issues after Feb18th NERSC maintenance
  cime_config/machines/config_machines.xml
Labels: Machine Files, BFB, pm-cpu, maint-3.0

#7150 Coupler: Adjust error detection in POSTRUN_SCRIPT nlmaps_check.py
  cime_config/testmods_dirs/allactive/nlmaps/nlmaps_check.py
Labels: Coupler, Testing

#6985 Update modules on alcf polaris
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/gnu_polaris.cmake
  cime_config/machines/cmake_macros/gnugpu_polaris.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
  components/eamxx/cmake/machine-files/polaris.cmake
  components/mpas-ocean/cime_config/config_pes.xml
Labels: Machine Files, BFB

#7158 Add ALCF Crux to E3SM machines in maint-3.0
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/gnu_crux.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
  components/mpas-ocean/src/analysis_members/mpas_ocn_okubo_weiss.F
Labels: Machine Files, BFB, maint-3.0

#7129 EAMxx: improve granularity of eamxx hash
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
  components/eamxx/src/share/atm_process/atmosphere_process.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
  components/eamxx/src/share/atm_process/atmosphere_process_hash.cpp
Labels: enhancement, EAMxx, code usability

#7073 CPL restart: dont attempt to read variables not present in file
  driver-mct/shr/seq_io_read_mod.F90
Labels: bug fix PR, Coupler

#7124 Adjust crop tests
  cime_config/tests.py
  components/elm/cime_config/testdefs/testmods_dirs/elm/lulcc_sville/shell_commands
  components/elm/cime_config/testdefs/testmods_dirs/elm/lulcc_sville/user_nl_elm
  components/elm/cime_config/testdefs/testmods_dirs/elm/per_crop/user_nl_elm
Labels: Land

#7168 Use nested team policies for P3 pre/post process
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.cpp
  components/eamxx/src/physics/p3/eamxx_p3_process_interface.hpp
  components/eamxx/src/physics/p3/eamxx_p3_run.cpp
Labels: BFB, EAMxx

#7173 Give "NoPreference" tracers advection option.
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
  components/eamxx/src/share/atm_process/atmosphere_process_group.cpp
  components/eamxx/src/share/atm_process/atmosphere_process_group.hpp
  components/eamxx/src/share/field/field_request.hpp
Labels: BFB, EAMxx

#7165 Bump datedstamp on several RRSwISC6to18E3r5 inputdata files
  cime_config/config_grids.xml
  components/mpas-ocean/cime_config/buildnml
  components/mpas-seaice/cime_config/buildnml
Labels: mpas-ocean, mpas-seaice, BFB

#7176 EAMxx: fix internal_diagnostics_level testmod and add bfb hash standalone test
  components/eamxx/cmake/CompareTextFiles.cmake
  components/eamxx/scripts/check-hashes-ers
  components/eamxx/src/control/atmosphere_driver.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
  components/eamxx/src/share/atm_process/atmosphere_process_hash.cpp
  components/eamxx/tests/single-process/p3/CMakeLists.txt
  components/eamxx/tests/single-process/p3/input.yaml
  components/eamxx/tests/single-process/p3/p3_bfb_hash.cpp
Labels: bug fix PR, BFB, EAMxx

#7181 EAMxx: fix labels for p3 bfbhash unit tests
  components/eamxx/tests/single-process/p3/CMakeLists.txt
Labels: bug fix PR, BFB, Testing, EAMxx

#7142 Add support for northamericax4v1pg2_r05_IcoswISC30E3r5 resolution
  cime_config/config_grids.xml
Labels: Scripts, BFB, Coupled Model, RRM

#7171 Hommexx: Enable SL transport on Aurora; other Aurora mods
  cime_config/machines/cmake_macros/oneapi-ifxgpu_aurora.cmake
  cime_config/machines/config_machines.xml
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/aurora_run/shell_commands
  components/eamxx/src/dynamics/homme/CMakeLists.txt
  components/homme/cmake/machineFiles/aurora-aot.cmake
  components/homme/src/share/compose/cedr_bfb_tree_allreduce.cpp
  components/homme/src/share/compose/cedr_caas.cpp
  components/homme/src/share/compose/cedr_local_inl.hpp
  components/homme/src/share/compose/cedr_qlt.cpp
  components/homme/src/share/compose/cedr_tree.cpp
  components/homme/src/share/compose/compose_cedr.cpp
  components/homme/src/share/compose/compose_cedr_qlt.hpp
  components/homme/src/share/compose/compose_cedr_sl_run_global.cpp
  components/homme/src/share/compose/compose_homme.cpp
  components/homme/src/share/compose/compose_homme.hpp
  components/homme/src/share/compose/compose_slmm_advecter.cpp
  components/homme/src/share/compose/compose_slmm_islmpi.cpp
  components/homme/src/share/compose/compose_slmm_islmpi.hpp
  components/homme/src/share/compose/compose_slmm_islmpi_adp.cpp
  components/homme/src/share/compose/compose_slmm_islmpi_calc_trajectory.cpp
  components/homme/src/share/compose/compose_slmm_islmpi_q.cpp
  components/homme/src/share/cxx/GllFvRemapImpl.hpp
Labels: BFB, HOMME, HOMME standalone, EAMxx, Aurora

#7157 MOAB Coupler: Support loading of maps from disk instead of online computation
  cime_config/tests.py
  components/eam/src/cpl/atm_comp_mct.F90
  components/eam/src/cpl/atm_import_export.F90
  components/eam/src/cpl/cam_cpl_indices.F90
  driver-moab/cime_config/config_component_e3sm.xml
  driver-moab/cime_config/namelist_definition_drv.xml
  driver-moab/main/cime_comp_mod.F90
  driver-moab/main/component_mod.F90
  driver-moab/main/cplcomp_exchange_mod.F90
  driver-moab/main/prep_atm_mod.F90
  driver-moab/main/prep_ice_mod.F90
  driver-moab/main/prep_lnd_mod.F90
  driver-moab/main/prep_ocn_mod.F90
  driver-moab/main/prep_rof_mod.F90
  driver-moab/main/seq_flux_mct.F90
  driver-moab/main/seq_map_mod.F90
  driver-moab/main/seq_map_type_mod.F90
  driver-moab/shr/seq_comm_mct.F90
  driver-moab/shr/seq_infodata_mod.F90
Labels: Coupler, BFB

#6723 extract code from print_cfl into dss_hvtensor routine
  components/homme/src/share/global_norms_mod.F90
  components/homme/src/share/prim_driver_base.F90
  components/homme/src/sweqx/sweq_mod.F90
Labels: BFB, HOMME

#7180 Remove y100k testmod
  driver-mct/cime_config/testdefs/testmods_dirs/drv/y100k/README
  driver-mct/cime_config/testdefs/testmods_dirs/drv/y100k/shell_commands
Labels: BFB, CIME

#7169 Update Aurora machine-config after Kokkos updates
  cime_config/allactive/config_pesall.xml
  cime_config/machines/cmake_macros/oneapi-ifx.cmake
  cime_config/machines/cmake_macros/oneapi-ifxgpu.cmake
  cime_config/machines/config_batch.xml
  cime_config/machines/config_machines.xml
  components/eam/cime_config/config_pes.xml
Labels: Machine Files, BFB, Aurora
