Repository E3SM-Project/E3SM, pull requests merged in 2025-07, with the labels that each got.

#7221 refactor 1 of elm routines for openacc
  .gitignore
  components/elm/src/biogeochem/AllocationMod.F90
  components/elm/src/biogeochem/CNEcosystemDynBetrMod.F90
  components/elm/src/biogeochem/EcosystemDynMod.F90
  components/elm/src/biogeochem/NitrogenDynamicsMod.F90
  components/elm/src/biogeochem/PhosphorusDynamicsMod.F90
  components/elm/src/biogeochem/SoilLittDecompMod.F90
  components/elm/src/biogeochem/SoilLittVertTranspMod.F90
  components/elm/src/main/elm_finalizeMod.F90
  components/elm/src/main/elm_initializeMod.F90
  components/elm/src/main/subgridAveMod.F90
Labels: Land

#7300 ZM cleanup - refactor handling of parameters and constants
  components/eam/bld/build-namelist
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
  components/eam/bld/namelist_files/namelist_definition.xml
  components/eam/bld/namelist_files/use_cases/2010S_cam5_CMIP6.xml
  components/eam/docs/user-guide/namelist_parameters.md
  components/eam/src/chemistry/modal_aero/modal_aero_convproc.F90
  components/eam/src/control/runtime_opts.F90
  components/eam/src/physics/cam/clubb_intr.F90
  components/eam/src/physics/cam/conv_water.F90
  components/eam/src/physics/cam/macrop_driver.F90
  components/eam/src/physics/cam/physpkg.F90
  components/eam/src/physics/cam/zm_conv.F90
  components/eam/src/physics/cam/zm_conv_intr.F90
  components/eam/src/physics/cam/zm_conv_types.F90
  components/eam/src/physics/cam/zm_transport.F90
Labels: Atmosphere, BFB, ZM

#7247 Change snow shape default to hexagonal_plate
  components/elm/bld/namelist_files/namelist_defaults.xml
  components/elm/src/main/elm_varctl.F90
Labels: NML, CC, ELM

#7457 Fix the abort routines in mpas-framework to use shr_sys_abort when coupled
  components/mpas-framework/src/framework/framework.cmake
  components/mpas-framework/src/framework/mpas_abort.F
  components/mpas-framework/src/framework/mpas_log.F
Labels: bug fix PR, BFB, mpas-framework

#7424 EAMxx: when rad does not run, set rad outputs/diags to FillValue
  components/eamxx/src/diagnostics/longwave_cloud_forcing.cpp
  components/eamxx/src/diagnostics/shortwave_cloud_forcing.cpp
  components/eamxx/src/diagnostics/tests/longwave_cloud_forcing_tests.cpp
  components/eamxx/src/diagnostics/tests/shortwave_cloud_forcing_tests.cpp
  components/eamxx/src/physics/rrtmgp/eamxx_rrtmgp_process_interface.cpp
  components/eamxx/tests/multi-process/dynamics_physics/model_restart/input.yaml
  components/eamxx/tests/multi-process/dynamics_physics/model_restart/output.yaml
  components/eamxx/tests/single-process/rrtmgp/rrtmgp_standalone.cpp
Labels: EAMxx

#7487 EAMxx: API change in DataInterpolation
  components/eamxx/src/physics/spa/eamxx_spa_process_interface.cpp
  components/eamxx/src/share/grid/remap/vertical_remapper.cpp
  components/eamxx/src/share/grid/remap/vertical_remapper.hpp
  components/eamxx/src/share/tests/data_interpolation_tests.cpp
  components/eamxx/src/share/util/eamxx_data_interpolation.cpp
  components/eamxx/src/share/util/eamxx_data_interpolation.hpp
Labels: BFB, EAMxx

#7371 New spatially-variable horizontal upwind capability
  components/mpas-ocean/bld/build-namelist
  components/mpas-ocean/bld/build-namelist-section
  components/mpas-ocean/bld/namelist_files/namelist_defaults_mpaso.xml
  components/mpas-ocean/bld/namelist_files/namelist_definition_mpaso.xml
  components/mpas-ocean/cime_config/testdefs/testmods_dirs/mpaso/upwind_advection/user_nl_mpaso
  components/mpas-ocean/src/Registry.xml
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics.F
  components/mpas-ocean/src/shared/mpas_ocn_diagnostics_variables.F
Labels: mpas-ocean, BFB, NML, Stealth

#7473 ZM Bridge - Establish Basic Infrastructure
  components/eam/src/physics/cam/zm_aero.F90
  components/eam/src/physics/cam/zm_aero_type.F90
  components/eam/src/physics/cam/zm_conv.F90
  components/eam/src/physics/cam/zm_conv_cape.F90
  components/eam/src/physics/cam/zm_conv_intr.F90
  components/eam/src/physics/cam/zm_conv_types.F90
  components/eam/src/physics/cam/zm_conv_util.F90
  components/eam/src/physics/cam/zm_microphysics.F90
  components/eam/src/physics/cam/zm_microphysics_state.F90
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
  components/eamxx/src/mct_coupling/CMakeLists.txt
  components/eamxx/src/physics/CMakeLists.txt
  components/eamxx/src/physics/register_physics.hpp
  components/eamxx/src/physics/zm/CMakeLists.txt
  components/eamxx/src/physics/zm/eamxx_zm_process_interface.cpp
  components/eamxx/src/physics/zm/eamxx_zm_process_interface.hpp
  components/eamxx/src/physics/zm/tests/CMakeLists.txt
  components/eamxx/src/physics/zm/tests/infra/CMakeLists.txt
  components/eamxx/src/physics/zm/tests/infra/zm_iso_c.f90
  components/eamxx/src/physics/zm/tests/infra/zm_test_data.cpp
  components/eamxx/src/physics/zm/tests/infra/zm_test_data.hpp
  components/eamxx/src/physics/zm/tests/infra/zm_test_data_functions.hpp
  components/eamxx/src/physics/zm/tests/infra/zm_unit_tests_common.hpp
  components/eamxx/src/physics/zm/tests/zm_test_find_mse_max.cpp
  components/eamxx/src/physics/zm/zm_eamxx_bridge_main.F90
  components/eamxx/src/physics/zm/zm_eamxx_bridge_methods.F90
  components/eamxx/src/physics/zm/zm_eamxx_bridge_params.F90
  components/eamxx/src/physics/zm/zm_eamxx_bridge_physconst.F90
  components/eamxx/src/physics/zm/zm_eamxx_bridge_wv_saturation.F90
  components/eamxx/src/physics/zm/zm_functions.hpp
Labels: Atmosphere, BFB, ZM, CI: approved

#7397 EAMxx: refactor IO to more heavily rely on Field interfaces
  components/eamxx/src/dynamics/homme/homme_grids_manager.cpp
  components/eamxx/src/physics/mam/eamxx_mam_optics_process_interface.cpp
  components/eamxx/src/physics/mam/mam_aerosol_optics_read_tables.hpp
  components/eamxx/src/share/CMakeLists.txt
  components/eamxx/src/share/atm_process/IOPDataManager.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_double_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_double_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_float_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_float_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_double_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_double_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_fill_double_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_fill_double_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_fill_float_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_fill_float_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_fill_int_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_fill_int_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_float_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_float_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_int_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_impl_int_host.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_int_device.cpp
  components/eamxx/src/share/field/eti/field_eti_update_max_min_int_host.cpp
  components/eamxx/src/share/field/eti/field_utils_eti_compute_mask_le_double.cpp
  components/eamxx/src/share/field/eti/field_utils_eti_compute_mask_le_float.cpp
  components/eamxx/src/share/field/eti/field_utils_eti_compute_mask_le_int.cpp
  components/eamxx/src/share/field/eti/field_utils_eti_compute_mask_ne_double.cpp
  components/eamxx/src/share/field/eti/field_utils_eti_compute_mask_ne_float.cpp
  components/eamxx/src/share/field/eti/field_utils_eti_compute_mask_ne_int.cpp
  components/eamxx/src/share/field/field.hpp
  components/eamxx/src/share/field/field_impl_details.hpp
  components/eamxx/src/share/field/field_manager.cpp
  components/eamxx/src/share/field/field_manager.hpp
  components/eamxx/src/share/field/field_tracking.cpp
  components/eamxx/src/share/field/field_tracking.hpp
  components/eamxx/src/share/field/field_utils_impl.hpp
  components/eamxx/src/share/grid/mesh_free_grids_manager.cpp
  components/eamxx/src/share/io/eamxx_output_manager.cpp
  components/eamxx/src/share/io/scorpio_input.cpp
  components/eamxx/src/share/io/scorpio_input.hpp
  components/eamxx/src/share/io/scorpio_output.cpp
  components/eamxx/src/share/io/scorpio_output.hpp
  components/eamxx/src/share/io/scorpio_scm_input.cpp
  components/eamxx/src/share/io/tests/io_filled.cpp
  components/eamxx/src/share/io/tests/io_horiz_sampling.cpp
  components/eamxx/src/share/tests/field_tests.cpp
  components/eamxx/src/share/util/eamxx_combine_ops.hpp
  components/eamxx/src/share/util/eamxx_data_interpolation.cpp
  components/eamxx/tests/single-process/surface_coupling/surface_coupling.cpp
Labels: BFB, EAMxx

#7467 eamxx: on test machine alvarez-gpu, use small kernels for shoc/p3 similar to pm-gpu
  components/eamxx/cmake/machine-files/alvarez-gpu.cmake
Labels: Machine Files, BFB, EAMxx

#7408 New grids with ne256pg2 atm and supportng files
  cime_config/config_grids.xml
  components/eam/bld/namelist_files/namelist_defaults_eam.xml
Labels: BFB, Coupled Model

#7412 EAMxx: new microphysics defaults
  components/eamxx/cime_config/namelist_defaults_eamxx.xml
  components/eamxx/src/physics/p3/impl/p3_autoconversion_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_cloud_rain_acc_impl.hpp
  components/eamxx/src/physics/p3/impl/p3_main_impl_part1.hpp
Labels: non-BFB, CC, EAMxx, CI: approved

#7515 EAMxx: fix bugs related to ZonalMean diagnostic
  components/eamxx/src/diagnostics/zonal_avg.cpp
  components/eamxx/src/share/grid/abstract_grid.cpp
  components/eamxx/src/share/io/scorpio_output.cpp
Labels: bug fix PR, BFB, EAMxx

#7505 Fix logic around g2x and x2g vector index calculation
  driver-mct/main/seq_diag_mct.F90
Labels: mpas-albany-landice, Coupler, BFB

#7375 Remove the TOP-related variables from the restart file
  components/elm/src/biogeophys/SurfaceAlbedoType.F90
Labels: Land, BFB, ELM

#7527 EAMxx: fix shoc_run_and_cmp
  components/eamxx/src/physics/shoc/tests/shoc_run_and_cmp.cpp
Labels: bug fix PR, BFB, EAMxx

#7526 EAMxx: make horiz interp remappers (coarsening and refining) handle fields without COL tag
  components/eamxx/src/share/grid/remap/coarsening_remapper.cpp
  components/eamxx/src/share/grid/remap/horiz_interp_remapper_base.cpp
  components/eamxx/src/share/grid/remap/horiz_interp_remapper_base.hpp
  components/eamxx/src/share/grid/remap/refining_remapper_p2p.cpp
  components/eamxx/src/share/tests/coarsening_remapper_tests.cpp
  components/eamxx/src/share/tests/refining_remapper_p2p_tests.cpp
Labels: bug fix PR, BFB, EAMxx

#7498 EAMxx: allow atm processes to call python
  components/eamxx/CMakeLists.txt
  components/eamxx/cmake/Findmpi4py.cmake
  components/eamxx/cmake/machine-files/ghci-snl-cpu.cmake
  components/eamxx/docs/developer/code_structure.md
  components/eamxx/docs/user/eamxx2py.md
  components/eamxx/docs/user/py2eamxx.md
  components/eamxx/docs/user/python.md
  components/eamxx/mkdocs.yml
  components/eamxx/src/CMakeLists.txt
  components/eamxx/src/physics/cld_fraction/cld_fraction.py
  components/eamxx/src/physics/cld_fraction/eamxx_cld_fraction_process_interface.cpp
  components/eamxx/src/python/libpyeamxx/CMakeLists.txt
  components/eamxx/src/share/CMakeLists.txt
  components/eamxx/src/share/atm_process/atmosphere_process.cpp
  components/eamxx/src/share/atm_process/atmosphere_process.hpp
  components/eamxx/src/share/eamxx_pysession.cpp
  components/eamxx/src/share/eamxx_pysession.hpp
  components/eamxx/src/share/field/field_pyutils.hpp
  components/eamxx/src/share/tests/CMakeLists.txt
  components/eamxx/src/share/tests/pyfield.cpp
  components/eamxx/src/share/tests/pyfield.py
  components/eamxx/tests/python/pyp3/CMakeLists.txt
  components/eamxx/tests/python/pyp3/p3_standalone.py
  components/eamxx/tests/single-process/cld_fraction/CMakeLists.txt
  components/eamxx/tests/single-process/cld_fraction/input.yaml
  components/eamxx/tests/single-process/cld_fraction/output.yaml
Labels: BFB, EAMxx

#7525 Fix bug associated with unassociated x2g_gx pointer
  driver-mct/main/cime_comp_mod.F90
  driver-mct/main/prep_glc_mod.F90
Labels: mpas-albany-landice, Coupler, BFB

#7497 EAMxx: add test for hremap nudging
  cime_config/tests.py
  components/eamxx/cime_config/testdefs/testmods_dirs/eamxx/hremap_nudged/shell_commands
Labels: BFB, EAMxx

#7425 Replace a local error_tol in GridCBalanceCheck with common balance_check_tolerance
  components/elm/src/biogeochem/EcosystemBalanceCheckMod.F90
Labels: bug fix PR, BFB, BGC, ELM, v3.1beta

#7495 Refactor MOAB mapping infrastructure to support more map types and specific area reads.
  driver-moab/main/component_mod.F90
  driver-moab/main/prep_atm_mod.F90
  driver-moab/main/prep_ice_mod.F90
  driver-moab/main/prep_lnd_mod.F90
  driver-moab/main/prep_ocn_mod.F90
  driver-moab/main/prep_rof_mod.F90
  driver-moab/main/seq_frac_mct.F90
  driver-moab/main/seq_map_mod.F90
  driver-moab/shr/seq_comm_mct.F90
Labels: Coupler, MOAB

#7552 EAMxx: expand regex to allow for names with dots
  components/eamxx/src/share/io/eamxx_io_utils.cpp
Labels: EAMxx

#7558 Fix the CreateDiagTest function
  components/eamxx/src/diagnostics/tests/CMakeLists.txt
  components/eamxx/src/diagnostics/tests/zonal_avg_test.cpp
Labels: EAMxx, CI: approved

#7557 EAMxx: fix numerical value of fill value
  components/eamxx/src/diagnostics/aodvis.cpp
  components/eamxx/src/diagnostics/atm_backtend.cpp
  components/eamxx/src/diagnostics/field_at_pressure_level.cpp
  components/eamxx/src/diagnostics/tests/aodvis_test.cpp
  components/eamxx/src/diagnostics/tests/atm_backtend_test.cpp
  components/eamxx/src/physics/nudging/eamxx_nudging_process_interface.cpp
  components/eamxx/src/share/field/field_impl.hpp
  components/eamxx/src/share/field/field_impl_details.hpp
  components/eamxx/src/share/io/eamxx_scorpio_interface.cpp
  components/eamxx/src/share/io/scorpio_output.hpp
  components/eamxx/src/share/io/tests/io_basic.cpp
  components/eamxx/src/share/io/tests/io_filled.cpp
  components/eamxx/src/share/io/tests/io_remap_test.cpp
  components/eamxx/src/share/io/tests/output_restart.cpp
  components/eamxx/src/share/tests/CMakeLists.txt
  components/eamxx/src/share/tests/column_ops.cpp
  components/eamxx/src/share/tests/combine_ops.cpp
  components/eamxx/src/share/tests/field_tests.cpp
  components/eamxx/src/share/tests/utils_tests.cpp
  components/eamxx/src/share/util/eamxx_combine_ops.hpp
  components/eamxx/src/share/util/eamxx_universal_constants.hpp
Labels: bug fix PR, non-BFB, EAMxx

#7529 Cleanup to OCN/GLC TF-coupling
  components/mpas-albany-landice/cime_config/buildnml
Labels: mpas-albany-landice, non-BFB

#7562 Adjust new and unused eamxx_large test suite
  cime_config/tests.py
Labels: Machine Files, BFB, pm-gpu
